<% const offset = -3 * 60 * 60 * 1000;
let utcDate = new Date(proyecto[m].timestamp),
utcDateModified = new Date(proyecto[m].modifiedOn),
localDate = new Date(utcDate.getTime() + offset),
localDateModified = new Date(utcDateModified.getTime() + offset),
formattedDate = localDate.toISOString().replace('T', ' ').split('.')[0],
formattedDateModified = localDateModified.toISOString().replace('T', ' ').split('.')[0];

formattedDate === formattedDateModified ? formattedDateModified = '' : null %>
<!-- contenedor datos creador por y modificado por -->
<div class="container" style="font-size: 9pt">
    <div class="row my-auto">
        <div class="col-6">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Creado por: <%= proyecto[m].creator[j].name %>, <%= proyecto[m].creator[j].lastName %>
                </li>
                <li class="list-group-item">
                    Fecha: <%= formattedDate %>
            </ul>
            </li>
        </div>
        <div class="col-6">
            <% if (proyecto[m].modificator[j]) { %>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Modificado por: <%= proyecto[m].modificator[j].name %> <%= proyecto[m].modificator[j].lastName %>
                    </li>
                    <li class="list-group-item">
                        Fecha modificación: <%= formattedDateModified %>
                    </li>
                </ul>
            <% } else { %>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            Modificado por:
                        </li>
                        <li class="list-group-item">
                            Fecha modificación:
                        </li>
                    </ul>
            <% } %>
        </div>

    </div>
</div>