<button class="accordion-button p-1" type="button" data-bs-toggle="collapse"
    data-bs-target="#panelsStayOpen-collapseOneCard<%=k %>" aria-expanded="false"
    aria-controls="panelsStayOpen-collapseOneCard<%=k %>">
    <ul class="list-group list-group-horizontal flex-fill">
        <li class="list-group-item list-group-item-secondary my-1">
            # <strong class="mx-2"><%= k+1 %></strong>
        </li>
        <li class="list-group-item list-group-item-secondary my-1">
            OCI#: <strong class="mx-2">
                <%= arrayVisibleOci[k].ociNumber %>
            </strong>
        </li>
        <li class="list-group-item list-group-item-secondary my-1">
            Descripcion: <%= arrayVisibleOci[k].ociDescription %>
        </li>
        <li class="list-group-item list-group-item-secondary my-1">
            Alias: <span class="badge bg-info text-dark mx-1">
                        <%= arrayVisibleOci[k].ociAlias %>
                    </span>
        </li>
        <li class="list-group-item list-group-item-secondary my-1">
            <% let colorStatus="primary", ociStatus="Activa"
                if (!arrayVisibleOci[k].ociStatus) (colorStatus="danger", ociStatus='Inactiva') %>
                Status OCI:
                    <span class="badge rounded-pill bg-<%= colorStatus %> text-white mx-1">
                        <%= ociStatus %>
                    </span>
        </li>
        <li class="list-group-item list-group-item-secondary my-1">
            Prio: <span class="badge bg-dark text-light mx-1">
                        <%= arrayVisibleOci[k]?.ociPrio %>
                    </span>
        </li>
    </ul>
</button>
<!-- End boton accordion OCI's -->