<div class="card mt-2 mb-5 mx-auto text-center" style="max-width: 99vw;">
    <div class="row align-items-center mx-1" style="background-color: #aef1b599;">

        <!-- columna #1 datos de proyecto -->
        <%- include('../../partials/dataProjectCard/dataProjectCard_col1_projData'); %>
        
        <!-- contenedor status de proyecto -->
        <%- include('../../partials/dataProjectCard/dataProjectCard_contStatusProy'); %>

            <div class="card-body px-1">
                <% if (proyecto.length > 0) { 
                        for ( let m=0; proyecto.length> m; m++) { %>                           
                            <div class="accordion" id="accordionPanelsStayOpenExample">                 
                                <% let countVisibleOci=0
                                    let arrayVisibleOci = [] 
                                    for ( let x=0; proyecto[m].project[j].oci.length> x; x++) {
                                        if (proyecto[m].project[j].oci[x].visible) { 
                                            arrayVisibleOci.push(proyecto[m].project[j].oci[x])
                                                countVisibleOci++
                                        }
                                    }    

                                        if (arrayVisibleOci.length > 0 && countVisibleOci > 0) {
                                            for (let k=0; arrayVisibleOci.length > k; k++) { %>
                                        
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="panelsStayOpen-headingOneCard<%=k%>">

                                                    <!-- ------ boton accordion OCI's ------ -->
                                                        <%- include('../../partials/dataProjectWonCard/dataProjectWonCard_btnAccord', { k, m, j, arrayVisibleOci }); %>
                                                    </h2>

                                                    <div id="panelsStayOpen-collapseOneCard<%=k%>" class="accordion-collapse show" aria-labelledby="panelsStayOpen-headingOne">

                                                        <% if (arrayVisibleOci[k].ociStatus) { %>
                                                            <div class="accordion-body px-1 mw-100">
                                                        <% } else { %>
                                                            <div class="accordion-body px-1 mw-100 pe-none" contenteditable="false" style="background-color: rgba(0, 0, 0, 0.25); opacity: 0.5">
                                                        <% } %>

                                                                <div class="container-fluid">
                                                                    <% if (arrayVisibleOci[k].otProject.length> 0) { %>

                                                                        <!-- cabecera botonera principal de OCI -->
                                                                        <%- include('../../partials/dataProjectWonCard/dataProjectWonCard_btnOci', { k, m, j, arrayVisibleOci }); %>                    
                                                                    
                                                                        <div class="d-flex flex-row my-3">
                                                                            <!-- ----- tabla general ----- -->
                                                                            <%- include('../../partials/dataProjectWonCard/dataProjectWonCard_tablaGral', { k, m, j }); %>
                                                                                                                                            
                                                                            <!-- ----- tabla detalles ----- -->
                                                                            <%- include('../../partials/dataProjectWonCard/dataProjectWonCard_tablaDetalle', { k, m, j }); %>

                                                                            <!-- Carousel de Tablas ----- -->
                                                                            <div id="carouselExampleControls<%=k%>" class="carousel slide" data-bs-ride="carousel">

                                                                                <!-- ----- mostrar botones de acuerdo a cantidad de slides ----- -->
                                                                                <%- include('../../partials/dataProjectWonCard/dataProjectWonCard_btnSlides', { k, m, j }); %>
                                                                                                                                                
                                                                                <% if (proyecto[0].project[0].levelProject == 'ganado') { 
                                                                                    let totalColDataOtDistribucion = 4;
                                                                                    let totalColDataProgramacion = 10;
                                                                                    let totalColDataMecanizado = 17; %>
                                                                                    <div class="carousel-inner">
                                                                                        <div id="slideOtDistribucion" class="carousel-item" data-bs-interval="600000"> <!-- active -->
                                                                                            <!-- --------- tabla otDistribucion ----------- -->
                                                                                            <%- include('../../partials/dataProjectWonCard/dataProjectWonCard_tablaOtDistribucion', { k, m, j, totalColDataOtDistribucion }); %>
                                                                                        </div>
                                                                                        <div id="slideProgramacion" class="carousel-item" data-bs-interval="600000">
                                                                                            <!-- --------- tabla Programacion ----------- -->
                                                                                            <%- include('../../partials/dataProjectWonCard/dataProjectWonCard_tablaProgramacion', { k, m, j, totalColDataProgramacion }); %>
                                                                                        </div>
                                                                                        <!-- --------- tabla Mecanizado ----------- -->
                                                                                        <div id="slideMecanizado" class="carousel-item" data-bs-interval="600000">
                                                                                            <%- include('../../partials/dataProjectWonCard/dataProjectWonCard_tablaMecanizado', { k, m, j, totalColDataMecanizado }); %>
                                                                                        </div>
                                                                                    </div>
                                                                                <% } %>
                                                                                <!-- --------- botonera carrusel < > ----------- -->
                                                                                <%- include('../../partials/dataProjectCard/dataProjectCard_btnCarrousel', { k, m, j }); %>
                                                                                <input id="slideHidden" type="hidden" value="<%= slide %>">                                                                
                                                                            </div>
                                                                        </div>
                                                                        <hr>

                                                                        <!-- ------ contenedor datos creador por y modificado por ------ -->
                                                                        <%- include('../../partials/dataProjectCard/dataProjectCard_containerDatos', { k, m, j }); %>
                                                                        
                                                                    <% } else { %>
                                                                        <!-- ------ contenedor de OCI vacía ------ -->
                                                                        <%- include('../../partials/dataProjectCard/dataProjectCard_contOciVacia', { k, m, j , arrayVisibleOci}); %>

                                                                    <% } %>
                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                            <% } 
                                        } %>
                            </div>
                        <% } %>

                    <% } else { %>

                        <!-- -------- contenedor de Proyecto vacío --------- -->
                        <%- include('../../partials/dataProjectCard/dataProjectCard_contProyectoVacio', { k, m, j }); %>

                    <% } %>
            </div>
        </div>
    </div>

    <!-- contenedor botonera inferior de pagina 'volver atras' 'volver al home' -->
    <%- include('../../partials/dataProjectCard/dataProjectCard_btnInferior', { k, m, j }); %>
</div>