<!-- dataProjectsClientCard -->
<% const offset = -3 * 60 * 60 * 1000; %>
<div class="card mt-2 mb-5 mx-auto text-center rounded-3" style="max-width: 95vw;">
    <div class="row align-items-center">
        <div class="col-2 mx-auto my-2">    
                <a href="/api/clientes/select/<%= cliente._id %>">
                    <img src="<%= cliente.logo %>" class="img-fluid rounded" id="imgCliente" alt="Imagen Logo Cliente" width="200px">
                </a>
                <h5 id="name_<%= cliente._id %>" class="card-title"><%= cliente.name %></h5>
                <p class="card-text"><%= cliente.code %></p>
                <input id="idCliente" type="hidden" value="<%= cliente._id %>" >
                
                <% if (cliente.status) { %>
                    <span class="badge rounded-pill bg-success text-white"> Activo </span>
                <% } else { %>
                    <span class="badge rounded-pill bg-danger text-white"> Inactivo </span>
                <% } %>
                <div class="d-flex align-items-center justify-content-center flex-wrap gap-2 mt-2">
                    <p class="my-2 card-text my-2">Proyectos Matrices:
                        <small id="projectQuantity" class="badge rounded-pill bg-dark text-white"><%= cliente.project %></small>
                    </p>
                    <!-- to be fixed -->
                    <% if (cliente.project > 0) { %>
                        <button id="btnHiddeProyectosMatrices"
                            class="btn btn-secondary shadow" title="Ocultar Proyectos Matrices"
                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; background-color: rgb(24, 24, 41); border: none">
                            <i class="fa-solid fa-eye-slash"></i>
                        </button>
                    <% } %>
                    
                    <p class="my-2 card-text my-2">Proyectos Líneas:
                        <small id="projectQuantityLineas" class="badge rounded-pill bg-primary text-white"><%= cliente.projectLineas %></small>
                    </p>
                    <% if (cliente.projectLineas > 0) { %>
                        <button id="btnHiddeProyectosLineas"
                            class="btn btn-secondary shadow" title="Ocultar Proyectos Líneas"
                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; background-color: rgb(23, 23, 209); border: none">
                            <i class="fa-solid fa-eye-slash"></i>
                        </button>
                    <% } %>
                    <!-- to be fixed -->
                </div>
        </div>
        <div class="col-10 mx-auto">
            <div class="card-body px-1">
                
                <% let ociCount=0, arrVisibleProjects = [];
                    for ( let p = 0; proyectos.length>p; p++) {    
                        if (proyectos[p].project[0].visible) arrVisibleProjects.push(proyectos[p])
                    }
                    
                if (cliente.project > 0 || cliente.projectLineas > 0 ) {
                    let projectWonToShowUsers = 0 
                    for (let m=0; arrVisibleProjects.length>m; m++) {
                        if (arrVisibleProjects[m].project[0].visible && cliente.status) { %>
                            <div class="accordion" id="accordionPanelsStayOpen<%=m %>">
                                <% for ( let j = 0;  arrVisibleProjects[m].project.length > j; j++ ) {
                                    if ( userInfo.admin || userInfo.area === 'ingenieria') {
                                        let colorMainBtn="primary", textColorMainBtn="light", uNegocioType='lineas'
                                        if (arrVisibleProjects[m].uNegocio == 'matrices') (colorMainBtn="dark", uNegocioType='matrices') %>
                                        <div class="accordion-item" id="<%= uNegocioType %>_<%=m %>">
                                            <h2 class="accordion-header" id="panelsStayOpen-headingOneCard<%=m %>">
                                                <button class="accordion-button bg-<%= colorMainBtn %> text-<%= textColorMainBtn %>" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#panelsStayOpen-collapseOneCard<%=m %>" aria-expanded="false"
                                                    aria-controls="panelsStayOpen-collapseOneCard<%=m %>">
                                                        <strong># <%= m+1 %></strong> -
                                                        Código: <strong class="mx-2"> <%= arrVisibleProjects[m].project[j].codeProject %> </strong> -
                                                        Nombre: <strong class="mx-2"> <%= arrVisibleProjects[m].project[j].projectName %> </strong> -
                                                        Prio: <strong class="mx-2"> <%= arrVisibleProjects[m].project[j].prioProject %> </strong> -
                                                    
                                                    <% if (arrVisibleProjects[m].project[j].levelProject == "ganado") { %>
                                                            Nivel: <span class="badge rounded-pill bg-success text-white mx-2"> Ganado </span>
                                                    <% } else if (arrVisibleProjects[m].project[j].levelProject == "paraCotizar") { %>
                                                            Nivel: <span class="badge rounded-pill bg-secondary text-warning mx-2"> Para Cotizar </span>
                                                    <% } else { %>
                                                            Nivel: <span class="badge rounded-pill bg-danger text-white mx-2"> A Riesgo </span>
                                                    <% } %>
                                                </button>
                                            </h2>
                                            <div id="panelsStayOpen-collapseOneCard<%=m %>" class="accordion-collapse collapse"
                                                aria-labelledby="panelsStayOpen-headingOne">
                                                <div class="accordion-body px-1 my-auto">
                                                    <div class="container px-1">
                                                        <div class="row">
                                                            <!-- -------------- seccion Foto Proyecto ---------------------- -->
                                                            <div class="col-2 my-auto px-1">
                                                                <img id="imageProject<%= m %>" src="<%= arrVisibleProjects[m].project[j].imageProject %>"
                                                                    class="img-fluid rounded px-1" alt="Imagen Proyecto" width="175px">
                                                            </div>
                                                            <!-- -------------- seccion Proyecto ---------------------- -->
                                                            <div class="col-3 my-auto px-1">
                                                                <div class="mb-3" id="projectDescription<%=m%>">Descripción: <%= arrVisibleProjects[m].project[j].projectDescription %>
                                                                </div>
                                                                <div class="mb-3" id="prioProject<%=m%>">Prio: <span class="badge bg-dark text-white mx-2"> <%= proyectos[m].project[j].prioProject %> </span>
                                                                </div>
                                                                <% let status = 'Activo', color = 'primary' 
                                                                if (!arrVisibleProjects[m].project[j].statusProject) (status="Inactivo", color='danger') %>
                                                                <div class="mb-3">Status: <span class="badge rounded-pill bg-<%= color %> text-white mx-2"> <%= status %> </span>
                                                                </div>
                                                            
                                                                <div class="mb-3" id="codeProject<%=m%>">Código: <span class="badge bg-light text-dark mx-2"> <%= arrVisibleProjects[m].project[j].codeProject %> </span>
                                                                </div>
                                                                
                                                                <div class="container px-1">
                                                                    <% let hrefProject = "/api/proyectos/selectProject/" 
                                                                    if (userInfo.admin || userInfo.area === 'ingenieria') { %>
                                                                        <div class="d-flex justify-content-center my-4">
                                                                            <% if (arrVisibleProjects[m].project[j].uNegocioProject == "lineas") hrefProject = "/api/proyectos/selectProjectLineas/" %>
                                                                            <a type="button" title="Ver Proyecto" href='<%= hrefProject %><%= arrVisibleProjects[m].project[j].id %>' id="btnSeeProyectDetails" class="btn btn-secondary rounded-circle me-2 border border-dark border-1 shadow"><i class="fa-solid fa-eye"></i></a>
                                                                            <button type="button" title="Agregar Nueva OCI" id="btnAddNewOciToProject<%= m %>" name="btnAddNewOciToProject" class="btn btn-success rounded-circle mx-2 border border-dark border-1 shadow" value="<%= arrVisibleProjects[m].project[j].id %>"><i class="fa-solid fa-plus-circle"></i></button>
                                                                            <button type="button" title="Editar proyecto <%= proyectos[m].project[j].projectDescription %>" id="btnUpdateProject<%= m %>_<%= j %>" name="btnUpdateProject" class="btn btn-primary rounded-circle ms-2 border border-dark border-1 shadow" value="<%= arrVisibleProjects[m].project[j].id %>"><i class="fa-solid fa-pencil"></i></button>
                                                                        </div>
                                                                        <div class="d-flex justify-content-center my-4">
                                                                            <button type="button" title="Cambiar Nivel Proyecto <%= arrVisibleProjects[m].project[j].projectDescription %>" id="btnChangeLevelProyect<%= m %>_<%= j %>" class="btn btn-info rounded-circle me-2 border border-dark border-1 shadow"><i class="fa-regular fa-chess-king fa-lg"></i></button>
                                                                            <button type="button" title="Cambiar Estado Proyecto <%= arrVisibleProjects[m].project[j].projectDescription %>" id="btnChangeStatusProyect<%= m %>_<%= j %>" class="btn btn-dark rounded-circle mx-2 border border-dark border-1 shadow"><i class="fa-solid fa-power-off"></i></button>
                                                                            <button type="button" title="Eliminar Proyecto <%= arrVisibleProjects[m].project[j].projectDescription %>" id="btnDeleteProject<%= m %>_<%= j %>" class="btn btn-danger rounded-circle ms-2 border border-dark border-1 shadow"><i class="fa-regular fa-trash-can fa-lg"></i></button>
                                                                        </div>
                                                                    <% } else { 
                                                                        if (arrVisibleProjects[m].project[j].uNegocioProject == "lineas") hrefProject = "/api/proyectos/selectProjectLineas/" %>
                                                                        <div class="d-flex justify-content-center my-4">
                                                                            <a type="button" title="Ver Proyecto" href='<%= hrefProject %><%= arrVisibleProjects[m].project[j].id %>' id="btnSeeProyectDetails" class="btn btn-secondary rounded-circle me-2 border border-dark border-1 shadow"><i class="fa-solid fa-eye"></i></a>
                                                                            <button type="button" title="Agregar Nueva OCI" id="btnAddNewOciToProject<%= m %>" name="btnAddNewOciToProject" class="btn btn-success rounded-circle mx-2 border border-dark border-1 shadow" value="<%= arrVisibleProjects[m].project[j].id %>"><i class="fa-solid fa-plus-circle"></i></button>
                                                                        </div>
                                                                    <% } %>
                                                                </div>
                                                                <form style="display: none" id="formChangeStatusProject<%= m %>_<%= j %>" action="/api/proyectos/updateStatusProject/<%= arrVisibleProjects[m].project[j].id %>" method="post">
                                                                    <fieldset>
                                                                        <input type="hidden" name="projectNameHidden" id="projectNameHidden<%= m %>_<%= j %>" value="<%= arrVisibleProjects[m].project[j].projectName %>">
                                                                        <input type="hidden" name="projectIdHidden" id="projectIdHidden<%= m %>_<%= j %>" value="<%= arrVisibleProjects[m].project[j].id %>">
                                                                        <input type="hidden" name="statusProjectHidden" id="statusProjectHidden<%= m %>_<%= j %>" value="<%= arrVisibleProjects[m].project[j].statusProject %>">
                                                                        <input type="hidden" name="uNegocioProjectHidden" id="uNegocioProjectHidden<%= m %>_<%= j %>" value="<%= arrVisibleProjects[m].project[j].uNegocio %>">
                                                                        <input type="hidden" id="totalOciQtyHidden" value="<%= arrVisibleProjects[m].project[j].oci.length %>">
                                                                    </fieldset>
                                                                </form>
                                                                <input type="hidden" name="levelProjectHidden" id="levelProjectHidden<%= m %>_<%= j %>" value="<%= arrVisibleProjects[m].project[j].levelProject %>">
                                                                <form style="display: none" id="formNewOci<%= m %>_<%= j %>" action="/api/proyectos/addNewOciToProject/<%= arrVisibleProjects[m].project[j].id %>" method="post">
                                                                    <fieldset>
                                                                        <input type="hidden" name="newOciHidden" id="newOciHidden<%= m %>_<%= j %>" value="">
                                                                    </fieldset>
                                                                </form>
                                                            </div>
                                                            <!-- -------------- seccion OCI's ---------------------- -->
                                                            <div class="col my-auto border-start">
                                                                <% let arrVisibleOci = [], xOciNumber = []
                                                                    for ( let x=0; arrVisibleProjects[m].project[j].oci.length > x; x++) {
                                                                        if (arrVisibleProjects[m].project[j].oci[x].visible) { 
                                                                            arrVisibleOci.push(arrVisibleProjects[m].project[j].oci[x])
                                                                            xOciNumber.push(x)
                                                                            ociCount++
                                                                        }
                                                                    }

                                                                    if (arrVisibleOci.length > 0 && ociCount > 0) {
                                                                        for (let k=0; arrVisibleOci.length > k; k++) { %>
                                                                            <div class="row align-items-center">
                                                                                <!-- ----------- seccion Imagen de OCI's ------------ -->
                                                                                <div class="col-3 my-auto px-1">
                                                                                    <img id="imageOci<%= ociCount %>_<%= k %>" src="<%= arrVisibleOci[k].ociImage %>"
                                                                                        class="img-fluid rounded my-auto px-1" alt="Imagen OCI" width="150px">
                                                                                </div>
                                                                            
                                                                                <!-- ----------- seccion Datos de OCI's ------------ -->
                                                                                <div class="col my-auto px-1">
                                                                                    <div class="mb-3">OCI #: <strong><%= arrVisibleOci[k].ociNumber %></strong></div>
                                                                                    <div class="my-3" id="ociDescription<%= ociCount %>_<%= k %>">Descripción: <%= arrVisibleOci[k].ociDescription %> </div>
                                                                                    <div class="my-3" id="ociAlias<%= ociCount %>_<%= k %>">Alias: <span class="badge rounded-pill bg-info text-dark"><%= arrVisibleOci[k].ociAlias %></span></div>
                                                                                    <div class="my-3" id="ociPrio<%= ociCount %>_<%= k %>">Prio: <span class="badge rounded-pill bg-dark text-light"><%= arrVisibleOci[k].ociPrio %></span></div>
                                                                                    <% let status = 'Activa', color = 'primary'
                                                                                    if (!arrVisibleOci[k].ociStatus) (status="Inactiva", color='danger') %>
                                                                                    <div class="my-3">Status OCI: <span class="badge rounded-pill bg-<%= color %> text-white"> <%= status %> </span> </div>
                                                                                    
                                                                                        <div class="my-3">
                                                                                            <% if (arrVisibleProjects[m].project[j].statusProject) { %>
                                                                                                <div class="d-flex justify-content-center">
                                                                                                    <% let hrefProject = "/api/proyectos/selectProject/" 
                                                                                                    if (userInfo.admin || userInfo.area === 'ingenieria') {
                                                                                                        if (arrVisibleProjects[m].project[j].uNegocioProject == "lineas") hrefProject = "/api/proyectos/selectProjectLineas/" %>
                                                                                                            <a type="button" title="Ver OCI#<%= arrVisibleOci[k].ociNumber %>" href='<%= hrefProject %><%= arrVisibleProjects[m].project[j].id %>' id="btnSeeOciDetails" class="btn btn-secondary rounded-circle me-2 border border-dark border-1 shadow"><i class="fa-solid fa-eye"></i></a>
                                                                                                            <button type="button" title="Editar OCI#<%= arrVisibleOci[k].ociNumber %>" id="btnUpdateOci<%= ociCount %>_<%= k %>" name="btnUpdateOci" class="btn btn-primary rounded-circle mx-2 border border-dark border-1 shadow" value="<%= j%>"><i class="fa-solid fa-pencil"></i></button>
                                                                                                            <button type="button" title="Cambiar Estado OCI#<%= arrVisibleOci[k].ociNumber %>" id="<%= ociCount %>_<%= k %>" class="btn btn-dark rounded-circle mx-2 border border-dark border-1 shadow"><i class="fa-solid fa-power-off"></i></button>
                                                                                                            <% if (ociCount===1) { %>
                                                                                                                <button type="button" class="btn btn-danger rounded-circle ms-2 border shadow disabled"><i class="fa-solid fa-trash"></i></button>
                                                                                                            <% } else { %>
                                                                                                                <button type="button" title="Eliminar OCI#<%= arrVisibleOci[k].ociNumber %>" id="btnDeleteOci<%= ociCount %>_<%= k %>" class="btn btn-danger rounded-circle ms-2 border border-dark border-1 shadow"><i class="fa-solid fa-trash"></i></button>
                                                                                                            <% } 

                                                                                                    } else { %>
                                                                                                        if (arrVisibleProjects[m].project[j].uNegocioProject == "lineas") hrefProject = "/api/proyectos/selectProjectLineas/" %>
                                                                                                        <a type="button" title="Ver OCI#<%= arrVisibleOci[k].ociNumber %>" href='<%= hrefProject %><%= arrVisibleProjects[m].project[j].id %>' id="btnSeeOciDetails" class="btn btn-secondary rounded-circle me-2 border border-dark border-1 shadow"><i class="fa-solid fa-eye"></i></a>
                                                                                                    <% } %>
                                                                                                </div>
                                                                                                <form style="display: none" id="formChangeStatusOci<%= ociCount %>_<%= k %>" action="/api/proyectos/updateStatusOci/<%= arrVisibleProjects[m].project[j].id %>" method="post">
                                                                                                    <fieldset>
                                                                                                        <input type="hidden" name="projectIdHidden" id="projectIdHidden<%= ociCount %>_<%= k %>" value="<%= arrVisibleProjects[m].project[j].id %>">
                                                                                                        <input type="hidden" name="ociNumberHidden" id="ociNumberHidden<%= ociCount %>_<%= k %>" value="<%= arrVisibleOci[k].ociNumber %>">
                                                                                                        <input type="hidden" name="ociKNumberHidden" id="ociKNumberHidden<%= ociCount %>_<%= k %>" value="<%= xOciNumber[k] %>">
                                                                                                        <input type="hidden" name="ociQuantityHidden" id="ociQuantityHidden<%= ociCount %>_<%= k %>" value="<%= arrVisibleOci.length %>">
                                                                                                        <input type="hidden" name="statusOciHidden" id="statusOciHidden<%= ociCount %>_<%= k %>" value="<%= arrVisibleOci[k].ociStatus %>">
                                                                                                    </fieldset>
                                                                                                </form>

                                                                                            <% } else { %>
                                                                                                <a type="button" title="Ver OCI" href="/api/proyectos/selectProject/<%= arrVisibleProjects[m].project[j].id %>" id="btnSeeOciDetails" class="btn btn-secondary rounded-circle mx-2 border border-dark border-1 shadow"><i class="fa-solid fa-eye"></i></a>
                                                                                            <% } %>    
                                                                                        </div>

                                                                                        Cantidad de OT:
                                                                                        <div class="m-3 px-3 justify-content-center">
                                                                                            <% if (arrVisibleOci[k].otProject.length > 0) {
                                                                                                for (let x=0; arrVisibleOci[k].otProject.length > x; x++) {                                                                                            
                                                                                                    if (arrVisibleOci[k].otProject[x].visible) {                                                                                                    
                                                                                                        if (arrVisibleOci[k].otProject[x].otStatus) { %>
                                                                                                            <span>
                                                                                                                <button id="<%= arrVisibleOci[k].otProject[x].otNumber %>"
                                                                                                                    name="otNumberSpot" class="rounded-circle text-white mb-2"
                                                                                                                    style="--bs-btn-font-size: .20rem;
                                                                                                                        width: 30px;
                                                                                                                        height: 30px;
                                                                                                                        border-radius: 50%;
                                                                                                                        border: none;
                                                                                                                        text-align: center; 
                                                                                                                        font-size: 10px; 
                                                                                                                        line-height: 25px;
                                                                                                                        background: radial-gradient(circle at 30% 30%, #3a3aff, #1d1da6 70%, #0a0a4e);
                                                                                                                        box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.3),
                                                                                                                            inset -2px -2px 4px rgba(0, 0, 0, 0.5),
                                                                                                                            0 2px 3px rgba(0, 0, 0, 0.6);
                                                                                                                        cursor: pointer;
                                                                                                                        transition: transform 0.2s;"
                                                                                                                    valueop="<%= arrVisibleOci[k].otProject[x].opNumber %>"
                                                                                                                    valuedes="<%= arrVisibleOci[k].otProject[x].opDescription %>"
                                                                                                                    valuedesig="<%= arrVisibleOci[k].otProject[x].otDesign %>"
                                                                                                                    valuesim="<%= arrVisibleOci[k].otProject[x].otSimulation %>"
                                                                                                                    valuesup="<%= arrVisibleOci[k].otProject[x].otSupplier %>"
                                                                                                                    onmouseover="this.style.transform='scale(1.05)'"
                                                                                                                    onmouseout="this.style.transform='scale(1)'">
                                                                                                                    <%= arrVisibleOci[k].otProject[x].otNumber %>
                                                                                                                </button>
                                                                                                            </span>
                                                                                                            
                                                                                                        <% } else { %>
                                                                                                            <span>
                                                                                                                <button id="<%= arrVisibleOci[k].otProject[x].otNumber %>"
                                                                                                                    name="otNumberSpot" class="rounded-circle text-white mb-2"
                                                                                                                    style="--bs-btn-font-size: .20rem;
                                                                                                                        width: 30px;
                                                                                                                        height: 30px;
                                                                                                                        border-radius: 50%;
                                                                                                                        border: none;
                                                                                                                        text-align: center; 
                                                                                                                        font-size: 10px; 
                                                                                                                        line-height: 25px;
                                                                                                                        background: radial-gradient(circle at 30% 30%, #ff3a3a, #a61d1d 70%, #4e0a0a);
                                                                                                                        box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.3),
                                                                                                                            inset -2px -2px 4px rgba(0, 0, 0, 0.5),
                                                                                                                            0 2px 3px rgba(0, 0, 0, 0.6);
                                                                                                                        cursor: pointer;
                                                                                                                        transition: transform 0.2s;"
                                                                                                                    valueop="<%= arrVisibleOci[k].otProject[x].opNumber %>"
                                                                                                                    valuedes="<%= arrVisibleOci[k].otProject[x].opDescription %>"
                                                                                                                    valuedesig="<%= arrVisibleOci[k].otProject[x].otDesign %>"
                                                                                                                    valuesim="<%= arrVisibleOci[k].otProject[x].otSimulation %>"
                                                                                                                    valuesup="<%= arrVisibleOci[k].otProject[x].otSupplier %>"
                                                                                                                    onmouseover="this.style.transform='scale(1.05)'"
                                                                                                                    onmouseout="this.style.transform='scale(1)'">
                                                                                                                    <%= arrVisibleOci[k].otProject[x].otNumber %>
                                                                                                                </button>
                                                                                                            </span>
                                                                                                        <% }
                                                                                                    }
                                                                                                }
                                                                                            } else { %>
                                                                                                <span class="badge rounded-pill bg-secondary text-light mx-2"> Sin Ot's </span>
                                                                                            <% } %>
                                                                                        </div>
                                                                                </div>
                                                                            
                                                                                <!-- ----------- seccion creador / modificador de OCI's --------- -->
                                                                                <div class="col-3 my-auto px-1" style="font-size: 9pt">
                                                                                    <div class="container mb-4">
                                                                                        <% let utcDate = new Date(arrVisibleOci[k].timestamp),
                                                                                        utcDateModified = new Date(arrVisibleOci[k].modifiedOn),
                                                                                        localDate = new Date(utcDate.getTime() + offset),
                                                                                        localDateModified = new Date(utcDateModified.getTime() + offset),
                                                                                        formattedDate = localDate.toISOString().replace('T', ' ').split('.')[0],
                                                                                        formattedDateModified = localDateModified.toISOString().replace('T', ' ').split('.')[0];

                                                                                        formattedDate === formattedDateModified ? formattedDateModified = '' : null %>

                                                                                        <span>OCI creada por: <%= arrVisibleOci[k].creator[0].name %> <%= arrVisibleOci[k].creator[0].lastName %> </span><br>
                                                                                        <span>Fecha: <%= formattedDate %> </span>
                                                                                    </div>
                                                                                    <div class="container mb-4">
                                                                                            <% if (arrVisibleOci[k].modificator[j]) { %>
                                                                                                <span>OCI modif. por: <%= arrVisibleOci[k].modificator[j].name %> <%= arrVisibleOci[k].modificator[j].lastName %> </span><br>
                                                                                                <span>Fecha modif.: <%= formattedDateModified %> </span>
                                                                                            <% } else { %>
                                                                                                <span>OCI modifi. por: </span><br>
                                                                                                <span>Fecha modif.: </span>
                                                                                            <% } %>
                                                                                    </div>
                                                                                </div>
                                                                                
                                                                                <%  if (k !== arrVisibleOci.length - 1 ) { %>
                                                                                        <hr>
                                                                                <% } %>
                                                                            </div>
                                                                        <% }
                                                                    } else { %>
                                                                        <span class="badge rounded-pill bg-danger text-white"> No hay OCI cargadas </span>
                                                                        <div class="container my-2 mw-100">
                                                                            Puedes agregar nuevas OCI en el proyecto <strong><%= arrVisibleProjects[m].project[j].projectName %></strong>,<br>haciendo click en el siguiente botón
                                                                            <button class="btn btn-success m-1 rounded-circle"
                                                                                id="btnAddNewOciSection<%=m%>"
                                                                                style="--bs-btn-font-size: .95rem; color: var(--bs-white);"
                                                                                type="button" name="btnAddNewOciToProject"
                                                                                title="Agregar Nueva OCI" value="<%= proyectos[m].project[j].id %>">
                                                                                <i class="fa-solid fa-plus-circle" aria-hidden="true"></i>
                                                                            </button>                        
                                                                        </div>
                                                                    <% } %>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <!-- -------------- seccion creador / modificador de Proyecto --------- -->
                                                        <div class="container px-1" style="font-size: 9pt">
                                                            <div class="row my-auto">
                                                                <% for ( let k = 0; arrVisibleProjects[m].project.length > k; k++) { 

                                                                    let utcDate = new Date(arrVisibleProjects[m].timestamp),
                                                                    utcDateModified = new Date(arrVisibleProjects[m].modifiedOn),
                                                                    localDate = new Date(utcDate.getTime() + offset),
                                                                    localDateModified = new Date(utcDateModified.getTime() + offset),
                                                                    formattedDate = localDate.toISOString().replace('T', ' ').split('.')[0],
                                                                    formattedDateModified = localDateModified.toISOString().replace('T', ' ').split('.')[0];

                                                                    formattedDate === formattedDateModified ? formattedDateModified = '' : null %>

                                                                    <div class="col my-auto px-1">
                                                                        <ul>Proyecto creado por: <%= arrVisibleProjects[m].creator[j].name %> <%= arrVisibleProjects[m].creator[j].lastName %> </ul>
                                                                        <ul>Fecha: <%= formattedDate %> </ul>
                                                                    </div>
                                                                    <div class="col my-auto px-1">
                                                                        <% if (proyectos[m].modificator[j]) { %>
                                                                            <ul>Proyecto modificado por: <%= arrVisibleProjects[m].modificator[j].name %> <%= arrVisibleProjects[m].modificator[j].lastName %> </ul>
                                                                            <ul>Fecha modificación: <%= formattedDateModified %> </ul>
                                                                        <% } else { %>
                                                                            <ul>Proyecto Modificado por: </ul>
                                                                            <ul>Fecha modificación: </ul>
                                                                        <% } %>
                                                                    </div>      
                                                                <% } %>    
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% projectWonToShowUsers++ %>

                                    <% } else {
                                        if (arrVisibleProjects[m].project[j].levelProject == "ganado") { %>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="panelsStayOpen-headingOneCard<%=m %>">
                                                    <% let colorMainBtn="primary", textColorMainBtn="dark"
                                                    if (arrVisibleProjects[m].uNegocio == 'matrices') colorMainBtn="dark" %>
                                                    <button class="accordion-button bg-<%= colorMainBtn %> text-<%= textColorMainBtn %>" type="button" data-bs-toggle="collapse"
                                                        data-bs-target="#panelsStayOpen-collapseOneCard<%=m %>" aria-expanded="false"
                                                        aria-controls="panelsStayOpen-collapseOneCard<%=m %>">
                                                            <strong># <%= m+1 %></strong> -
                                                            Código: <strong class="mx-2"> <%= arrVisibleProjects[m].project[j].codeProject %> </strong> -
                                                            Nombre: <strong class="mx-2"> <%= arrVisibleProjects[m].project[j].projectName %> </strong> -
                                                            Nivel: <span class="badge rounded-pill bg-success text-white mx-2"> Ganado </span>
                                                            Prio: <span class="badge rounded-pill bg-dark text-white mx-2"> <%= arrVisibleProjects[m].project[j].prioProject %> </span>
                                                    </button>
                                                </h2>
                                                <div id="panelsStayOpen-collapseOneCard<%=m %>" class="accordion-collapse collapse"
                                                    aria-labelledby="panelsStayOpen-headingOne">
                                                    <div class="accordion-body px-1 my-auto">
                                                        <div class="container px-1">
                                                            <div class="row">
                                                                <!-- -------------- seccion Foto Proyecto ---------------------- -->
                                                                <div class="col-2 my-auto px-1">
                                                                    <img id="imageProject<%= m %>" src="<%= arrVisibleProjects[m].project[j].imageProject %>"
                                                                        class="img-fluid rounded px-1" alt="Imagen Proyecto" width="175px">
                                                                </div>
                                                                <!-- -------------- seccion Proyecto ---------------------- -->
                                                                <div class="col-3 my-auto px-1">
                                                                    <div class="mb-3" id="projectDescription<%=m%>">Descripción: <%= arrVisibleProjects[m].project[j].projectDescription %>
                                                                    </div>
                                                                    <div class="mb-3" id="prioProject<%=m%>">Prio: <span class="badge bg-dark text-white mx-2"> <%= proyectos[m].project[j].prioProject %> </span>
                                                                    </div>
                                                                    <% let status = 'Activo', color = 'primary'
                                                                    if (arrVisibleProjects[m].project[j].statusProject) (status="Inactivo", color='danger') %>
                                                                        <div class="mb-3">Status: <span class="badge rounded-pill bg-<%= color %> text-white mx-2"> <%= status %> </span>
                                                                        </div>
                                                                    
                                                                    <div class="mb-3" id="codeProject<%=m%>"><span class="badge bg-light text-dark mx-2"> <%= arrVisibleProjects[m].project[j].codeProject %> </span>
                                                                    </div>
                                                                    <div class="container px-1">
                                                                        <% if (userInfo.admin || userInfo.area === 'ingenieria') { %>
                                                                            <div class="d-flex justify-content-center my-4">
                                                                                <a type="button" title="Ver Proyecto" href="/api/proyectos/selectProject/<%= arrVisibleProjects[m].project[j].id %>" id="btnSeeProyectDetails" class="btn btn-secondary rounded-circle me-2 border border-dark border-1 shadow"><i class="fa-solid fa-eye"></i></a>
                                                                                <button type="button" title="Agregar Nueva OCI" id="btnAddNewOciToProject<%= m %>" name="btnAddNewOciToProject" class="btn btn-success rounded-circle mx-2 border border-dark border-1 shadow" value="<%= arrVisibleProjects[m].project[j].id %>"><i class="fa-solid fa-plus-circle"></i></button>
                                                                                <button type="button" title="Editar proyecto <%= proyectos[m].project[j].projectDescription %>" id="btnUpdateProject<%= m %>_<%= j %>" name="btnUpdateProject" class="btn btn-primary rounded-circle ms-2 border border-dark border-1 shadow" value="<%= arrVisibleProjects[m].project[j].id %>"><i class="fa-solid fa-pencil"></i></button>
                                                                            </div>
                                                                            <div class="d-flex justify-content-center my-4">
                                                                                <button type="button" title="Cambiar Nivel Proyecto <%= arrVisibleProjects[m].project[j].projectDescription %>" id="btnChangeLevelProyect<%= m %>_<%= j %>" class="btn btn-info rounded-circle me-2 border border-dark border-1 shadow"><i class="fa-regular fa-chess-king fa-lg"></i></button>
                                                                                <button type="button" title="Cambiar Estado Proyecto <%= arrVisibleProjects[m].project[j].projectDescription %>" id="btnChangeStatusProyect<%= m %>_<%= j %>" class="btn btn-dark rounded-circle mx-2 border border-dark border-1 shadow"><i class="fa-solid fa-power-off"></i></button>
                                                                                <button type="button" title="Eliminar Proyecto <%= arrVisibleProjects[m].project[j].projectDescription %>" id="btnDeleteProject<%= m %>_<%= j %>" class="btn btn-danger rounded-circle ms-2 border border-dark border-1 shadow"><i class="fa-regular fa-trash-can fa-lg"></i></button>
                                                                            </div>
                                                                        <% } else { %>
                                                                            <div class="d-flex justify-content-center my-4">
                                                                                <a type="button" title="Ver Proyecto" href="/api/proyectos/selectProject/<%= arrVisibleProjects[m].project[j].id %>" id="btnSeeProyectDetails" class="btn btn-secondary rounded-circle me-2 border border-dark border-1 shadow"><i class="fa-solid fa-eye"></i></a>
                                                                                <button type="button" title="Agregar Nueva OCI" id="btnAddNewOciToProject<%= m %>" name="btnAddNewOciToProject" class="btn btn-success rounded-circle mx-2 border border-dark border-1 shadow" value="<%= arrVisibleProjects[m].project[j].id %>"><i class="fa-solid fa-plus-circle"></i></button>
                                                                            </div>
                                                                        <% } %>

                                                                    </div>

                                                                    <form style="display: none" id="formChangeStatusProject<%= m %>_<%= j %>" action="/api/proyectos/updateStatusProject/<%= arrVisibleProjects[m].project[j].id %>" method="post">
                                                                        <fieldset>
                                                                            <input type="hidden" name="projectNameHidden" id="projectNameHidden<%= m %>_<%= j %>" value="<%= arrVisibleProjects[m].project[j].projectName %>">
                                                                            <input type="hidden" name="projectIdHidden" id="projectIdHidden<%= m %>_<%= j %>" value="<%= arrVisibleProjects[m].project[j].id %>">
                                                                            <input type="hidden" name="statusProjectHidden" id="statusProjectHidden<%= m %>_<%= j %>" value="<%= arrVisibleProjects[m].project[j].statusProject %>">
                                                                            <input type="hidden" name="uNegocioProjectHidden" id="uNegocioProjectHidden<%= m %>_<%= j %>" value="<%= arrVisibleProjects[m].project[j].uNegocio %>">
                                                                            <input type="hidden" id="totalOciQtyHidden" value="<%= arrVisibleProjects[m].project[j].oci.length %>">
                                                                        </fieldset>
                                                                    </form>
                                                                    <input type="hidden" name="levelProjectHidden" id="levelProjectHidden<%= m %>_<%= j %>" value="<%= arrVisibleProjects[m].project[j].levelProject %>">
                                                                    <form style="display: none" id="formNewOci<%= m %>_<%= j %>" action="/api/proyectos/addNewOciToProject/<%= arrVisibleProjects[m].project[j].id %>" method="post">
                                                                        <fieldset>
                                                                            <input type="hidden" name="newOciHidden" id="newOciHidden<%= m %>_<%= j %>" value="">
                                                                        </fieldset>
                                                                    </form>
                                                                </div>
                                                                <!-- -------------- seccion OCI's ---------------------- -->
                                                                <div class="col my-auto border-start">
                                                                    <% let arrVisibleOci = [], xOciNumber = []
                                                                        for ( let x=0; arrVisibleProjects[m].project[j].oci.length > x; x++) {
                                                                            if (arrVisibleProjects[m].project[j].oci[x].visible) { 
                                                                                arrVisibleOci.push(arrVisibleProjects[m].project[j].oci[x])
                                                                                xOciNumber.push(x)
                                                                                ociCount++
                                                                            }
                                                                        }

                                                                        if (arrVisibleOci.length > 0 && ociCount > 0) {
                                                                            for (let k=0; arrVisibleOci.length > k; k++) { %>
                                                                                <div class="row align-items-center">
                                                                                    <!-- ----------- seccion Imagen de OCI's ------------ -->
                                                                                    <div class="col-3 my-auto px-1">
                                                                                        <img id="imageOci<%= ociCount %>_<%= k %>" src="<%= arrVisibleOci[k].ociImage %>"
                                                                                            class="img-fluid rounded my-auto px-1" alt="Imagen OCI" width="150px">
                                                                                    </div>
                                                                                
                                                                                    <!-- ----------- seccion Datos de OCI's ------------ -->
                                                                                    <div class="col my-auto px-1">
                                                                                        <div class="mb-3">OCI #: <strong><%= arrVisibleOci[k].ociNumber %></strong></div>
                                                                                        <div class="my-3" id="ociDescription<%= ociCount %>_<%= k %>">Descripción: <%= arrVisibleOci[k].ociDescription %> </div>
                                                                                        <div class="my-3" id="ociPrio<%= ociCount %>_<%= k %>">Prio: <span class="badge rounded-pill bg-dark text-light"><%= arrVisibleOci[k].ociPrio %></span></div>
                                                                                        <div class="my-3" id="ociAlias<%= ociCount %>_<%= k %>">Alias: <span class="badge rounded-pill bg-info text-dark"><%= arrVisibleOci[k].ociAlias %></span></div>
                                                                                        
                                                                                        <% let status = 'Activa', color = 'primary'
                                                                                        if (arrVisibleOci[k].ociStatus) (status="Inactiva", color='danger') %>
                                                                                            <div class="my-3">Status OCI: <span class="badge rounded-pill bg-<%= color %> text-white"> <%= status %> </span> </div>
                                                                                        
                                                                                            <div class="my-3">
                                                                                                <% if (arrVisibleProjects[m].project[j].statusProject) { %>
                                                                                                    <div class="d-flex justify-content-center">
                                                                                                        <% if (userInfo.admin || userInfo.area === 'ingenieria') { %>
                                                                                                            <a type="button" title="Ver OCI#<%= arrVisibleOci[k].ociNumber %>" href="/api/proyectos/selectProject/<%= arrVisibleProjects[m].project[j].id %>" id="btnSeeOciDetails" class="btn btn-secondary rounded-circle me-2 border border-dark border-1 shadow"><i class="fa-solid fa-eye"></i></a>
                                                                                                            <button type="button" title="Editar OCI#<%= arrVisibleOci[k].ociNumber %>" id="btnUpdateOci<%= ociCount %>_<%= k %>" name="btnUpdateOci" class="btn btn-primary rounded-circle mx-2 border border-dark border-1 shadow" value="<%= j%>"><i class="fa-solid fa-pencil"></i></button>
                                                                                                            <button type="button" title="Cambiar Estado OCI#<%= arrVisibleOci[k].ociNumber %>" id="<%= ociCount %>_<%= k %>" class="btn btn-dark rounded-circle mx-2 border border-dark border-1 shadow"><i class="fa-solid fa-power-off"></i></button>
                                                                                                            
                                                                                                            <% if (ociCount===1) { %>
                                                                                                                <button type="button" class="btn btn-danger rounded-circle ms-2 border shadow disabled"><i class="fa-solid fa-trash"></i></button>
                                                                                                            <% } else { %>
                                                                                                                <button type="button" title="Eliminar OCI#<%= arrVisibleOci[k].ociNumber %>" id="btnDeleteOci<%= ociCount %>_<%= k %>" class="btn btn-danger rounded-circle ms-2 border border-dark border-1 shadow"><i class="fa-solid fa-trash"></i></button>
                                                                                                            <% } 

                                                                                                        } else { %>
                                                                                                            <a type="button" title="Ver OCI#<%= arrVisibleOci[k].ociNumber %>" href="/api/proyectos/selectProject/<%= arrVisibleProjects[m].project[j].id %>" id="btnSeeOciDetails" class="btn btn-secondary rounded-circle me-2 border border-dark border-1 shadow"><i class="fa-solid fa-eye"></i></a>
                                                                                                            <button type="button" title="Editar OCI#<%= arrVisibleOci[k].ociNumber %>" id="btnUpdateOci<%= ociCount %>_<%= k %>" name="btnUpdateOci" class="btn btn-primary rounded-circle mx-2 border border-dark border-1 shadow" value="<%= j%>"><i class="fa-solid fa-pencil"></i></button>
                                                                                                        <% } %>
                                                                                                        </div>
                                                                                                    <form style="display: none" id="formChangeStatusOci<%= ociCount %>_<%= k %>" action="/api/proyectos/updateStatusOci/<%= arrVisibleProjects[m].project[j].id %>" method="post">
                                                                                                        <fieldset>
                                                                                                            <input type="hidden" name="projectIdHidden" id="projectIdHidden<%= ociCount %>_<%= k %>" value="<%= arrVisibleProjects[m].project[j].id %>">
                                                                                                            <input type="hidden" name="ociNumberHidden" id="ociNumberHidden<%= ociCount %>_<%= k %>" value="<%= arrVisibleOci[k].ociNumber %>">
                                                                                                            <input type="hidden" name="ociKNumberHidden" id="ociKNumberHidden<%= ociCount %>_<%= k %>" value="<%= xOciNumber[k] %>">
                                                                                                            <input type="hidden" name="ociQuantityHidden" id="ociQuantityHidden<%= ociCount %>_<%= k %>" value="<%= arrVisibleOci.length %>">
                                                                                                            <input type="hidden" name="statusOciHidden" id="statusOciHidden<%= ociCount %>_<%= k %>" value="<%= arrVisibleOci[k].ociStatus %>">
                                                                                                        </fieldset>
                                                                                                    </form>
    
                                                                                                <% } else { %>
                                                                                                    <a type="button" title="Ver OCI" href="/api/proyectos/selectProject/<%= arrVisibleProjects[m].project[j].id %>" id="btnSeeOciDetails" class="btn btn-secondary rounded-circle mx-2 border border-dark border-1 shadow"><i class="fa-solid fa-eye"></i></a>
                                                                                                <% } %>    
                                                                                            </div>
    
                                                                                            Cantidad de OT:
                                                                                            <div class="m-3 px-3 justify-content-center">
                                                                                                <% if (arrVisibleOci[k].otProject.length > 0) {
                                                                                                    for (let x=0; arrVisibleOci[k].otProject.length > x; x++) {                                                                                            
                                                                                                        if (arrVisibleOci[k].otProject[x].visible) {                                                                                                    
                                                                                                            if (arrVisibleOci[k].otProject[x].otStatus) { %>
                                                                                                                <span>
                                                                                                                    <button id="<%= arrVisibleOci[k].otProject[x].otNumber %>"
                                                                                                                        name="otNumberSpot" class="rounded-circle text-white mb-2"
                                                                                                                        style="--bs-btn-font-size: .20rem;
                                                                                                                            width: 30px;
                                                                                                                            height: 30px;
                                                                                                                            border-radius: 50%;
                                                                                                                            border: none;
                                                                                                                            text-align: center; 
                                                                                                                            font-size: 10px; 
                                                                                                                            line-height: 25px;
                                                                                                                            background: radial-gradient(circle at 30% 30%, #3a3aff, #1d1da6 70%, #0a0a4e);
                                                                                                                            box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.3),
                                                                                                                                inset -2px -2px 4px rgba(0, 0, 0, 0.5),
                                                                                                                                0 2px 3px rgba(0, 0, 0, 0.6);
                                                                                                                            cursor: pointer;
                                                                                                                            transition: transform 0.2s;"
                                                                                                                        valueop="<%= arrVisibleOci[k].otProject[x].opNumber %>"
                                                                                                                        valuedes="<%= arrVisibleOci[k].otProject[x].opDescription %>"
                                                                                                                        valuedesig="<%= arrVisibleOci[k].otProject[x].otDesign %>"
                                                                                                                        valuesim="<%= arrVisibleOci[k].otProject[x].otSimulation %>"
                                                                                                                        valuesup="<%= arrVisibleOci[k].otProject[x].otSupplier %>"
                                                                                                                        onmouseover="this.style.transform='scale(1.05)'"
                                                                                                                        onmouseout="this.style.transform='scale(1)'">
                                                                                                                        <%= arrVisibleOci[k].otProject[x].otNumber %>
                                                                                                                    </button>
                                                                                                                </span>
                                                                                                                
                                                                                                            <% } else { %>
                                                                                                                <span>
                                                                                                                    <button id="<%= arrVisibleOci[k].otProject[x].otNumber %>"
                                                                                                                        name="otNumberSpot" class="rounded-circle text-white mb-2"
                                                                                                                        style="--bs-btn-font-size: .20rem;
                                                                                                                            width: 30px;
                                                                                                                            height: 30px;
                                                                                                                            border-radius: 50%;
                                                                                                                            border: none;
                                                                                                                            text-align: center; 
                                                                                                                            font-size: 10px; 
                                                                                                                            line-height: 25px;
                                                                                                                            background: radial-gradient(circle at 30% 30%, #ff3a3a, #a61d1d 70%, #4e0a0a);
                                                                                                                            box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.3),
                                                                                                                                inset -2px -2px 4px rgba(0, 0, 0, 0.5),
                                                                                                                                0 2px 3px rgba(0, 0, 0, 0.6);
                                                                                                                            cursor: pointer;
                                                                                                                            transition: transform 0.2s;"
                                                                                                                        valueop="<%= arrVisibleOci[k].otProject[x].opNumber %>"
                                                                                                                        valuedes="<%= arrVisibleOci[k].otProject[x].opDescription %>"
                                                                                                                        valuedesig="<%= arrVisibleOci[k].otProject[x].otDesign %>"
                                                                                                                        valuesim="<%= arrVisibleOci[k].otProject[x].otSimulation %>"
                                                                                                                        valuesup="<%= arrVisibleOci[k].otProject[x].otSupplier %>"
                                                                                                                        onmouseover="this.style.transform='scale(1.05)'"
                                                                                                                        onmouseout="this.style.transform='scale(1)'">
                                                                                                                        <%= arrVisibleOci[k].otProject[x].otNumber %>
                                                                                                                    </button>
                                                                                                                </span>
                                                                                                            <% }
                                                                                                        }
                                                                                                    }
                                                                                                } else { %>
                                                                                                    <span class="badge rounded-pill bg-secondary text-light mx-2"> Sin Ot's </span>
                                                                                                <% } %>
                                                                                            </div>
                                                                                    </div>
                                                                                
                                                                                    <!-- ----------- seccion creador / modificador de OCI's --------- -->
                                                                                    <div class="col-3 my-auto px-1" style="font-size: 9pt">
                                                                                        <div class="container mb-4">
                                                                                            <% let utcDate = new Date(arrVisibleOci[k].timestamp),
                                                                                            utcDateModified = new Date(arrVisibleOci[k].modifiedOn),
                                                                                            localDate = new Date(utcDate.getTime() + offset),
                                                                                            localDateModified = new Date(utcDateModified.getTime() + offset),
                                                                                            formattedDate = localDate.toISOString().replace('T', ' ').split('.')[0],
                                                                                            formattedDateModified = localDateModified.toISOString().replace('T', ' ').split('.')[0];

                                                                                            formattedDate === formattedDateModified ? formattedDateModified = '' : null %>

                                                                                            <span>OCI creada por: <%= arrVisibleOci[k].creator[0].name %> <%= arrVisibleOci[k].creator[0].lastName %> </span><br>
                                                                                            <span>Fecha: <%= formattedDate %> </span>
                                                                                        </div>
                                                                                        <div class="container mb-4">
                                                                                                <% if (arrVisibleOci[k].modificator[j]) { %>
                                                                                                    <span>OCI modif. por: <%= arrVisibleOci[k].modificator[j].name %> <%= arrVisibleOci[k].modificator[j].lastName %> </span><br>
                                                                                                    <span>Fecha modif.: <%= formattedDateModified %> </span>
                                                                                                <% } else { %>
                                                                                                    <span>OCI modifi. por: </span><br>
                                                                                                    <span>Fecha modif.: </span>
                                                                                                <% } %>
                                                                                        </div>
                                                                                    </div>
                                                                                    
                                                                                    <%  if (k !== arrVisibleOci.length - 1 ) { %>
                                                                                            <hr>
                                                                                    <% } %>
                                                                                </div>
                                                                            <% }
                                                                        } else { %>
                                                                            <span class="badge rounded-pill bg-danger text-white"> No hay OCI cargadas </span>
                                                                            <div class="container my-2 mw-100">
                                                                                Puedes agregar nuevas OCI en el proyecto <strong><%= arrVisibleProjects[m].project[j].projectName %></strong>,<br>haciendo click en el siguiente botón
                                                                                <button class="btn btn-success m-1 rounded-circle"
                                                                                    id="btnAddNewOciSection<%=m%>"
                                                                                    style="--bs-btn-font-size: .95rem; color: var(--bs-white);"
                                                                                    type="button" name="btnAddNewOciToProject"
                                                                                    title="Agregar Nueva OCI" value="<%= proyectos[m].project[j].id %>">
                                                                                    <i class="fa-solid fa-plus-circle" aria-hidden="true"></i>
                                                                                </button>                        
                                                                            </div>
                                                                        <% } %>
                                                                </div>
                                                            </div>
                                                            <hr>
                                                            <!-- -------------- seccion creador / modificador de Proyecto --------- -->
                                                            <div class="container px-1" style="font-size: 9pt">
                                                                <div class="row my-auto">
                                                                    <% for ( let k = 0; arrVisibleProjects[m].project.length > k; k++) { %>
                                                                        <% let utcDate = new Date(arrVisibleProjects[m].timestamp),
                                                                            utcDateModified = new Date(arrVisibleProjects[m].modifiedOn),
                                                                            localDate = new Date(utcDate.getTime() + offset),
                                                                            localDateModified = new Date(utcDateModified.getTime() + offset),
                                                                            formattedDate = localDate.toISOString().replace('T', ' ').split('.')[0],
                                                                            formattedDateModified = localDateModified.toISOString().replace('T', ' ').split('.')[0];

                                                                            formattedDate === formattedDateModified ? formattedDateModified = '' : null %>

                                                                        <div class="col my-auto px-1">
                                                                            <ul>Proyecto creado por: <%= arrVisibleProjects[m].creator[j].name %> <%= arrVisibleProjects[m].creator[j].lastName %> </ul>
                                                                            <ul>Fecha: <%= formattedDate %> </ul>
                                                                        </div>
                                                                        <div class="col my-auto px-1">
                                                                            <% if (proyectos[m].modificator[j]) { %>
                                                                                <ul>Proyecto modificado por: <%= arrVisibleProjects[m].modificator[j].name %> <%= arrVisibleProjects[m].modificator[j].lastName %> </ul>
                                                                                <ul>Fecha modificación: <%= formattedDateModified %> </ul>
                                                                            <% } else { %>
                                                                                <ul>Proyecto Modificado por: </ul>
                                                                                <ul>Fecha modificación: </ul>
                                                                            <% } %>
                                                                        </div>      
                                                                    <% } %>    
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% projectWonToShowUsers++
                                        }
                                    }    
                                } %>
                            </div>
                            <% ociCount++
                        }
                    }
                    if (projectWonToShowUsers === 0) { %>
                        No puedes ver o agregar proyectos en el cliente <strong><%= cliente.name %></strong>, debido a tus permisos
                        <button class="btn btn-danger m-1 rounded-circle shadow disabled"
                            style="--bs-btn-font-size: .95rem; color: var(--bs-white);" type="button">
                            <i class="fa-solid fa-ban" aria-hidden="true"></i>
                        </button>
                    <% }

                } else {
                    let m = 0, j = 0, k = 0 %>
                    <!-- contenedor de Proyecto vacío -->
                    <div class="container my-3">
                        <span class="badge rounded-pill bg-danger text-white">No hay Proyectos o datos cargados para mostrar</span>
                    </div>
                    <div class="container my-2 mw-100">
                        <% if (userInfo.admin || userInfo.area === 'ingenieria') { %>
                            Puedes agregar proyectos en el cliente <strong><%= cliente.name %></strong>, haciendo click en el siguiente botón
                            <button class="btn btn-success m-1 rounded-circle"
                                id="btnAddProjectToClient<%=m%>" aria-controls="collapseExample" data-bs-toggle="collapse"
                                data-bs-target="#collapseExample" aria-expanded="false" style="--bs-btn-font-size: .95rem; color: var(--bs-white);"
                                type="button" name="<%= cliente.name %>" title="Agregar Proyecto">
                                <i class="fa-solid fa-plus-circle" aria-hidden="true"></i>
                            </button>                        
                        <% } else { %>
                            No puedes agregar proyectos en el cliente <strong><%= cliente.name %></strong>, debido a tus permisos
                                <button class="btn btn-danger m-1 rounded-circle shadow disabled"
                                style="--bs-btn-font-size: .95rem; color: var(--bs-white);" type="button">
                                <i class="fa-solid fa-ban" aria-hidden="true"></i>
                            </button>
                        <% } %>
                    </div>
                <% } %>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center mt-2 mb-1 border-top">
        <a class="btn btn-primary me-3 mt-3 mb-1" href="/api/clientes/select/<%= cliente._id %>"><i class="fa-solid fa-list-ul"></i> Ver Cliente </a>
        <a class="btn btn-info mx-3 mt-3 mb-1" href="/api/clientes/"><i class="fa-solid fa-hand-point-left"></i> Volver </a>
        <a class="btn btn-secondary ms-3 mt-3 mb-1" href="/api/auth/index"><i class="fa-solid fa-home"></i> Volver al Home </a>
    </div>
</div>