<!-- tabla BuyOff -->
<table id="tablaOtBuyOff<%=k%>" class="table-responsive align-middle col-5 border-end border-dark" style="font-size: 10pt; width: 100%">
    <thead class="align-middle" style="background-color: #d8d8eb">
        <tr>
            <th colspan="2" class="text-center">BUY OFF
                <% if (userInfo.admin || userInfo.area === 'fabricacion') { %>
                    <button id="posBtnAddDataOtBuyOff<%=k%>" type="button" name="btnOtBuyOff" class="btn btn-small btn-success shadow m-1 me-5 mb-2 position-relative" style="--bs-btn-font-size: .6rem; color: var(--bs-white);" title="Agregar/Modificar Datos" value="<%=k%>">
                        <i class="fa-solid fa-pencil fa-lg" aria-hidden="true"></i>
                        <span id="spanCheckSelecMasiveBuyOff<%=k%>" class="position-absolute top-100 start-100 translate-middle badge rounded-pill bg-danger">
                            0
                            <span class="visually-hidden">Elementos seleccionados</span>
                        </span>
                    </button>
                <% } else { %>
                    <button type="button" class="btn btn-small btn-danger shadow m-1 me-5 mb-2 disabled" style="--bs-btn-font-size: .6rem; color: var(--bs-white);">
                        <i class="fa-solid fa-ban fa-lg" aria-hidden="true"></i>                                                    
                    </button>
                <% } %>
                <i class="fa-solid fa-arrows-spin fa-lg" style="color: #b09b12;"></i> En Proceso -
                <i class="fa-solid fa-circle-check fa-lg" style="color: #008f30;"></i> Terminado -
                <i class="fa-solid fa-circle-xmark fa-lg" style="color: #c40000;"></i> Detenido -
                <i class="fa-solid fa-ban fa-lg"></i> No Aplica -
                <i class="fa-solid fa-triangle-exclamation fa-lg" style="color: #1c21ac;"></i> Sin Datos
            </th>
        </tr>
        <tr>
            <th id="colData0" style="width:50vw" scope="col-1" class="text-center pb-1">BuyOff Estático | Rev.</th>
            <th id="colData1" style="width:50vw" scope="col-1" class="text-center pb-1">Buy Off Dinámico | Rev.</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <% const analisisCriticoConfig = {
            enProceso: { icon: "fa-arrows-spin fa-spin", iconColor: "color:#b09b12" },
            terminado: { icon: "fa-circle-check", iconColor: "color:#008f30" },
            detenido: { icon: "fa-circle-xmark", iconColor: "color:#c40000" },
            noAplica: { icon: "fa-ban", iconColor: "color:#000000" },
            default: { icon: "fa-triangle-exclamation", iconColor: "color:#1c21ac" }
        };

        proyecto[m].project[j].oci[k].otProject.forEach((ot, n) => {
            let pathMongoOtProject = proyecto[m].project[j].oci[k].otProject,
            pathMongoOtAjuste = pathMongoOtProject[n].otAjuste;

            let anteriorDisabled = "disabled", siguienteDisabled = "disabled",
                resBuyOffEstatico = "S/D", resRevisionBuyOffEstatico = 0,
                resBuyOffDinamico = "S/D", resRevisionBuyOffDinamico = 0;
                
            if (pathMongoOtProject[n].visible) {
                let pathToMongoOtBuyOff = pathMongoOtAjuste[0].otBuyOff || [],
                    largoArrayBuyOff = parseInt(pathToMongoOtBuyOff.length);

                let arrResBuyOffEstatico = [], valueArrayResBuyOffEstatico = 0, arrResRevisionBuyOffEstatico = [],
                    arrResCreadorBuyOffEstatico = [], arrResModificadorBuyOffEstatico = [], arrResFechaBuyOffEstatico = [], arrResFechaModBuyOffEstatico = [];

                let arrResBuyOffDinamico = [], valueArrayResBuyOffDinamico = 0, arrResRevisionBuyOffDinamico = [],
                    arrResCreadorBuyOffDinamico = [], arrResModificadorBuyOffDinamico = [], arrResFechaBuyOffDinamico = [], arrResFechaModBuyOffDinamico = [];

                if (pathMongoOtProject[n].otStatus) { %>
                    <!--Activo-->
                    <tr name="rowSelected<%=k%>_<%=n%>" class="border-bottom" style="height: 7vh;">
                        <% for (let q = 36; totalColDataBuyOff > q; q++) {
                            if (q==36) { %>
                                <!-- BuyOff Estatico data Activo--> 
                                <td class="text-center align-middle">
                                    <% if (largoArrayBuyOff > 0) {

                                        for (let i = 0; largoArrayBuyOff > i; i++) {
                                            if (pathToMongoOtBuyOff[i]) {
                                                let largoArray = parseInt(largoArrayBuyOff)
                                                resBuyOffEstatico = pathToMongoOtBuyOff[largoArray-1].buyOffEstatico == 'sinDato' ? "S/D" : pathToMongoOtBuyOff[largoArray-1].buyOffEstatico
                                                resRevisionBuyOffEstatico = parseInt(pathToMongoOtBuyOff[largoArray-1].revisionBuyOffEstatico) || 0
                                                
                                                pathToMongoOtBuyOff[i].buyOffEstatico == 'sinDato' ? arrResBuyOffEstatico.push("S/D") : arrResBuyOffEstatico.push(pathToMongoOtBuyOff[i].buyOffEstatico)
                                                arrResRevisionBuyOffEstatico.push(pathToMongoOtBuyOff[i].revisionBuyOffEstatico)

                                                arrResCreadorBuyOffEstatico.push(pathToMongoOtBuyOff[i].creator[0].username)
                                                arrResModificadorBuyOffEstatico.push(pathToMongoOtBuyOff[i].modificator[0].username)
                                                arrResFechaBuyOffEstatico.push(pathToMongoOtBuyOff[i].timestamp)
                                                arrResFechaModBuyOffEstatico.push(pathToMongoOtBuyOff[i].modifiedOn)
                                            }
                                        }
                                        valueArrayResBuyOffEstatico = parseInt(arrResBuyOffEstatico.length-1)

                                        if (arrResBuyOffEstatico.length == 1 ) {
                                            anteriorDisabled = "disabled"
                                            siguienteDisabled = "disabled"
                                        } else if (arrResBuyOffEstatico.length == arrResRevisionBuyOffEstatico.length) {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        } else {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        }
                                        
                                    } else {
                                        arrResBuyOffEstatico.push(resBuyOffEstatico)
                                        arrResRevisionBuyOffEstatico.push(resRevisionBuyOffEstatico)
                                        
                                        arrResCreadorBuyOffEstatico.push(pathMongoOtProject[n].creator[0].username)
                                        arrResModificadorBuyOffEstatico = ""
                                        arrResFechaBuyOffEstatico.push(pathMongoOtProject[n].timestamp)
                                        arrResFechaModBuyOffEstatico = ""
                                    } %>
                                    
                                    <div id="btnAnteriorSiguienteBuyOffEstatico<%=k%>_<%=n%>_<%=q%>">
                                        <button id="btnAnteriorBuyOffEstatico<%=k%>_<%=n%>_<%=q%>" name="btnAnteriorBuyOffEstatico" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= anteriorDisabled %>
                                            ><i class="fa-solid fa-arrow-left"></i>
                                        </button>
                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResBuyOffEstatico %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResBuyOffEstatico %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionBuyOffEstatico %>">
                                        <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorBuyOffEstatico %>">
                                        <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorBuyOffEstatico %>">
                                        <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaBuyOffEstatico %>">
                                        <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModBuyOffEstatico %>">

                                        <% const config = analisisCriticoConfig[resBuyOffEstatico] || analisisCriticoConfig.default; %>
                                        <span id="resBuyOffEstatico<%=k%>_<%=n%>_<%=q%>" value="<%=resBuyOffEstatico%>">
                                            <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                        </span> |
                                        <span id="resRevisionBuyOffEstatico<%=k%>_<%=n%>_<%=q%>" name="resRevisionBuyOffEstatico" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                            <%= resRevisionBuyOffEstatico %>
                                        </span>

                                        <button id="btnSiguienteBuyOffEstatico<%=k%>_<%=n%>_<%=q%>" name="btnSiguienteBuyOffEstatico" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;" <%= siguienteDisabled %>
                                            ><i class="fa-solid fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </td>

                            <% } else { %>
                                <!-- BuyOff Dinamico data Activo-->
                                <td class="text-center align-middle">
                                    <% if (largoArrayBuyOff > 0) {

                                        for (let i = 0; largoArrayBuyOff > i; i++) {
                                            if (pathToMongoOtBuyOff[i]) {
                                                let largoArray = parseInt(largoArrayBuyOff)
                                                resBuyOffDinamico = pathToMongoOtBuyOff[largoArray-1].buyOffDinamico == 'sinDato' ? "S/D" :  pathToMongoOtBuyOff[largoArray-1].buyOffDinamico
                                                resRevisionBuyOffDinamico = parseInt(pathToMongoOtBuyOff[largoArray-1].revisionBuyOffDinamico) || 0
                                                
                                                pathToMongoOtBuyOff[i].buyOffDinamico == 'sinDato' ? arrResBuyOffDinamico.push("S/D") : arrResBuyOffDinamico.push(pathToMongoOtBuyOff[i].buyOffDinamico)
                                                arrResRevisionBuyOffDinamico.push(pathToMongoOtBuyOff[i].revisionBuyOffDinamico)
                                                
                                                arrResCreadorBuyOffDinamico.push(pathToMongoOtBuyOff[i].creator[0].username)
                                                arrResModificadorBuyOffDinamico.push(pathToMongoOtBuyOff[i].modificator[0].username)
                                                arrResFechaBuyOffDinamico.push(pathToMongoOtBuyOff[i].timestamp)
                                                arrResFechaModBuyOffDinamico.push(pathToMongoOtBuyOff[i].modifiedOn)
                                            }
                                        }
                                        valueArrayResBuyOffDinamico = parseInt(arrResBuyOffDinamico.length-1)
                                                
                                        if (arrResBuyOffDinamico.length == 1 ) {
                                            anteriorDisabled = "disabled"
                                            siguienteDisabled = "disabled"
                                        } else if (arrResBuyOffDinamico.length == arrResRevisionBuyOffDinamico.length) {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        } else {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        }
                                        
                                    } else {
                                        arrResBuyOffDinamico.push(resBuyOffDinamico)
                                        arrResRevisionBuyOffDinamico.push(resRevisionBuyOffDinamico)
                                        
                                        arrResCreadorBuyOffDinamico.push(pathMongoOtProject[n].creator[0].username)
                                        arrResModificadorBuyOffDinamico = ""
                                        arrResFechaBuyOffDinamico.push(pathMongoOtProject[n].timestamp)
                                        arrResFechaModBuyOffDinamico = ""
                                    } %>
                                    
                                    <div id="btnAnteriorSiguienteBuyOffDinamico<%=k%>_<%=n%>_<%=q%>">
                                        <button id="btnAnteriorBuyOffDinamico<%=k%>_<%=n%>_<%=q%>" name="btnAnteriorBuyOffDinamico" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= anteriorDisabled %>
                                            ><i class="fa-solid fa-arrow-left"></i>
                                        </button>
                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResBuyOffDinamico %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResBuyOffDinamico %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionBuyOffDinamico %>">
                                        <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorBuyOffDinamico %>">
                                        <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorBuyOffDinamico %>">
                                        <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaBuyOffDinamico %>">
                                        <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModBuyOffDinamico %>">

                                        <% const config = analisisCriticoConfig[resBuyOffDinamico] || analisisCriticoConfig.default; %>
                                        <span id="resBuyOffDinamico<%=k%>_<%=n%>_<%=q%>" value="<%=resBuyOffDinamico%>">
                                            <i   class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                        </span> |
                                        <span id="resRevisionBuyOffDinamico<%=k%>_<%=n%>_<%=q%>" name="resRevisionBuyOffDinamico" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                            <%= resRevisionBuyOffDinamico %>
                                        </span>

                                        <button id="btnSiguienteBuyOffDinamico<%=k%>_<%=n%>_<%=q%>" name="btnSiguienteBuyOffDinamico" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= siguienteDisabled %>
                                            ><i class="fa-solid fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </td>
                            <% }
                        } %>
                    </tr>

                <% } else { %>
                    <!--Inactivo-->
                    <tr name="rowSelected<%=k%>_<%=n%>" class="pe-none border-bottom" style="height: 7vh; background-color: #dedede;">
                        <% for (let q = 36; totalColDataBuyOff > q; q++) {
                            if (q==36) { %>
                                <!-- BuyOff Estatico data Inactivo -->
                                <td class="text-center align-middle">
                                    <% if (largoArrayBuyOff > 0) {
                                        for (let i = 0; largoArrayBuyOff > i; i++) {

                                            if (pathToMongoOtBuyOff[i]) {
                                                let largoArray = parseInt(largoArrayBuyOff)
                                                resBuyOffEstatico = pathToMongoOtBuyOff[largoArray-1].buyOffEstatico || 'S/D'
                                                resRevisionBuyOffEstatico = parseInt(pathToMongoOtBuyOff[largoArray-1].revisionBuyOffEstatico) || 0
                                                
                                                arrResBuyOffEstatico.push(pathToMongoOtBuyOff[i].buyOffEstatico)
                                                arrResRevisionBuyOffEstatico.push(pathToMongoOtBuyOff[i].revisionBuyOffEstatico)
                                            }
                                        }
                                        valueArrayResBuyOffEstatico = parseInt(arrResBuyOffEstatico.length-1)
                                        resBuyOffEstatico = pathToMongoOtBuyOff[0].BuyOffEstatico
                                        
                                    } else {
                                        arrResBuyOffEstatico.push(resBuyOffEstatico)
                                        arrResRevisionBuyOffEstatico.push(resRevisionBuyOffEstatico)
                                    } %>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResBuyOffEstatico %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResBuyOffEstatico %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionBuyOffEstatico %>">
                                
                                    <% const config = analisisCriticoConfig[resBuyOffEstatico] || analisisCriticoConfig.default; %>
                                    <span id="resBuyOffEstatico<%=k%>_<%=n%>_<%=q%>" value="<%=resBuyOffEstatico%>">
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |
                                    <span id="resRevisionBuyOffEstatico<%=k%>_<%=n%>_<%=q%>" name="resRevisionBuyOffEstatico" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionBuyOffEstatico %>
                                    </span>
                                </td>

                            <% } else { %>
                                <!-- BuyOff Dinamico data Inactivo -->
                                <td class="text-center align-middle">
                                    <% if (largoArrayBuyOff > 0) {
                                        for (let i = 0; largoArrayBuyOff > i; i++) {
                                            
                                            if (pathToMongoOtBuyOff[i]) {
                                                let largoArray = parseInt(largoArrayBuyOff)
                                                resBuyOffDinamico = pathToMongoOtBuyOff[largoArray-1].buyOffDinamico || 'S/D'
                                                resRevisionBuyOffDinamico = parseInt(pathToMongoOtBuyOff[largoArray-1].revisionBuyOffDinamico) || 0
                                                
                                                arrResBuyOffDinamico.push(pathToMongoOtBuyOff[i].buyOffDinamico)
                                                arrResRevisionBuyOffDinamico.push(pathToMongoOtBuyOff[i].revisionBuyOffDinamico)
                                            }
                                        }
                                        valueArrayResBuyOffDinamico = parseInt(arrResBuyOffDinamico.length-1)
                                        resBuyOffDinamico = pathToMongoOtBuyOff[0].buyOffDinamico
                                        
                                    } else {
                                        arrResBuyOffDinamico.push(resBuyOffDinamico)
                                        arrResRevisionBuyOffDinamico.push(resRevisionBuyOffDinamico)
                                    } %>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResBuyOffDinamico %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResBuyOffDinamico %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionBuyOffDinamico %>">

                                    <% const config = analisisCriticoConfig[resBuyOffDinamico] || analisisCriticoConfig.default; %>
                                    <span id="resBuyOffDinamico<%=k%>_<%=n%>_<%=q%>" value="<%=resBuyOffDinamico%>">
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |
                                    <span id="resRevisionBuyOffDinamico<%=k%>_<%=n%>_<%=q%>" name="resRevisionBuyOffDinamico" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionBuyOffDinamico %>
                                    </span>
                                </td>
                            <% }
                        } %>
                    </tr>
                <% }
            }
        }) %>
    </tbody>
</table>