<!-- tabla Etapa Segunda -->
<table id="tablaOtEtapaSegunda<%=k%>" class="table-responsive align-middle col-5 border-end border-dark" style="font-size: 10pt; width: 100%">
    <thead class="align-middle" style="background-color: #d8d8eb">
        <tr>
            <th colspan="5" class="text-center">ETAPA 2
                <% if (userInfo.admin || userInfo.area === 'fabricacion') { %>
                    <button id="posBtnAddDataOtEtapaSegunda<%=k%>" type="button" name="btnOtEtapaSegunda" class="btn btn-small btn-success shadow m-1 me-5 position-relative" style="--bs-btn-font-size: .6rem; color: var(--bs-white);" title="Agregar/Modificar Datos" value="<%=k%>">
                        <i class="fa-solid fa-pencil fa-lg" aria-hidden="true"></i>
                        <span id="spanCheckSelecMasiveEtapaSeg<%=k%>" class="position-absolute top-100 start-100 translate-middle badge rounded-pill bg-danger">
                            0
                            <span class="visually-hidden">Elementos seleccionados</span>
                        </span>
                    </button>
                <% } else { %>
                    <button type="button" class="btn btn-small btn-danger shadow m-1 me-5 disabled" style="--bs-btn-font-size: .6rem; color: var(--bs-white);">
                        <i class="fa-solid fa-ban fa-lg" aria-hidden="true"></i>                                                    
                    </button>
                <% } %>
                <i class="fa-solid fa-arrows-spin fa-lg" style="color: #b09b12;"></i> En Proceso -
                <i class="fa-solid fa-circle-check fa-lg" style="color: #008f30;"></i> Terminado -
                <i class="fa-solid fa-circle-xmark fa-lg" style="color: #c40000;"></i> Suspendido -
                <i class="fa-solid fa-ban fa-lg"></i> No Aplica -
                <i class="fa-solid fa-triangle-exclamation fa-lg" style="color: #1c21ac;"></i> Sin Datos
            </th>
        </tr>
        <tr>
            <th id="colData0" style="width:20vw" scope="col-1" class="text-center pb-1">Azulados | Estado | Rev.</th>
            <th id="colData1" style="width:20vw" scope="col-1" class="text-center pb-1">Tacho p/ajuste | Estado | Rev.</th>
            <th id="colData2" style="width:20vw" scope="col-1" class="text-center pb-1">Ajuste Fondo | Estado | Rev.</th>
            <th id="colData3" style="width:20vw" scope="col-1" class="text-center pb-1">Azulado Aceros | Estado | Rev.</th>
            <th id="colData4" style="width:20vw" scope="col-1" class="text-center pb-1">LTH | Estado | Rev.</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        
        <% const etapaSegundaConfig = {
                enProceso: { icon: "fa-arrows-spin fa-spin", iconColor: "color:#b09b12" },
                terminado: { icon: "fa-circle-check", iconColor: "color:#008f30" },
                suspendido: { icon: "fa-circle-xmark", iconColor: "color:#c40000" },
                noAplica: { icon: "fa-ban", iconColor: "color:#000000" },
                default: { icon: "fa-triangle-exclamation", iconColor: "color:#1c21ac" }
            };

        proyecto[m].project[j].oci[k].otProject.forEach((ot, n) => {
            let pathMongoOtProject = proyecto[m].project[j].oci[k].otProject,
            pathMongoOtAjuste = pathMongoOtProject[n].otAjuste,
            largoArrayOtAjuste = parseInt(pathMongoOtAjuste.length)

            let anteriorDisabled = "disabled", siguienteDisabled = "disabled",
                resDatoAzulados = "S/D", resEstadoAzulados = 'sinDato', resRevisionAzulados = 0,
                resDatoTachoAjuste = "S/D", resEstadoTachoAjuste = 'sinDato', resRevisionTachoAjuste = 0,
                resDatoAjusteFondo = "S/D", resEstadoAjusteFondo = 'sinDato', resRevisionAjusteFondo = 0;
                resDatoAzuladoAceros = "S/D", resEstadoAzuladoAceros = 'sinDato', resRevisionAzuladoAceros = 0;
                resDatoLthEtapaSegunda = "S/D", resEstadoLthEtapaSegunda = 'sinDato', resRevisionLthEtapaSegunda = 0;

            for ( let o=0; largoArrayOtAjuste> o; o++) {
                let pathToMongoOtEtapaSegunda = pathMongoOtAjuste[o].otEtapaSegunda || [];
                let largoArrayEtapaSegunda = parseInt(pathToMongoOtEtapaSegunda.length);

                let arrResDatoAzulados = [], arrResEstadoAzulados = [], valueArrayResAzulados = 0, arrResRevisionAzulados = [],
                arrResCreadorAzulados = [], arrResModificadorAzulados = [], arrResFechaAzulados = [], arrResFechaModAzulados = [];

                let arrResDatoTachoAjuste = [], arrResEstadoTachoAjuste = [], valueArrayResTachoAjuste = 0, arrResRevisionTachoAjuste = [],
                    arrResCreadorTachoAjuste = [], arrResModificadorTachoAjuste = [], arrResFechaTachoAjuste = [], arrResFechaModTachoAjuste = [];

                let arrResDatoAjusteFondo = [], arrResEstadoAjusteFondo = [], valueArrayResAjusteFondo = 0, arrResRevisionAjusteFondo = [],
                    arrResCreadorAjusteFondo = [], arrResModificadorAjusteFondo = [], arrResFechaAjusteFondo = [], arrResFechaModAjusteFondo = [];

                let arrResDatoAzuladoAceros = [], arrResEstadoAzuladoAceros = [], valueArrayResAzuladoAceros = 0, arrResRevisionAzuladoAceros = [],
                    arrResCreadorAzuladoAceros = [], arrResModificadorAzuladoAceros = [], arrResFechaAzuladoAceros = [], arrResFechaModAzuladoAceros = [];
                
                let arrResDatoLthEtapaSegunda = [], arrResEstadoLthEtapaSegunda = [], valueArrayResLthEtapaSegunda = 0, arrResRevisionLthEtapaSegunda = [],
                    arrResCreadorLthEtapaSegunda = [], arrResModificadorLthEtapaSegunda = [], arrResFechaLthEtapaSegunda = [], arrResFechaModLthEtapaSegunda = [];

                if (pathMongoOtProject[n].visible && pathMongoOtAjuste[o].visible) {
                    if (pathMongoOtProject[n].otStatus) { %>
                        <!--Activo-->
                        <tr name="rowSelected<%=k%>_<%=n%>_<%=o%>" class="border-bottom" style="height: 5vh;">
                            <% for (let q = 8; totalColDataEtapaSegunda > q; q++) {
                                if (q==8) { %>
                                    <!-- Azulados data Activo--> 
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtAjuste > 0 && largoArrayEtapaSegunda > 0) {

                                            for (let i = 0; largoArrayEtapaSegunda > i; i++) {
                                                if (pathToMongoOtEtapaSegunda[i]) {
                                                    let largoArray = parseInt(largoArrayEtapaSegunda)
                                                    resDatoAzulados = pathToMongoOtEtapaSegunda[largoArray-1].azulados == 'sinDato' ? "S/D" : pathToMongoOtEtapaSegunda[largoArray-1].azulados
                                                    resEstadoAzulados = pathToMongoOtEtapaSegunda[largoArray-1].estadoAzulados == 'sinDato' ? "S/D" : pathToMongoOtEtapaSegunda[largoArray-1].estadoAzulados
                                                    resRevisionAzulados = parseInt(pathToMongoOtEtapaSegunda[largoArray-1].revisionAzulados) || 0
                                                    
                                                    pathToMongoOtEtapaSegunda[i].azulados == 'sinDato' ? arrResDatoAzulados.push("S/D") : arrResDatoAzulados.push(pathToMongoOtEtapaSegunda[i].azulados)
                                                    pathToMongoOtEtapaSegunda[i].estadoAzulados == 'sinDato' ? arrResEstadoAzulados.push("S/D") : arrResEstadoAzulados.push(pathToMongoOtEtapaSegunda[i].estadoAzulados)
                                                    arrResRevisionAzulados.push(pathToMongoOtEtapaSegunda[i].revisionAzulados)

                                                    arrResCreadorAzulados.push(pathToMongoOtEtapaSegunda[i].creator[0].username)
                                                    arrResModificadorAzulados.push(pathToMongoOtEtapaSegunda[i].modificator[0].username)
                                                    arrResFechaAzulados.push(pathToMongoOtEtapaSegunda[i].timestamp)
                                                    arrResFechaModAzulados.push(pathToMongoOtEtapaSegunda[i].modifiedOn)
                                                }
                                            }
                                            valueArrayResAzulados = parseInt(arrResDatoAzulados.length-1)

                                            if (arrResDatoAzulados.length == 1 ) {
                                                anteriorDisabled = "disabled"
                                                siguienteDisabled = "disabled"
                                            } else if (arrResDatoAzulados.length == arrResRevisionAzulados.length) {
                                                anteriorDisabled = ""
                                                siguienteDisabled = "disabled"
                                            } else {
                                                anteriorDisabled = ""
                                                siguienteDisabled = "disabled"
                                            }
                                            
                                        } else {
                                            arrResDatoAzulados.push(resDatoAzulados)
                                            arrResEstadoAzulados.push(resEstadoAzulados)
                                            arrResRevisionAzulados.push(resRevisionAzulados)
                                            
                                            arrResCreadorAzulados.push(pathMongoOtAjuste[o].creator[0].username)
                                            arrResModificadorAzulados = ""
                                            arrResFechaAzulados.push(pathMongoOtAjuste[o].timestamp)
                                            arrResFechaModAzulados = ""
                                        } %>
                                        
                                        <div id="btnAnteriorSiguienteAzulados<%=k%>_<%=n%>_<%=o%>_<%=q%>">
                                            <button id="btnAnteriorAzulados<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="btnAnteriorAzulados" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                <%= anteriorDisabled %>
                                                ><i class="fa-solid fa-arrow-left"></i>
                                            </button>
                                            <input type="hidden" id="resDatoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResDatoAzulados %>">
                                            <input type="hidden" id="resEstadoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResEstadoAzulados %>">
                                            <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResAzulados %>">
                                            <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionAzulados %>">
                                            <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResCreadorAzulados %>">
                                            <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResModificadorAzulados %>">
                                            <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaAzulados %>">
                                            <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaModAzulados %>">

                                            <span id="resDatoAzulados<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge bg-light text-dark my-2">
                                                <%= resDatoAzulados %>
                                            </span> |
                                            
                                            <% const config = etapaSegundaConfig[resEstadoAzulados] || etapaSegundaConfig.default; %>
                                            <span id="resEstadoAzulados<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%=resEstadoAzulados%>">
                                                <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                            </span> |

                                            <span id="resRevisionAzulados<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="resRevisionAzulados" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                                <%= resRevisionAzulados %>
                                            </span>

                                            <button id="btnSiguienteAzulados<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="btnSiguienteAzulados" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;" <%= siguienteDisabled %>
                                                ><i class="fa-solid fa-arrow-right"></i>
                                            </button>
                                        </div>
                                    </td>

                                <% } else if (q==9) { %>
                                    <!-- Tacho Ajuste data Activo-->
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtAjuste > 0 && largoArrayEtapaSegunda > 0) {

                                            for (let i = 0; largoArrayEtapaSegunda > i; i++) {
                                                if (pathToMongoOtEtapaSegunda[i]) {
                                                    let largoArray = parseInt(largoArrayEtapaSegunda)
                                                    resDatoTachoAjuste = pathToMongoOtEtapaSegunda[largoArray-1].tachoAjuste == 'sinDato' ? "S/D" :  pathToMongoOtEtapaSegunda[largoArray-1].tachoAjuste
                                                    resEstadoTachoAjuste = pathToMongoOtEtapaSegunda[largoArray-1].estadoTachoAjuste == 'sinDato' ? "S/D" : pathToMongoOtEtapaSegunda[largoArray-1].estadoTachoAjuste
                                                    resRevisionTachoAjuste = parseInt(pathToMongoOtEtapaSegunda[largoArray-1].revisionTachoAjuste) || 0
                                                    
                                                    pathToMongoOtEtapaSegunda[i].tachoAjuste == 'sinDato' ? arrResDatoTachoAjuste.push("S/D") : arrResDatoTachoAjuste.push(pathToMongoOtEtapaSegunda[i].tachoAjuste)
                                                    pathToMongoOtEtapaSegunda[i].estadoTachoAjuste == 'sinDato' ? arrResEstadoTachoAjuste.push("S/D") : arrResEstadoTachoAjuste.push(pathToMongoOtEtapaSegunda[i].estadoTachoAjuste)
                                                    arrResRevisionTachoAjuste.push(pathToMongoOtEtapaSegunda[i].revisionTachoAjuste)
                                                    
                                                    arrResCreadorTachoAjuste.push(pathToMongoOtEtapaSegunda[i].creator[0].username)
                                                    arrResModificadorTachoAjuste.push(pathToMongoOtEtapaSegunda[i].modificator[0].username)
                                                    arrResFechaTachoAjuste.push(pathToMongoOtEtapaSegunda[i].timestamp)
                                                    arrResFechaModTachoAjuste.push(pathToMongoOtEtapaSegunda[i].modifiedOn)
                                                }
                                            }
                                            valueArrayResTachoAjuste = parseInt(arrResEstadoTachoAjuste.length-1)
                                                    
                                            if (arrResDatoTachoAjuste.length == 1 ) {
                                                anteriorDisabled = "disabled"
                                                siguienteDisabled = "disabled"
                                            } else if (arrResDatoTachoAjuste.length == arrResRevisionTachoAjuste.length) {
                                                anteriorDisabled = ""
                                                siguienteDisabled = "disabled"
                                            } else {
                                                anteriorDisabled = ""
                                                siguienteDisabled = "disabled"
                                            }
                                            
                                        } else {
                                            arrResDatoTachoAjuste.push(resDatoTachoAjuste)
                                            arrResEstadoTachoAjuste.push(resEstadoTachoAjuste)
                                            arrResRevisionTachoAjuste.push(resRevisionTachoAjuste)
                                            
                                            arrResCreadorTachoAjuste.push(pathMongoOtAjuste[o].creator[0].username)
                                            arrResModificadorTachoAjuste = ""
                                            arrResFechaTachoAjuste.push(pathMongoOtAjuste[o].timestamp)
                                            arrResFechaModTachoAjuste = ""
                                        } %>
                                        
                                        <div id="btnAnteriorSiguienteTachoAjuste<%=k%>_<%=n%>_<%=o%>_<%=q%>">
                                            <button id="btnAnteriorTachoAjuste<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="btnAnteriorTachoAjuste" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                <%= anteriorDisabled %>
                                                ><i class="fa-solid fa-arrow-left"></i>
                                            </button>
                                            <input type="hidden" id="resDatoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResDatoTachoAjuste %>">
                                            <input type="hidden" id="resEstadoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResEstadoTachoAjuste %>">
                                            <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResTachoAjuste %>">
                                            <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionTachoAjuste %>">
                                            <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResCreadorTachoAjuste %>">
                                            <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResModificadorTachoAjuste %>">
                                            <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaTachoAjuste %>">
                                            <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaModTachoAjuste %>">

                                            <span id="resDatoTachoAjuste<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge bg-light text-dark my-2">
                                                <%= resDatoTachoAjuste %>
                                            </span> |

                                            <% const config = etapaSegundaConfig[resEstadoTachoAjuste] || etapaSegundaConfig.default; %>
                                            <span id="resEstadoTachoAjuste<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%=resEstadoTachoAjuste%>">
                                                <i   class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                            </span> |

                                            <span id="resRevisionTachoAjuste<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="resRevisionTachoAjuste" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                                <%= resRevisionTachoAjuste %>
                                            </span>

                                            <button id="btnSiguienteTachoAjuste<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="btnSiguienteTachoAjuste" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                <%= siguienteDisabled %>
                                                ><i class="fa-solid fa-arrow-right"></i>
                                            </button>
                                        </div>
                                    </td>

                                <% } else if (q==10) { %>
                                    <!-- Ajuste Fondo data Activo-->
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtAjuste > 0 && largoArrayEtapaSegunda > 0) {

                                            for (let i = 0; largoArrayEtapaSegunda > i; i++) {
                                                if (pathToMongoOtEtapaSegunda[i]) {
                                                    let largoArray = parseInt(largoArrayEtapaSegunda)
                                                    resDatoAjusteFondo = pathToMongoOtEtapaSegunda[largoArray-1].ajusteFondo == 'sinDato' ? "S/D" : pathToMongoOtEtapaSegunda[largoArray-1].ajusteFondo
                                                    resEstadoAjusteFondo = pathToMongoOtEtapaSegunda[largoArray-1].estadoAjusteFondo == 'sinDato' ? 'sinDato' : pathToMongoOtEtapaSegunda[largoArray-1].estadoAjusteFondo
                                                    resRevisionAjusteFondo = parseInt(pathToMongoOtEtapaSegunda[largoArray-1].revisionAjusteFondo) || 0
                                                    
                                                    pathToMongoOtEtapaSegunda[i].ajusteFondo == 'sinDato' ? arrResDatoAjusteFondo.push('S/D') : arrResDatoAjusteFondo.push(pathToMongoOtEtapaSegunda[i].ajusteFondo)
                                                    pathToMongoOtEtapaSegunda[i].estadoAjusteFondo == 'sinDato' ? arrResEstadoAjusteFondo.push('S/D') : arrResEstadoAjusteFondo.push(pathToMongoOtEtapaSegunda[i].estadoAjusteFondo)
                                                    arrResRevisionAjusteFondo.push(pathToMongoOtEtapaSegunda[i].revisionAjusteFondo)
                                                
                                                    arrResCreadorAjusteFondo.push(pathToMongoOtEtapaSegunda[i].creator[0].username)
                                                    arrResModificadorAjusteFondo.push(pathToMongoOtEtapaSegunda[i].modificator[0].username)
                                                    arrResFechaAjusteFondo.push(pathToMongoOtEtapaSegunda[i].timestamp)
                                                    arrResFechaModAjusteFondo.push(pathToMongoOtEtapaSegunda[i].modifiedOn)
                                                }
                                            }
                                            valueArrayResAjusteFondo = parseInt(arrResEstadoAjusteFondo.length-1)
                                                    
                                            if (arrResDatoAjusteFondo.length == 1 ) {
                                                siguienteDisabled = "disabled"
                                                anteriorDisabled = "disabled"
                                            } else if (arrResDatoAjusteFondo.length == arrResRevisionAjusteFondo.length) {
                                                anteriorDisabled = ""
                                                siguienteDisabled = "disabled"
                                            } else {
                                                anteriorDisabled = ""
                                                siguienteDisabled = "disabled"
                                            }
                                                    
                                        } else {
                                            arrResDatoAjusteFondo.push(resDatoAjusteFondo)
                                            arrResEstadoAjusteFondo.push(resEstadoAjusteFondo)
                                            arrResRevisionAjusteFondo.push(resRevisionAjusteFondo)
                                            
                                            arrResCreadorAjusteFondo.push(pathMongoOtAjuste[o].creator[0].username)
                                            arrResModificadorAjusteFondo = ""
                                            arrResFechaAjusteFondo.push(pathMongoOtAjuste[o].timestamp)
                                            arrResFechaModAjusteFondo = ""
                                        } %>

                                    <div id="btnAnteriorSiguienteAjusteFondo<%=k%>_<%=n%>_<%=o%>_<%=q%>">
                                        <button id="btnAnteriorAjusteFondo<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="btnAnteriorAjusteFondo" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= anteriorDisabled %>
                                            ><i class="fa-solid fa-arrow-left"></i>
                                        </button>
                                        <input type="hidden" id="resDatoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResDatoAjusteFondo %>">
                                        <input type="hidden" id="resEstadoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResEstadoAjusteFondo %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResAjusteFondo %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionAjusteFondo %>">
                                        <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResCreadorAjusteFondo %>">
                                        <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResModificadorAjusteFondo %>">
                                        <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaAjusteFondo %>">
                                        <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaModAjusteFondo %>">

                                        <span id="resDatoAjusteFondo<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge bg-light text-dark my-2">
                                            <%= resDatoAjusteFondo %>
                                        </span> |

                                        <% const config = etapaSegundaConfig[resEstadoAjusteFondo] || etapaSegundaConfig.default; %>
                                        <span id="resEstadoAjusteFondo<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%=resEstadoAjusteFondo%>">
                                            <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                        </span> |

                                        <span id="resRevisionAjusteFondo<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="resRevisionAjusteFondo" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                            <%= resRevisionAjusteFondo %>
                                        </span>

                                        <button id="btnSiguienteAjusteFondo<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="btnSiguienteAjusteFondo" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= siguienteDisabled %>
                                            ><i class="fa-solid fa-arrow-right"></i>
                                        </button>
                                    </div>
                                    </td>
                                
                                <% } else if (q==11) { %>
                                    <!-- Azulado Aceros data Activo-->
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtAjuste > 0 && largoArrayEtapaSegunda > 0) {

                                            for (let i = 0; largoArrayEtapaSegunda > i; i++) {
                                                if (pathToMongoOtEtapaSegunda[i]) {
                                                    let largoArray = parseInt(largoArrayEtapaSegunda)
                                                    resDatoAzuladoAceros = pathToMongoOtEtapaSegunda[largoArray-1].azuladoAceros == 'sinDato' ? "S/D" : pathToMongoOtEtapaSegunda[largoArray-1].azuladoAceros
                                                    resEstadoAzuladoAceros = pathToMongoOtEtapaSegunda[largoArray-1].estadoAzuladoAceros == 'sinDato' ? 'sinDato' : pathToMongoOtEtapaSegunda[largoArray-1].estadoAzuladoAceros
                                                    resRevisionAzuladoAceros = parseInt(pathToMongoOtEtapaSegunda[largoArray-1].revisionAzuladoAceros) || 0
                                                    
                                                    pathToMongoOtEtapaSegunda[i].azuladoAceros == 'sinDato' ? arrResDatoAzuladoAceros.push('S/D') : arrResDatoAzuladoAceros.push(pathToMongoOtEtapaSegunda[i].azuladoAceros)
                                                    pathToMongoOtEtapaSegunda[i].estadoAzuladoAceros == 'sinDato' ? arrResEstadoAzuladoAceros.push('S/D') : arrResEstadoAzuladoAceros.push(pathToMongoOtEtapaSegunda[i].estadoAzuladoAceros)
                                                    arrResRevisionAzuladoAceros.push(pathToMongoOtEtapaSegunda[i].revisionAzuladoAceros)
                                                
                                                    arrResCreadorAzuladoAceros.push(pathToMongoOtEtapaSegunda[i].creator[0].username)
                                                    arrResModificadorAzuladoAceros.push(pathToMongoOtEtapaSegunda[i].modificator[0].username)
                                                    arrResFechaAzuladoAceros.push(pathToMongoOtEtapaSegunda[i].timestamp)
                                                    arrResFechaModAzuladoAceros.push(pathToMongoOtEtapaSegunda[i].modifiedOn)
                                                }
                                            }
                                            valueArrayResAzuladoAceros = parseInt(arrResEstadoAzuladoAceros.length-1)
                                            
                                            if (arrResDatoAzuladoAceros.length == 1 ) {
                                                siguienteDisabled = "disabled"
                                                anteriorDisabled = "disabled"
                                            } else if (arrResDatoAzuladoAceros.length == arrResRevisionAzuladoAceros.length) {
                                                anteriorDisabled = ""
                                                siguienteDisabled = "disabled"
                                            } else {
                                                anteriorDisabled = ""
                                                siguienteDisabled = "disabled"
                                            }
                                        
                                        } else {
                                            arrResDatoAzuladoAceros.push(resDatoAzuladoAceros)
                                            arrResEstadoAzuladoAceros.push(resEstadoAzuladoAceros)
                                            arrResRevisionAzuladoAceros.push(resRevisionAzuladoAceros)
                                            
                                            arrResCreadorAzuladoAceros.push(pathMongoOtAjuste[o].creator[0].username)
                                            arrResModificadorAzuladoAceros = ""
                                            arrResFechaAzuladoAceros.push(pathMongoOtAjuste[o].timestamp)
                                            arrResFechaModAzuladoAceros = ""
                                        } %>

                                    <div id="btnAnteriorSiguienteAzuladoAceros<%=k%>_<%=n%>_<%=o%>_<%=q%>">
                                        <button id="btnAnteriorAzuladoAceros<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="btnAnteriorAzuladoAceros" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= anteriorDisabled %>
                                            ><i class="fa-solid fa-arrow-left"></i>
                                        </button>
                                        <input type="hidden" id="resDatoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResDatoAzuladoAceros %>">
                                        <input type="hidden" id="resEstadoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResEstadoAzuladoAceros %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResAzuladoAceros %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionAzuladoAceros %>">
                                        <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResCreadorAzuladoAceros %>">
                                        <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResModificadorAzuladoAceros %>">
                                        <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaAzuladoAceros %>">
                                        <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaModAzuladoAceros %>">

                                        <span id="resDatoAzuladoAceros<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge bg-light text-dark my-2">
                                            <%= resDatoAzuladoAceros %>
                                        </span> |

                                        <% const config = etapaSegundaConfig[resEstadoAzuladoAceros] || etapaSegundaConfig.default; %>
                                        <span id="resEstadoAzuladoAceros<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%=resEstadoAzuladoAceros%>">
                                            <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                        </span> |

                                        <span id="resRevisionAzuladoAceros<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="resRevisionAzuladoAceros" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                            <%= resRevisionAzuladoAceros %>
                                        </span>

                                        <button id="btnSiguienteAzuladoAceros<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="btnSiguienteAzuladoAceros" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= siguienteDisabled %>
                                            ><i class="fa-solid fa-arrow-right"></i>
                                        </button>
                                    </div>
                                    </td>
                                
                                <% } else { %>
                                    <!-- Lth Etapa Segunda data Activo-->
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtAjuste > 0 && largoArrayEtapaSegunda > 0) {

                                            for (let i = 0; largoArrayEtapaSegunda > i; i++) {
                                                if (pathToMongoOtEtapaSegunda[i]) {
                                                    let largoArray = parseInt(largoArrayEtapaSegunda)
                                                    resDatoLthEtapaSegunda = pathToMongoOtEtapaSegunda[largoArray-1].lthEtapaSegunda == 'sinDato' ? "S/D" : pathToMongoOtEtapaSegunda[largoArray-1].lthEtapaSegunda
                                                    resEstadoLthEtapaSegunda = pathToMongoOtEtapaSegunda[largoArray-1].estadoLthEtapaSegunda == 'sinDato' ? 'sinDato' : pathToMongoOtEtapaSegunda[largoArray-1].estadoLthEtapaSegunda
                                                    resRevisionLthEtapaSegunda = parseInt(pathToMongoOtEtapaSegunda[largoArray-1].revisionLthEtapaSegunda) || 0
                                                    
                                                    pathToMongoOtEtapaSegunda[i].lthEtapaSegunda == 'sinDato' ? arrResDatoLthEtapaSegunda.push('S/D') : arrResDatoLthEtapaSegunda.push(pathToMongoOtEtapaSegunda[i].lthEtapaSegunda)
                                                    pathToMongoOtEtapaSegunda[i].estadoLthEtapaSegunda == 'sinDato' ? arrResEstadoLthEtapaSegunda.push('S/D') : arrResEstadoLthEtapaSegunda.push(pathToMongoOtEtapaSegunda[i].estadoLthEtapaSegunda)
                                                    arrResRevisionLthEtapaSegunda.push(pathToMongoOtEtapaSegunda[i].revisionLthEtapaSegunda)
                                                
                                                    arrResCreadorLthEtapaSegunda.push(pathToMongoOtEtapaSegunda[i].creator[0].username)
                                                    arrResModificadorLthEtapaSegunda.push(pathToMongoOtEtapaSegunda[i].modificator[0].username)
                                                    arrResFechaLthEtapaSegunda.push(pathToMongoOtEtapaSegunda[i].timestamp)
                                                    arrResFechaModLthEtapaSegunda.push(pathToMongoOtEtapaSegunda[i].modifiedOn)
                                                }
                                            }
                                            valueArrayResLthEtapaSegunda = parseInt(arrResEstadoLthEtapaSegunda.length-1)
                                            
                                            if (arrResDatoLthEtapaSegunda.length == 1 ) {
                                                siguienteDisabled = "disabled"
                                                anteriorDisabled = "disabled"
                                            } else if (arrResDatoLthEtapaSegunda.length == arrResRevisionLthEtapaSegunda.length) {
                                                anteriorDisabled = ""
                                                siguienteDisabled = "disabled"
                                            } else {
                                                anteriorDisabled = ""
                                                siguienteDisabled = "disabled"
                                            }
                                        
                                        } else {
                                            arrResDatoLthEtapaSegunda.push(resDatoLthEtapaSegunda)
                                            arrResEstadoLthEtapaSegunda.push(resEstadoLthEtapaSegunda)
                                            arrResRevisionLthEtapaSegunda.push(resRevisionLthEtapaSegunda)
                                            
                                            arrResCreadorLthEtapaSegunda.push(pathMongoOtAjuste[o].creator[0].username)
                                            arrResModificadorLthEtapaSegunda = ""
                                            arrResFechaLthEtapaSegunda.push(pathMongoOtAjuste[o].timestamp)
                                            arrResFechaModLthEtapaSegunda = ""
                                        } %>

                                    <div id="btnAnteriorSiguienteLthEtapaSegunda<%=k%>_<%=n%>_<%=o%>_<%=q%>">
                                        <button id="btnAnteriorLthEtapaSegunda<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="btnAnteriorLthEtapaSegunda" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= anteriorDisabled %>
                                            ><i class="fa-solid fa-arrow-left"></i>
                                        </button>
                                        <input type="hidden" id="resDatoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResDatoLthEtapaSegunda %>">
                                        <input type="hidden" id="resEstadoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResEstadoLthEtapaSegunda %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResLthEtapaSegunda %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionLthEtapaSegunda %>">
                                        <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResCreadorLthEtapaSegunda %>">
                                        <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResModificadorLthEtapaSegunda %>">
                                        <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaLthEtapaSegunda %>">
                                        <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaModLthEtapaSegunda %>">

                                        <span id="resDatoLthEtapaSegunda<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge bg-light text-dark my-2">
                                            <%= resDatoLthEtapaSegunda %>
                                        </span> |

                                        <% const config = etapaSegundaConfig[resEstadoLthEtapaSegunda] || etapaSegundaConfig.default; %>
                                        <span id="resEstadoLthEtapaSegunda<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%=resEstadoLthEtapaSegunda%>">
                                            <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                        </span> |

                                        <span id="resRevisionLthEtapaSegunda<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="resRevisionLthEtapaSegunda" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                            <%= resRevisionLthEtapaSegunda %>
                                        </span>

                                        <button id="btnSiguienteLthEtapaSegunda<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="btnSiguienteLthEtapaSegunda" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= siguienteDisabled %>
                                            ><i class="fa-solid fa-arrow-right"></i>
                                        </button>
                                    </div>
                                    </td>
                                <% }
                            } %>
                        </tr>

                    <% } else { %>
                        <!--Inactivo-->
                        <tr name="rowSelected<%=k%>_<%=n%>_<%=o%>" class="pe-none border-bottom" style="height: 5vh; background-color: #dedede;">
                            <% for (let q = 8; totalColDataEtapaSegunda > q; q++) {
                                if (q==8) { %>
                                    <!-- Azulados data Inactivo -->
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtAjuste > 0 && largoArrayEtapaSegunda > 0) {
                                            for (let i = 0; largoArrayEtapaSegunda > i; i++) {

                                                if (pathToMongoOtEtapaSegunda[i]) {
                                                    let largoArray = parseInt(largoArrayEtapaSegunda)
                                                    resDatoAzulados = pathToMongoOtEtapaSegunda[largoArray-1].azulados || 'S/D'
                                                    resEstadoAzulados = pathToMongoOtEtapaSegunda[largoArray-1].estadoAzulados || 'sinDato'
                                                    resRevisionAzulados = parseInt(pathToMongoOtEtapaSegunda[largoArray-1].revisionAzulados) || 0
                                                    
                                                    arrResDatoAzulados.push(pathToMongoOtEtapaSegunda[i].azulados)
                                                    arrResEstadoAzulados.push(pathToMongoOtEtapaSegunda[i].estadoAzulados)
                                                    arrResRevisionAzulados.push(pathToMongoOtEtapaSegunda[i].revisionAzulados)
                                                }
                                            }
                                            valueArrayResAzulados = parseInt(arrResEstadoAzulados.length-1)
                                            resDatoAzulados = pathToMongoOtEtapaSegunda[0].Azulados
                                            resEstadoAzulados = pathToMongoOtEtapaSegunda[0].estadoAzulados

                                        } else {
                                            arrResDatoAzulados.push(resDatoAzulados)
                                            arrResEstadoAzulados.push(resEstadoAzulados)
                                            arrResRevisionAzulados.push(resRevisionAzulados)
                                        } %>
                                        <input type="hidden" id="resDatoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResDatoAzulados %>">
                                        <input type="hidden" id="resEstadoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResEstadoAzulados %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResAzulados %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionAzulados %>">
                                    
                                        <span id="resDatoAzulados<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge bg-secondary text-ligth my-2">
                                            <%= resDatoAzulados %>
                                        </span> |

                                        <% const config = etapaSegundaConfig[resEstadoAzulados] || etapaSegundaConfig.default; %>
                                        <span id="resEstadoAzulados<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%=resEstadoAzulados%>">
                                            <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                        </span> |

                                        <span id="resRevisionAzulados<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="resRevisionAzulados" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                            <%= resRevisionAzulados %>
                                        </span>
                                    </td>

                                <% } else if (q==9) { %>
                                    <!-- Tacho Ajuste data Inactivo -->
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtAjuste > 0 && largoArrayEtapaSegunda > 0) {
                                            for (let i = 0; largoArrayEtapaSegunda > i; i++) {
                                                
                                                if (pathToMongoOtEtapaSegunda[i]) {
                                                    let largoArray = parseInt(largoArrayEtapaSegunda)
                                                    resDatoTachoAjuste = pathToMongoOtEtapaSegunda[largoArray-1].tachoAjuste || 'S/D'
                                                    resEstadoTachoAjuste = pathToMongoOtEtapaSegunda[largoArray-1].tachoAjuste || 'sinDato'
                                                    resRevisionTachoAjuste = parseInt(pathToMongoOtEtapaSegunda[largoArray-1].revisionTachoAjuste) || 0
                                                    
                                                    arrResDatoTachoAjuste.push(pathToMongoOtEtapaSegunda[i].tachoAjuste)
                                                    arrResEstadoTachoAjuste.push(pathToMongoOtEtapaSegunda[i].tachoAjuste)
                                                    arrResRevisionTachoAjuste.push(pathToMongoOtEtapaSegunda[i].revisionTachoAjuste)
                                                }
                                            }
                                            valueArrayResTachoAjuste = parseInt(arrResEstadoTachoAjuste.length-1)
                                            resDatoTachoAjuste = pathToMongoOtEtapaSegunda[0].tachoAjuste
                                            resEstadoTachoAjuste = pathToMongoOtEtapaSegunda[0].estadoTachoAjuste
                                        
                                        } else {
                                            arrResDatoTachoAjuste.push(resDatoTachoAjuste)
                                            arrResEstadoTachoAjuste.push(resEstadoTachoAjuste)
                                            arrResRevisionTachoAjuste.push(resRevisionTachoAjuste)
                                        } %>
                                        <input type="hidden" id="resDatoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResDatoTachoAjuste %>">
                                        <input type="hidden" id="resEstadoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResEstadoTachoAjuste %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResTachoAjuste %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionTachoAjuste %>">

                                        <span id="resDatoTachoAjuste<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge bg-secondary text-ligth my-2">
                                            <%= resDatoTachoAjuste %>
                                        </span> |
                                        
                                        <% const config = etapaSegundaConfig[resEstadoTachoAjuste] || etapaSegundaConfig.default; %>
                                        <span id="resEstadoTachoAjuste<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%=resEstadoTachoAjuste%>">
                                            <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                        </span> |

                                        <span id="resRevisionTachoAjuste<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="resRevisionTachoAjuste" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                            <%= resRevisionTachoAjuste %>
                                        </span>
                                    </td>

                                <% } else if (q==10) { %>
                                    <!-- Ajuste Fondo data Inactivo -->
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtAjuste > 0 && largoArrayEtapaSegunda > 0) {
                                            for (let i = 0; largoArrayEtapaSegunda > i; i++) {
                                                
                                                if (pathToMongoOtEtapaSegunda[i]) {
                                                    let largoArray = parseInt(largoArrayEtapaSegunda)
                                                    resDatoAjusteFondo = pathToMongoOtEtapaSegunda[largoArray-1].ajusteFondo || "S/D"
                                                    resEstadoAjusteFondo = pathToMongoOtEtapaSegunda[largoArray-1].estadoAjusteFondo || 'sinDato'
                                                    resRevisionAjusteFondo = parseInt(pathToMongoOtEtapaSegunda[largoArray-1].revisionAjusteFondo) || 0
                                                    
                                                    arrResDatoAjusteFondo.push(pathToMongoOtEtapaSegunda[i].ajusteFondo)
                                                    arrResEstadoAjusteFondo.push(pathToMongoOtEtapaSegunda[i].estadoAjusteFondo)
                                                    arrResRevisionAjusteFondo.push(pathToMongoOtEtapaSegunda[i].revisionAjusteFondo)
                                                }
                                            }
                                            valueArrayResAjusteFondo = parseInt(arrResEstadoAjusteFondo.length-1)
                                            resDatoAjusteFondo = pathToMongoOtEtapaSegunda[0].ajusteFondo
                                            resEstadoAjusteFondo = pathToMongoOtEtapaSegunda[0].estadoAjusteFondo
                                        
                                        } else {
                                            arrResDatoAjusteFondo.push(resDatoAjusteFondo)
                                            arrResEstadoAjusteFondo.push(resEstadoAjusteFondo)
                                            arrResRevisionAjusteFondo.push(resRevisionAjusteFondo)
                                        } %>
                                        <input type="hidden" id="resDatoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResDatoAjusteFondo %>">
                                        <input type="hidden" id="resEstadoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResEstadoAjusteFondo %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResAjusteFondo %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionAjusteFondo %>">

                                        <span id="resDatoAjusteFondo<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge bg-secondary text-ligth my-2">
                                            <%= resDatoAjusteFondo %>
                                        </span> |
                                        
                                        <% const config = etapaSegundaConfig[resEstadoAjusteFondo] || etapaSegundaConfig.default; %>
                                        <span id="resEstadoAjusteFondo<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%=resEstadoAjusteFondo%>">
                                            <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                        </span> |

                                        <span id="resRevisionAjusteFondo<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="resRevisionAjusteFondo" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                            <%= resRevisionAjusteFondo %>
                                        </span>
                                    </td>
                                
                                <% } else if (q==11) { %>
                                    <!-- Azulado Aceros data Inactivo -->
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtAjuste > 0 && largoArrayEtapaSegunda > 0) {
                                            for (let i = 0; largoArrayEtapaSegunda > i; i++) {
                                                
                                                if (pathToMongoOtEtapaSegunda[i]) {
                                                    let largoArray = parseInt(largoArrayEtapaSegunda)
                                                    resDatoAzuladoAceros = pathToMongoOtEtapaSegunda[largoArray-1].azuladoAceros || "S/D"
                                                    resEstadoAzuladoAceros = pathToMongoOtEtapaSegunda[largoArray-1].estadoAzuladoAceros || 'sinDato'
                                                    resRevisionAzuladoAceros = parseInt(pathToMongoOtEtapaSegunda[largoArray-1].revisionAzuladoAceros) || 0
                                                    
                                                    arrResDatoAzuladoAceros.push(pathToMongoOtEtapaSegunda[i].azuladoAceros)
                                                    arrResEstadoAzuladoAceros.push(pathToMongoOtEtapaSegunda[i].estadoAzuladoAceros)
                                                    arrResRevisionAzuladoAceros.push(pathToMongoOtEtapaSegunda[i].revisionAzuladoAceros)
                                                }
                                            }
                                            valueArrayResAzuladoAceros = parseInt(arrResEstadoAzuladoAceros.length-1)
                                            resDatoAzuladoAceros = pathToMongoOtEtapaSegunda[0].azuladoAceros
                                            resEstadoAzuladoAceros = pathToMongoOtEtapaSegunda[0].estadoAzuladoAceros
                                        
                                        } else {
                                            arrResDatoAzuladoAceros.push(resDatoAzuladoAceros)
                                            arrResEstadoAzuladoAceros.push(resEstadoAzuladoAceros)
                                            arrResRevisionAzuladoAceros.push(resRevisionAzuladoAceros)
                                        } %>
                                        <input type="hidden" id="resDatoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResDatoAzuladoAceros %>">
                                        <input type="hidden" id="resEstadoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResEstadoAzuladoAceros %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResAzuladoAceros %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionAzuladoAceros %>">

                                        <span id="resDatoAzuladoAceros<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge bg-secondary text-ligth my-2">
                                            <%= resDatoAzuladoAceros %>
                                        </span> |
                                        
                                        <% const config = etapaSegundaConfig[resEstadoAzuladoAceros] || etapaSegundaConfig.default; %>
                                        <span id="resEstadoAzuladoAceros<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%=resEstadoAzuladoAceros%>">
                                            <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                        </span> |

                                        <span id="resRevisionAzuladoAceros<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="resRevisionAzuladoAceros" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                            <%= resRevisionAzuladoAceros %>
                                        </span>
                                    </td>

                                <% } else { %>
                                    <!-- Lth Etapa Segunda data Inactivo -->
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtAjuste > 0 && largoArrayEtapaSegunda > 0) {
                                            for (let i = 0; largoArrayEtapaSegunda > i; i++) {
                                                
                                                if (pathToMongoOtEtapaSegunda[i]) {
                                                    let largoArray = parseInt(largoArrayEtapaSegunda)
                                                    resDatoLthEtapaSegunda = pathToMongoOtEtapaSegunda[largoArray-1].lthEtapaSegunda || "S/D"
                                                    resEstadoLthEtapaSegunda = pathToMongoOtEtapaSegunda[largoArray-1].estadoLthEtapaSegunda || 'sinDato'
                                                    resRevisionLthEtapaSegunda = parseInt(pathToMongoOtEtapaSegunda[largoArray-1].revisionLthEtapaSegunda) || 0
                                                    
                                                    arrResDatoLthEtapaSegunda.push(pathToMongoOtEtapaSegunda[i].lthEtapaSegunda)
                                                    arrResEstadoLthEtapaSegunda.push(pathToMongoOtEtapaSegunda[i].estadoLthEtapaSegunda)
                                                    arrResRevisionLthEtapaSegunda.push(pathToMongoOtEtapaSegunda[i].revisionLthEtapaSegunda)
                                                }
                                            }
                                            valueArrayResLthEtapaSegunda = parseInt(arrResEstadoLthEtapaSegunda.length-1)
                                            resDatoLthEtapaSegunda = pathToMongoOtEtapaSegunda[0].lthEtapaSegunda
                                            resEstadoLthEtapaSegunda = pathToMongoOtEtapaSegunda[0].estadoLthEtapaSegunda
                                        
                                        } else {
                                            arrResDatoLthEtapaSegunda.push(resDatoLthEtapaSegunda)
                                            arrResEstadoLthEtapaSegunda.push(resEstadoLthEtapaSegunda)
                                            arrResRevisionLthEtapaSegunda.push(resRevisionLthEtapaSegunda)
                                        } %>
                                        <input type="hidden" id="resDatoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResDatoLthEtapaSegunda %>">
                                        <input type="hidden" id="resEstadoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResEstadoLthEtapaSegunda %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResLthEtapaSegunda %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionLthEtapaSegunda %>">

                                        <span id="resDatoLthEtapaSegunda<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge bg-secondary text-ligth my-2">
                                            <%= resDatoLthEtapaSegunda %>
                                        </span> |
                                        
                                        <% const config = etapaSegundaConfig[resEstadoLthEtapaSegunda] || etapaSegundaConfig.default; %>
                                        <span id="resEstadoLthEtapaSegunda<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%=resEstadoLthEtapaSegunda%>">
                                            <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                        </span> |

                                        <span id="resRevisionLthEtapaSegunda<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="resRevisionLthEtapaSegunda" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                            <%= resRevisionLthEtapaSegunda %>
                                        </span>
                                    </td>
                                <% }
                            } %>
                        </tr>
                    <% }
                }
            }
        }) %>
    </tbody>
</table>