<!-- tabla Analisi Critico -->
<table id="tablaOtAnalisisCritico<%=k%>" class="table-responsive align-middle col-5 border-end border-dark" style="font-size: 10pt; width: 100%">
    <thead class="align-middle" style="background-color: #d8d8eb">
        <tr>
            <th colspan="2" class="text-center">ANALISIS CRÍTICO
                <% if (userInfo.admin || userInfo.area === 'fabricacion') { %>
                    <button id="posBtnAddDataOtAnalisisCritico<%=k%>" type="button" name="btnOtAnalisisCritico" class="btn btn-small btn-success shadow m-1 me-5 mb-2 position-relative" style="--bs-btn-font-size: .6rem; color: var(--bs-white);" title="Agregar/Modificar Datos" value="<%=k%>">
                        <i class="fa-solid fa-pencil fa-lg" aria-hidden="true"></i>
                        <span id="spanCheckSelecMasiveAnalCrit<%=k%>" class="position-absolute top-100 start-100 translate-middle badge rounded-pill bg-danger">
                            0
                            <span class="visually-hidden">Elementos seleccionados</span>
                        </span>
                    </button>
                <% } else { %>
                    <button type="button" class="btn btn-small btn-danger shadow m-1 me-5 mb-2 disabled" style="--bs-btn-font-size: .6rem; color: var(--bs-white);">
                        <i class="fa-solid fa-ban fa-lg" aria-hidden="true"></i>                                                    
                    </button>
                <% } %>
                <i class="fa-solid fa-arrows-spin fa-lg" style="color: #b09b12;"></i> En Proceso -
                <i class="fa-solid fa-circle-check fa-lg" style="color: #008f30;"></i> Terminado -
                <i class="fa-solid fa-circle-xmark fa-lg" style="color: #c40000;"></i> Detenido -
                <i class="fa-solid fa-ban fa-lg"></i> No Aplica -
                <i class="fa-solid fa-triangle-exclamation fa-lg" style="color: #1c21ac;"></i> Sin Datos
            </th>
        </tr>
        <tr>
            <th id="colData0" style="width:50vw" scope="col-1" class="text-center pb-1">Estático | Rev.</th>
            <th id="colData1" style="width:50vw" scope="col-1" class="text-center pb-1">Dinámico | Rev.</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        
        <% const analisisCriticoConfig = {
                enProceso: { icon: "fa-arrows-spin fa-spin", iconColor: "color:#b09b12" },
                terminado: { icon: "fa-circle-check", iconColor: "color:#008f30" },
                detenido: { icon: "fa-circle-xmark", iconColor: "color:#c40000" },
                noAplica: { icon: "fa-ban", iconColor: "color:#000000" },
                default: { icon: "fa-triangle-exclamation", iconColor: "color:#1c21ac" }
            };

        proyecto[m].project[j].oci[k].otProject.forEach((ot, n) => {
            let pathMongoOtProject = proyecto[m].project[j].oci[k].otProject,
                pathMongoOtAjuste = pathMongoOtProject[n].otAjuste[0];

            let anteriorDisabled = "disabled", siguienteDisabled = "disabled",
                resEstatico = "S/D", resRevisionEstatico = 0,
                resDinamico = "S/D", resRevisionDinamico = 0;
                
            if (pathMongoOtProject[n].visible) {
                let pathToMongoOtAnalisisCritico = pathMongoOtAjuste.otInfoAnalisisCritico || [],
                    largoArrayAnalisisCritico = parseInt(pathToMongoOtAnalisisCritico.length);

                let arrResEstatico = [], valueArrayResEstatico = 0, arrResRevisionEstatico = [],
                    arrResCreadorEstatico = [], arrResModificadorEstatico = [], arrResFechaEstatico = [], arrResFechaModEstatico = [];

                let arrResDinamico = [], valueArrayResDinamico = 0, arrResRevisionDinamico = [],
                    arrResCreadorDinamico = [], arrResModificadorDinamico = [], arrResFechaDinamico = [], arrResFechaModDinamico = [];

                if (pathMongoOtProject[n].otStatus) { %>
                    <!--Activo-->
                    <tr name="rowSelected<%=k%>_<%=n%>" class="border-bottom" style="height: 7vh;">
                        <% for (let q = 13; totalColDataAnalisisCritico > q; q++) {
                            if (q==13) { %>
                                <!-- Estatico data Activo--> 
                                <td class="text-center align-middle">
                                    <% if (largoArrayAnalisisCritico > 0) {

                                        for (let i = 0; largoArrayAnalisisCritico > i; i++) {
                                            if (pathToMongoOtAnalisisCritico[i]) {
                                                let largoArray = parseInt(largoArrayAnalisisCritico)
                                                resEstatico = pathToMongoOtAnalisisCritico[largoArray-1].estatico == 'sinDato' ? "S/D" : pathToMongoOtAnalisisCritico[largoArray-1].estatico
                                                resRevisionEstatico = parseInt(pathToMongoOtAnalisisCritico[largoArray-1].revisionEstatico) || 0
                                                
                                                pathToMongoOtAnalisisCritico[i].estatico == 'sinDato' ? arrResEstatico.push("S/D") : arrResEstatico.push(pathToMongoOtAnalisisCritico[i].estatico)
                                                arrResRevisionEstatico.push(pathToMongoOtAnalisisCritico[i].revisionEstatico)

                                                arrResCreadorEstatico.push(pathToMongoOtAnalisisCritico[i].creator[0].username)
                                                arrResModificadorEstatico.push(pathToMongoOtAnalisisCritico[i].modificator[0].username)
                                                arrResFechaEstatico.push(pathToMongoOtAnalisisCritico[i].timestamp)
                                                arrResFechaModEstatico.push(pathToMongoOtAnalisisCritico[i].modifiedOn)
                                            }
                                        }
                                        valueArrayResEstatico = parseInt(arrResEstatico.length-1)

                                        if (arrResEstatico.length == 1 ) {
                                            anteriorDisabled = "disabled"
                                            siguienteDisabled = "disabled"
                                        } else if (arrResEstatico.length == arrResRevisionEstatico.length) {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        } else {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        }
                                        
                                    } else {
                                        arrResEstatico.push(resEstatico)
                                        arrResRevisionEstatico.push(resRevisionEstatico)
                                        
                                        arrResCreadorEstatico.push(pathMongoOtProject[n].creator[0].username)
                                        arrResModificadorEstatico = ""
                                        arrResFechaEstatico.push(pathMongoOtProject[n].timestamp)
                                        arrResFechaModEstatico = ""
                                    } %>
                                    
                                    <div id="btnAnteriorSiguienteEstatico<%=k%>_<%=n%>_<%=q%>">
                                        <button id="btnAnteriorEstatico<%=k%>_<%=n%>_<%=q%>" name="btnAnteriorEstatico" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= anteriorDisabled %>
                                            ><i class="fa-solid fa-arrow-left"></i>
                                        </button>
                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResEstatico %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResEstatico %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionEstatico %>">
                                        <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorEstatico %>">
                                        <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorEstatico %>">
                                        <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaEstatico %>">
                                        <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModEstatico %>">

                                        <% const config = analisisCriticoConfig[resEstatico] || analisisCriticoConfig.default; %>
                                        <span id="resEstatico<%=k%>_<%=n%>_<%=q%>" value="<%=resEstatico%>">
                                            <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                        </span> |
                                        <span id="resRevisionEstatico<%=k%>_<%=n%>_<%=q%>" name="resRevisionEstatico" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                            <%= resRevisionEstatico %>
                                        </span>

                                        <button id="btnSiguienteEstatico<%=k%>_<%=n%>_<%=q%>" name="btnSiguienteEstatico" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;" <%= siguienteDisabled %>
                                            ><i class="fa-solid fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </td>

                            <% } else { %>
                                <!-- Dinamico data Activo-->
                                <td class="text-center align-middle">
                                    <% if (largoArrayAnalisisCritico > 0) {

                                        for (let i = 0; largoArrayAnalisisCritico > i; i++) {
                                            if (pathToMongoOtAnalisisCritico[i]) {
                                                let largoArray = parseInt(largoArrayAnalisisCritico)
                                                resDinamico = pathToMongoOtAnalisisCritico[largoArray-1].dinamico == 'sinDato' ? "S/D" :  pathToMongoOtAnalisisCritico[largoArray-1].dinamico
                                                resRevisionDinamico = parseInt(pathToMongoOtAnalisisCritico[largoArray-1].revisionDinamico) || 0
                                                
                                                pathToMongoOtAnalisisCritico[i].dinamico == 'sinDato' ? arrResDinamico.push("S/D") : arrResDinamico.push(pathToMongoOtAnalisisCritico[i].dinamico)
                                                arrResRevisionDinamico.push(pathToMongoOtAnalisisCritico[i].revisionDinamico)
                                                
                                                arrResCreadorDinamico.push(pathToMongoOtAnalisisCritico[i].creator[0].username)
                                                arrResModificadorDinamico.push(pathToMongoOtAnalisisCritico[i].modificator[0].username)
                                                arrResFechaDinamico.push(pathToMongoOtAnalisisCritico[i].timestamp)
                                                arrResFechaModDinamico.push(pathToMongoOtAnalisisCritico[i].modifiedOn)
                                            }
                                        }
                                        valueArrayResDinamico = parseInt(arrResDinamico.length-1)
                                                
                                        if (arrResDinamico.length == 1 ) {
                                            anteriorDisabled = "disabled"
                                            siguienteDisabled = "disabled"
                                        } else if (arrResDinamico.length == arrResRevisionDinamico.length) {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        } else {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        }
                                        
                                    } else {
                                        arrResDinamico.push(resDinamico)
                                        arrResRevisionDinamico.push(resRevisionDinamico)
                                        
                                        arrResCreadorDinamico.push(pathMongoOtProject[n].creator[0].username)
                                        arrResModificadorDinamico = ""
                                        arrResFechaDinamico.push(pathMongoOtProject[n].timestamp)
                                        arrResFechaModDinamico = ""
                                    } %>
                                    
                                    <div id="btnAnteriorSiguienteDinamico<%=k%>_<%=n%>_<%=q%>">
                                        <button id="btnAnteriorDinamico<%=k%>_<%=n%>_<%=q%>" name="btnAnteriorDinamico" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= anteriorDisabled %>
                                            ><i class="fa-solid fa-arrow-left"></i>
                                        </button>
                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResDinamico %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResDinamico %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionDinamico %>">
                                        <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorDinamico %>">
                                        <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorDinamico %>">
                                        <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaDinamico %>">
                                        <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModDinamico %>">

                                        <% const config = analisisCriticoConfig[resDinamico] || analisisCriticoConfig.default; %>
                                        <span id="resDinamico<%=k%>_<%=n%>_<%=q%>" value="<%=resDinamico%>">
                                            <i   class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                        </span> |
                                        <span id="resRevisionDinamico<%=k%>_<%=n%>_<%=q%>" name="resRevisionDinamico" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                            <%= resRevisionDinamico %>
                                        </span>

                                        <button id="btnSiguienteDinamico<%=k%>_<%=n%>_<%=q%>" name="btnSiguienteDinamico" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= siguienteDisabled %>
                                            ><i class="fa-solid fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </td>
                            <% }
                        } %>
                    </tr>

                <% } else { %>
                    <!--Inactivo-->
                    <tr name="rowSelected<%=k%>_<%=n%>" class="pe-none border-bottom" style="height: 7vh; background-color: #dedede;">
                        <% for (let q = 13; totalColDataAnalisisCritico > q; q++) {
                            if (q==13) { %>
                                <!-- Estatico data Inactivo -->
                                <td class="text-center align-middle">
                                    <% if (largoArrayAnalisisCritico > 0) {
                                        for (let i = 0; largoArrayAnalisisCritico > i; i++) {

                                            if (pathToMongoOtAnalisisCritico[i]) {
                                                let largoArray = parseInt(largoArrayAnalisisCritico)
                                                resEstatico = pathToMongoOtAnalisisCritico[largoArray-1].estatico || 'S/D'
                                                resRevisionEstatico = parseInt(pathToMongoOtAnalisisCritico[largoArray-1].revisionEstatico) || 0
                                                
                                                arrResEstatico.push(pathToMongoOtAnalisisCritico[i].estatico)
                                                arrResRevisionEstatico.push(pathToMongoOtAnalisisCritico[i].revisionEstatico)
                                            }
                                        }
                                        valueArrayResEstatico = parseInt(arrResEstatico.length-1)
                                        resEstatico = pathToMongoOtAnalisisCritico[0].estatico

                                    } else {
                                        arrResEstatico.push(resEstatico)
                                        arrResRevisionEstatico.push(resRevisionEstatico)
                                    } %>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResEstatico %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResEstatico %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionEstatico %>">
                                    
                                    <% const config = analisisCriticoConfig[resEstatico] || analisisCriticoConfig.default; %>
                                    <span id="resEstatico<%=k%>_<%=n%>_<%=q%>" value="<%=resEstatico%>">
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |
                                    <span id="resRevisionEstatico<%=k%>_<%=n%>_<%=q%>" name="resRevisionEstatico" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionEstatico %>
                                    </span>
                                </td>

                            <% } else { %>
                                <!-- Dinamico data Inactivo -->
                                <td class="text-center align-middle">
                                    <% if (largoArrayAnalisisCritico > 0) {
                                        for (let i = 0; largoArrayAnalisisCritico > i; i++) {
                                            
                                            if (pathToMongoOtAnalisisCritico[i]) {
                                                let largoArray = parseInt(largoArrayAnalisisCritico)
                                                resDinamico = pathToMongoOtAnalisisCritico[largoArray-1].dinamico || 'S/D'
                                                resRevisionDinamico = parseInt(pathToMongoOtAnalisisCritico[largoArray-1].revisionDinamico) || 0
                                                
                                                arrResDinamico.push(pathToMongoOtAnalisisCritico[i].dinamico)
                                                arrResRevisionDinamico.push(pathToMongoOtAnalisisCritico[i].revisionDinamico)
                                            }
                                        }
                                        valueArrayResDinamico = parseInt(arrResDinamico.length-1)
                                        resDinamico = pathToMongoOtAnalisisCritico[0].dinamico
                                    
                                    } else {
                                        arrResDinamico.push(resDinamico)
                                        arrResRevisionDinamico.push(resRevisionDinamico)
                                    } %>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResDinamico %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResDinamico %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionDinamico %>">

                                    <% const config = analisisCriticoConfig[resDinamico] || analisisCriticoConfig.default; %>
                                    <span id="resDinamico<%=k%>_<%=n%>_<%=q%>" value="<%=resDinamico%>">
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |

                                    <span id="resRevisionDinamico<%=k%>_<%=n%>_<%=q%>" name="resRevisionDinamico" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionDinamico %>
                                    </span>
                                </td>
                            <% }
                        } %>
                    </tr>
                <% }
            }
        }) %>
    </tbody>
</table>