<!-- tabla Ciclo Corrección Primera -->
<table id="tablaOtCicloCorreccionPrimera<%=k%>" class="table-responsive align-middle col-5 border-end border-dark" style="font-size: 10pt; width: 100%">
    <thead class="align-middle" style="background-color: #d8d8eb">
        <tr>
            <th colspan="3" class="text-center">1° CICLO CORRECCIÓN
                <% if (userInfo.admin || userInfo.area === 'fabricacion') { %>
                    <button id="posBtnAddDataOtCicloCorreccionPrimera<%=k%>" type="button" name="btnOtCicloCorreccionPrimera" class="btn btn-small btn-success shadow m-1 me-5 mb-1 position-relative" style="--bs-btn-font-size: .6rem; color: var(--bs-white);" title="Agregar/Modificar Datos" value="<%=k%>">
                        <i class="fa-solid fa-pencil fa-lg" aria-hidden="true"></i>
                        <span id="spanCheckSelecMasiveCicCorPrima<%=k%>" class="position-absolute top-50 start-100 translate-middle badge rounded-pill bg-danger">
                            0
                            <span class="visually-hidden">Elementos seleccionados</span>
                        </span>
                    </button>
                <% } else { %>
                    <button type="button" class="btn btn-small btn-danger shadow m-1 me-5 mb-1 disabled" style="--bs-btn-font-size: .6rem; color: var(--bs-white);">
                        <i class="fa-solid fa-ban fa-lg" aria-hidden="true"></i>                                                    
                    </button>
                <% } %>
                <i class="fa-solid fa-arrows-spin fa-lg" style="color: #b09b12;"></i> En Proceso -
                <i class="fa-solid fa-circle-check fa-lg" style="color: #008f30;"></i> Terminado -
                <i class="fa-solid fa-circle-xmark fa-lg" style="color: #c40000;"></i> Detenido -
                <i class="fa-solid fa-ban fa-lg"></i> No Aplica -
                <i class="fa-solid fa-triangle-exclamation fa-lg" style="color: #1c21ac;"></i> Sin Datos
            </th>
        </tr>
        <tr>
            <th id="colData0" style="width:33vw" scope="col-1" class="text-center">Pza Medida + Reunión | Rev.</th>
            <th id="colData1" style="width:33vw" scope="col-1" class="text-center">Máquina | Rev.</th>
            <th id="colData2" style="width:33vw" scope="col-1" class="text-center">Ajuste | Rev.</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        
        <% const cicloCorreccionPrimeraConfig = {
            enProceso: { icon: "fa-arrows-spin fa-spin", iconColor: "color:#b09b12" },
            terminado: { icon: "fa-circle-check", iconColor: "color:#008f30" },
            detenido: { icon: "fa-circle-xmark", iconColor: "color:#c40000" },
            noAplica: { icon: "fa-ban", iconColor: "color:#000000" },
            default: { icon: "fa-triangle-exclamation", iconColor: "color:#1c21ac" }
        };

        proyecto[m].project[j].oci[k].otProject.forEach((ot, n) => {
            let pathMongoOtProject = proyecto[m].project[j].oci[k].otProject,
                pathMongoOtAjuste = pathMongoOtProject[n].otAjuste[0];

            let anteriorDisabled = "disabled", siguienteDisabled = "disabled",
                resPiezaMedidaReunionPrimera = "S/D", resRevisionPiezaMedidaReunionPrimera = 0,
                resMaquinaPrimera = "S/D", resRevisionMaquinaPrimera = 0,
                resAjustePrimera = "S/D", resRevisionAjustePrimera = 0;

            if (pathMongoOtProject[n].visible) {
                let pathToMongoOtCicloCorreccionPrimera = pathMongoOtAjuste.otInfoCicloCorreccionPrimera || [],
                    largoArrayCicloCorreccionPrimera = parseInt(pathToMongoOtCicloCorreccionPrimera.length);

                let arrResPiezaMedidaReunionPrimera = [], valueArrayResPiezaMedidaReunionPrimera = 0, arrResRevisionPiezaMedidaReunionPrimera = [],
                    arrResCreadorPiezaMedidaReunionPrimera = [], arrResModificadorPiezaMedidaReunionPrimera = [], arrResFechaPiezaMedidaReunionPrimera = [], arrResFechaModPiezaMedidaReunionPrimera = [];

                let arrResMaquinaPrimera = [], valueArrayResMaquinaPrimera = 0, arrResRevisionMaquinaPrimera = [],
                    arrResCreadorMaquinaPrimera = [], arrResModificadorMaquinaPrimera = [], arrResFechaMaquinaPrimera = [], arrResFechaModMaquinaPrimera = [];

                let arrResAjustePrimera = [], valueArrayResAjustePrimera = 0, arrResRevisionAjustePrimera = [],
                    arrResCreadorAjustePrimera = [], arrResModificadorAjustePrimera = [], arrResFechaAjustePrimera = [], arrResFechaModAjustePrimera = [];

                if (pathMongoOtProject[n].otStatus) { %>
                    <!--Activo-->
                    <tr name="rowSelected<%=k%>_<%=n%>" class="border-bottom" style="height: 7vh;">
                        <% for (let q = 21; totalColDataCicloCorreccionPrimera > q; q++) {
                            if (q==21) { %>
                                <!-- Pieza Medida Reunion Primera data Activo--> 
                                <td class="text-center align-middle">
                                    <% if (largoArrayCicloCorreccionPrimera > 0) {

                                        for (let i = 0; largoArrayCicloCorreccionPrimera > i; i++) {
                                            if (pathToMongoOtCicloCorreccionPrimera[i]) {
                                                let largoArray = parseInt(largoArrayCicloCorreccionPrimera)
                                                resPiezaMedidaReunionPrimera = pathToMongoOtCicloCorreccionPrimera[largoArray-1].piezaMedidaReunionPrimera == 'sinDato' ? "S/D" : pathToMongoOtCicloCorreccionPrimera[largoArray-1].piezaMedidaReunionPrimera
                                                resRevisionPiezaMedidaReunionPrimera = parseInt(pathToMongoOtCicloCorreccionPrimera[largoArray-1].revisionPiezaMedidaReunionPrimera) || 0
                                                
                                                pathToMongoOtCicloCorreccionPrimera[i].piezaMedidaReunionPrimera == 'sinDato' ? arrResPiezaMedidaReunionPrimera.push("S/D") : arrResPiezaMedidaReunionPrimera.push(pathToMongoOtCicloCorreccionPrimera[i].piezaMedidaReunionPrimera)
                                                arrResRevisionPiezaMedidaReunionPrimera.push(pathToMongoOtCicloCorreccionPrimera[i].revisionPiezaMedidaReunionPrimera)

                                                arrResCreadorPiezaMedidaReunionPrimera.push(pathToMongoOtCicloCorreccionPrimera[i].creator[0].username)
                                                arrResModificadorPiezaMedidaReunionPrimera.push(pathToMongoOtCicloCorreccionPrimera[i].modificator[0].username)
                                                arrResFechaPiezaMedidaReunionPrimera.push(pathToMongoOtCicloCorreccionPrimera[i].timestamp)
                                                arrResFechaModPiezaMedidaReunionPrimera.push(pathToMongoOtCicloCorreccionPrimera[i].modifiedOn)
                                            }
                                        }
                                        valueArrayResPiezaMedidaReunionPrimera = parseInt(arrResPiezaMedidaReunionPrimera.length-1)

                                        if (arrResPiezaMedidaReunionPrimera.length == 1 ) {
                                            anteriorDisabled = "disabled"
                                            siguienteDisabled = "disabled"
                                        } else if (arrResPiezaMedidaReunionPrimera.length == arrResRevisionPiezaMedidaReunionPrimera.length) {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        } else {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        }
                                        
                                    } else {
                                        arrResPiezaMedidaReunionPrimera.push(resPiezaMedidaReunionPrimera)
                                        arrResRevisionPiezaMedidaReunionPrimera.push(resRevisionPiezaMedidaReunionPrimera)
                                        
                                        arrResCreadorPiezaMedidaReunionPrimera.push(pathMongoOtProject[n].creator[0].username)
                                        arrResModificadorPiezaMedidaReunionPrimera = ""
                                        arrResFechaPiezaMedidaReunionPrimera.push(pathMongoOtProject[n].timestamp)
                                        arrResFechaModPiezaMedidaReunionPrimera = ""
                                    } %>
                                    
                                    <div id="btnAnteriorSiguientePiezaMedidaReunionPrimera<%=k%>_<%=n%>_<%=q%>">
                                        <button id="btnAnteriorPiezaMedidaReunionPrimera<%=k%>_<%=n%>_<%=q%>" name="btnAnteriorPiezaMedidaReunionPrimera" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= anteriorDisabled %>
                                            ><i class="fa-solid fa-arrow-left"></i>
                                        </button>
                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResPiezaMedidaReunionPrimera %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResPiezaMedidaReunionPrimera %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionPiezaMedidaReunionPrimera %>">
                                        <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorPiezaMedidaReunionPrimera %>">
                                        <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorPiezaMedidaReunionPrimera %>">
                                        <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaPiezaMedidaReunionPrimera %>">
                                        <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModPiezaMedidaReunionPrimera %>">

                                        <% const config = cicloCorreccionPrimeraConfig[resPiezaMedidaReunionPrimera] || cicloCorreccionPrimeraConfig.default; %>
                                        <span id="resPiezaMedidaReunionPrimera<%=k%>_<%=n%>_<%=q%>" value="<%=resPiezaMedidaReunionPrimera%>">
                                            <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                        </span> |
                                        <span id="resRevisionPiezaMedidaReunionPrimera<%=k%>_<%=n%>_<%=q%>" name="resRevisionPiezaMedidaReunionPrimera" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                            <%= resRevisionPiezaMedidaReunionPrimera %>
                                        </span>

                                        <button id="btnSiguientePiezaMedidaReunionPrimera<%=k%>_<%=n%>_<%=q%>" name="btnSiguientePiezaMedidaReunionPrimera" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;" <%= siguienteDisabled %>
                                            ><i class="fa-solid fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </td>

                            <% } else if (q==22) { %>
                                <!-- Maquina Primera data Activo-->
                                <td class="text-center align-middle">
                                    <% if (largoArrayCicloCorreccionPrimera > 0) {

                                        for (let i = 0; largoArrayCicloCorreccionPrimera > i; i++) {
                                            if (pathToMongoOtCicloCorreccionPrimera[i]) {
                                                let largoArray = parseInt(largoArrayCicloCorreccionPrimera)
                                                resMaquinaPrimera = pathToMongoOtCicloCorreccionPrimera[largoArray-1].maquinaPrimera == 'sinDato' ? "S/D" :  pathToMongoOtCicloCorreccionPrimera[largoArray-1].maquinaPrimera
                                                resRevisionMaquinaPrimera = parseInt(pathToMongoOtCicloCorreccionPrimera[largoArray-1].revisionMaquinaPrimera) || 0
                                                
                                                pathToMongoOtCicloCorreccionPrimera[i].maquinaPrimera == 'sinDato' ? arrResMaquinaPrimera.push("S/D") : arrResMaquinaPrimera.push(pathToMongoOtCicloCorreccionPrimera[i].maquinaPrimera)
                                                arrResRevisionMaquinaPrimera.push(pathToMongoOtCicloCorreccionPrimera[i].revisionMaquinaPrimera)
                                                
                                                arrResCreadorMaquinaPrimera.push(pathToMongoOtCicloCorreccionPrimera[i].creator[0].username)
                                                arrResModificadorMaquinaPrimera.push(pathToMongoOtCicloCorreccionPrimera[i].modificator[0].username)
                                                arrResFechaMaquinaPrimera.push(pathToMongoOtCicloCorreccionPrimera[i].timestamp)
                                                arrResFechaModMaquinaPrimera.push(pathToMongoOtCicloCorreccionPrimera[i].modifiedOn)
                                            }
                                        }
                                        valueArrayResMaquinaPrimera = parseInt(arrResMaquinaPrimera.length-1)
                                                
                                        if (arrResMaquinaPrimera.length == 1 ) {
                                            anteriorDisabled = "disabled"
                                            siguienteDisabled = "disabled"
                                        } else if (arrResMaquinaPrimera.length == arrResRevisionMaquinaPrimera.length) {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        } else {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        }
                                        
                                    } else {
                                        arrResMaquinaPrimera.push(resMaquinaPrimera)
                                        arrResRevisionMaquinaPrimera.push(resRevisionMaquinaPrimera)
                                        
                                        arrResCreadorMaquinaPrimera.push(pathMongoOtProject[n].creator[0].username)
                                        arrResModificadorMaquinaPrimera = ""
                                        arrResFechaMaquinaPrimera.push(pathMongoOtProject[n].timestamp)
                                        arrResFechaModMaquinaPrimera = ""
                                    } %>
                                    
                                    <div id="btnAnteriorSiguienteMaquinaPrimera<%=k%>_<%=n%>_<%=q%>">
                                        <button id="btnAnteriorMaquinaPrimera<%=k%>_<%=n%>_<%=q%>" name="btnAnteriorMaquinaPrimera" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= anteriorDisabled %>
                                            ><i class="fa-solid fa-arrow-left"></i>
                                        </button>
                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResMaquinaPrimera %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResMaquinaPrimera %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionMaquinaPrimera %>">
                                        <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorMaquinaPrimera %>">
                                        <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorMaquinaPrimera %>">
                                        <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaMaquinaPrimera %>">
                                        <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModMaquinaPrimera %>">

                                        <% const config = cicloCorreccionPrimeraConfig[resMaquinaPrimera] || cicloCorreccionPrimeraConfig.default; %>
                                        <span id="resMaquinaPrimera<%=k%>_<%=n%>_<%=q%>" value="<%=resMaquinaPrimera%>">
                                            <i   class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                        </span> |
                                        <span id="resRevisionMaquinaPrimera<%=k%>_<%=n%>_<%=q%>" name="resRevisionMaquinaPrimera" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                            <%= resRevisionMaquinaPrimera %>
                                        </span>

                                        <button id="btnSiguienteMaquinaPrimera<%=k%>_<%=n%>_<%=q%>" name="btnSiguienteMaquinaPrimera" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= siguienteDisabled %>
                                            ><i class="fa-solid fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </td>

                            <% } else { %>
                                <!-- Ajuste Primera data Activo-->
                                <td class="text-center align-middle">
                                    <% if (largoArrayCicloCorreccionPrimera > 0) {

                                        for (let i = 0; largoArrayCicloCorreccionPrimera > i; i++) {
                                            if (pathToMongoOtCicloCorreccionPrimera[i]) {
                                                let largoArray = parseInt(largoArrayCicloCorreccionPrimera)
                                                resAjustePrimera = pathToMongoOtCicloCorreccionPrimera[largoArray-1].ajustePrimera == 'sinDato' ? "S/D" : pathToMongoOtCicloCorreccionPrimera[largoArray-1].ajustePrimera
                                                resRevisionAjustePrimera = parseInt(pathToMongoOtCicloCorreccionPrimera[largoArray-1].revisionAjustePrimera) || 0
                                                
                                                pathToMongoOtCicloCorreccionPrimera[i].ajustePrimera == 'sinDato' ? arrResAjustePrimera.push('S/D') : arrResAjustePrimera.push(pathToMongoOtCicloCorreccionPrimera[i].ajustePrimera)
                                                arrResRevisionAjustePrimera.push(pathToMongoOtCicloCorreccionPrimera[i].revisionAjustePrimera)
                                            
                                                arrResCreadorAjustePrimera.push(pathToMongoOtCicloCorreccionPrimera[i].creator[0].username)
                                                arrResModificadorAjustePrimera.push(pathToMongoOtCicloCorreccionPrimera[i].modificator[0].username)
                                                arrResFechaAjustePrimera.push(pathToMongoOtCicloCorreccionPrimera[i].timestamp)
                                                arrResFechaModAjustePrimera.push(pathToMongoOtCicloCorreccionPrimera[i].modifiedOn)
                                            }
                                        }
                                        valueArrayResAjustePrimera = parseInt(arrResAjustePrimera.length-1)
                                                
                                        if (arrResAjustePrimera.length == 1 ) {
                                            siguienteDisabled = "disabled"
                                            anteriorDisabled = "disabled"
                                        } else if (arrResAjustePrimera.length == arrResRevisionAjustePrimera.length) {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        } else {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        }
                                                
                                    } else {
                                        arrResAjustePrimera.push(resAjustePrimera)
                                        arrResRevisionAjustePrimera.push(resRevisionAjustePrimera)
                                        
                                        arrResCreadorAjustePrimera.push(pathMongoOtProject[n].creator[0].username)
                                        arrResModificadorAjustePrimera = ""
                                        arrResFechaAjustePrimera.push(pathMongoOtProject[n].timestamp)
                                        arrResFechaModAjustePrimera = ""
                                    } %>

                                <div id="btnAnteriorSiguienteAjustePrimera<%=k%>_<%=n%>_<%=q%>">
                                    <button id="btnAnteriorAjustePrimera<%=k%>_<%=n%>_<%=q%>" name="btnAnteriorAjustePrimera" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                        <%= anteriorDisabled %>
                                        ><i class="fa-solid fa-arrow-left"></i>
                                    </button>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResAjustePrimera %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResAjustePrimera %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionAjustePrimera %>">
                                    <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorAjustePrimera %>">
                                    <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorAjustePrimera %>">
                                    <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaAjustePrimera %>">
                                    <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModAjustePrimera %>">

                                    <% const config = cicloCorreccionPrimeraConfig[resAjustePrimera] || cicloCorreccionPrimeraConfig.default; %>
                                    <span id="resAjustePrimera<%=k%>_<%=n%>_<%=q%>" value="<%=resAjustePrimera%>">
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |
                                    <span id="resRevisionAjustePrimera<%=k%>_<%=n%>_<%=q%>" name="resRevisionAjustePrimera" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionAjustePrimera %>
                                    </span>

                                    <button id="btnSiguienteAjustePrimera<%=k%>_<%=n%>_<%=q%>" name="btnSiguienteAjustePrimera" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                        <%= siguienteDisabled %>
                                        ><i class="fa-solid fa-arrow-right"></i>
                                    </button>
                                </div>
                            </td>
                            <% }
                        } %>
                    </tr>

                <% } else { %>
                    <!--Inactivo-->
                    <tr name="rowSelected<%=k%>_<%=n%>" class="pe-none border-bottom" style="height: 7vh; background-color: #dedede;">
                        <% for (let q = 21; totalColDataCicloCorreccionPrimera > q; q++) {
                            if (q==21) { %>
                                <!-- Pieza Medida Reunion Primera data Inactivo -->
                                <td class="text-center align-middle">
                                    <% if (largoArrayCicloCorreccionPrimera > 0) {
                                        for (let i = 0; largoArrayCicloCorreccionPrimera > i; i++) {

                                            if (pathToMongoOtCicloCorreccionPrimera[i]) {
                                                let largoArray = parseInt(largoArrayCicloCorreccionPrimera)
                                                resPiezaMedidaReunionPrimera = pathToMongoOtCicloCorreccionPrimera[largoArray-1].piezaMedidaReunionPrimera || 'S/D'
                                                resRevisionPiezaMedidaReunionPrimera = parseInt(pathToMongoOtCicloCorreccionPrimera[largoArray-1].revisionPiezaMedidaReunionPrimera) || 0
                                                
                                                arrResPiezaMedidaReunionPrimera.push(pathToMongoOtCicloCorreccionPrimera[i].piezaMedidaReunionPrimera)
                                                arrResRevisionPiezaMedidaReunionPrimera.push(pathToMongoOtCicloCorreccionPrimera[i].revisionPiezaMedidaReunionPrimera)
                                            }
                                        }
                                        valueArrayResPiezaMedidaReunionPrimera = parseInt(arrResPiezaMedidaReunionPrimera.length-1)
                                        resPiezaMedidaReunionPrimera = pathToMongoOtCicloCorreccionPrimera[0].PiezaMedidaReunionPrimera
                                        
                                    } else {
                                        arrResPiezaMedidaReunionPrimera.push(resPiezaMedidaReunionPrimera)
                                        arrResRevisionPiezaMedidaReunionPrimera.push(resRevisionPiezaMedidaReunionPrimera)
                                    } %>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResPiezaMedidaReunionPrimera %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResPiezaMedidaReunionPrimera %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionPiezaMedidaReunionPrimera %>">
                                
                                    <% const config = cicloCorreccionPrimeraConfig[resPiezaMedidaReunionPrimera] || cicloCorreccionPrimeraConfig.default; %>
                                    <span id="resPiezaMedidaReunionPrimera<%=k%>_<%=n%>_<%=q%>" value="<%=resPiezaMedidaReunionPrimera%>">
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |
                                    <span id="resRevisionPiezaMedidaReunionPrimera<%=k%>_<%=n%>_<%=q%>" name="resRevisionPiezaMedidaReunionPrimera" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionPiezaMedidaReunionPrimera %>
                                    </span>
                                </td>

                            <% } else if (q==22) { %>
                                <!-- Maquina Primera data Inactivo -->
                                <td class="text-center align-middle">
                                    <% if (largoArrayCicloCorreccionPrimera > 0) {
                                        for (let i = 0; largoArrayCicloCorreccionPrimera > i; i++) {
                                            
                                            if (pathToMongoOtCicloCorreccionPrimera[i]) {
                                                let largoArray = parseInt(largoArrayCicloCorreccionPrimera)
                                                resMaquinaPrimera = pathToMongoOtCicloCorreccionPrimera[largoArray-1].maquinaPrimera || 'S/D'
                                                resRevisionMaquinaPrimera = parseInt(pathToMongoOtCicloCorreccionPrimera[largoArray-1].revisionMaquinaPrimera) || 0
                                                
                                                arrResMaquinaPrimera.push(pathToMongoOtCicloCorreccionPrimera[i].maquinaPrimera)
                                                arrResRevisionMaquinaPrimera.push(pathToMongoOtCicloCorreccionPrimera[i].revisionMaquinaPrimera)
                                            }
                                        }
                                        valueArrayResMaquinaPrimera = parseInt(arrResMaquinaPrimera.length-1)
                                        resMaquinaPrimera = pathToMongoOtCicloCorreccionPrimera[0].maquinaPrimera
                                        
                                    } else {
                                        arrResMaquinaPrimera.push(resMaquinaPrimera)
                                        arrResRevisionMaquinaPrimera.push(resRevisionMaquinaPrimera)
                                    } %>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResMaquinaPrimera %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResMaquinaPrimera %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionMaquinaPrimera %>">

                                    <% const config = cicloCorreccionPrimeraConfig[resMaquinaPrimera] || cicloCorreccionPrimeraConfig.default; %>
                                    <span id="resMaquinaPrimera<%=k%>_<%=n%>_<%=q%>" value="<%=resMaquinaPrimera%>">
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |
                                    <span id="resRevisionMaquinaPrimera<%=k%>_<%=n%>_<%=q%>" name="resRevisionMaquinaPrimera" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionMaquinaPrimera %>
                                    </span>
                                </td>

                            <% } else { %>
                                <!-- Ajuste Primera data Inactivo -->
                                <td class="text-center align-middle">
                                    <% if (largoArrayCicloCorreccionPrimera > 0) {
                                        for (let i = 0; largoArrayCicloCorreccionPrimera > i; i++) {
                                            
                                            if (pathToMongoOtCicloCorreccionPrimera[i]) {
                                                let largoArray = parseInt(largoArrayCicloCorreccionPrimera)
                                                resAjustePrimera = pathToMongoOtCicloCorreccionPrimera[largoArray-1].ajustePrimera || "S/D"
                                                resRevisionAjustePrimera = parseInt(pathToMongoOtCicloCorreccionPrimera[largoArray-1].revisionAjustePrimera) || 0
                                                
                                                arrResAjustePrimera.push(pathToMongoOtCicloCorreccionPrimera[i].ajustePrimera)
                                                arrResRevisionAjustePrimera.push(pathToMongoOtCicloCorreccionPrimera[i].revisionAjustePrimera)
                                            }
                                        }
                                        valueArrayResAjustePrimera = parseInt(arrResAjustePrimera.length-1)
                                        resAjustePrimera = pathToMongoOtCicloCorreccionPrimera[0].ajustePrimera
                                        
                                    } else {
                                        arrResAjustePrimera.push(resAjustePrimera)
                                        arrResRevisionAjustePrimera.push(resRevisionAjustePrimera)
                                    } %>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResAjustePrimera %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResAjustePrimera %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionAjustePrimera %>">

                                    <% const config = cicloCorreccionPrimeraConfig[resAjustePrimera] || cicloCorreccionPrimeraConfig.default; %>
                                    <span id="resAjustePrimera<%=k%>_<%=n%>_<%=q%>" value="<%=resAjustePrimera%>">
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |
                                    <span id="resRevisionAjustePrimera<%=k%>_<%=n%>_<%=q%>" name="resRevisionAjustePrimera" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionAjustePrimera %>
                                    </span>
                                </td>
                            <% }
                        } %>
                    </tr>
                <% }
            }
        }) %>
    </tbody>
</table>