<!-- tabla Etapa Tercera Primera -->
<table id="tablaOtEtapaTerceraPrimera<%=k%>" class="table-responsive align-middle col-5 border-end border-dark" style="font-size: 10pt; width: 100%">
    <thead class="align-middle" style="background-color: #d8d8eb">
        <tr>
            <th colspan="3" class="text-center">ETAPA 3 (1° Parte)
                <% if (userInfo.admin || userInfo.area === 'fabricacion') { %>
                    <button id="posBtnAddDataOtEtapaTerceraPrimera<%=k%>" type="button" name="btnOtEtapaTerceraPrimera" class="btn btn-small btn-success shadow m-1 me-5 mb-2 position-relative" style="--bs-btn-font-size: .6rem; color: var(--bs-white);" title="Agregar/Modificar Datos" value="<%=k%>">
                        <i class="fa-solid fa-pencil fa-lg" aria-hidden="true"></i>
                        <span id="spanCheckSelecMasiveEtapaTerPrima<%=k%>" class="position-absolute top-100 start-100 translate-middle badge rounded-pill bg-danger">
                            0
                            <span class="visually-hidden">Elementos seleccionados</span>
                        </span>
                    </button>
                <% } else { %>
                    <button type="button" class="btn btn-small btn-danger shadow m-1 me-5 mb-2 disabled" style="--bs-btn-font-size: .6rem; color: var(--bs-white);">
                        <i class="fa-solid fa-ban fa-lg" aria-hidden="true"></i>                                                    
                    </button>
                <% } %>
                <i class="fa-solid fa-arrows-spin fa-lg" style="color: #b09b12;"></i> En Proceso -
                <i class="fa-solid fa-circle-check fa-lg" style="color: #008f30;"></i> Terminado -
                <i class="fa-solid fa-circle-xmark fa-lg" style="color: #c40000;"></i> Detenido -
                <i class="fa-solid fa-ban fa-lg"></i> No Aplica -
                <i class="fa-solid fa-triangle-exclamation fa-lg" style="color: #1c21ac;"></i> Sin Datos
            </th>
        </tr>
        <tr>
            <th id="colData0" style="width:33vw" scope="col-1" class="text-center pb-1">Localizacion Funcional | Rev.</th>
            <th id="colData1" style="width:33vw" scope="col-1" class="text-center pb-1">Obtención Pieza | Rev.</th>
            <th id="colData2" style="width:33vw" scope="col-1" class="text-center pb-1">Azulado Funcional | Rev.</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        
        <% const etapaTerceraPrimeraConfig = {
            enProceso: { icon: "fa-arrows-spin fa-spin", iconColor: "color:#b09b12" },
            terminado: { icon: "fa-circle-check", iconColor: "color:#008f30" },
            detenido: { icon: "fa-circle-xmark", iconColor: "color:#c40000" },
            noAplica: { icon: "fa-ban", iconColor: "color:#000000" },
            default: { icon: "fa-triangle-exclamation", iconColor: "color:#1c21ac" }
        };

        proyecto[m].project[j].oci[k].otProject.forEach((ot, n) => {
            let pathMongoOtProject = proyecto[m].project[j].oci[k].otProject,
                pathMongoOtAjuste = pathMongoOtProject[n].otAjuste[0];

            let anteriorDisabled = "disabled", siguienteDisabled = "disabled",
                resLocalizacionFuncional = "S/D", resRevisionLocalizacionFuncional = 0,
                resObtencionPieza = "S/D", resRevisionObtencionPieza = 0,
                resAzuladoFuncional = "S/D", resRevisionAzuladoFuncional = 0;

            if (pathMongoOtProject[n].visible) {
                let pathToMongoOtEtapaTerceraPrimera = pathMongoOtAjuste.otInfoEtapaTerceraPrimera || [],
                    largoArrayEtapaTerceraPrimera = parseInt(pathToMongoOtEtapaTerceraPrimera.length);

                let arrResLocalizacionFuncional = [], valueArrayResLocalizacionFuncional = 0, arrResRevisionLocalizacionFuncional = [],
                    arrResCreadorLocalizacionFuncional = [], arrResModificadorLocalizacionFuncional = [], arrResFechaLocalizacionFuncional = [], arrResFechaModLocalizacionFuncional = [];

                let arrResObtencionPieza = [], valueArrayResObtencionPieza = 0, arrResRevisionObtencionPieza = [],
                    arrResCreadorObtencionPieza = [], arrResModificadorObtencionPieza = [], arrResFechaObtencionPieza = [], arrResFechaModObtencionPieza = [];

                let arrResAzuladoFuncional = [], valueArrayResAzuladoFuncional = 0, arrResRevisionAzuladoFuncional = [],
                    arrResCreadorAzuladoFuncional = [], arrResModificadorAzuladoFuncional = [], arrResFechaAzuladoFuncional = [], arrResFechaModAzuladoFuncional = [];

                if (pathMongoOtProject[n].otStatus) { %>
                    <!--Activo-->
                    <tr name="rowSelected<%=k%>_<%=n%>" class="border-bottom" style="height: 7vh;">
                        <% for (let q = 15; totalColDataEtapaTerceraPrimera > q; q++) {
                            if (q==15) { %>
                                <!-- Localizacion Funcional data Activo--> 
                                <td class="text-center align-middle">
                                    <% if (largoArrayEtapaTerceraPrimera > 0) {

                                        for (let i = 0; largoArrayEtapaTerceraPrimera > i; i++) {
                                            if (pathToMongoOtEtapaTerceraPrimera[i]) {
                                                let largoArray = parseInt(largoArrayEtapaTerceraPrimera)
                                                resLocalizacionFuncional = pathToMongoOtEtapaTerceraPrimera[largoArray-1].localizacionFuncional == 'sinDato' ? "S/D" : pathToMongoOtEtapaTerceraPrimera[largoArray-1].localizacionFuncional
                                                resRevisionLocalizacionFuncional = parseInt(pathToMongoOtEtapaTerceraPrimera[largoArray-1].revisionLocalizacionFuncional) || 0
                                                
                                                pathToMongoOtEtapaTerceraPrimera[i].localizacionFuncional == 'sinDato' ? arrResLocalizacionFuncional.push("S/D") : arrResLocalizacionFuncional.push(pathToMongoOtEtapaTerceraPrimera[i].localizacionFuncional)
                                                arrResRevisionLocalizacionFuncional.push(pathToMongoOtEtapaTerceraPrimera[i].revisionLocalizacionFuncional)

                                                arrResCreadorLocalizacionFuncional.push(pathToMongoOtEtapaTerceraPrimera[i].creator[0].username)
                                                arrResModificadorLocalizacionFuncional.push(pathToMongoOtEtapaTerceraPrimera[i].modificator[0].username)
                                                arrResFechaLocalizacionFuncional.push(pathToMongoOtEtapaTerceraPrimera[i].timestamp)
                                                arrResFechaModLocalizacionFuncional.push(pathToMongoOtEtapaTerceraPrimera[i].modifiedOn)
                                            }
                                        }
                                        valueArrayResLocalizacionFuncional = parseInt(arrResLocalizacionFuncional.length-1)

                                        if (arrResLocalizacionFuncional.length == 1 ) {
                                            anteriorDisabled = "disabled"
                                            siguienteDisabled = "disabled"
                                        } else if (arrResLocalizacionFuncional.length == arrResRevisionLocalizacionFuncional.length) {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        } else {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        }
                                        
                                    } else {
                                        arrResLocalizacionFuncional.push(resLocalizacionFuncional)
                                        arrResRevisionLocalizacionFuncional.push(resRevisionLocalizacionFuncional)
                                        
                                        arrResCreadorLocalizacionFuncional.push(pathMongoOtProject[n].creator[0].username)
                                        arrResModificadorLocalizacionFuncional = ""
                                        arrResFechaLocalizacionFuncional.push(pathMongoOtProject[n].timestamp)
                                        arrResFechaModLocalizacionFuncional = ""
                                    } %>
                                    
                                    <div id="btnAnteriorSiguienteLocalizacionFuncional<%=k%>_<%=n%>_<%=q%>">
                                        <button id="btnAnteriorLocalizacionFuncional<%=k%>_<%=n%>_<%=q%>" name="btnAnteriorLocalizacionFuncional" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= anteriorDisabled %>
                                            ><i class="fa-solid fa-arrow-left"></i>
                                        </button>
                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResLocalizacionFuncional %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResLocalizacionFuncional %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionLocalizacionFuncional %>">
                                        <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorLocalizacionFuncional %>">
                                        <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorLocalizacionFuncional %>">
                                        <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaLocalizacionFuncional %>">
                                        <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModLocalizacionFuncional %>">

                                        <% const config = etapaTerceraPrimeraConfig[resLocalizacionFuncional] || etapaTerceraPrimeraConfig.default; %>
                                        <span id="resLocalizacionFuncional<%=k%>_<%=n%>_<%=q%>" value="<%=resLocalizacionFuncional%>">
                                            <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                        </span> |
                                        <span id="resRevisionLocalizacionFuncional<%=k%>_<%=n%>_<%=q%>" name="resRevisionLocalizacionFuncional" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                            <%= resRevisionLocalizacionFuncional %>
                                        </span>

                                        <button id="btnSiguienteLocalizacionFuncional<%=k%>_<%=n%>_<%=q%>" name="btnSiguienteLocalizacionFuncional" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;" <%= siguienteDisabled %>
                                            ><i class="fa-solid fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </td>

                            <% } else if (q==16) { %>
                                <!-- Obtencion Pieza data Activo-->
                                <td class="text-center align-middle">
                                    <% if (largoArrayEtapaTerceraPrimera > 0) {

                                        for (let i = 0; largoArrayEtapaTerceraPrimera > i; i++) {
                                            if (pathToMongoOtEtapaTerceraPrimera[i]) {
                                                let largoArray = parseInt(largoArrayEtapaTerceraPrimera)
                                                resObtencionPieza = pathToMongoOtEtapaTerceraPrimera[largoArray-1].obtencionPieza == 'sinDato' ? "S/D" :  pathToMongoOtEtapaTerceraPrimera[largoArray-1].obtencionPieza
                                                resRevisionObtencionPieza = parseInt(pathToMongoOtEtapaTerceraPrimera[largoArray-1].revisionObtencionPieza) || 0
                                                
                                                pathToMongoOtEtapaTerceraPrimera[i].obtencionPieza == 'sinDato' ? arrResObtencionPieza.push("S/D") : arrResObtencionPieza.push(pathToMongoOtEtapaTerceraPrimera[i].obtencionPieza)
                                                arrResRevisionObtencionPieza.push(pathToMongoOtEtapaTerceraPrimera[i].revisionObtencionPieza)
                                                
                                                arrResCreadorObtencionPieza.push(pathToMongoOtEtapaTerceraPrimera[i].creator[0].username)
                                                arrResModificadorObtencionPieza.push(pathToMongoOtEtapaTerceraPrimera[i].modificator[0].username)
                                                arrResFechaObtencionPieza.push(pathToMongoOtEtapaTerceraPrimera[i].timestamp)
                                                arrResFechaModObtencionPieza.push(pathToMongoOtEtapaTerceraPrimera[i].modifiedOn)
                                            }
                                        }
                                        valueArrayResObtencionPieza = parseInt(arrResObtencionPieza.length-1)
                                                
                                        if (arrResObtencionPieza.length == 1 ) {
                                            anteriorDisabled = "disabled"
                                            siguienteDisabled = "disabled"
                                        } else if (arrResObtencionPieza.length == arrResRevisionObtencionPieza.length) {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        } else {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        }
                                        
                                    } else {
                                        arrResObtencionPieza.push(resObtencionPieza)
                                        arrResRevisionObtencionPieza.push(resRevisionObtencionPieza)
                                        
                                        arrResCreadorObtencionPieza.push(pathMongoOtProject[n].creator[0].username)
                                        arrResModificadorObtencionPieza = ""
                                        arrResFechaObtencionPieza.push(pathMongoOtProject[n].timestamp)
                                        arrResFechaModObtencionPieza = ""
                                    } %>
                                    
                                    <div id="btnAnteriorSiguienteObtencionPieza<%=k%>_<%=n%>_<%=q%>">
                                        <button id="btnAnteriorObtencionPieza<%=k%>_<%=n%>_<%=q%>" name="btnAnteriorObtencionPieza" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= anteriorDisabled %>
                                            ><i class="fa-solid fa-arrow-left"></i>
                                        </button>
                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResObtencionPieza %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResObtencionPieza %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionObtencionPieza %>">
                                        <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorObtencionPieza %>">
                                        <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorObtencionPieza %>">
                                        <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaObtencionPieza %>">
                                        <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModObtencionPieza %>">

                                        <% const config = etapaTerceraPrimeraConfig[resObtencionPieza] || etapaTerceraPrimeraConfig.default; %>
                                        <span id="resObtencionPieza<%=k%>_<%=n%>_<%=q%>" value="<%=resObtencionPieza%>">
                                            <i   class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                        </span> |
                                        <span id="resRevisionObtencionPieza<%=k%>_<%=n%>_<%=q%>" name="resRevisionObtencionPieza" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                            <%= resRevisionObtencionPieza %>
                                        </span>

                                        <button id="btnSiguienteObtencionPieza<%=k%>_<%=n%>_<%=q%>" name="btnSiguienteObtencionPieza" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= siguienteDisabled %>
                                            ><i class="fa-solid fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </td>

                            <% } else { %>
                                <!-- Azulado Funcional data Activo-->
                                <td class="text-center align-middle">
                                    <% if (largoArrayEtapaTerceraPrimera > 0) {

                                        for (let i = 0; largoArrayEtapaTerceraPrimera > i; i++) {
                                            if (pathToMongoOtEtapaTerceraPrimera[i]) {
                                                let largoArray = parseInt(largoArrayEtapaTerceraPrimera)
                                                resAzuladoFuncional = pathToMongoOtEtapaTerceraPrimera[largoArray-1].azuladoFuncional == 'sinDato' ? "S/D" : pathToMongoOtEtapaTerceraPrimera[largoArray-1].azuladoFuncional
                                                resRevisionAzuladoFuncional = parseInt(pathToMongoOtEtapaTerceraPrimera[largoArray-1].revisionAzuladoFuncional) || 0
                                                
                                                pathToMongoOtEtapaTerceraPrimera[i].azuladoFuncional == 'sinDato' ? arrResAzuladoFuncional.push('S/D') : arrResAzuladoFuncional.push(pathToMongoOtEtapaTerceraPrimera[i].azuladoFuncional)
                                                arrResRevisionAzuladoFuncional.push(pathToMongoOtEtapaTerceraPrimera[i].revisionAzuladoFuncional)
                                            
                                                arrResCreadorAzuladoFuncional.push(pathToMongoOtEtapaTerceraPrimera[i].creator[0].username)
                                                arrResModificadorAzuladoFuncional.push(pathToMongoOtEtapaTerceraPrimera[i].modificator[0].username)
                                                arrResFechaAzuladoFuncional.push(pathToMongoOtEtapaTerceraPrimera[i].timestamp)
                                                arrResFechaModAzuladoFuncional.push(pathToMongoOtEtapaTerceraPrimera[i].modifiedOn)
                                            }
                                        }
                                        valueArrayResAzuladoFuncional = parseInt(arrResAzuladoFuncional.length-1)
                                                
                                        if (arrResAzuladoFuncional.length == 1 ) {
                                            siguienteDisabled = "disabled"
                                            anteriorDisabled = "disabled"
                                        } else if (arrResAzuladoFuncional.length == arrResRevisionAzuladoFuncional.length) {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        } else {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        }
                                                
                                    } else {
                                        arrResAzuladoFuncional.push(resAzuladoFuncional)
                                        arrResRevisionAzuladoFuncional.push(resRevisionAzuladoFuncional)
                                        
                                        arrResCreadorAzuladoFuncional.push(pathMongoOtProject[n].creator[0].username)
                                        arrResModificadorAzuladoFuncional = ""
                                        arrResFechaAzuladoFuncional.push(pathMongoOtProject[n].timestamp)
                                        arrResFechaModAzuladoFuncional = ""
                                    } %>

                                <div id="btnAnteriorSiguienteAzuladoFuncional<%=k%>_<%=n%>_<%=q%>">
                                    <button id="btnAnteriorAzuladoFuncional<%=k%>_<%=n%>_<%=q%>" name="btnAnteriorAzuladoFuncional" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                        <%= anteriorDisabled %>
                                        ><i class="fa-solid fa-arrow-left"></i>
                                    </button>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResAzuladoFuncional %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResAzuladoFuncional %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionAzuladoFuncional %>">
                                    <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorAzuladoFuncional %>">
                                    <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorAzuladoFuncional %>">
                                    <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaAzuladoFuncional %>">
                                    <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModAzuladoFuncional %>">

                                    <% const config = etapaTerceraPrimeraConfig[resAzuladoFuncional] || etapaTerceraPrimeraConfig.default; %>
                                    <span id="resAzuladoFuncional<%=k%>_<%=n%>_<%=q%>" value="<%=resAzuladoFuncional%>">
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |
                                    <span id="resRevisionAzuladoFuncional<%=k%>_<%=n%>_<%=q%>" name="resRevisionAzuladoFuncional" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionAzuladoFuncional %>
                                    </span>

                                    <button id="btnSiguienteAzuladoFuncional<%=k%>_<%=n%>_<%=q%>" name="btnSiguienteAzuladoFuncional" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                        <%= siguienteDisabled %>
                                        ><i class="fa-solid fa-arrow-right"></i>
                                    </button>
                                </div>
                            </td>
                            <% }
                        } %>
                    </tr>

                <% } else { %>
                    <!--Inactivo-->
                    <tr name="rowSelected<%=k%>_<%=n%>" class="pe-none border-bottom" style="height: 5vh; background-color: #dedede;">
                        <% for (let q = 15; totalColDataEtapaTerceraPrimera > q; q++) {
                            if (q==15) { %>
                                <!-- Localizacion Funcional data Inactivo -->
                                <td class="text-center align-middle">
                                    <% if (largoArrayEtapaTerceraPrimera > 0) {
                                        for (let i = 0; largoArrayEtapaTerceraPrimera > i; i++) {

                                            if (pathToMongoOtEtapaTerceraPrimera[i]) {
                                                let largoArray = parseInt(largoArrayEtapaTerceraPrimera)
                                                resLocalizacionFuncional = pathToMongoOtEtapaTerceraPrimera[largoArray-1].localizacionFuncional || 'S/D'
                                                resRevisionLocalizacionFuncional = parseInt(pathToMongoOtEtapaTerceraPrimera[largoArray-1].revisionLocalizacionFuncional) || 0
                                                
                                                arrResLocalizacionFuncional.push(pathToMongoOtEtapaTerceraPrimera[i].localizacionFuncional)
                                                arrResRevisionLocalizacionFuncional.push(pathToMongoOtEtapaTerceraPrimera[i].revisionLocalizacionFuncional)
                                            }
                                        }
                                        valueArrayResLocalizacionFuncional = parseInt(arrResLocalizacionFuncional.length-1)
                                        resLocalizacionFuncional = pathToMongoOtEtapaTerceraPrimera[0].LocalizacionFuncional
                                        
                                    } else {
                                        arrResLocalizacionFuncional.push(resLocalizacionFuncional)
                                        arrResRevisionLocalizacionFuncional.push(resRevisionLocalizacionFuncional)
                                    } %>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResLocalizacionFuncional %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResLocalizacionFuncional %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionLocalizacionFuncional %>">
                                
                                    <% const config = etapaTerceraPrimeraConfig[resLocalizacionFuncional] || etapaTerceraPrimeraConfig.default; %>
                                    <span id="resLocalizacionFuncional<%=k%>_<%=n%>_<%=q%>" value="<%=resLocalizacionFuncional%>">
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |
                                    <span id="resRevisionLocalizacionFuncional<%=k%>_<%=n%>_<%=q%>" name="resRevisionLocalizacionFuncional" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionLocalizacionFuncional %>
                                    </span>
                                </td>

                            <% } else if (q==16) { %>
                                <!-- Obtencion Pieza data Inactivo -->
                                <td class="text-center align-middle">
                                    <% if (largoArrayEtapaTerceraPrimera > 0) {
                                        for (let i = 0; largoArrayEtapaTerceraPrimera > i; i++) {
                                            
                                            if (pathToMongoOtEtapaTerceraPrimera[i]) {
                                                let largoArray = parseInt(largoArrayEtapaTerceraPrimera)
                                                resObtencionPieza = pathToMongoOtEtapaTerceraPrimera[largoArray-1].obtencionPieza || 'S/D'
                                                resRevisionObtencionPieza = parseInt(pathToMongoOtEtapaTerceraPrimera[largoArray-1].revisionObtencionPieza) || 0
                                                
                                                arrResObtencionPieza.push(pathToMongoOtEtapaTerceraPrimera[i].obtencionPieza)
                                                arrResRevisionObtencionPieza.push(pathToMongoOtEtapaTerceraPrimera[i].revisionObtencionPieza)
                                            }
                                        }
                                        valueArrayResObtencionPieza = parseInt(arrResObtencionPieza.length-1)
                                        resObtencionPieza = pathToMongoOtEtapaTerceraPrimera[0].obtencionPieza
                                        
                                    } else {
                                        arrResObtencionPieza.push(resObtencionPieza)
                                        arrResRevisionObtencionPieza.push(resRevisionObtencionPieza)
                                    } %>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResObtencionPieza %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResObtencionPieza %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionObtencionPieza %>">

                                    <% const config = etapaTerceraPrimeraConfig[resObtencionPieza] || etapaTerceraPrimeraConfig.default; %>
                                    <span id="resObtencionPieza<%=k%>_<%=n%>_<%=q%>" value="<%=resObtencionPieza%>">
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |
                                    <span id="resRevisionObtencionPieza<%=k%>_<%=n%>_<%=q%>" name="resRevisionObtencionPieza" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionObtencionPieza %>
                                    </span>
                                </td>

                            <% } else { %>
                                <!-- Azulado Funcional data Inactivo -->
                                <td class="text-center align-middle">
                                    <% if (largoArrayEtapaTerceraPrimera > 0) {
                                        for (let i = 0; largoArrayEtapaTerceraPrimera > i; i++) {
                                            
                                            if (pathToMongoOtEtapaTerceraPrimera[i]) {
                                                let largoArray = parseInt(largoArrayEtapaTerceraPrimera)
                                                resAzuladoFuncional = pathToMongoOtEtapaTerceraPrimera[largoArray-1].azuladoFuncional || "S/D"
                                                resRevisionAzuladoFuncional = parseInt(pathToMongoOtEtapaTerceraPrimera[largoArray-1].revisionAzuladoFuncional) || 0
                                                
                                                arrResAzuladoFuncional.push(pathToMongoOtEtapaTerceraPrimera[i].azuladoFuncional)
                                                arrResRevisionAzuladoFuncional.push(pathToMongoOtEtapaTerceraPrimera[i].revisionAzuladoFuncional)
                                            }
                                        }
                                        valueArrayResAzuladoFuncional = parseInt(arrResAzuladoFuncional.length-1)
                                        resAzuladoFuncional = pathToMongoOtEtapaTerceraPrimera[0].azuladoFuncional
                                        
                                    } else {
                                        arrResAzuladoFuncional.push(resAzuladoFuncional)
                                        arrResRevisionAzuladoFuncional.push(resRevisionAzuladoFuncional)
                                    } %>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResAzuladoFuncional %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResAzuladoFuncional %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionAzuladoFuncional %>">

                                    <% const config = etapaTerceraPrimeraConfig[resAzuladoFuncional] || etapaTerceraPrimeraConfig.default; %>
                                    <span id="resAzuladoFuncional<%=k%>_<%=n%>_<%=q%>" value="<%=resAzuladoFuncional%>">
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |
                                    <span id="resRevisionAzuladoFuncional<%=k%>_<%=n%>_<%=q%>" name="resRevisionAzuladoFuncional" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionAzuladoFuncional %>
                                    </span>
                                </td>
                            <% }
                        } %>
                    </tr>
                <% }
            }
        }) %>
    </tbody>
</table>