<!-- tabla Pendientes Finales -->
<table id="tablaOtPendientesFinales<%=k%>" class="table-responsive align-middle col-5 border-end border-dark" style="font-size: 10pt; width: 100%">
    <thead class="align-middle" style="background-color: #d8d8eb">
        <tr>
            <th colspan="3" class="text-center">PENDIENTES FINALES
                <% if (userInfo.admin || userInfo.area === 'fabricacion') { %>
                    <button id="posBtnAddDataOtPendientesFinales<%=k%>" type="button" name="btnOtPendientesFinales" class="btn btn-small btn-success shadow m-1 me-5 mb-2 position-relative" style="--bs-btn-font-size: .6rem; color: var(--bs-white);" title="Agregar/Modificar Datos" value="<%=k%>">
                        <i class="fa-solid fa-pencil fa-lg" aria-hidden="true"></i>
                        <span id="spanCheckSelecMasivePendFinales<%=k%>" class="position-absolute top-100 start-100 translate-middle badge rounded-pill bg-danger">
                            0
                            <span class="visually-hidden">Elementos seleccionados</span>
                        </span>
                    </button>
                <% } else { %>
                    <button type="button" class="btn btn-small btn-danger shadow m-1 me-5 mb-2 disabled" style="--bs-btn-font-size: .6rem; color: var(--bs-white);">
                        <i class="fa-solid fa-ban fa-lg" aria-hidden="true"></i>                                                    
                    </button>
                <% } %>
                <i class="fa-solid fa-arrows-spin fa-lg" style="color: #b09b12;"></i> En Proceso -
                <i class="fa-solid fa-circle-check fa-lg" style="color: #008f30;"></i> Terminado -
                <i class="fa-solid fa-circle-xmark fa-lg" style="color: #c40000;"></i> Detenido -
                <i class="fa-solid fa-ban fa-lg"></i> No Aplica -
                <i class="fa-solid fa-triangle-exclamation fa-lg" style="color: #1c21ac;"></i> Sin Datos
            </th>
        </tr>
        <tr>
            <th id="colData0" style="width:28vw" scope="col-1" class="text-center pb-1">Pend. Máquina | Rev.</th>
            <th id="colData1" style="width:28vw" scope="col-1" class="text-center pb-1">Pend. Ajuste | Rev.</th>
            <th id="colData2" style="width:43vw" scope="col-1" class="text-center pb-1">Notas | Rev.</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        
        <% const pendientesFinalesConfig = {
            enProceso: { icon: "fa-arrows-spin fa-spin", iconColor: "color:#b09b12" },
            terminado: { icon: "fa-circle-check", iconColor: "color:#008f30" },
            detenido: { icon: "fa-circle-xmark", iconColor: "color:#c40000" },
            noAplica: { icon: "fa-ban", iconColor: "color:#000000" },
            default: { icon: "fa-triangle-exclamation", iconColor: "color:#1c21ac" }
        };

        proyecto[m].project[j].oci[k].otProject.forEach((ot, n) => {
            let pathMongoOtProject = proyecto[m].project[j].oci[k].otProject,
                pathMongoOtAjuste = pathMongoOtProject[n].otAjuste[0];

            let anteriorDisabled = "disabled", siguienteDisabled = "disabled",
                resPendientesMaquina = "S/D", resRevisionPendientesMaquina = 0,
                resPendientesAjuste = "S/D", resRevisionPendientesAjuste = 0,
                resNotasAjuste = "S/D", resRevisionNotasAjuste = 0;

            if (pathMongoOtProject[n].visible) {
                let pathToMongoOtPendientesFinales = pathMongoOtAjuste.otInfoPendientesFinales || [],
                    largoArrayPendientesFinales = parseInt(pathToMongoOtPendientesFinales.length);

                let arrResPendientesMaquina = [], valueArrayResPendientesMaquina = 0, arrResRevisionPendientesMaquina = [],
                    arrResCreadorPendientesMaquina = [], arrResModificadorPendientesMaquina = [], arrResFechaPendientesMaquina = [], arrResFechaModPendientesMaquina = [];

                let arrResPendientesAjuste = [], valueArrayResPendientesAjuste = 0, arrResRevisionPendientesAjuste = [],
                    arrResCreadorPendientesAjuste = [], arrResModificadorPendientesAjuste = [], arrResFechaPendientesAjuste = [], arrResFechaModPendientesAjuste = [];

                let arrResNotasAjuste = [], valueArrayResNotasAjuste = 0, arrResRevisionNotasAjuste = [],
                    arrResCreadorNotasAjuste = [], arrResModificadorNotasAjuste = [], arrResFechaNotasAjuste = [], arrResFechaModNotasAjuste = [];

                if (pathMongoOtProject[n].otStatus) { %>
                    <!--Activo-->
                    <tr name="rowSelected<%=k%>_<%=n%>" class="border-bottom" style="height: 7vh;">
                        <% for (let q = 38; totalColDataPendientesFinales > q; q++) {
                            if (q==38) { %>
                                <!-- Pendientes Maquina data Activo--> 
                                <td class="text-center align-middle">
                                    <% if (largoArrayPendientesFinales > 0) {

                                        for (let i = 0; largoArrayPendientesFinales > i; i++) {
                                            if (pathToMongoOtPendientesFinales[i]) {
                                                let largoArray = parseInt(largoArrayPendientesFinales)
                                                resPendientesMaquina = pathToMongoOtPendientesFinales[largoArray-1].pendientesMaquina == 'sinDato' ? "S/D" : pathToMongoOtPendientesFinales[largoArray-1].pendientesMaquina
                                                resRevisionPendientesMaquina = parseInt(pathToMongoOtPendientesFinales[largoArray-1].revisionPendientesMaquina) || 0
                                                
                                                pathToMongoOtPendientesFinales[i].pendientesMaquina == 'sinDato' ? arrResPendientesMaquina.push("S/D") : arrResPendientesMaquina.push(pathToMongoOtPendientesFinales[i].pendientesMaquina)
                                                arrResRevisionPendientesMaquina.push(pathToMongoOtPendientesFinales[i].revisionPendientesMaquina)

                                                arrResCreadorPendientesMaquina.push(pathToMongoOtPendientesFinales[i].creator[0].username)
                                                arrResModificadorPendientesMaquina.push(pathToMongoOtPendientesFinales[i].modificator[0].username)
                                                arrResFechaPendientesMaquina.push(pathToMongoOtPendientesFinales[i].timestamp)
                                                arrResFechaModPendientesMaquina.push(pathToMongoOtPendientesFinales[i].modifiedOn)
                                            }
                                        }
                                        valueArrayResPendientesMaquina = parseInt(arrResPendientesMaquina.length-1)

                                        if (arrResPendientesMaquina.length == 1 ) {
                                            anteriorDisabled = "disabled"
                                            siguienteDisabled = "disabled"
                                        } else if (arrResPendientesMaquina.length == arrResRevisionPendientesMaquina.length) {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        } else {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        }
                                        
                                    } else {
                                        arrResPendientesMaquina.push(resPendientesMaquina)
                                        arrResRevisionPendientesMaquina.push(resRevisionPendientesMaquina)
                                        
                                        arrResCreadorPendientesMaquina.push(pathMongoOtProject[n].creator[0].username)
                                        arrResModificadorPendientesMaquina = ""
                                        arrResFechaPendientesMaquina.push(pathMongoOtProject[n].timestamp)
                                        arrResFechaModPendientesMaquina = ""
                                    } %>
                                    
                                    <div id="btnAnteriorSiguientePendientesMaquina<%=k%>_<%=n%>_<%=q%>">
                                        <button id="btnAnteriorPendientesMaquina<%=k%>_<%=n%>_<%=q%>" name="btnAnteriorPendientesMaquina" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= anteriorDisabled %>
                                            ><i class="fa-solid fa-arrow-left"></i>
                                        </button>
                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResPendientesMaquina %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResPendientesMaquina %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionPendientesMaquina %>">
                                        <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorPendientesMaquina %>">
                                        <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorPendientesMaquina %>">
                                        <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaPendientesMaquina %>">
                                        <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModPendientesMaquina %>">

                                        <% const config = pendientesFinalesConfig[resPendientesMaquina] || pendientesFinalesConfig.default; %>
                                        <span id="resPendientesMaquina<%=k%>_<%=n%>_<%=q%>" value="<%=resPendientesMaquina%>">
                                            <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                        </span> |
                                        <span id="resRevisionPendientesMaquina<%=k%>_<%=n%>_<%=q%>" name="resRevisionPendientesMaquina" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                            <%= resRevisionPendientesMaquina %>
                                        </span>

                                        <button id="btnSiguientePendientesMaquina<%=k%>_<%=n%>_<%=q%>" name="btnSiguientePendientesMaquina" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;" <%= siguienteDisabled %>
                                            ><i class="fa-solid fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </td>

                            <% } else if (q==39) { %>
                                <!-- Pendientes Ajuste data Activo-->
                                <td class="text-center align-middle">
                                    <% if (largoArrayPendientesFinales > 0) {

                                        for (let i = 0; largoArrayPendientesFinales > i; i++) {
                                            if (pathToMongoOtPendientesFinales[i]) {
                                                let largoArray = parseInt(largoArrayPendientesFinales)
                                                resPendientesAjuste = pathToMongoOtPendientesFinales[largoArray-1].pendientesAjuste == 'sinDato' ? "S/D" :  pathToMongoOtPendientesFinales[largoArray-1].pendientesAjuste
                                                resRevisionPendientesAjuste = parseInt(pathToMongoOtPendientesFinales[largoArray-1].revisionPendientesAjuste) || 0
                                                
                                                pathToMongoOtPendientesFinales[i].pendientesAjuste == 'sinDato' ? arrResPendientesAjuste.push("S/D") : arrResPendientesAjuste.push(pathToMongoOtPendientesFinales[i].pendientesAjuste)
                                                arrResRevisionPendientesAjuste.push(pathToMongoOtPendientesFinales[i].revisionPendientesAjuste)
                                                
                                                arrResCreadorPendientesAjuste.push(pathToMongoOtPendientesFinales[i].creator[0].username)
                                                arrResModificadorPendientesAjuste.push(pathToMongoOtPendientesFinales[i].modificator[0].username)
                                                arrResFechaPendientesAjuste.push(pathToMongoOtPendientesFinales[i].timestamp)
                                                arrResFechaModPendientesAjuste.push(pathToMongoOtPendientesFinales[i].modifiedOn)
                                            }
                                        }
                                        valueArrayResPendientesAjuste = parseInt(arrResPendientesAjuste.length-1)
                                                
                                        if (arrResPendientesAjuste.length == 1 ) {
                                            anteriorDisabled = "disabled"
                                            siguienteDisabled = "disabled"
                                        } else if (arrResPendientesAjuste.length == arrResRevisionPendientesAjuste.length) {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        } else {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        }
                                        
                                    } else {
                                        arrResPendientesAjuste.push(resPendientesAjuste)
                                        arrResRevisionPendientesAjuste.push(resRevisionPendientesAjuste)
                                        
                                        arrResCreadorPendientesAjuste.push(pathMongoOtProject[n].creator[0].username)
                                        arrResModificadorPendientesAjuste = ""
                                        arrResFechaPendientesAjuste.push(pathMongoOtProject[n].timestamp)
                                        arrResFechaModPendientesAjuste = ""
                                    } %>
                                    
                                    <div id="btnAnteriorSiguientePendientesAjuste<%=k%>_<%=n%>_<%=q%>">
                                        <button id="btnAnteriorPendientesAjuste<%=k%>_<%=n%>_<%=q%>" name="btnAnteriorPendientesAjuste" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= anteriorDisabled %>
                                            ><i class="fa-solid fa-arrow-left"></i>
                                        </button>
                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResPendientesAjuste %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResPendientesAjuste %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionPendientesAjuste %>">
                                        <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorPendientesAjuste %>">
                                        <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorPendientesAjuste %>">
                                        <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaPendientesAjuste %>">
                                        <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModPendientesAjuste %>">

                                        <% const config = pendientesFinalesConfig[resPendientesAjuste] || pendientesFinalesConfig.default; %>
                                        <span id="resPendientesAjuste<%=k%>_<%=n%>_<%=q%>" value="<%=resPendientesAjuste%>">
                                            <i   class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                        </span> |
                                        <span id="resRevisionPendientesAjuste<%=k%>_<%=n%>_<%=q%>" name="resRevisionPendientesAjuste" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                            <%= resRevisionPendientesAjuste %>
                                        </span>

                                        <button id="btnSiguientePendientesAjuste<%=k%>_<%=n%>_<%=q%>" name="btnSiguientePendientesAjuste" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= siguienteDisabled %>
                                            ><i class="fa-solid fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </td>

                            <% } else { %>
                                <!-- Notas Ajuste data Activo-->
                                <td class="text-center align-middle">
                                    <% if (largoArrayPendientesFinales > 0) {

                                        for (let i = 0; largoArrayPendientesFinales > i; i++) {
                                            if (pathToMongoOtPendientesFinales[i]) {
                                                let largoArray = parseInt(largoArrayPendientesFinales)
                                                resNotasAjuste = pathToMongoOtPendientesFinales[largoArray-1].notasAjuste == 'sinDato' ? "S/D" : pathToMongoOtPendientesFinales[largoArray-1].notasAjuste
                                                resRevisionNotasAjuste = parseInt(pathToMongoOtPendientesFinales[largoArray-1].revisionNotasAjuste) || 0
                                                
                                                pathToMongoOtPendientesFinales[i].notasAjuste == 'sinDato' ? arrResNotasAjuste.push('S/D') : arrResNotasAjuste.push(pathToMongoOtPendientesFinales[i].notasAjuste)
                                                arrResRevisionNotasAjuste.push(pathToMongoOtPendientesFinales[i].revisionNotasAjuste)
                                                
                                                arrResCreadorNotasAjuste.push(pathToMongoOtPendientesFinales[i].creator[0].username)
                                                arrResModificadorNotasAjuste.push(pathToMongoOtPendientesFinales[i].modificator[0].username)
                                                arrResFechaNotasAjuste.push(pathToMongoOtPendientesFinales[i].timestamp)
                                                arrResFechaModNotasAjuste.push(pathToMongoOtPendientesFinales[i].modifiedOn)
                                            }
                                        }
                                        valueArrayResNotasAjuste = parseInt(arrResNotasAjuste.length-1)
                                                
                                        if (arrResNotasAjuste.length == 1 ) {
                                            siguienteDisabled = "disabled"
                                            anteriorDisabled = "disabled"
                                        } else if (arrResNotasAjuste.length == arrResRevisionNotasAjuste.length) {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        } else {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        }
                                                
                                    } else {
                                        arrResNotasAjuste.push(resNotasAjuste)
                                        arrResRevisionNotasAjuste.push(resRevisionNotasAjuste)
                                        
                                        arrResCreadorNotasAjuste.push(pathMongoOtProject[n].creator[0].username)
                                        arrResModificadorNotasAjuste = ""
                                        arrResFechaNotasAjuste.push(pathMongoOtProject[n].timestamp)
                                        arrResFechaModNotasAjuste = ""
                                    } %>

                                <div id="btnAnteriorSiguienteNotasAjuste<%=k%>_<%=n%>_<%=q%>">
                                    <button id="btnAnteriorNotasAjuste<%=k%>_<%=n%>_<%=q%>" name="btnAnteriorNotasAjuste" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                        <%= anteriorDisabled %>
                                        ><i class="fa-solid fa-arrow-left"></i>
                                    </button>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResNotasAjuste %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResNotasAjuste %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionNotasAjuste %>">
                                    <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorNotasAjuste %>">
                                    <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorNotasAjuste %>">
                                    <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaNotasAjuste %>">
                                    <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModNotasAjuste %>">

                                    <span id="resNotasAjuste<%=k%>_<%=n%>_<%=q%>" class="badge bg-light text-dark my-2">
                                        <%= resNotasAjuste %>
                                    </span> |
                                    <span id="resRevisionNotasAjuste<%=k%>_<%=n%>_<%=q%>" name="resRevisionNotasAjuste" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionNotasAjuste %>
                                    </span>

                                    <button id="btnSiguienteNotasAjuste<%=k%>_<%=n%>_<%=q%>" name="btnSiguienteNotasAjuste" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                        <%= siguienteDisabled %>
                                        ><i class="fa-solid fa-arrow-right"></i>
                                    </button>
                                </div>
                            </td>
                            <% }
                        } %>
                    </tr>

                <% } else { %>
                    <!--Inactivo-->
                    <tr name="rowSelected<%=k%>_<%=n%>" class="pe-none border-bottom" style="height: 7vh; background-color: #dedede;">
                        <% for (let q = 38; totalColDataPendientesFinales > q; q++) {
                            if (q==38) { %>
                                <!-- Pendientes Maquina data Inactivo -->
                                <td class="text-center align-middle">
                                    <% if (largoArrayPendientesFinales > 0) {
                                        for (let i = 0; largoArrayPendientesFinales > i; i++) {

                                            if (pathToMongoOtPendientesFinales[i]) {
                                                let largoArray = parseInt(largoArrayPendientesFinales)
                                                resPendientesMaquina = pathToMongoOtPendientesFinales[largoArray-1].pendientesMaquina || 'S/D'
                                                resRevisionPendientesMaquina = parseInt(pathToMongoOtPendientesFinales[largoArray-1].revisionPendientesMaquina) || 0
                                                
                                                arrResPendientesMaquina.push(pathToMongoOtPendientesFinales[i].pendientesMaquina)
                                                arrResRevisionPendientesMaquina.push(pathToMongoOtPendientesFinales[i].revisionPendientesMaquina)
                                            }
                                        }
                                        valueArrayResPendientesMaquina = parseInt(arrResPendientesMaquina.length-1)
                                        resPendientesMaquina = pathToMongoOtPendientesFinales[0].PendientesMaquina
                                        
                                    } else {
                                        arrResPendientesMaquina.push(resPendientesMaquina)
                                        arrResRevisionPendientesMaquina.push(resRevisionPendientesMaquina)
                                    } %>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResPendientesMaquina %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResPendientesMaquina %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionPendientesMaquina %>">
                                
                                    <% const config = pendientesFinalesConfig[resPendientesMaquina] || pendientesFinalesConfig.default; %>
                                    <span id="resPendientesMaquina<%=k%>_<%=n%>_<%=q%>" value="<%=resPendientesMaquina%>">
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |
                                    <span id="resRevisionPendientesMaquina<%=k%>_<%=n%>_<%=q%>" name="resRevisionPendientesMaquina" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionPendientesMaquina %>
                                    </span>
                                </td>

                            <% } else if (q==39) { %>
                                <!-- Pendientes Ajuste data Inactivo -->
                                <td class="text-center align-middle">
                                    <% if (largoArrayPendientesFinales > 0) {
                                        for (let i = 0; largoArrayPendientesFinales > i; i++) {
                                            
                                            if (pathToMongoOtPendientesFinales[i]) {
                                                let largoArray = parseInt(largoArrayPendientesFinales)
                                                resPendientesAjuste = pathToMongoOtPendientesFinales[largoArray-1].pendientesAjuste || 'S/D'
                                                resRevisionPendientesAjuste = parseInt(pathToMongoOtPendientesFinales[largoArray-1].revisionPendientesAjuste) || 0
                                                
                                                arrResPendientesAjuste.push(pathToMongoOtPendientesFinales[i].pendientesAjuste)
                                                arrResRevisionPendientesAjuste.push(pathToMongoOtPendientesFinales[i].revisionPendientesAjuste)
                                            }
                                        }
                                        valueArrayResPendientesAjuste = parseInt(arrResPendientesAjuste.length-1)
                                        resPendientesAjuste = pathToMongoOtPendientesFinales[0].pendientesAjuste
                                        
                                    } else {
                                        arrResPendientesAjuste.push(resPendientesAjuste)
                                        arrResRevisionPendientesAjuste.push(resRevisionPendientesAjuste)
                                    } %>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResPendientesAjuste %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResPendientesAjuste %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionPendientesAjuste %>">

                                    <% const config = pendientesFinalesConfig[resPendientesAjuste] || pendientesFinalesConfig.default; %>
                                    <span id="resPendientesAjuste<%=k%>_<%=n%>_<%=q%>" value="<%=resPendientesAjuste%>">
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |
                                    <span id="resRevisionPendientesAjuste<%=k%>_<%=n%>_<%=q%>" name="resRevisionPendientesAjuste" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionPendientesAjuste %>
                                    </span>
                                </td>

                            <% } else { %>
                                <!-- Notas Ajuste data Inactivo -->
                                <td class="text-center align-middle">
                                    <% if (largoArrayPendientesFinales > 0) {
                                        for (let i = 0; largoArrayPendientesFinales > i; i++) {
                                            
                                            if (pathToMongoOtPendientesFinales[i]) {
                                                let largoArray = parseInt(largoArrayPendientesFinales)
                                                resNotasAjuste = pathToMongoOtPendientesFinales[largoArray-1].notasAjuste || "S/D"
                                                resRevisionNotasAjuste = parseInt(pathToMongoOtPendientesFinales[largoArray-1].revisionNotasAjuste) || 0
                                                
                                                arrResNotasAjuste.push(pathToMongoOtPendientesFinales[i].notasAjuste)
                                                arrResNotasAjuste.push(pathToMongoOtPendientesFinales[i].estadoNotasAjuste)
                                                arrResRevisionNotasAjuste.push(pathToMongoOtPendientesFinales[i].revisionNotasAjuste)
                                            }
                                        }
                                        valueArrayResNotasAjuste = parseInt(arrResNotasAjuste.length-1)
                                        resNotasAjuste = pathToMongoOtPendientesFinales[0].notasAjuste
                                    
                                    } else {
                                        arrResNotasAjuste.push(resNotasAjuste)
                                        arrResNotasAjuste.push(resNotasAjuste)
                                        arrResRevisionNotasAjuste.push(resRevisionNotasAjuste)
                                    } %>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResNotasAjuste %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResNotasAjuste %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionNotasAjuste %>">

                                    <span id="resNotasAjuste<%=k%>_<%=n%>_<%=q%>" class="badge bg-secondary text-ligth my-2">
                                        <%= resNotasAjuste %>
                                    </span> |
                                    
                                    <span id="resRevisionNotasAjuste<%=k%>_<%=n%>_<%=q%>" name="resRevisionNotasAjuste" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionNotasAjuste %>
                                    </span>
                                </td>
                            <% }
                        } %>
                    </tr>
                <% }
            }
        }) %>
    </tbody>
</table>