<!-- mostrar botones de acuerdo a cantidad de slides Etapas de Ajuste-->
<div class="carousel-indicators position-absolute top-100 start-0 pb-5">
        <button type="button" name="btnInferiorCarousel"
            data-bs-target="#carouselExampleControls<%=k%>"
            data-bs-slide-to="0" class="bg-dark"
            aria-label="Slide 1" aria-current="true"
            title="Armado">
        </button>
        <button type="button" name="btnInferiorCarousel"
            data-bs-target="#carouselExampleControls<%=k%>"
            data-bs-slide-to="1" class="bg-dark"
            aria-label="Slide 2" title="Etapa 1">
        </button>
        <button type="button" name="btnInferiorCarousel"
            data-bs-target="#carouselExampleControls<%=k%>"
            data-bs-slide-to="2" class="bg-dark"
            aria-label="Slide 3" title="Etapa 2">
        </button>
        <button type="button" name="btnInferiorCarousel"
            data-bs-target="#carouselExampleControls<%=k%>"
            data-bs-slide-to="3" class="bg-dark"
            aria-label="Slide 4" title="Analisis Crítico">
        </button>
        <button type="button" name="btnInferiorCarousel"
            data-bs-target="#carouselExampleControls<%=k%>"
            data-bs-slide-to="4" class="bg-dark"
            aria-label="Slide 5" title="Etapa 3 (Primera Parte)">
        </button>
        <button type="button" name="btnInferiorCarousel"
            data-bs-target="#carouselExampleControls<%=k%>"
            data-bs-slide-to="5" class="bg-dark"
            aria-label="Slide 6" title="Etapa 3 (Segunda Parte)">
        </button>
        <button type="button" name="btnInferiorCarousel"
            data-bs-target="#carouselExampleControls<%=k%>"
            data-bs-slide-to="6" class="bg-dark"
            aria-label="Slide 7" title="1° Ciclo de Corrección">
        </button>
        <button type="button" name="btnInferiorCarousel"
            data-bs-target="#carouselExampleControls<%=k%>"
            data-bs-slide-to="7" class="bg-dark"
            aria-label="Slide 8" title="2° Ciclo de Corrección">
        </button>
        <button type="button" name="btnInferiorCarousel"
            data-bs-target="#carouselExampleControls<%=k%>"
            data-bs-slide-to="8" class="bg-dark"
            aria-label="Slide 9" title="3° Ciclo de Corrección">
        </button>
        <button type="button" name="btnInferiorCarousel"
            data-bs-target="#carouselExampleControls<%=k%>"
            data-bs-slide-to="9" class="bg-dark"
            aria-label="Slide 10" title="Liberación para BuyOff (Primera Parte)">
        </button>
        <button type="button" name="btnInferiorCarousel"
            data-bs-target="#carouselExampleControls<%=k%>"
            data-bs-slide-to="10" class="bg-dark"
            aria-label="Slide 11" title="Liberación para BuyOff (Segunda Parte)">
        </button>
        <button type="button" name="btnInferiorCarousel"
            data-bs-target="#carouselExampleControls<%=k%>"
            data-bs-slide-to="11" class="bg-dark"
            aria-label="Slide 12" title="BuyOff">
        </button>
        <button type="button" name="btnInferiorCarousel"
            data-bs-target="#carouselExampleControls<%=k%>"
            data-bs-slide-to="12" class="bg-dark"
            aria-label="Slide 13" title="Pendientes Finales">
        </button>
</div>