<!-- tabla Etapa Tercera Segunda -->
<table id="tablaOtEtapaTerceraSegunda<%=k%>" class="table-responsive align-middle col-5 border-end border-dark" style="font-size: 10pt; width: 100%">
    <thead class="align-middle" style="background-color: #d8d8eb">
        <tr>
            <th colspan="3" class="text-center">ETAPA 3 (2° Parte)
                <% if (userInfo.admin || userInfo.area === 'fabricacion') { %>
                    <button id="posBtnAddDataOtEtapaTerceraSegunda<%=k%>" type="button" name="btnOtEtapaTerceraSegunda" class="btn btn-small btn-success shadow m-1 me-5 mb-2 position-relative" style="--bs-btn-font-size: .6rem; color: var(--bs-white);" title="Agregar/Modificar Datos" value="<%=k%>">
                        <i class="fa-solid fa-pencil fa-lg" aria-hidden="true"></i>
                        <span id="spanCheckSelecMasiveEtapaTerSeg<%=k%>" class="position-absolute top-100 start-100 translate-middle badge rounded-pill bg-danger">
                            0
                            <span class="visually-hidden">Elementos seleccionados</span>
                        </span>
                    </button>
                <% } else { %>
                    <button type="button" class="btn btn-small btn-danger shadow m-1 me-5 mb-2 disabled" style="--bs-btn-font-size: .6rem; color: var(--bs-white);">
                        <i class="fa-solid fa-ban fa-lg" aria-hidden="true"></i>                                                    
                    </button>
                <% } %>
                <i class="fa-solid fa-arrows-spin fa-lg" style="color: #b09b12;"></i> En Proceso -
                <i class="fa-solid fa-circle-check fa-lg" style="color: #008f30;"></i> Terminado -
                <i class="fa-solid fa-circle-xmark fa-lg" style="color: #c40000;"></i> Detenido -
                <i class="fa-solid fa-ban fa-lg"></i> No Aplica -
                <i class="fa-solid fa-triangle-exclamation fa-lg" style="color: #1c21ac;"></i> Sin Datos
            </th>
        </tr>
        <tr>
            <th id="colData0" style="width:33vw" scope="col-1" class="text-center pb-1">Funcional Completa | Rev.</th>
            <th id="colData1" style="width:33vw" scope="col-1" class="text-center pb-1">LTH | Rev.</th>
            <th id="colData2" style="width:33vw" scope="col-1" class="text-center pb-1">Liberación Pza. p/Metrologia | Rev.</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        
        <% const etapaTerceraSegundaConfig = {
            enProceso: { icon: "fa-arrows-spin fa-spin", iconColor: "color:#b09b12" },
            terminado: { icon: "fa-circle-check", iconColor: "color:#008f30" },
            detenido: { icon: "fa-circle-xmark", iconColor: "color:#c40000" },
            noAplica: { icon: "fa-ban", iconColor: "color:#000000" },
            default: { icon: "fa-triangle-exclamation", iconColor: "color:#1c21ac" }
        };

        proyecto[m].project[j].oci[k].otProject.forEach((ot, n) => {
            let pathMongoOtProject = proyecto[m].project[j].oci[k].otProject,
                pathMongoOtAjuste = pathMongoOtProject[n].otAjuste[0];

            let anteriorDisabled = "disabled", siguienteDisabled = "disabled",
                resFuncionalCompleta = "S/D", resRevisionFuncionalCompleta = 0,
                resLthEtapaTercera = "S/D", resRevisionLthEtapaTercera = 0,
                resLiberarPiezaMetrologia = "S/D", resRevisionLiberarPiezaMetrologia = 0;

            if (pathMongoOtProject[n].visible) {
                let pathToMongoOtEtapaTerceraSegunda = pathMongoOtAjuste.otInfoEtapaTerceraSegunda || [],
                    largoArrayEtapaTerceraSegunda = parseInt(pathToMongoOtEtapaTerceraSegunda.length);

                let arrResFuncionalCompleta = [], valueArrayResFuncionalCompleta = 0, arrResRevisionFuncionalCompleta = [],
                    arrResCreadorFuncionalCompleta = [], arrResModificadorFuncionalCompleta = [], arrResFechaFuncionalCompleta = [], arrResFechaModFuncionalCompleta = [];

                let arrResLthEtapaTercera = [], valueArrayResLthEtapaTercera = 0, arrResRevisionLthEtapaTercera = [],
                    arrResCreadorLthEtapaTercera = [], arrResModificadorLthEtapaTercera = [], arrResFechaLthEtapaTercera = [], arrResFechaModLthEtapaTercera = [];

                let arrResLiberarPiezaMetrologia = [], valueArrayResLiberarPiezaMetrologia = 0, arrResRevisionLiberarPiezaMetrologia = [],
                    arrResCreadorLiberarPiezaMetrologia = [], arrResModificadorLiberarPiezaMetrologia = [], arrResFechaLiberarPiezaMetrologia = [], arrResFechaModLiberarPiezaMetrologia = [];

                if (pathMongoOtProject[n].otStatus) { %>
                    <!--Activo-->
                    <tr name="rowSelected<%=k%>_<%=n%>" class="border-bottom" style="height: 7vh;">
                        <% for (let q = 18; totalColDataEtapaTerceraSegunda > q; q++) {
                            if (q==18) { %>
                                <!-- Funcional Completa data Activo--> 
                                <td class="text-center align-middle">
                                    <% if (largoArrayEtapaTerceraSegunda > 0) {

                                        for (let i = 0; largoArrayEtapaTerceraSegunda > i; i++) {
                                            if (pathToMongoOtEtapaTerceraSegunda[i]) {
                                                let largoArray = parseInt(largoArrayEtapaTerceraSegunda)
                                                resFuncionalCompleta = pathToMongoOtEtapaTerceraSegunda[largoArray-1].funcionalCompleta == 'sinDato' ? "S/D" : pathToMongoOtEtapaTerceraSegunda[largoArray-1].funcionalCompleta
                                                resRevisionFuncionalCompleta = parseInt(pathToMongoOtEtapaTerceraSegunda[largoArray-1].revisionFuncionalCompleta) || 0
                                                
                                                pathToMongoOtEtapaTerceraSegunda[i].funcionalCompleta == 'sinDato' ? arrResFuncionalCompleta.push("S/D") : arrResFuncionalCompleta.push(pathToMongoOtEtapaTerceraSegunda[i].funcionalCompleta)
                                                arrResRevisionFuncionalCompleta.push(pathToMongoOtEtapaTerceraSegunda[i].revisionFuncionalCompleta)

                                                arrResCreadorFuncionalCompleta.push(pathToMongoOtEtapaTerceraSegunda[i].creator[0].username)
                                                arrResModificadorFuncionalCompleta.push(pathToMongoOtEtapaTerceraSegunda[i].modificator[0].username)
                                                arrResFechaFuncionalCompleta.push(pathToMongoOtEtapaTerceraSegunda[i].timestamp)
                                                arrResFechaModFuncionalCompleta.push(pathToMongoOtEtapaTerceraSegunda[i].modifiedOn)
                                            }
                                        }
                                        valueArrayResFuncionalCompleta = parseInt(arrResFuncionalCompleta.length-1)

                                        if (arrResFuncionalCompleta.length == 1 ) {
                                            anteriorDisabled = "disabled"
                                            siguienteDisabled = "disabled"
                                        } else if (arrResFuncionalCompleta.length == arrResRevisionFuncionalCompleta.length) {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        } else {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        }
                                        
                                    } else {
                                        arrResFuncionalCompleta.push(resFuncionalCompleta)
                                        arrResRevisionFuncionalCompleta.push(resRevisionFuncionalCompleta)
                                        
                                        arrResCreadorFuncionalCompleta.push(pathMongoOtProject[n].creator[0].username)
                                        arrResModificadorFuncionalCompleta = ""
                                        arrResFechaFuncionalCompleta.push(pathMongoOtProject[n].timestamp)
                                        arrResFechaModFuncionalCompleta = ""
                                    } %>
                                    
                                    <div id="btnAnteriorSiguienteFuncionalCompleta<%=k%>_<%=n%>_<%=q%>">
                                        <button id="btnAnteriorFuncionalCompleta<%=k%>_<%=n%>_<%=q%>" name="btnAnteriorFuncionalCompleta" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= anteriorDisabled %>
                                            ><i class="fa-solid fa-arrow-left"></i>
                                        </button>
                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFuncionalCompleta %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResFuncionalCompleta %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionFuncionalCompleta %>">
                                        <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorFuncionalCompleta %>">
                                        <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorFuncionalCompleta %>">
                                        <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaFuncionalCompleta %>">
                                        <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModFuncionalCompleta %>">

                                        <% const config = etapaTerceraSegundaConfig[resFuncionalCompleta] || etapaTerceraSegundaConfig.default; %>
                                        <span id="resFuncionalCompleta<%=k%>_<%=n%>_<%=q%>" value="<%=resFuncionalCompleta%>">
                                            <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                        </span> |
                                        <span id="resRevisionFuncionalCompleta<%=k%>_<%=n%>_<%=q%>" name="resRevisionFuncionalCompleta" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                            <%= resRevisionFuncionalCompleta %>
                                        </span>

                                        <button id="btnSiguienteFuncionalCompleta<%=k%>_<%=n%>_<%=q%>" name="btnSiguienteFuncionalCompleta" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;" <%= siguienteDisabled %>
                                            ><i class="fa-solid fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </td>

                            <% } else if (q==19) { %>
                                <!-- LTH Etapa Tercera data Activo-->
                                <td class="text-center align-middle">
                                    <% if (largoArrayEtapaTerceraSegunda > 0) {

                                        for (let i = 0; largoArrayEtapaTerceraSegunda > i; i++) {
                                            if (pathToMongoOtEtapaTerceraSegunda[i]) {
                                                let largoArray = parseInt(largoArrayEtapaTerceraSegunda)
                                                resLthEtapaTercera = pathToMongoOtEtapaTerceraSegunda[largoArray-1].lthEtapaTercera == 'sinDato' ? "S/D" :  pathToMongoOtEtapaTerceraSegunda[largoArray-1].lthEtapaTercera
                                                resRevisionLthEtapaTercera = parseInt(pathToMongoOtEtapaTerceraSegunda[largoArray-1].revisionLthEtapaTercera) || 0
                                                
                                                pathToMongoOtEtapaTerceraSegunda[i].lthEtapaTercera == 'sinDato' ? arrResLthEtapaTercera.push("S/D") : arrResLthEtapaTercera.push(pathToMongoOtEtapaTerceraSegunda[i].lthEtapaTercera)
                                                arrResRevisionLthEtapaTercera.push(pathToMongoOtEtapaTerceraSegunda[i].revisionLthEtapaTercera)
                                                
                                                arrResCreadorLthEtapaTercera.push(pathToMongoOtEtapaTerceraSegunda[i].creator[0].username)
                                                arrResModificadorLthEtapaTercera.push(pathToMongoOtEtapaTerceraSegunda[i].modificator[0].username)
                                                arrResFechaLthEtapaTercera.push(pathToMongoOtEtapaTerceraSegunda[i].timestamp)
                                                arrResFechaModLthEtapaTercera.push(pathToMongoOtEtapaTerceraSegunda[i].modifiedOn)
                                            }
                                        }
                                        valueArrayResLthEtapaTercera = parseInt(arrResLthEtapaTercera.length-1)
                                                
                                        if (arrResLthEtapaTercera.length == 1 ) {
                                            anteriorDisabled = "disabled"
                                            siguienteDisabled = "disabled"
                                        } else if (arrResLthEtapaTercera.length == arrResRevisionLthEtapaTercera.length) {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        } else {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        }
                                        
                                    } else {
                                        arrResLthEtapaTercera.push(resLthEtapaTercera)
                                        arrResRevisionLthEtapaTercera.push(resRevisionLthEtapaTercera)
                                        
                                        arrResCreadorLthEtapaTercera.push(pathMongoOtProject[n].creator[0].username)
                                        arrResModificadorLthEtapaTercera = ""
                                        arrResFechaLthEtapaTercera.push(pathMongoOtProject[n].timestamp)
                                        arrResFechaModLthEtapaTercera = ""
                                    } %>
                                    
                                    <div id="btnAnteriorSiguienteLthEtapaTercera<%=k%>_<%=n%>_<%=q%>">
                                        <button id="btnAnteriorLthEtapaTercera<%=k%>_<%=n%>_<%=q%>" name="btnAnteriorLthEtapaTercera" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= anteriorDisabled %>
                                            ><i class="fa-solid fa-arrow-left"></i>
                                        </button>
                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResLthEtapaTercera %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResLthEtapaTercera %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionLthEtapaTercera %>">
                                        <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorLthEtapaTercera %>">
                                        <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorLthEtapaTercera %>">
                                        <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaLthEtapaTercera %>">
                                        <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModLthEtapaTercera %>">

                                        <% const config = etapaTerceraSegundaConfig[resLthEtapaTercera] || etapaTerceraSegundaConfig.default; %>
                                        <span id="resLthEtapaTercera<%=k%>_<%=n%>_<%=q%>" value="<%=resLthEtapaTercera%>">
                                            <i   class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                        </span> |
                                        <span id="resRevisionLthEtapaTercera<%=k%>_<%=n%>_<%=q%>" name="resRevisionLthEtapaTercera" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                            <%= resRevisionLthEtapaTercera %>
                                        </span>

                                        <button id="btnSiguienteLthEtapaTercera<%=k%>_<%=n%>_<%=q%>" name="btnSiguienteLthEtapaTercera" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= siguienteDisabled %>
                                            ><i class="fa-solid fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </td>

                            <% } else { %>
                                <!-- Liberar Pieza Metrologia data Activo-->
                                <td class="text-center align-middle">
                                    <% if (largoArrayEtapaTerceraSegunda > 0) {

                                        for (let i = 0; largoArrayEtapaTerceraSegunda > i; i++) {
                                            if (pathToMongoOtEtapaTerceraSegunda[i]) {
                                                let largoArray = parseInt(largoArrayEtapaTerceraSegunda)
                                                resLiberarPiezaMetrologia = pathToMongoOtEtapaTerceraSegunda[largoArray-1].liberarPiezaMetrologia == 'sinDato' ? "S/D" : pathToMongoOtEtapaTerceraSegunda[largoArray-1].liberarPiezaMetrologia
                                                resRevisionLiberarPiezaMetrologia = parseInt(pathToMongoOtEtapaTerceraSegunda[largoArray-1].revisionLiberarPiezaMetrologia) || 0
                                                
                                                pathToMongoOtEtapaTerceraSegunda[i].liberarPiezaMetrologia == 'sinDato' ? arrResLiberarPiezaMetrologia.push('S/D') : arrResLiberarPiezaMetrologia.push(pathToMongoOtEtapaTerceraSegunda[i].liberarPiezaMetrologia)
                                                arrResRevisionLiberarPiezaMetrologia.push(pathToMongoOtEtapaTerceraSegunda[i].revisionLiberarPiezaMetrologia)
                                            
                                                arrResCreadorLiberarPiezaMetrologia.push(pathToMongoOtEtapaTerceraSegunda[i].creator[0].username)
                                                arrResModificadorLiberarPiezaMetrologia.push(pathToMongoOtEtapaTerceraSegunda[i].modificator[0].username)
                                                arrResFechaLiberarPiezaMetrologia.push(pathToMongoOtEtapaTerceraSegunda[i].timestamp)
                                                arrResFechaModLiberarPiezaMetrologia.push(pathToMongoOtEtapaTerceraSegunda[i].modifiedOn)
                                            }
                                        }
                                        valueArrayResLiberarPiezaMetrologia = parseInt(arrResLiberarPiezaMetrologia.length-1)
                                                
                                        if (arrResLiberarPiezaMetrologia.length == 1 ) {
                                            siguienteDisabled = "disabled"
                                            anteriorDisabled = "disabled"
                                        } else if (arrResLiberarPiezaMetrologia.length == arrResRevisionLiberarPiezaMetrologia.length) {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        } else {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        }
                                                
                                    } else {
                                        arrResLiberarPiezaMetrologia.push(resLiberarPiezaMetrologia)
                                        arrResRevisionLiberarPiezaMetrologia.push(resRevisionLiberarPiezaMetrologia)
                                        
                                        arrResCreadorLiberarPiezaMetrologia.push(pathMongoOtProject[n].creator[0].username)
                                        arrResModificadorLiberarPiezaMetrologia = ""
                                        arrResFechaLiberarPiezaMetrologia.push(pathMongoOtProject[n].timestamp)
                                        arrResFechaModLiberarPiezaMetrologia = ""
                                    } %>

                                <div id="btnAnteriorSiguienteLiberarPiezaMetrologia<%=k%>_<%=n%>_<%=q%>">
                                    <button id="btnAnteriorLiberarPiezaMetrologia<%=k%>_<%=n%>_<%=q%>" name="btnAnteriorLiberarPiezaMetrologia" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                        <%= anteriorDisabled %>
                                        ><i class="fa-solid fa-arrow-left"></i>
                                    </button>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResLiberarPiezaMetrologia %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResLiberarPiezaMetrologia %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionLiberarPiezaMetrologia %>">
                                    <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorLiberarPiezaMetrologia %>">
                                    <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorLiberarPiezaMetrologia %>">
                                    <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaLiberarPiezaMetrologia %>">
                                    <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModLiberarPiezaMetrologia %>">

                                    <% const config = etapaTerceraSegundaConfig[resLiberarPiezaMetrologia] || etapaTerceraSegundaConfig.default; %>
                                    <span id="resLiberarPiezaMetrologia<%=k%>_<%=n%>_<%=q%>" value="<%=resLiberarPiezaMetrologia%>">
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |
                                    <span id="resRevisionLiberarPiezaMetrologia<%=k%>_<%=n%>_<%=q%>" name="resRevisionLiberarPiezaMetrologia" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionLiberarPiezaMetrologia %>
                                    </span>

                                    <button id="btnSiguienteLiberarPiezaMetrologia<%=k%>_<%=n%>_<%=q%>" name="btnSiguienteLiberarPiezaMetrologia" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                        <%= siguienteDisabled %>
                                        ><i class="fa-solid fa-arrow-right"></i>
                                    </button>
                                </div>
                            </td>
                            <% }
                        } %>
                    </tr>

                <% } else { %>
                    <!--Inactivo-->
                    <tr name="rowSelected<%=k%>_<%=n%>" class="pe-none border-bottom" style="height: 7vh; background-color: #dedede;">
                        <% for (let q = 18; totalColDataEtapaTerceraSegunda > q; q++) {
                            if (q==18) { %>
                                <!-- Funcional Completa data Inactivo -->
                                <td class="text-center align-middle">
                                    <% if (largoArrayEtapaTerceraSegunda > 0) {
                                        for (let i = 0; largoArrayEtapaTerceraSegunda > i; i++) {

                                            if (pathToMongoOtEtapaTerceraSegunda[i]) {
                                                let largoArray = parseInt(largoArrayEtapaTerceraSegunda)
                                                resFuncionalCompleta = pathToMongoOtEtapaTerceraSegunda[largoArray-1].funcionalCompleta || 'S/D'
                                                resRevisionFuncionalCompleta = parseInt(pathToMongoOtEtapaTerceraSegunda[largoArray-1].revisionFuncionalCompleta) || 0
                                                
                                                arrResFuncionalCompleta.push(pathToMongoOtEtapaTerceraSegunda[i].funcionalCompleta)
                                                arrResRevisionFuncionalCompleta.push(pathToMongoOtEtapaTerceraSegunda[i].revisionFuncionalCompleta)
                                            }
                                        }
                                        valueArrayResFuncionalCompleta = parseInt(arrResFuncionalCompleta.length-1)
                                        resFuncionalCompleta = pathToMongoOtEtapaTerceraSegunda[0].FuncionalCompleta
                                        
                                    } else {
                                        arrResFuncionalCompleta.push(resFuncionalCompleta)
                                        arrResRevisionFuncionalCompleta.push(resRevisionFuncionalCompleta)
                                    } %>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFuncionalCompleta %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResFuncionalCompleta %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionFuncionalCompleta %>">
                                
                                    <% const config = etapaTerceraSegundaConfig[resFuncionalCompleta] || etapaTerceraSegundaConfig.default; %>
                                    <span id="resFuncionalCompleta<%=k%>_<%=n%>_<%=q%>" value="<%=resFuncionalCompleta%>">
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |
                                    <span id="resRevisionFuncionalCompleta<%=k%>_<%=n%>_<%=q%>" name="resRevisionFuncionalCompleta" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionFuncionalCompleta %>
                                    </span>
                                </td>

                            <% } else if (q==19) { %>
                                <!-- LTH Etapa Tercera data Inactivo -->
                                <td class="text-center align-middle">
                                    <% if (largoArrayEtapaTerceraSegunda > 0) {
                                        for (let i = 0; largoArrayEtapaTerceraSegunda > i; i++) {
                                            
                                            if (pathToMongoOtEtapaTerceraSegunda[i]) {
                                                let largoArray = parseInt(largoArrayEtapaTerceraSegunda)
                                                resLthEtapaTercera = pathToMongoOtEtapaTerceraSegunda[largoArray-1].lthEtapaTercera || 'S/D'
                                                resRevisionLthEtapaTercera = parseInt(pathToMongoOtEtapaTerceraSegunda[largoArray-1].revisionLthEtapaTercera) || 0
                                                
                                                arrResLthEtapaTercera.push(pathToMongoOtEtapaTerceraSegunda[i].lthEtapaTercera)
                                                arrResRevisionLthEtapaTercera.push(pathToMongoOtEtapaTerceraSegunda[i].revisionLthEtapaTercera)
                                            }
                                        }
                                        valueArrayResLthEtapaTercera = parseInt(arrResLthEtapaTercera.length-1)
                                        resLthEtapaTercera = pathToMongoOtEtapaTerceraSegunda[0].lthEtapaTercera
                                        
                                    } else {
                                        arrResLthEtapaTercera.push(resLthEtapaTercera)
                                        arrResRevisionLthEtapaTercera.push(resRevisionLthEtapaTercera)
                                    } %>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResLthEtapaTercera %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResLthEtapaTercera %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionLthEtapaTercera %>">

                                    <% const config = etapaTerceraSegundaConfig[resLthEtapaTercera] || etapaTerceraSegundaConfig.default; %>
                                    <span id="resLthEtapaTercera<%=k%>_<%=n%>_<%=q%>" value="<%=resLthEtapaTercera%>">
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |
                                    <span id="resRevisionLthEtapaTercera<%=k%>_<%=n%>_<%=q%>" name="resRevisionLthEtapaTercera" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionLthEtapaTercera %>
                                    </span>
                                </td>

                            <% } else { %>
                                <!-- Liberar Pieza Metrologia data Inactivo -->
                                <td class="text-center align-middle">
                                    <% if (largoArrayEtapaTerceraSegunda > 0) {
                                        for (let i = 0; largoArrayEtapaTerceraSegunda > i; i++) {
                                            
                                            if (pathToMongoOtEtapaTerceraSegunda[i]) {
                                                let largoArray = parseInt(largoArrayEtapaTerceraSegunda)
                                                resLiberarPiezaMetrologia = pathToMongoOtEtapaTerceraSegunda[largoArray-1].liberarPiezaMetrologia || "S/D"
                                                resRevisionLiberarPiezaMetrologia = parseInt(pathToMongoOtEtapaTerceraSegunda[largoArray-1].revisionLiberarPiezaMetrologia) || 0
                                                
                                                arrResLiberarPiezaMetrologia.push(pathToMongoOtEtapaTerceraSegunda[i].liberarPiezaMetrologia)
                                                arrResRevisionLiberarPiezaMetrologia.push(pathToMongoOtEtapaTerceraSegunda[i].revisionLiberarPiezaMetrologia)
                                            }
                                        }
                                        valueArrayResLiberarPiezaMetrologia = parseInt(arrResLiberarPiezaMetrologia.length-1)
                                        resLiberarPiezaMetrologia = pathToMongoOtEtapaTerceraSegunda[0].liberarPiezaMetrologia
                                        
                                    } else {
                                        arrResLiberarPiezaMetrologia.push(resLiberarPiezaMetrologia)
                                        arrResRevisionLiberarPiezaMetrologia.push(resRevisionLiberarPiezaMetrologia)
                                    } %>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResLiberarPiezaMetrologia %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResLiberarPiezaMetrologia %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionLiberarPiezaMetrologia %>">

                                    <% const config = etapaTerceraSegundaConfig[resLiberarPiezaMetrologia] || etapaTerceraSegundaConfig.default; %>
                                    <span id="resLiberarPiezaMetrologia<%=k%>_<%=n%>_<%=q%>" value="<%=resLiberarPiezaMetrologia%>">
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |
                                    <span id="resRevisionLiberarPiezaMetrologia<%=k%>_<%=n%>_<%=q%>" name="resRevisionLiberarPiezaMetrologia" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionLiberarPiezaMetrologia %>
                                    </span>
                                </td>
                            <% }
                        } %>
                    </tr>
                <% }
            }
        }) %>
    </tbody>
</table>