<!-- tabla Ciclo Corrección Tercera -->
<table id="tablaOtCicloCorreccionTercera<%=k%>" class="table-responsive align-middle col-5 border-end border-dark" style="font-size: 10pt; width: 100%">
    <thead class="align-middle" style="background-color: #d8d8eb">
        <tr>
            <th colspan="3" class="text-center">3° CICLO CORRECCIÓN
                <% if (userInfo.admin || userInfo.area === 'fabricacion') { %>
                    <button id="posBtnAddDataOtCicloCorreccionTercera<%=k%>" type="button" name="btnOtCicloCorreccionTercera" class="btn btn-small btn-success shadow m-1 me-5 mb-1 position-relative" style="--bs-btn-font-size: .6rem; color: var(--bs-white);" title="Agregar/Modificar Datos" value="<%=k%>">
                        <i class="fa-solid fa-pencil fa-lg" aria-hidden="true"></i>
                        <span id="spanCheckSelecMasiveCicCorTer<%=k%>" class="position-absolute top-50 start-100 translate-middle badge rounded-pill bg-danger">
                            0
                            <span class="visually-hidden">Elementos seleccionados</span>
                        </span>
                    </button>
                <% } else { %>
                    <button type="button" class="btn btn-small btn-danger shadow m-1 me-5 mb-1 disabled" style="--bs-btn-font-size: .6rem; color: var(--bs-white);">
                        <i class="fa-solid fa-ban fa-lg" aria-hidden="true"></i>                                                    
                    </button>
                <% } %>
                <i class="fa-solid fa-arrows-spin fa-lg" style="color: #b09b12;"></i> En Proceso -
                <i class="fa-solid fa-circle-check fa-lg" style="color: #008f30;"></i> Terminado -
                <i class="fa-solid fa-circle-xmark fa-lg" style="color: #c40000;"></i> Detenido -
                <i class="fa-solid fa-ban fa-lg"></i> No Aplica -
                <i class="fa-solid fa-triangle-exclamation fa-lg" style="color: #1c21ac;"></i> Sin Datos
            </th>
        </tr>
        <tr>
            <th id="colData0" style="width:33vw" scope="col-1" class="text-center">Pza Medida + Reunión | Rev.</th>
            <th id="colData1" style="width:33vw" scope="col-1" class="text-center">Máquina | Rev.</th>
            <th id="colData2" style="width:33vw" scope="col-1" class="text-center">Ajuste | Rev.</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <% const cicloCorreccionTerceraConfig = {
            enProceso: { icon: "fa-arrows-spin fa-spin", iconColor: "color:#b09b12" },
            terminado: { icon: "fa-circle-check", iconColor: "color:#008f30" },
            detenido: { icon: "fa-circle-xmark", iconColor: "color:#c40000" },
            noAplica: { icon: "fa-ban", iconColor: "color:#000000" },
            default: { icon: "fa-triangle-exclamation", iconColor: "color:#1c21ac" }
        };

        proyecto[m].project[j].oci[k].otProject.forEach((ot, n) => {
            let pathMongoOtProject = proyecto[m].project[j].oci[k].otProject,
                pathMongoOtAjuste = pathMongoOtProject[n].otAjuste[0];

            let anteriorDisabled = "disabled", siguienteDisabled = "disabled",
                resPiezaMedidaReunionTercera = "S/D", resRevisionPiezaMedidaReunionTercera = 0,
                resMaquinaTercera = "S/D", resRevisionMaquinaTercera = 0,
                resAjusteTercera = "S/D", resRevisionAjusteTercera = 0;

            if (pathMongoOtProject[n].visible) {
                let pathToMongoOtCicloCorreccionTercera = pathMongoOtAjuste.otInfoCicloCorreccionTercera || [],
                    largoArrayCicloCorreccionTercera = parseInt(pathToMongoOtCicloCorreccionTercera.length);

                let arrResPiezaMedidaReunionTercera = [], valueArrayResPiezaMedidaReunionTercera = 0, arrResRevisionPiezaMedidaReunionTercera = [],
                    arrResCreadorPiezaMedidaReunionTercera = [], arrResModificadorPiezaMedidaReunionTercera = [], arrResFechaPiezaMedidaReunionTercera = [], arrResFechaModPiezaMedidaReunionTercera = [];

                let arrResMaquinaTercera = [], valueArrayResMaquinaTercera = 0, arrResRevisionMaquinaTercera = [],
                    arrResCreadorMaquinaTercera = [], arrResModificadorMaquinaTercera = [], arrResFechaMaquinaTercera = [], arrResFechaModMaquinaTercera = [];

                let arrResAjusteTercera = [], valueArrayResAjusteTercera = 0, arrResRevisionAjusteTercera = [],
                    arrResCreadorAjusteTercera = [], arrResModificadorAjusteTercera = [], arrResFechaAjusteTercera = [], arrResFechaModAjusteTercera = [];

                if (pathMongoOtProject[n].otStatus) { %>
                    <!--Activo-->
                    <tr name="rowSelected<%=k%>_<%=n%>" class="border-bottom" style="height: 7vh;">
                        <% for (let q = 27; totalColDataCicloCorreccionTercera > q; q++) {
                            if (q==27) { %>
                                <!-- Pieza Medida Reunion Tercera data Activo--> 
                                <td class="text-center align-middle">
                                    <% if (largoArrayCicloCorreccionTercera > 0) {

                                        for (let i = 0; largoArrayCicloCorreccionTercera > i; i++) {
                                            if (pathToMongoOtCicloCorreccionTercera[i]) {
                                                let largoArray = parseInt(largoArrayCicloCorreccionTercera)
                                                resPiezaMedidaReunionTercera = pathToMongoOtCicloCorreccionTercera[largoArray-1].piezaMedidaReunionTercera == 'sinDato' ? "S/D" : pathToMongoOtCicloCorreccionTercera[largoArray-1].piezaMedidaReunionTercera
                                                resRevisionPiezaMedidaReunionTercera = parseInt(pathToMongoOtCicloCorreccionTercera[largoArray-1].revisionPiezaMedidaReunionTercera) || 0
                                                
                                                pathToMongoOtCicloCorreccionTercera[i].piezaMedidaReunionTercera == 'sinDato' ? arrResPiezaMedidaReunionTercera.push("S/D") : arrResPiezaMedidaReunionTercera.push(pathToMongoOtCicloCorreccionTercera[i].piezaMedidaReunionTercera)
                                                arrResRevisionPiezaMedidaReunionTercera.push(pathToMongoOtCicloCorreccionTercera[i].revisionPiezaMedidaReunionTercera)

                                                arrResCreadorPiezaMedidaReunionTercera.push(pathToMongoOtCicloCorreccionTercera[i].creator[0].username)
                                                arrResModificadorPiezaMedidaReunionTercera.push(pathToMongoOtCicloCorreccionTercera[i].modificator[0].username)
                                                arrResFechaPiezaMedidaReunionTercera.push(pathToMongoOtCicloCorreccionTercera[i].timestamp)
                                                arrResFechaModPiezaMedidaReunionTercera.push(pathToMongoOtCicloCorreccionTercera[i].modifiedOn)
                                            }
                                        }
                                        valueArrayResPiezaMedidaReunionTercera = parseInt(arrResPiezaMedidaReunionTercera.length-1)

                                        if (arrResPiezaMedidaReunionTercera.length == 1 ) {
                                            anteriorDisabled = "disabled"
                                            siguienteDisabled = "disabled"
                                        } else if (arrResPiezaMedidaReunionTercera.length == arrResRevisionPiezaMedidaReunionTercera.length) {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        } else {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        }
                                        
                                    } else {
                                        arrResPiezaMedidaReunionTercera.push(resPiezaMedidaReunionTercera)
                                        arrResRevisionPiezaMedidaReunionTercera.push(resRevisionPiezaMedidaReunionTercera)
                                        
                                        arrResCreadorPiezaMedidaReunionTercera.push(pathMongoOtProject[n].creator[0].username)
                                        arrResModificadorPiezaMedidaReunionTercera = ""
                                        arrResFechaPiezaMedidaReunionTercera.push(pathMongoOtProject[n].timestamp)
                                        arrResFechaModPiezaMedidaReunionTercera = ""
                                    } %>
                                    
                                    <div id="btnAnteriorSiguientePiezaMedidaReunionTercera<%=k%>_<%=n%>_<%=q%>">
                                        <button id="btnAnteriorPiezaMedidaReunionTercera<%=k%>_<%=n%>_<%=q%>" name="btnAnteriorPiezaMedidaReunionTercera" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= anteriorDisabled %>
                                            ><i class="fa-solid fa-arrow-left"></i>
                                        </button>
                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResPiezaMedidaReunionTercera %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResPiezaMedidaReunionTercera %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionPiezaMedidaReunionTercera %>">
                                        <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorPiezaMedidaReunionTercera %>">
                                        <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorPiezaMedidaReunionTercera %>">
                                        <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaPiezaMedidaReunionTercera %>">
                                        <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModPiezaMedidaReunionTercera %>">

                                        <% const config = cicloCorreccionTerceraConfig[resPiezaMedidaReunionTercera] || cicloCorreccionTerceraConfig.default; %>
                                        <span id="resPiezaMedidaReunionTercera<%=k%>_<%=n%>_<%=q%>" value="<%=resPiezaMedidaReunionTercera%>">
                                            <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                        </span> |
                                        <span id="resRevisionPiezaMedidaReunionTercera<%=k%>_<%=n%>_<%=q%>" name="resRevisionPiezaMedidaReunionTercera" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                            <%= resRevisionPiezaMedidaReunionTercera %>
                                        </span>

                                        <button id="btnSiguientePiezaMedidaReunionTercera<%=k%>_<%=n%>_<%=q%>" name="btnSiguientePiezaMedidaReunionTercera" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;" <%= siguienteDisabled %>
                                            ><i class="fa-solid fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </td>

                            <% } else if (q==28) { %>
                                <!-- Maquina Tercera data Activo-->
                                <td class="text-center align-middle">
                                    <% if (largoArrayCicloCorreccionTercera > 0) {

                                        for (let i = 0; largoArrayCicloCorreccionTercera > i; i++) {
                                            if (pathToMongoOtCicloCorreccionTercera[i]) {
                                                let largoArray = parseInt(largoArrayCicloCorreccionTercera)
                                                resMaquinaTercera = pathToMongoOtCicloCorreccionTercera[largoArray-1].maquinaTercera == 'sinDato' ? "S/D" :  pathToMongoOtCicloCorreccionTercera[largoArray-1].maquinaTercera
                                                resRevisionMaquinaTercera = parseInt(pathToMongoOtCicloCorreccionTercera[largoArray-1].revisionMaquinaTercera) || 0
                                                
                                                pathToMongoOtCicloCorreccionTercera[i].maquinaTercera == 'sinDato' ? arrResMaquinaTercera.push("S/D") : arrResMaquinaTercera.push(pathToMongoOtCicloCorreccionTercera[i].maquinaTercera)
                                                arrResRevisionMaquinaTercera.push(pathToMongoOtCicloCorreccionTercera[i].revisionMaquinaTercera)
                                                
                                                arrResCreadorMaquinaTercera.push(pathToMongoOtCicloCorreccionTercera[i].creator[0].username)
                                                arrResModificadorMaquinaTercera.push(pathToMongoOtCicloCorreccionTercera[i].modificator[0].username)
                                                arrResFechaMaquinaTercera.push(pathToMongoOtCicloCorreccionTercera[i].timestamp)
                                                arrResFechaModMaquinaTercera.push(pathToMongoOtCicloCorreccionTercera[i].modifiedOn)
                                            }
                                        }
                                        valueArrayResMaquinaTercera = parseInt(arrResMaquinaTercera.length-1)
                                                
                                        if (arrResMaquinaTercera.length == 1 ) {
                                            anteriorDisabled = "disabled"
                                            siguienteDisabled = "disabled"
                                        } else if (arrResMaquinaTercera.length == arrResRevisionMaquinaTercera.length) {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        } else {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        }
                                        
                                    } else {
                                        arrResMaquinaTercera.push(resMaquinaTercera)
                                        arrResRevisionMaquinaTercera.push(resRevisionMaquinaTercera)
                                        
                                        arrResCreadorMaquinaTercera.push(pathMongoOtProject[n].creator[0].username)
                                        arrResModificadorMaquinaTercera = ""
                                        arrResFechaMaquinaTercera.push(pathMongoOtProject[n].timestamp)
                                        arrResFechaModMaquinaTercera = ""
                                    } %>
                                    
                                    <div id="btnAnteriorSiguienteMaquinaTercera<%=k%>_<%=n%>_<%=q%>">
                                        <button id="btnAnteriorMaquinaTercera<%=k%>_<%=n%>_<%=q%>" name="btnAnteriorMaquinaTercera" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= anteriorDisabled %>
                                            ><i class="fa-solid fa-arrow-left"></i>
                                        </button>
                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResMaquinaTercera %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResMaquinaTercera %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionMaquinaTercera %>">
                                        <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorMaquinaTercera %>">
                                        <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorMaquinaTercera %>">
                                        <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaMaquinaTercera %>">
                                        <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModMaquinaTercera %>">

                                        <% const config = cicloCorreccionTerceraConfig[resMaquinaTercera] || cicloCorreccionTerceraConfig.default; %>
                                        <span id="resMaquinaTercera<%=k%>_<%=n%>_<%=q%>" value="<%=resMaquinaTercera%>">
                                            <i   class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                        </span> |
                                        <span id="resRevisionMaquinaTercera<%=k%>_<%=n%>_<%=q%>" name="resRevisionMaquinaTercera" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                            <%= resRevisionMaquinaTercera %>
                                        </span>

                                        <button id="btnSiguienteMaquinaTercera<%=k%>_<%=n%>_<%=q%>" name="btnSiguienteMaquinaTercera" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= siguienteDisabled %>
                                            ><i class="fa-solid fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </td>

                            <% } else { %>
                                <!-- Ajuste Tercera data Activo-->
                                <td class="text-center align-middle">
                                    <% if (largoArrayCicloCorreccionTercera > 0) {

                                        for (let i = 0; largoArrayCicloCorreccionTercera > i; i++) {
                                            if (pathToMongoOtCicloCorreccionTercera[i]) {
                                                let largoArray = parseInt(largoArrayCicloCorreccionTercera)
                                                resAjusteTercera = pathToMongoOtCicloCorreccionTercera[largoArray-1].ajusteTercera == 'sinDato' ? "S/D" : pathToMongoOtCicloCorreccionTercera[largoArray-1].ajusteTercera
                                                resRevisionAjusteTercera = parseInt(pathToMongoOtCicloCorreccionTercera[largoArray-1].revisionAjusteTercera) || 0
                                                
                                                pathToMongoOtCicloCorreccionTercera[i].ajusteTercera == 'sinDato' ? arrResAjusteTercera.push('S/D') : arrResAjusteTercera.push(pathToMongoOtCicloCorreccionTercera[i].ajusteTercera)
                                                arrResRevisionAjusteTercera.push(pathToMongoOtCicloCorreccionTercera[i].revisionAjusteTercera)
                                            
                                                arrResCreadorAjusteTercera.push(pathToMongoOtCicloCorreccionTercera[i].creator[0].username)
                                                arrResModificadorAjusteTercera.push(pathToMongoOtCicloCorreccionTercera[i].modificator[0].username)
                                                arrResFechaAjusteTercera.push(pathToMongoOtCicloCorreccionTercera[i].timestamp)
                                                arrResFechaModAjusteTercera.push(pathToMongoOtCicloCorreccionTercera[i].modifiedOn)
                                            }
                                        }
                                        valueArrayResAjusteTercera = parseInt(arrResAjusteTercera.length-1)
                                                
                                        if (arrResAjusteTercera.length == 1 ) {
                                            siguienteDisabled = "disabled"
                                            anteriorDisabled = "disabled"
                                        } else if (arrResAjusteTercera.length == arrResRevisionAjusteTercera.length) {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        } else {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        }
                                                
                                    } else {
                                        arrResAjusteTercera.push(resAjusteTercera)
                                        arrResRevisionAjusteTercera.push(resRevisionAjusteTercera)
                                        
                                        arrResCreadorAjusteTercera.push(pathMongoOtProject[n].creator[0].username)
                                        arrResModificadorAjusteTercera = ""
                                        arrResFechaAjusteTercera.push(pathMongoOtProject[n].timestamp)
                                        arrResFechaModAjusteTercera = ""
                                    } %>

                                <div id="btnAnteriorSiguienteAjusteTercera<%=k%>_<%=n%>_<%=q%>">
                                    <button id="btnAnteriorAjusteTercera<%=k%>_<%=n%>_<%=q%>" name="btnAnteriorAjusteTercera" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                        <%= anteriorDisabled %>
                                        ><i class="fa-solid fa-arrow-left"></i>
                                    </button>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResAjusteTercera %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResAjusteTercera %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionAjusteTercera %>">
                                    <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorAjusteTercera %>">
                                    <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorAjusteTercera %>">
                                    <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaAjusteTercera %>">
                                    <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModAjusteTercera %>">

                                    <% const config = cicloCorreccionTerceraConfig[resAjusteTercera] || cicloCorreccionTerceraConfig.default; %>
                                    <span id="resAjusteTercera<%=k%>_<%=n%>_<%=q%>" value="<%=resAjusteTercera%>">
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |

                                    <span id="resRevisionAjusteTercera<%=k%>_<%=n%>_<%=q%>" name="resRevisionAjusteTercera" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionAjusteTercera %>
                                    </span>

                                    <button id="btnSiguienteAjusteTercera<%=k%>_<%=n%>_<%=q%>" name="btnSiguienteAjusteTercera" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                        <%= siguienteDisabled %>
                                        ><i class="fa-solid fa-arrow-right"></i>
                                    </button>
                                </div>
                            </td>
                            <% }
                        } %>
                    </tr>

                <% } else { %>
                    <!--Inactivo-->
                    <tr name="rowSelected<%=k%>_<%=n%>" class="pe-none border-bottom" style="height: 7vh; background-color: #dedede;">
                        <% for (let q = 27; totalColDataCicloCorreccionTercera > q; q++) {
                            if (q==27) { %>
                                <!-- Pieza Medida Reunion Tercera data Inactivo -->
                                <td class="text-center align-middle">
                                    <% if (largoArrayCicloCorreccionTercera > 0) {
                                        for (let i = 0; largoArrayCicloCorreccionTercera > i; i++) {

                                            if (pathToMongoOtCicloCorreccionTercera[i]) {
                                                let largoArray = parseInt(largoArrayCicloCorreccionTercera)
                                                resPiezaMedidaReunionTercera = pathToMongoOtCicloCorreccionTercera[largoArray-1].piezaMedidaReunionTercera || 'S/D'
                                                resRevisionPiezaMedidaReunionTercera = parseInt(pathToMongoOtCicloCorreccionTercera[largoArray-1].revisionPiezaMedidaReunionTercera) || 0
                                                
                                                arrResPiezaMedidaReunionTercera.push(pathToMongoOtCicloCorreccionTercera[i].piezaMedidaReunionTercera)
                                                arrResRevisionPiezaMedidaReunionTercera.push(pathToMongoOtCicloCorreccionTercera[i].revisionPiezaMedidaReunionTercera)
                                            }
                                        }
                                        valueArrayResPiezaMedidaReunionTercera = parseInt(arrResPiezaMedidaReunionTercera.length-1)
                                        resPiezaMedidaReunionTercera = pathToMongoOtCicloCorreccionTercera[0].PiezaMedidaReunionTercera
                                        
                                    } else {
                                        arrResPiezaMedidaReunionTercera.push(resPiezaMedidaReunionTercera)
                                        arrResRevisionPiezaMedidaReunionTercera.push(resRevisionPiezaMedidaReunionTercera)
                                    } %>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResPiezaMedidaReunionTercera %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResPiezaMedidaReunionTercera %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionPiezaMedidaReunionTercera %>">
                                
                                    <% const config = cicloCorreccionTerceraConfig[resPiezaMedidaReunionTercera] || cicloCorreccionTerceraConfig.default; %>
                                    <span id="resPiezaMedidaReunionTercera<%=k%>_<%=n%>_<%=q%>" value="<%=resPiezaMedidaReunionTercera%>">
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |
                                    <span id="resRevisionPiezaMedidaReunionTercera<%=k%>_<%=n%>_<%=q%>" name="resRevisionPiezaMedidaReunionTercera" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionPiezaMedidaReunionTercera %>
                                    </span>
                                </td>

                            <% } else if (q==28) { %>
                                <!-- Maquina Tercera data Inactivo -->
                                <td class="text-center align-middle">
                                    <% if (largoArrayCicloCorreccionTercera > 0) {
                                        for (let i = 0; largoArrayCicloCorreccionTercera > i; i++) {
                                            
                                            if (pathToMongoOtCicloCorreccionTercera[i]) {
                                                let largoArray = parseInt(largoArrayCicloCorreccionTercera)
                                                resMaquinaTercera = pathToMongoOtCicloCorreccionTercera[largoArray-1].maquinaTercera || 'S/D'
                                                resRevisionMaquinaTercera = parseInt(pathToMongoOtCicloCorreccionTercera[largoArray-1].revisionMaquinaTercera) || 0
                                                
                                                arrResMaquinaTercera.push(pathToMongoOtCicloCorreccionTercera[i].maquinaTercera)
                                                arrResRevisionMaquinaTercera.push(pathToMongoOtCicloCorreccionTercera[i].revisionMaquinaTercera)
                                            }
                                        }
                                        valueArrayResMaquinaTercera = parseInt(arrResMaquinaTercera.length-1)
                                        resMaquinaTercera = pathToMongoOtCicloCorreccionTercera[0].maquinaTercera
                                        
                                    } else {
                                        arrResMaquinaTercera.push(resMaquinaTercera)
                                        arrResRevisionMaquinaTercera.push(resRevisionMaquinaTercera)
                                    } %>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResMaquinaTercera %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResMaquinaTercera %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionMaquinaTercera %>">

                                    <% const config = cicloCorreccionTerceraConfig[resMaquinaTercera] || cicloCorreccionTerceraConfig.default; %>
                                    <span id="resMaquinaTercera<%=k%>_<%=n%>_<%=q%>" value="<%=resMaquinaTercera%>">
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |
                                    <span id="resRevisionMaquinaTercera<%=k%>_<%=n%>_<%=q%>" name="resRevisionMaquinaTercera" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionMaquinaTercera %>
                                    </span>
                                </td>

                            <% } else { %>
                                <!-- Ajuste Tercera data Inactivo -->
                                <td class="text-center align-middle">
                                    <% if (largoArrayCicloCorreccionTercera > 0) {
                                        for (let i = 0; largoArrayCicloCorreccionTercera > i; i++) {
                                            
                                            if (pathToMongoOtCicloCorreccionTercera[i]) {
                                                let largoArray = parseInt(largoArrayCicloCorreccionTercera)
                                                resAjusteTercera = pathToMongoOtCicloCorreccionTercera[largoArray-1].ajusteTercera || "S/D"
                                                resRevisionAjusteTercera = parseInt(pathToMongoOtCicloCorreccionTercera[largoArray-1].revisionAjusteTercera) || 0
                                                
                                                arrResAjusteTercera.push(pathToMongoOtCicloCorreccionTercera[i].ajusteTercera)
                                                arrResRevisionAjusteTercera.push(pathToMongoOtCicloCorreccionTercera[i].revisionAjusteTercera)
                                            }
                                        }
                                        valueArrayResAjusteTercera = parseInt(arrResAjusteTercera.length-1)
                                        resAjusteTercera = pathToMongoOtCicloCorreccionTercera[0].ajusteTercera
                                        
                                    } else {
                                        arrResAjusteTercera.push(resAjusteTercera)
                                        arrResRevisionAjusteTercera.push(resRevisionAjusteTercera)
                                    } %>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResAjusteTercera %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResAjusteTercera %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionAjusteTercera %>">

                                    <% const config = cicloCorreccionTerceraConfig[resAjusteTercera] || cicloCorreccionTerceraConfig.default; %>
                                    <span id="resAjusteTercera<%=k%>_<%=n%>_<%=q%>" value="<%=resAjusteTercera%>">
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |

                                    <span id="resRevisionAjusteTercera<%=k%>_<%=n%>_<%=q%>" name="resRevisionAjusteTercera" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionAjusteTercera %>
                                    </span>
                                </td>
                            <% }
                        } %>
                    </tr>
                <% }
            }
        }) %>
    </tbody>
</table>