<!-- tabla Liberacion BuyOff Primera -->
<table id="tablaOtLiberacionBuyOffPrimera<%=k%>" class="table-responsive align-middle col-5 border-end border-dark" style="font-size: 10pt; width: 100%">
    <thead class="align-middle" style="background-color: #d8d8eb">
        <tr>
            <th colspan="3" class="text-center">LIBERACIÓN PARA BUY-OFF (1° Parte)
                <% if (userInfo.admin || userInfo.area === 'fabricacion') { %>
                    <button id="posBtnAddDataOtLiberacionBuyOffPrimera<%=k%>" type="button" name="btnOtLiberacionBuyOffPrimera" class="btn btn-small btn-success shadow m-1 me-5 mb-1 position-relative" style="--bs-btn-font-size: .6rem; color: var(--bs-white);" title="Agregar/Modificar Datos" value="<%=k%>">
                        <i class="fa-solid fa-pencil fa-lg" aria-hidden="true"></i>
                        <span id="spanCheckSelecMasiveLibBuyOffPrima<%=k%>" class="position-absolute top-50 start-100 translate-middle badge rounded-pill bg-danger">
                            0
                            <span class="visually-hidden">Elementos seleccionados</span>
                        </span>
                    </button>
                <% } else { %>
                    <button type="button" class="btn btn-small btn-danger shadow m-1 me-5 mb-1 disabled" style="--bs-btn-font-size: .6rem; color: var(--bs-white);">
                        <i class="fa-solid fa-ban fa-lg" aria-hidden="true"></i>                                                    
                    </button>
                <% } %>
                <i class="fa-solid fa-arrows-spin fa-lg" style="color: #b09b12;"></i> En Proceso -
                <i class="fa-solid fa-circle-check fa-lg" style="color: #008f30;"></i> Terminado -
                <i class="fa-solid fa-circle-xmark fa-lg" style="color: #c40000;"></i> Detenido -
                <i class="fa-solid fa-ban fa-lg"></i> No Aplica -
                <i class="fa-solid fa-triangle-exclamation fa-lg" style="color: #1c21ac;"></i> Sin Datos
            </th>
        </tr>
        <tr>
            <th id="colData0" style="width:33vw" scope="col-1" class="text-center">Azulado Fondo Pieza | Rev.</th>
            <th id="colData1" style="width:33vw" scope="col-1" class="text-center">Roces | Rev.</th>
            <th id="colData2" style="width:33vw" scope="col-1" class="text-center">Azulado Guías | Rev.</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        
        <% const liberacionBuyOffPrimeraConfig = {
            enProceso: { icon: "fa-arrows-spin fa-spin", iconColor: "color:#b09b12" },
            terminado: { icon: "fa-circle-check", iconColor: "color:#008f30" },
            detenido: { icon: "fa-circle-xmark", iconColor: "color:#c40000" },
            noAplica: { icon: "fa-ban", iconColor: "color:#000000" },
            default: { icon: "fa-triangle-exclamation", iconColor: "color:#1c21ac" }
        };

        proyecto[m].project[j].oci[k].otProject.forEach((ot, n) => {
            let pathMongoOtProject = proyecto[m].project[j].oci[k].otProject,
            pathMongoOtAjuste = pathMongoOtProject[n].otAjuste[0],
            largoArrayOtAjuste = parseInt(pathMongoOtAjuste.length)

            let anteriorDisabled = "disabled", siguienteDisabled = "disabled",
                resAzuladosFondoPieza = "S/D", resRevisionAzuladosFondoPieza = 0,
                resRoces = "S/D", resRevisionRoces = 0,
                resAzuladoGuias = "S/D", resRevisionAzuladoGuias = 0;
                
            if (pathMongoOtProject[n].visible) {
                let pathToMongoOtLiberacionBuyOffPrimera = pathMongoOtAjuste.otInfoLiberacionBuyOffPrimera || [],
                    largoArrayLiberacionBuyOffPrimera = parseInt(pathToMongoOtLiberacionBuyOffPrimera.length);

                let arrResAzuladosFondoPieza = [], valueArrayResAzuladosFondoPieza = 0, arrResRevisionAzuladosFondoPieza = [],
                arrResCreadorAzuladosFondoPieza = [], arrResModificadorAzuladosFondoPieza = [], arrResFechaAzuladosFondoPieza = [], arrResFechaModAzuladosFondoPieza = [];

                let arrResRoces = [], valueArrayResRoces = 0, arrResRevisionRoces = [],
                arrResCreadorRoces = [], arrResModificadorRoces = [], arrResFechaRoces = [], arrResFechaModRoces = [];

                let arrResAzuladoGuias = [], valueArrayResAzuladoGuias = 0, arrResRevisionAzuladoGuias = [],
                arrResCreadorAzuladoGuias = [], arrResModificadorAzuladoGuias = [], arrResFechaAzuladoGuias = [], arrResFechaModAzuladoGuias = [];

                if (pathMongoOtProject[n].otStatus) { %>
                    <!--Activo-->
                    <tr name="rowSelected<%=k%>_<%=n%>" class="border-bottom" style="height: 7vh;">
                        <% for (let q = 30; totalColDataLiberacionBuyOffPrimera > q; q++) {
                            if (q==30) { %>
                                <!-- Azulados Fondo Pieza data Activo--> 
                                <td class="text-center align-middle">
                                    <% if (largoArrayLiberacionBuyOffPrimera > 0) {

                                        for (let i = 0; largoArrayLiberacionBuyOffPrimera > i; i++) {
                                            if (pathToMongoOtLiberacionBuyOffPrimera[i]) {
                                                let largoArray = parseInt(largoArrayLiberacionBuyOffPrimera)
                                                resAzuladosFondoPieza = pathToMongoOtLiberacionBuyOffPrimera[largoArray-1].azuladosFondoPieza == 'sinDato' ? "S/D" : pathToMongoOtLiberacionBuyOffPrimera[largoArray-1].azuladosFondoPieza
                                                resRevisionAzuladosFondoPieza = parseInt(pathToMongoOtLiberacionBuyOffPrimera[largoArray-1].revisionAzuladosFondoPieza) || 0
                                                
                                                pathToMongoOtLiberacionBuyOffPrimera[i].azuladosFondoPieza == 'sinDato' ? arrResAzuladosFondoPieza.push("S/D") : arrResAzuladosFondoPieza.push(pathToMongoOtLiberacionBuyOffPrimera[i].azuladosFondoPieza)
                                                arrResRevisionAzuladosFondoPieza.push(pathToMongoOtLiberacionBuyOffPrimera[i].revisionAzuladosFondoPieza)

                                                arrResCreadorAzuladosFondoPieza.push(pathToMongoOtLiberacionBuyOffPrimera[i].creator[0].username)
                                                arrResModificadorAzuladosFondoPieza.push(pathToMongoOtLiberacionBuyOffPrimera[i].modificator[0].username)
                                                arrResFechaAzuladosFondoPieza.push(pathToMongoOtLiberacionBuyOffPrimera[i].timestamp)
                                                arrResFechaModAzuladosFondoPieza.push(pathToMongoOtLiberacionBuyOffPrimera[i].modifiedOn)
                                            }
                                        }
                                        valueArrayResAzuladosFondoPieza = parseInt(arrResAzuladosFondoPieza.length-1)

                                        if (arrResAzuladosFondoPieza.length == 1 ) {
                                            anteriorDisabled = "disabled"
                                            siguienteDisabled = "disabled"
                                        } else if (arrResAzuladosFondoPieza.length == arrResRevisionAzuladosFondoPieza.length) {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        } else {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        }
                                        
                                    } else {
                                        arrResAzuladosFondoPieza.push(resAzuladosFondoPieza)
                                        arrResRevisionAzuladosFondoPieza.push(resRevisionAzuladosFondoPieza)
                                        
                                        arrResCreadorAzuladosFondoPieza.push(pathMongoOtProject[n].creator[0].username)
                                        arrResModificadorAzuladosFondoPieza = ""
                                        arrResFechaAzuladosFondoPieza.push(pathMongoOtProject[n].timestamp)
                                        arrResFechaModAzuladosFondoPieza = ""
                                    } %>
                                    
                                    <div id="btnAnteriorSiguienteAzuladosFondoPieza<%=k%>_<%=n%>_<%=q%>">
                                        <button id="btnAnteriorAzuladosFondoPieza<%=k%>_<%=n%>_<%=q%>" name="btnAnteriorAzuladosFondoPieza" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= anteriorDisabled %>
                                            ><i class="fa-solid fa-arrow-left"></i>
                                        </button>
                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResAzuladosFondoPieza %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResAzuladosFondoPieza %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionAzuladosFondoPieza %>">
                                        <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorAzuladosFondoPieza %>">
                                        <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorAzuladosFondoPieza %>">
                                        <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaAzuladosFondoPieza %>">
                                        <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModAzuladosFondoPieza %>">

                                        <% const config = liberacionBuyOffPrimeraConfig[resAzuladosFondoPieza] || liberacionBuyOffPrimeraConfig.default; %>
                                        <span id="resAzuladosFondoPieza<%=k%>_<%=n%>_<%=q%>" value="<%=resAzuladosFondoPieza%>">
                                            <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                        </span> |
                                        <span id="resRevisionAzuladosFondoPieza<%=k%>_<%=n%>_<%=q%>" name="resRevisionAzuladosFondoPieza" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                            <%= resRevisionAzuladosFondoPieza %>
                                        </span>

                                        <button id="btnSiguienteAzuladosFondoPieza<%=k%>_<%=n%>_<%=q%>" name="btnSiguienteAzuladosFondoPieza" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;" <%= siguienteDisabled %>
                                            ><i class="fa-solid fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </td>

                            <% } else if (q==31) { %>
                                <!-- Roces data Activo-->
                                <td class="text-center align-middle">
                                    <% if (largoArrayLiberacionBuyOffPrimera > 0) {

                                        for (let i = 0; largoArrayLiberacionBuyOffPrimera > i; i++) {
                                            if (pathToMongoOtLiberacionBuyOffPrimera[i]) {
                                                let largoArray = parseInt(largoArrayLiberacionBuyOffPrimera)
                                                resRoces = pathToMongoOtLiberacionBuyOffPrimera[largoArray-1].roces == 'sinDato' ? "S/D" :  pathToMongoOtLiberacionBuyOffPrimera[largoArray-1].roces
                                                resRevisionRoces = parseInt(pathToMongoOtLiberacionBuyOffPrimera[largoArray-1].revisionRoces) || 0
                                                
                                                pathToMongoOtLiberacionBuyOffPrimera[i].roces == 'sinDato' ? arrResRoces.push("S/D") : arrResRoces.push(pathToMongoOtLiberacionBuyOffPrimera[i].roces)
                                                arrResRevisionRoces.push(pathToMongoOtLiberacionBuyOffPrimera[i].revisionRoces)
                                                
                                                arrResCreadorRoces.push(pathToMongoOtLiberacionBuyOffPrimera[i].creator[0].username)
                                                arrResModificadorRoces.push(pathToMongoOtLiberacionBuyOffPrimera[i].modificator[0].username)
                                                arrResFechaRoces.push(pathToMongoOtLiberacionBuyOffPrimera[i].timestamp)
                                                arrResFechaModRoces.push(pathToMongoOtLiberacionBuyOffPrimera[i].modifiedOn)
                                            }
                                        }
                                        valueArrayResRoces = parseInt(arrResRoces.length-1)
                                                
                                        if (arrResRoces.length == 1 ) {
                                            anteriorDisabled = "disabled"
                                            siguienteDisabled = "disabled"
                                        } else if (arrResRoces.length == arrResRevisionRoces.length) {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        } else {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        }
                                        
                                    } else {
                                        arrResRoces.push(resRoces)
                                        arrResRevisionRoces.push(resRevisionRoces)
                                        
                                        arrResCreadorRoces.push(pathMongoOtProject[n].creator[0].username)
                                        arrResModificadorRoces = ""
                                        arrResFechaRoces.push(pathMongoOtProject[n].timestamp)
                                        arrResFechaModRoces = ""
                                    } %>
                                    
                                    <div id="btnAnteriorSiguienteRoces<%=k%>_<%=n%>_<%=q%>">
                                        <button id="btnAnteriorRoces<%=k%>_<%=n%>_<%=q%>" name="btnAnteriorRoces" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= anteriorDisabled %>
                                            ><i class="fa-solid fa-arrow-left"></i>
                                        </button>
                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRoces %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResRoces %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionRoces %>">
                                        <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorRoces %>">
                                        <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorRoces %>">
                                        <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaRoces %>">
                                        <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModRoces %>">

                                        <% const config = liberacionBuyOffPrimeraConfig[resRoces] || liberacionBuyOffPrimeraConfig.default; %>
                                        <span id="resRoces<%=k%>_<%=n%>_<%=q%>" value="<%=resRoces%>">
                                            <i   class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                        </span> |
                                        <span id="resRevisionRoces<%=k%>_<%=n%>_<%=q%>" name="resRevisionRoces" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                            <%= resRevisionRoces %>
                                        </span>

                                        <button id="btnSiguienteRoces<%=k%>_<%=n%>_<%=q%>" name="btnSiguienteRoces" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= siguienteDisabled %>
                                            ><i class="fa-solid fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </td>

                            <% } else { %>
                                <!-- Azulado Guias data Activo-->
                                <td class="text-center align-middle">
                                    <% if (largoArrayLiberacionBuyOffPrimera > 0) {

                                        for (let i = 0; largoArrayLiberacionBuyOffPrimera > i; i++) {
                                            if (pathToMongoOtLiberacionBuyOffPrimera[i]) {
                                                let largoArray = parseInt(largoArrayLiberacionBuyOffPrimera)
                                                resAzuladoGuias = pathToMongoOtLiberacionBuyOffPrimera[largoArray-1].azuladoGuias == 'sinDato' ? "S/D" : pathToMongoOtLiberacionBuyOffPrimera[largoArray-1].azuladoGuias
                                                resRevisionAzuladoGuias = parseInt(pathToMongoOtLiberacionBuyOffPrimera[largoArray-1].revisionAzuladoGuias) || 0
                                                
                                                pathToMongoOtLiberacionBuyOffPrimera[i].azuladoGuias == 'sinDato' ? arrResAzuladoGuias.push('S/D') : arrResAzuladoGuias.push(pathToMongoOtLiberacionBuyOffPrimera[i].azuladoGuias)
                                                arrResRevisionAzuladoGuias.push(pathToMongoOtLiberacionBuyOffPrimera[i].revisionAzuladoGuias)
                                            
                                                arrResCreadorAzuladoGuias.push(pathToMongoOtLiberacionBuyOffPrimera[i].creator[0].username)
                                                arrResModificadorAzuladoGuias.push(pathToMongoOtLiberacionBuyOffPrimera[i].modificator[0].username)
                                                arrResFechaAzuladoGuias.push(pathToMongoOtLiberacionBuyOffPrimera[i].timestamp)
                                                arrResFechaModAzuladoGuias.push(pathToMongoOtLiberacionBuyOffPrimera[i].modifiedOn)
                                            }
                                        }
                                        valueArrayResAzuladoGuias = parseInt(arrResAzuladoGuias.length-1)
                                                
                                        if (arrResAzuladoGuias.length == 1 ) {
                                            siguienteDisabled = "disabled"
                                            anteriorDisabled = "disabled"
                                        } else if (arrResAzuladoGuias.length == arrResRevisionAzuladoGuias.length) {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        } else {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        }
                                                
                                    } else {
                                        arrResAzuladoGuias.push(resAzuladoGuias)
                                        arrResRevisionAzuladoGuias.push(resRevisionAzuladoGuias)
                                        
                                        arrResCreadorAzuladoGuias.push(pathMongoOtProject[n].creator[0].username)
                                        arrResModificadorAzuladoGuias = ""
                                        arrResFechaAzuladoGuias.push(pathMongoOtProject[n].timestamp)
                                        arrResFechaModAzuladoGuias = ""
                                    } %>

                                <div id="btnAnteriorSiguienteAzuladoGuias<%=k%>_<%=n%>_<%=q%>">
                                    <button id="btnAnteriorAzuladoGuias<%=k%>_<%=n%>_<%=q%>" name="btnAnteriorAzuladoGuias" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                        <%= anteriorDisabled %>
                                        ><i class="fa-solid fa-arrow-left"></i>
                                    </button>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResAzuladoGuias %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResAzuladoGuias %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionAzuladoGuias %>">
                                    <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorAzuladoGuias %>">
                                    <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorAzuladoGuias %>">
                                    <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaAzuladoGuias %>">
                                    <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModAzuladoGuias %>">

                                    <% const config = liberacionBuyOffPrimeraConfig[resAzuladoGuias] || liberacionBuyOffPrimeraConfig.default; %>
                                    <span id="resAzuladoGuias<%=k%>_<%=n%>_<%=q%>" value="<%=resAzuladoGuias%>">
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |
                                    <span id="resRevisionAzuladoGuias<%=k%>_<%=n%>_<%=q%>" name="resRevisionAzuladoGuias" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionAzuladoGuias %>
                                    </span>

                                    <button id="btnSiguienteAzuladoGuias<%=k%>_<%=n%>_<%=q%>" name="btnSiguienteAzuladoGuias" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                        <%= siguienteDisabled %>
                                        ><i class="fa-solid fa-arrow-right"></i>
                                    </button>
                                </div>
                            </td>
                            <% }
                        } %>
                    </tr>

                <% } else { %>
                    <!--Inactivo-->
                    <tr name="rowSelected<%=k%>_<%=n%>" class="pe-none border-bottom" style="height: 7vh; background-color: #dedede;">
                        <% for (let q = 30; totalColDataLiberacionBuyOffPrimera > q; q++) {
                            if (q==30) { %>
                                <!-- Azulados Fondo Pieza data Inactivo -->
                                <td class="text-center align-middle">
                                    <% if (largoArrayLiberacionBuyOffPrimera > 0) {
                                        for (let i = 0; largoArrayLiberacionBuyOffPrimera > i; i++) {

                                            if (pathToMongoOtLiberacionBuyOffPrimera[i]) {
                                                let largoArray = parseInt(largoArrayLiberacionBuyOffPrimera)
                                                resAzuladosFondoPieza = pathToMongoOtLiberacionBuyOffPrimera[largoArray-1].azuladosFondoPieza || 'S/D'
                                                resRevisionAzuladosFondoPieza = parseInt(pathToMongoOtLiberacionBuyOffPrimera[largoArray-1].revisionAzuladosFondoPieza) || 0
                                                
                                                arrResAzuladosFondoPieza.push(pathToMongoOtLiberacionBuyOffPrimera[i].azuladosFondoPieza)
                                                arrResRevisionAzuladosFondoPieza.push(pathToMongoOtLiberacionBuyOffPrimera[i].revisionAzuladosFondoPieza)
                                            }
                                        }
                                        valueArrayResAzuladosFondoPieza = parseInt(arrResAzuladosFondoPieza.length-1)
                                        resAzuladosFondoPieza = pathToMongoOtLiberacionBuyOffPrimera[0].AzuladosFondoPieza
                                        
                                    } else {
                                        arrResAzuladosFondoPieza.push(resAzuladosFondoPieza)
                                        arrResRevisionAzuladosFondoPieza.push(resRevisionAzuladosFondoPieza)
                                    } %>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResAzuladosFondoPieza %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResAzuladosFondoPieza %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionAzuladosFondoPieza %>">
                                
                                    <% const config = liberacionBuyOffPrimeraConfig[resAzuladosFondoPieza] || liberacionBuyOffPrimeraConfig.default; %>
                                    <span id="resAzuladosFondoPieza<%=k%>_<%=n%>_<%=q%>" value="<%=resAzuladosFondoPieza%>">
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |
                                    <span id="resRevisionAzuladosFondoPieza<%=k%>_<%=n%>_<%=q%>" name="resRevisionAzuladosFondoPieza" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionAzuladosFondoPieza %>
                                    </span>
                                </td>

                            <% } else if (q==31) { %>
                                <!-- Roces data Inactivo -->
                                <td class="text-center align-middle">
                                    <% if (largoArrayLiberacionBuyOffPrimera > 0) {
                                        for (let i = 0; largoArrayLiberacionBuyOffPrimera > i; i++) {
                                            
                                            if (pathToMongoOtLiberacionBuyOffPrimera[i]) {
                                                let largoArray = parseInt(largoArrayLiberacionBuyOffPrimera)
                                                resRoces = pathToMongoOtLiberacionBuyOffPrimera[largoArray-1].roces || 'S/D'
                                                resRevisionRoces = parseInt(pathToMongoOtLiberacionBuyOffPrimera[largoArray-1].revisionRoces) || 0
                                                
                                                arrResRoces.push(pathToMongoOtLiberacionBuyOffPrimera[i].roces)
                                                arrResRevisionRoces.push(pathToMongoOtLiberacionBuyOffPrimera[i].revisionRoces)
                                            }
                                        }
                                        valueArrayResRoces = parseInt(arrResRoces.length-1)
                                        resRoces = pathToMongoOtLiberacionBuyOffPrimera[0].roces
                                        
                                    } else {
                                        arrResRoces.push(resRoces)
                                        arrResRevisionRoces.push(resRevisionRoces)
                                    } %>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRoces %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResRoces %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionRoces %>">

                                    <% const config = liberacionBuyOffPrimeraConfig[resRoces] || liberacionBuyOffPrimeraConfig.default; %>
                                    <span id="resRoces<%=k%>_<%=n%>_<%=q%>" value="<%=resRoces%>">
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |
                                    <span id="resRevisionRoces<%=k%>_<%=n%>_<%=q%>" name="resRevisionRoces" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionRoces %>
                                    </span>
                                </td>

                            <% } else { %>
                                <!-- Azulado Guias data Inactivo -->
                                <td class="text-center align-middle">
                                    <% if (largoArrayLiberacionBuyOffPrimera > 0) {
                                        for (let i = 0; largoArrayLiberacionBuyOffPrimera > i; i++) {
                                            
                                            if (pathToMongoOtLiberacionBuyOffPrimera[i]) {
                                                let largoArray = parseInt(largoArrayLiberacionBuyOffPrimera)
                                                resAzuladoGuias = pathToMongoOtLiberacionBuyOffPrimera[largoArray-1].azuladoGuias || "S/D"
                                                resRevisionAzuladoGuias = parseInt(pathToMongoOtLiberacionBuyOffPrimera[largoArray-1].revisionAzuladoGuias) || 0
                                                
                                                arrResAzuladoGuias.push(pathToMongoOtLiberacionBuyOffPrimera[i].azuladoGuias)
                                                arrResRevisionAzuladoGuias.push(pathToMongoOtLiberacionBuyOffPrimera[i].revisionAzuladoGuias)
                                            }
                                        }
                                        valueArrayResAzuladoGuias = parseInt(arrResAzuladoGuias.length-1)
                                        resAzuladoGuias = pathToMongoOtLiberacionBuyOffPrimera[0].azuladoGuias
                                        
                                    } else {
                                        arrResAzuladoGuias.push(resAzuladoGuias)
                                        arrResRevisionAzuladoGuias.push(resRevisionAzuladoGuias)
                                    } %>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResAzuladoGuias %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResAzuladoGuias %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionAzuladoGuias %>">

                                    <% const config = liberacionBuyOffPrimeraConfig[resAzuladoGuias] || liberacionBuyOffPrimeraConfig.default; %>
                                    <span id="resAzuladoGuias<%=k%>_<%=n%>_<%=q%>" value="<%=resAzuladoGuias%>">
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |
                                    <span id="resRevisionAzuladoGuias<%=k%>_<%=n%>_<%=q%>" name="resRevisionAzuladoGuias" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionAzuladoGuias %>
                                    </span>
                                </td>
                            <% }
                        } %>
                    </tr>
                <% }
            }
        }) %>
    </tbody>
</table>