<!-- tabla Ciclo Corrección Segunda -->
<table id="tablaOtCicloCorreccionSegunda<%=k%>" class="table-responsive align-middle col-5 border-end border-dark" style="font-size: 10pt; width: 100%">
    <thead class="align-middle" style="background-color: #d8d8eb">
        <tr>
            <th colspan="3" class="text-center">2° CICLO CORRECCIÓN
                <% if (userInfo.admin || userInfo.area === 'fabricacion') { %>
                    <button id="posBtnAddDataOtCicloCorreccionSegunda<%=k%>" type="button" name="btnOtCicloCorreccionSegunda" class="btn btn-small btn-success shadow m-1 me-5 mb-2 position-relative" style="--bs-btn-font-size: .6rem; color: var(--bs-white);" title="Agregar/Modificar Datos" value="<%=k%>">
                        <i class="fa-solid fa-pencil fa-lg" aria-hidden="true"></i>
                        <span id="spanCheckSelecMasiveCicCorSeg<%=k%>" class="position-absolute top-100 start-100 translate-middle badge rounded-pill bg-danger">
                            0
                            <span class="visually-hidden">Elementos seleccionados</span>
                        </span>
                    </button>
                <% } else { %>
                    <button type="button" class="btn btn-small btn-danger shadow m-1 me-5 mb-2 disabled" style="--bs-btn-font-size: .6rem; color: var(--bs-white);">
                        <i class="fa-solid fa-ban fa-lg" aria-hidden="true"></i>                                                    
                    </button>
                <% } %>
                <i class="fa-solid fa-arrows-spin fa-lg" style="color: #b09b12;"></i> En Proceso -
                <i class="fa-solid fa-circle-check fa-lg" style="color: #008f30;"></i> Terminado -
                <i class="fa-solid fa-circle-xmark fa-lg" style="color: #c40000;"></i> Detenido -
                <i class="fa-solid fa-ban fa-lg"></i> No Aplica -
                <i class="fa-solid fa-triangle-exclamation fa-lg" style="color: #1c21ac;"></i> Sin Datos
            </th>
        </tr>
        <tr>
            <th id="colData0" style="width:33vw" scope="col-1" class="text-center pb-1">Pza Medida + Reunión | Rev.</th>
            <th id="colData1" style="width:33vw" scope="col-1" class="text-center pb-1">Máquina | Rev.</th>
            <th id="colData2" style="width:33vw" scope="col-1" class="text-center pb-1">Ajuste | Rev.</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        
        <% const cicloCorreccionSegundaConfig = {
            enProceso: { icon: "fa-arrows-spin fa-spin", iconColor: "color:#b09b12" },
            terminado: { icon: "fa-circle-check", iconColor: "color:#008f30" },
            detenido: { icon: "fa-circle-xmark", iconColor: "color:#c40000" },
            noAplica: { icon: "fa-ban", iconColor: "color:#000000" },
            default: { icon: "fa-triangle-exclamation", iconColor: "color:#1c21ac" }
        };

        proyecto[m].project[j].oci[k].otProject.forEach((ot, n) => {
            let pathMongoOtProject = proyecto[m].project[j].oci[k].otProject,
                pathMongoOtAjuste = pathMongoOtProject[n].otAjuste;

            let anteriorDisabled = "disabled", siguienteDisabled = "disabled",
                resPiezaMedidaReunionSegunda = "S/D", resRevisionPiezaMedidaReunionSegunda = 0,
                resMaquinaSegunda = "S/D", resRevisionMaquinaSegunda = 0,
                resAjusteSegunda = "S/D", resRevisionAjusteSegunda = 0;

            if (pathMongoOtProject[n].visible) {
                let pathToMongoOtCicloCorreccionSegunda = pathMongoOtProject[n].otCicloCorreccionSegunda || [],
                    largoArrayCicloCorreccionSegunda = parseInt(pathToMongoOtCicloCorreccionSegunda.length);

                let arrResPiezaMedidaReunionSegunda = [], valueArrayResPiezaMedidaReunionSegunda = 0, arrResRevisionPiezaMedidaReunionSegunda = [],
                    arrResCreadorPiezaMedidaReunionSegunda = [], arrResModificadorPiezaMedidaReunionSegunda = [], arrResFechaPiezaMedidaReunionSegunda = [], arrResFechaModPiezaMedidaReunionSegunda = [];

                let arrResMaquinaSegunda = [], valueArrayResMaquinaSegunda = 0, arrResRevisionMaquinaSegunda = [],
                    arrResCreadorMaquinaSegunda = [], arrResModificadorMaquinaSegunda = [], arrResFechaMaquinaSegunda = [], arrResFechaModMaquinaSegunda = [];

                let arrResAjusteSegunda = [], valueArrayResAjusteSegunda = 0, arrResRevisionAjusteSegunda = [],
                    arrResCreadorAjusteSegunda = [], arrResModificadorAjusteSegunda = [], arrResFechaAjusteSegunda = [], arrResFechaModAjusteSegunda = [];

                if (pathMongoOtProject[n].otStatus) { %>
                    <!--Activo-->
                    <tr name="rowSelected<%=k%>_<%=n%>" class="border-bottom" style="height: 7vh;">
                        <% for (let q = 24; totalColDataCicloCorreccionSegunda > q; q++) {
                            if (q==24) { %>
                                <!-- Pieza Medida Reunion Segunda data Activo--> 
                                <td class="text-center align-middle">
                                    <% if (largoArrayCicloCorreccionSegunda > 0) {

                                        for (let i = 0; largoArrayCicloCorreccionSegunda > i; i++) {
                                            if (pathToMongoOtCicloCorreccionSegunda[i]) {
                                                let largoArray = parseInt(largoArrayCicloCorreccionSegunda)
                                                resPiezaMedidaReunionSegunda = pathToMongoOtCicloCorreccionSegunda[largoArray-1].piezaMedidaReunionSegunda == 'sinDato' ? "S/D" : pathToMongoOtCicloCorreccionSegunda[largoArray-1].piezaMedidaReunionSegunda
                                                resRevisionPiezaMedidaReunionSegunda = parseInt(pathToMongoOtCicloCorreccionSegunda[largoArray-1].revisionPiezaMedidaReunionSegunda) || 0
                                                
                                                pathToMongoOtCicloCorreccionSegunda[i].piezaMedidaReunionSegunda == 'sinDato' ? arrResPiezaMedidaReunionSegunda.push("S/D") : arrResPiezaMedidaReunionSegunda.push(pathToMongoOtCicloCorreccionSegunda[i].piezaMedidaReunionSegunda)
                                                arrResRevisionPiezaMedidaReunionSegunda.push(pathToMongoOtCicloCorreccionSegunda[i].revisionPiezaMedidaReunionSegunda)

                                                arrResCreadorPiezaMedidaReunionSegunda.push(pathToMongoOtCicloCorreccionSegunda[i].creator[0].username)
                                                arrResModificadorPiezaMedidaReunionSegunda.push(pathToMongoOtCicloCorreccionSegunda[i].modificator[0].username)
                                                arrResFechaPiezaMedidaReunionSegunda.push(pathToMongoOtCicloCorreccionSegunda[i].timestamp)
                                                arrResFechaModPiezaMedidaReunionSegunda.push(pathToMongoOtCicloCorreccionSegunda[i].modifiedOn)
                                            }
                                        }
                                        valueArrayResPiezaMedidaReunionSegunda = parseInt(arrResPiezaMedidaReunionSegunda.length-1)

                                        if (arrResPiezaMedidaReunionSegunda.length == 1 ) {
                                            anteriorDisabled = "disabled"
                                            siguienteDisabled = "disabled"
                                        } else if (arrResPiezaMedidaReunionSegunda.length == arrResRevisionPiezaMedidaReunionSegunda.length) {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        } else {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        }
                                        
                                    } else {
                                        arrResPiezaMedidaReunionSegunda.push(resPiezaMedidaReunionSegunda)
                                        arrResRevisionPiezaMedidaReunionSegunda.push(resRevisionPiezaMedidaReunionSegunda)
                                        
                                        arrResCreadorPiezaMedidaReunionSegunda.push(pathMongoOtProject[n].creator[0].username)
                                        arrResModificadorPiezaMedidaReunionSegunda = ""
                                        arrResFechaPiezaMedidaReunionSegunda.push(pathMongoOtProject[n].timestamp)
                                        arrResFechaModPiezaMedidaReunionSegunda = ""
                                    } %>
                                    
                                    <div id="btnAnteriorSiguientePiezaMedidaReunionSegunda<%=k%>_<%=n%>_<%=q%>">
                                        <button id="btnAnteriorPiezaMedidaReunionSegunda<%=k%>_<%=n%>_<%=q%>" name="btnAnteriorPiezaMedidaReunionSegunda" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= anteriorDisabled %>
                                            ><i class="fa-solid fa-arrow-left"></i>
                                        </button>
                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResPiezaMedidaReunionSegunda %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResPiezaMedidaReunionSegunda %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionPiezaMedidaReunionSegunda %>">
                                        <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorPiezaMedidaReunionSegunda %>">
                                        <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorPiezaMedidaReunionSegunda %>">
                                        <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaPiezaMedidaReunionSegunda %>">
                                        <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModPiezaMedidaReunionSegunda %>">

                                        <% const config = cicloCorreccionSegundaConfig[resPiezaMedidaReunionSegunda] || cicloCorreccionSegundaConfig.default; %>
                                        <span id="resPiezaMedidaReunionSegunda<%=k%>_<%=n%>_<%=q%>" value="<%=resPiezaMedidaReunionSegunda%>">
                                            <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                        </span> |
                                        <span id="resRevisionPiezaMedidaReunionSegunda<%=k%>_<%=n%>_<%=q%>" name="resRevisionPiezaMedidaReunionSegunda" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                            <%= resRevisionPiezaMedidaReunionSegunda %>
                                        </span>

                                        <button id="btnSiguientePiezaMedidaReunionSegunda<%=k%>_<%=n%>_<%=q%>" name="btnSiguientePiezaMedidaReunionSegunda" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;" <%= siguienteDisabled %>
                                            ><i class="fa-solid fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </td>

                            <% } else if (q==25) { %>
                                <!-- Maquina Segunda data Activo-->
                                <td class="text-center align-middle">
                                    <% if (largoArrayCicloCorreccionSegunda > 0) {

                                        for (let i = 0; largoArrayCicloCorreccionSegunda > i; i++) {
                                            if (pathToMongoOtCicloCorreccionSegunda[i]) {
                                                let largoArray = parseInt(largoArrayCicloCorreccionSegunda)
                                                resMaquinaSegunda = pathToMongoOtCicloCorreccionSegunda[largoArray-1].maquinaSegunda == 'sinDato' ? "S/D" :  pathToMongoOtCicloCorreccionSegunda[largoArray-1].maquinaSegunda
                                                resRevisionMaquinaSegunda = parseInt(pathToMongoOtCicloCorreccionSegunda[largoArray-1].revisionMaquinaSegunda) || 0
                                                
                                                pathToMongoOtCicloCorreccionSegunda[i].maquinaSegunda == 'sinDato' ? arrResMaquinaSegunda.push("S/D") : arrResMaquinaSegunda.push(pathToMongoOtCicloCorreccionSegunda[i].maquinaSegunda)
                                                arrResRevisionMaquinaSegunda.push(pathToMongoOtCicloCorreccionSegunda[i].revisionMaquinaSegunda)
                                                
                                                arrResCreadorMaquinaSegunda.push(pathToMongoOtCicloCorreccionSegunda[i].creator[0].username)
                                                arrResModificadorMaquinaSegunda.push(pathToMongoOtCicloCorreccionSegunda[i].modificator[0].username)
                                                arrResFechaMaquinaSegunda.push(pathToMongoOtCicloCorreccionSegunda[i].timestamp)
                                                arrResFechaModMaquinaSegunda.push(pathToMongoOtCicloCorreccionSegunda[i].modifiedOn)
                                            }
                                        }
                                        valueArrayResMaquinaSegunda = parseInt(arrResMaquinaSegunda.length-1)
                                                
                                        if (arrResMaquinaSegunda.length == 1 ) {
                                            anteriorDisabled = "disabled"
                                            siguienteDisabled = "disabled"
                                        } else if (arrResMaquinaSegunda.length == arrResRevisionMaquinaSegunda.length) {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        } else {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        }
                                        
                                    } else {
                                        arrResMaquinaSegunda.push(resMaquinaSegunda)
                                        arrResRevisionMaquinaSegunda.push(resRevisionMaquinaSegunda)
                                        
                                        arrResCreadorMaquinaSegunda.push(pathMongoOtProject[n].creator[0].username)
                                        arrResModificadorMaquinaSegunda = ""
                                        arrResFechaMaquinaSegunda.push(pathMongoOtProject[n].timestamp)
                                        arrResFechaModMaquinaSegunda = ""
                                    } %>
                                    
                                    <div id="btnAnteriorSiguienteMaquinaSegunda<%=k%>_<%=n%>_<%=q%>">
                                        <button id="btnAnteriorMaquinaSegunda<%=k%>_<%=n%>_<%=q%>" name="btnAnteriorMaquinaSegunda" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= anteriorDisabled %>
                                            ><i class="fa-solid fa-arrow-left"></i>
                                        </button>
                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResMaquinaSegunda %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResMaquinaSegunda %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionMaquinaSegunda %>">
                                        <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorMaquinaSegunda %>">
                                        <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorMaquinaSegunda %>">
                                        <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaMaquinaSegunda %>">
                                        <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModMaquinaSegunda %>">

                                        <% const config = cicloCorreccionSegundaConfig[resMaquinaSegunda] || cicloCorreccionSegundaConfig.default; %>
                                        <span id="resMaquinaSegunda<%=k%>_<%=n%>_<%=q%>" value="<%=resMaquinaSegunda%>">
                                            <i   class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                        </span> |
                                        <span id="resRevisionMaquinaSegunda<%=k%>_<%=n%>_<%=q%>" name="resRevisionMaquinaSegunda" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                            <%= resRevisionMaquinaSegunda %>
                                        </span>

                                        <button id="btnSiguienteMaquinaSegunda<%=k%>_<%=n%>_<%=q%>" name="btnSiguienteMaquinaSegunda" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= siguienteDisabled %>
                                            ><i class="fa-solid fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </td>

                            <% } else { %>
                                <!-- Ajuste Segunda data Activo-->
                                <td class="text-center align-middle">
                                    <% if (largoArrayCicloCorreccionSegunda > 0) {

                                        for (let i = 0; largoArrayCicloCorreccionSegunda > i; i++) {
                                            if (pathToMongoOtCicloCorreccionSegunda[i]) {
                                                let largoArray = parseInt(largoArrayCicloCorreccionSegunda)
                                                resAjusteSegunda = pathToMongoOtCicloCorreccionSegunda[largoArray-1].ajusteSegunda == 'sinDato' ? "S/D" : pathToMongoOtCicloCorreccionSegunda[largoArray-1].ajusteSegunda
                                                resRevisionAjusteSegunda = parseInt(pathToMongoOtCicloCorreccionSegunda[largoArray-1].revisionAjusteSegunda) || 0
                                                
                                                pathToMongoOtCicloCorreccionSegunda[i].ajusteSegunda == 'sinDato' ? arrResAjusteSegunda.push('S/D') : arrResAjusteSegunda.push(pathToMongoOtCicloCorreccionSegunda[i].ajusteSegunda)
                                                arrResRevisionAjusteSegunda.push(pathToMongoOtCicloCorreccionSegunda[i].revisionAjusteSegunda)
                                            
                                                arrResCreadorAjusteSegunda.push(pathToMongoOtCicloCorreccionSegunda[i].creator[0].username)
                                                arrResModificadorAjusteSegunda.push(pathToMongoOtCicloCorreccionSegunda[i].modificator[0].username)
                                                arrResFechaAjusteSegunda.push(pathToMongoOtCicloCorreccionSegunda[i].timestamp)
                                                arrResFechaModAjusteSegunda.push(pathToMongoOtCicloCorreccionSegunda[i].modifiedOn)
                                            }
                                        }
                                        valueArrayResAjusteSegunda = parseInt(arrResAjusteSegunda.length-1)
                                                
                                        if (arrResAjusteSegunda.length == 1 ) {
                                            siguienteDisabled = "disabled"
                                            anteriorDisabled = "disabled"
                                        } else if (arrResAjusteSegunda.length == arrResRevisionAjusteSegunda.length) {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        } else {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        }
                                                
                                    } else {
                                        arrResAjusteSegunda.push(resAjusteSegunda)
                                        arrResRevisionAjusteSegunda.push(resRevisionAjusteSegunda)
                                        
                                        arrResCreadorAjusteSegunda.push(pathMongoOtProject[n].creator[0].username)
                                        arrResModificadorAjusteSegunda = ""
                                        arrResFechaAjusteSegunda.push(pathMongoOtProject[n].timestamp)
                                        arrResFechaModAjusteSegunda = ""
                                    } %>

                                <div id="btnAnteriorSiguienteAjusteSegunda<%=k%>_<%=n%>_<%=q%>">
                                    <button id="btnAnteriorAjusteSegunda<%=k%>_<%=n%>_<%=q%>" name="btnAnteriorAjusteSegunda" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                        <%= anteriorDisabled %>
                                        ><i class="fa-solid fa-arrow-left"></i>
                                    </button>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResAjusteSegunda %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResAjusteSegunda %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionAjusteSegunda %>">
                                    <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorAjusteSegunda %>">
                                    <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorAjusteSegunda %>">
                                    <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaAjusteSegunda %>">
                                    <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModAjusteSegunda %>">

                                    <% const config = cicloCorreccionSegundaConfig[resAjusteSegunda] || cicloCorreccionSegundaConfig.default; %>
                                    <span id="resAjusteSegunda<%=k%>_<%=n%>_<%=q%>" value="<%=resAjusteSegunda%>">
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |
                                    <span id="resRevisionAjusteSegunda<%=k%>_<%=n%>_<%=q%>" name="resRevisionAjusteSegunda" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionAjusteSegunda %>
                                    </span>

                                    <button id="btnSiguienteAjusteSegunda<%=k%>_<%=n%>_<%=q%>" name="btnSiguienteAjusteSegunda" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                        <%= siguienteDisabled %>
                                        ><i class="fa-solid fa-arrow-right"></i>
                                    </button>
                                </div>
                            </td>
                            <% }
                        } %>
                    </tr>

                <% } else { %>
                    <!--Inactivo-->
                    <tr name="rowSelected<%=k%>_<%=n%>" class="pe-none border-bottom" style="height: 7vh; background-color: #dedede;">
                        <% for (let q = 24; totalColDataCicloCorreccionSegunda > q; q++) {
                            if (q==24) { %>
                                <!-- Pieza Medida Reunion Segunda data Inactivo -->
                                <td class="text-center align-middle">
                                    <% if (largoArrayCicloCorreccionSegunda > 0) {
                                        for (let i = 0; largoArrayCicloCorreccionSegunda > i; i++) {

                                            if (pathToMongoOtCicloCorreccionSegunda[i]) {
                                                let largoArray = parseInt(largoArrayCicloCorreccionSegunda)
                                                resPiezaMedidaReunionSegunda = pathToMongoOtCicloCorreccionSegunda[largoArray-1].piezaMedidaReunionSegunda || 'S/D'
                                                resRevisionPiezaMedidaReunionSegunda = parseInt(pathToMongoOtCicloCorreccionSegunda[largoArray-1].revisionPiezaMedidaReunionSegunda) || 0
                                                
                                                arrResPiezaMedidaReunionSegunda.push(pathToMongoOtCicloCorreccionSegunda[i].piezaMedidaReunionSegunda)
                                                arrResRevisionPiezaMedidaReunionSegunda.push(pathToMongoOtCicloCorreccionSegunda[i].revisionPiezaMedidaReunionSegunda)
                                            }
                                        }
                                        valueArrayResPiezaMedidaReunionSegunda = parseInt(arrResPiezaMedidaReunionSegunda.length-1)
                                        resPiezaMedidaReunionSegunda = pathToMongoOtCicloCorreccionSegunda[0].PiezaMedidaReunionSegunda
                                        
                                    } else {
                                        arrResPiezaMedidaReunionSegunda.push(resPiezaMedidaReunionSegunda)
                                        arrResRevisionPiezaMedidaReunionSegunda.push(resRevisionPiezaMedidaReunionSegunda)
                                    } %>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResPiezaMedidaReunionSegunda %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResPiezaMedidaReunionSegunda %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionPiezaMedidaReunionSegunda %>">
                                
                                    <% const config = cicloCorreccionSegundaConfig[resPiezaMedidaReunionSegunda] || cicloCorreccionSegundaConfig.default; %>
                                    <span id="resPiezaMedidaReunionSegunda<%=k%>_<%=n%>_<%=q%>" value="<%=resPiezaMedidaReunionSegunda%>">
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |
                                    <span id="resRevisionPiezaMedidaReunionSegunda<%=k%>_<%=n%>_<%=q%>" name="resRevisionPiezaMedidaReunionSegunda" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionPiezaMedidaReunionSegunda %>
                                    </span>
                                </td>

                            <% } else if (q==25) { %>
                                <!-- Maquina Segunda data Inactivo -->
                                <td class="text-center align-middle">
                                    <% if (largoArrayCicloCorreccionSegunda > 0) {
                                        for (let i = 0; largoArrayCicloCorreccionSegunda > i; i++) {
                                            
                                            if (pathToMongoOtCicloCorreccionSegunda[i]) {
                                                let largoArray = parseInt(largoArrayCicloCorreccionSegunda)
                                                resMaquinaSegunda = pathToMongoOtCicloCorreccionSegunda[largoArray-1].maquinaSegunda || 'S/D'
                                                resRevisionMaquinaSegunda = parseInt(pathToMongoOtCicloCorreccionSegunda[largoArray-1].revisionMaquinaSegunda) || 0
                                                
                                                arrResMaquinaSegunda.push(pathToMongoOtCicloCorreccionSegunda[i].maquinaSegunda)
                                                arrResRevisionMaquinaSegunda.push(pathToMongoOtCicloCorreccionSegunda[i].revisionMaquinaSegunda)
                                            }
                                        }
                                        valueArrayResMaquinaSegunda = parseInt(arrResMaquinaSegunda.length-1)
                                        resMaquinaSegunda = pathToMongoOtCicloCorreccionSegunda[0].maquinaSegunda
                                        
                                    } else {
                                        arrResMaquinaSegunda.push(resMaquinaSegunda)
                                        arrResRevisionMaquinaSegunda.push(resRevisionMaquinaSegunda)
                                    } %>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResMaquinaSegunda %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResMaquinaSegunda %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionMaquinaSegunda %>">

                                    <% const config = cicloCorreccionSegundaConfig[resMaquinaSegunda] || cicloCorreccionSegundaConfig.default; %>
                                    <span id="resMaquinaSegunda<%=k%>_<%=n%>_<%=q%>" value="<%=resMaquinaSegunda%>">
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |
                                    <span id="resRevisionMaquinaSegunda<%=k%>_<%=n%>_<%=q%>" name="resRevisionMaquinaSegunda" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionMaquinaSegunda %>
                                    </span>
                                </td>

                            <% } else { %>
                                <!-- Ajuste Segunda data Inactivo -->
                                <td class="text-center align-middle">
                                    <% if (largoArrayCicloCorreccionSegunda > 0) {
                                        for (let i = 0; largoArrayCicloCorreccionSegunda > i; i++) {
                                            
                                            if (pathToMongoOtCicloCorreccionSegunda[i]) {
                                                let largoArray = parseInt(largoArrayCicloCorreccionSegunda)
                                                resAjusteSegunda = pathToMongoOtCicloCorreccionSegunda[largoArray-1].ajusteSegunda || "S/D"
                                                resRevisionAjusteSegunda = parseInt(pathToMongoOtCicloCorreccionSegunda[largoArray-1].revisionAjusteSegunda) || 0
                                                
                                                arrResAjusteSegunda.push(pathToMongoOtCicloCorreccionSegunda[i].ajusteSegunda)
                                                arrResRevisionAjusteSegunda.push(pathToMongoOtCicloCorreccionSegunda[i].revisionAjusteSegunda)
                                            }
                                        }
                                        valueArrayResAjusteSegunda = parseInt(arrResAjusteSegunda.length-1)
                                        resAjusteSegunda = pathToMongoOtCicloCorreccionSegunda[0].ajusteSegunda
                                        
                                    } else {
                                        arrResAjusteSegunda.push(resAjusteSegunda)
                                        arrResRevisionAjusteSegunda.push(resRevisionAjusteSegunda)
                                    } %>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResAjusteSegunda %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResAjusteSegunda %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionAjusteSegunda %>">

                                    <% const config = cicloCorreccionSegundaConfig[resAjusteSegunda] || cicloCorreccionSegundaConfig.default; %>
                                    <span id="resAjusteSegunda<%=k%>_<%=n%>_<%=q%>" value="<%=resAjusteSegunda%>">
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |
                                    <span id="resRevisionAjusteSegunda<%=k%>_<%=n%>_<%=q%>" name="resRevisionAjusteSegunda" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionAjusteSegunda %>
                                    </span>
                                </td>
                            <% }
                        } %>
                    </tr>
                <% }
            }
        }) %>
    </tbody>
</table>