<!-- tabla Liberacion BuyOff Segunda -->
<table id="tablaOtLiberacionBuyOffSegunda<%=k%>" class="table-responsive align-middle col-5 border-end border-dark" style="font-size: 10pt; width: 100%">
    <thead class="align-middle" style="background-color: #d8d8eb">
        <tr>
            <th colspan="3" class="text-center">LIBERACIÓN PARA BUY-OFF (2° Parte)
                <% if (userInfo.admin || userInfo.area === 'fabricacion') { %>
                    <button id="posBtnAddDataOtLiberacionBuyOffSegunda<%=k%>" type="button" name="btnOtLiberacionBuyOffSegunda" class="btn btn-small btn-success shadow m-1 me-5 mb-2 position-relative" style="--bs-btn-font-size: .6rem; color: var(--bs-white);" title="Agregar/Modificar Datos" value="<%=k%>">
                        <i class="fa-solid fa-pencil fa-lg" aria-hidden="true"></i>
                        <span id="spanCheckSelecMasiveLibBuyOffSeg<%=k%>" class="position-absolute top-100 start-100 translate-middle badge rounded-pill bg-danger">
                            0
                            <span class="visually-hidden">Elementos seleccionados</span>
                        </span>
                    </button>
                <% } else { %>
                    <button type="button" class="btn btn-small btn-danger shadow m-1 me-5 mb-2 disabled" style="--bs-btn-font-size: .6rem; color: var(--bs-white);">
                        <i class="fa-solid fa-ban fa-lg" aria-hidden="true"></i>                                                    
                    </button>
                <% } %>
                <i class="fa-solid fa-arrows-spin fa-lg" style="color: #b09b12;"></i> En Proceso -
                <i class="fa-solid fa-circle-check fa-lg" style="color: #008f30;"></i> Terminado -
                <i class="fa-solid fa-circle-xmark fa-lg" style="color: #c40000;"></i> Detenido -
                <i class="fa-solid fa-ban fa-lg"></i> No Aplica -
                <i class="fa-solid fa-triangle-exclamation fa-lg" style="color: #1c21ac;"></i> Sin Datos
            </th>
        </tr>
        <tr>
            <th id="colData0" style="width:33vw" scope="col-1" class="text-center pb-1">Rebabas | Rev.</th>
            <th id="colData1" style="width:33vw" scope="col-1" class="text-center pb-1">Caídas Scrap | Rev.</th>
            <th id="colData2" style="width:33vw" scope="col-1" class="text-center pb-1">Aspecto | Rev.</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        
        <% const liberacionBuyOffSegundaConfig = {
                enProceso: { icon: "fa-arrows-spin fa-spin", iconColor: "color:#b09b12" },
                terminado: { icon: "fa-circle-check", iconColor: "color:#008f30" },
                detenido: { icon: "fa-circle-xmark", iconColor: "color:#c40000" },
                noAplica: { icon: "fa-ban", iconColor: "color:#000000" },
                default: { icon: "fa-triangle-exclamation", iconColor: "color:#1c21ac" }
            };

        proyecto[m].project[j].oci[k].otProject.forEach((ot, n) => {
            let pathMongoOtProject = proyecto[m].project[j].oci[k].otProject,
                pathMongoOtAjuste = pathMongoOtProject[n].otAjuste;

            let anteriorDisabled = "disabled", siguienteDisabled = "disabled",
                resRebabas = "S/D", resRevisionRebabas = 0,
                resCaidasScrap = "S/D", resRevisionCaidasScrap = 0,
                resAspecto = "S/D", resRevisionAspecto = 0;

            if (pathMongoOtProject[n].visible) {
                let pathToMongoOtLiberacionBuyOffSegunda = pathMongoOtAjuste[0].otLiberacionBuyOffSegunda || [],
                    largoArrayLiberacionBuyOffSegunda = parseInt(pathToMongoOtLiberacionBuyOffSegunda.length);

                let arrResRebabas = [], valueArrayResRebabas = 0, arrResRevisionRebabas = [],
                    arrResCreadorRebabas = [], arrResModificadorRebabas = [], arrResFechaRebabas = [], arrResFechaModRebabas = [];

                let arrResCaidasScrap = [], valueArrayResCaidasScrap = 0, arrResRevisionCaidasScrap = [],
                    arrResCreadorCaidasScrap = [], arrResModificadorCaidasScrap = [], arrResFechaCaidasScrap = [], arrResFechaModCaidasScrap = [];

                let arrResAspecto = [], valueArrayResAspecto = 0, arrResRevisionAspecto = [],
                    arrResCreadorAspecto = [], arrResModificadorAspecto = [], arrResFechaAspecto = [], arrResFechaModAspecto = [];

                if (pathMongoOtProject[n].otStatus) { %>
                    <!--Activo-->
                    <tr name="rowSelected<%=k%>_<%=n%>" class="border-bottom" style="height: 7vh;">
                        <% for (let q = 33; totalColDataLiberacionBuyOffSegunda > q; q++) {
                            if (q==33) { %>
                                <!-- Rebabas data Activo--> 
                                <td class="text-center align-middle">
                                    <% if (largoArrayLiberacionBuyOffSegunda > 0) {

                                        for (let i = 0; largoArrayLiberacionBuyOffSegunda > i; i++) {
                                            if (pathToMongoOtLiberacionBuyOffSegunda[i]) {
                                                let largoArray = parseInt(largoArrayLiberacionBuyOffSegunda)
                                                resRebabas = pathToMongoOtLiberacionBuyOffSegunda[largoArray-1].rebabas == 'sinDato' ? "S/D" : pathToMongoOtLiberacionBuyOffSegunda[largoArray-1].rebabas
                                                resRevisionRebabas = parseInt(pathToMongoOtLiberacionBuyOffSegunda[largoArray-1].revisionRebabas) || 0
                                                
                                                pathToMongoOtLiberacionBuyOffSegunda[i].rebabas == 'sinDato' ? arrResRebabas.push("S/D") : arrResRebabas.push(pathToMongoOtLiberacionBuyOffSegunda[i].rebabas)
                                                arrResRevisionRebabas.push(pathToMongoOtLiberacionBuyOffSegunda[i].revisionRebabas)

                                                arrResCreadorRebabas.push(pathToMongoOtLiberacionBuyOffSegunda[i].creator[0].username)
                                                arrResModificadorRebabas.push(pathToMongoOtLiberacionBuyOffSegunda[i].modificator[0].username)
                                                arrResFechaRebabas.push(pathToMongoOtLiberacionBuyOffSegunda[i].timestamp)
                                                arrResFechaModRebabas.push(pathToMongoOtLiberacionBuyOffSegunda[i].modifiedOn)
                                            }
                                        }
                                        valueArrayResRebabas = parseInt(arrResRebabas.length-1)

                                        if (arrResRebabas.length == 1 ) {
                                            anteriorDisabled = "disabled"
                                            siguienteDisabled = "disabled"
                                        } else if (arrResRebabas.length == arrResRevisionRebabas.length) {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        } else {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        }
                                        
                                    } else {
                                        arrResRebabas.push(resRebabas)
                                        arrResRevisionRebabas.push(resRevisionRebabas)
                                        
                                        arrResCreadorRebabas.push(pathMongoOtProject[n].creator[0].username)
                                        arrResModificadorRebabas = ""
                                        arrResFechaRebabas.push(pathMongoOtProject[n].timestamp)
                                        arrResFechaModRebabas = ""
                                    } %>
                                    
                                    <div id="btnAnteriorSiguienteRebabas<%=k%>_<%=n%>_<%=q%>">
                                        <button id="btnAnteriorRebabas<%=k%>_<%=n%>_<%=q%>" name="btnAnteriorRebabas" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= anteriorDisabled %>
                                            ><i class="fa-solid fa-arrow-left"></i>
                                        </button>
                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRebabas %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResRebabas %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionRebabas %>">
                                        <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorRebabas %>">
                                        <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorRebabas %>">
                                        <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaRebabas %>">
                                        <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModRebabas %>">

                                        <% const config = liberacionBuyOffSegundaConfig[resRebabas] || liberacionBuyOffSegundaConfig.default; %>
                                        <span id="resRebabas<%=k%>_<%=n%>_<%=q%>" value="<%=resRebabas%>">
                                            <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                        </span> |
                                        <span id="resRevisionRebabas<%=k%>_<%=n%>_<%=q%>" name="resRevisionRebabas" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                            <%= resRevisionRebabas %>
                                        </span>

                                        <button id="btnSiguienteRebabas<%=k%>_<%=n%>_<%=q%>" name="btnSiguienteRebabas" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;" <%= siguienteDisabled %>
                                            ><i class="fa-solid fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </td>

                            <% } else if (q==34) { %>
                                <!-- Caidas Scrap data Activo-->
                                <td class="text-center align-middle">
                                    <% if (largoArrayLiberacionBuyOffSegunda > 0) {

                                        for (let i = 0; largoArrayLiberacionBuyOffSegunda > i; i++) {
                                            if (pathToMongoOtLiberacionBuyOffSegunda[i]) {
                                                let largoArray = parseInt(largoArrayLiberacionBuyOffSegunda)
                                                resCaidasScrap = pathToMongoOtLiberacionBuyOffSegunda[largoArray-1].caidasScrap == 'sinDato' ? "S/D" :  pathToMongoOtLiberacionBuyOffSegunda[largoArray-1].caidasScrap
                                                resRevisionCaidasScrap = parseInt(pathToMongoOtLiberacionBuyOffSegunda[largoArray-1].revisionCaidasScrap) || 0
                                                
                                                pathToMongoOtLiberacionBuyOffSegunda[i].caidasScrap == 'sinDato' ? arrResCaidasScrap.push("S/D") : arrResCaidasScrap.push(pathToMongoOtLiberacionBuyOffSegunda[i].caidasScrap)
                                                arrResRevisionCaidasScrap.push(pathToMongoOtLiberacionBuyOffSegunda[i].revisionCaidasScrap)
                                                
                                                arrResCreadorCaidasScrap.push(pathToMongoOtLiberacionBuyOffSegunda[i].creator[0].username)
                                                arrResModificadorCaidasScrap.push(pathToMongoOtLiberacionBuyOffSegunda[i].modificator[0].username)
                                                arrResFechaCaidasScrap.push(pathToMongoOtLiberacionBuyOffSegunda[i].timestamp)
                                                arrResFechaModCaidasScrap.push(pathToMongoOtLiberacionBuyOffSegunda[i].modifiedOn)
                                            }
                                        }
                                        valueArrayResCaidasScrap = parseInt(arrResCaidasScrap.length-1)
                                                
                                        if (arrResCaidasScrap.length == 1 ) {
                                            anteriorDisabled = "disabled"
                                            siguienteDisabled = "disabled"
                                        } else if (arrResCaidasScrap.length == arrResRevisionCaidasScrap.length) {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        } else {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        }
                                        
                                    } else {
                                        arrResCaidasScrap.push(resCaidasScrap)
                                        arrResRevisionCaidasScrap.push(resRevisionCaidasScrap)
                                        
                                        arrResCreadorCaidasScrap.push(pathMongoOtProject[n].creator[0].username)
                                        arrResModificadorCaidasScrap = ""
                                        arrResFechaCaidasScrap.push(pathMongoOtProject[n].timestamp)
                                        arrResFechaModCaidasScrap = ""
                                    } %>
                                    
                                    <div id="btnAnteriorSiguienteCaidasScrap<%=k%>_<%=n%>_<%=q%>">
                                        <button id="btnAnteriorCaidasScrap<%=k%>_<%=n%>_<%=q%>" name="btnAnteriorCaidasScrap" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= anteriorDisabled %>
                                            ><i class="fa-solid fa-arrow-left"></i>
                                        </button>
                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCaidasScrap %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResCaidasScrap %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionCaidasScrap %>">
                                        <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorCaidasScrap %>">
                                        <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorCaidasScrap %>">
                                        <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaCaidasScrap %>">
                                        <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModCaidasScrap %>">

                                        <% const config = liberacionBuyOffSegundaConfig[resCaidasScrap] || liberacionBuyOffSegundaConfig.default; %>
                                        <span id="resCaidasScrap<%=k%>_<%=n%>_<%=q%>" value="<%=resCaidasScrap%>">
                                            <i   class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                        </span> |
                                        <span id="resRevisionCaidasScrap<%=k%>_<%=n%>_<%=q%>" name="resRevisionCaidasScrap" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                            <%= resRevisionCaidasScrap %>
                                        </span>

                                        <button id="btnSiguienteCaidasScrap<%=k%>_<%=n%>_<%=q%>" name="btnSiguienteCaidasScrap" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= siguienteDisabled %>
                                            ><i class="fa-solid fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </td>

                            <% } else { %>
                                <!-- Aspecto data Activo-->
                                <td class="text-center align-middle">
                                    <% if (largoArrayLiberacionBuyOffSegunda > 0) {

                                        for (let i = 0; largoArrayLiberacionBuyOffSegunda > i; i++) {
                                            if (pathToMongoOtLiberacionBuyOffSegunda[i]) {
                                                let largoArray = parseInt(largoArrayLiberacionBuyOffSegunda)
                                                resAspecto = pathToMongoOtLiberacionBuyOffSegunda[largoArray-1].aspecto == 'sinDato' ? "S/D" : pathToMongoOtLiberacionBuyOffSegunda[largoArray-1].aspecto
                                                resRevisionAspecto = parseInt(pathToMongoOtLiberacionBuyOffSegunda[largoArray-1].revisionAspecto) || 0
                                                
                                                pathToMongoOtLiberacionBuyOffSegunda[i].aspecto == 'sinDato' ? arrResAspecto.push('S/D') : arrResAspecto.push(pathToMongoOtLiberacionBuyOffSegunda[i].aspecto)
                                                arrResRevisionAspecto.push(pathToMongoOtLiberacionBuyOffSegunda[i].revisionAspecto)
                                            
                                                arrResCreadorAspecto.push(pathToMongoOtLiberacionBuyOffSegunda[i].creator[0].username)
                                                arrResModificadorAspecto.push(pathToMongoOtLiberacionBuyOffSegunda[i].modificator[0].username)
                                                arrResFechaAspecto.push(pathToMongoOtLiberacionBuyOffSegunda[i].timestamp)
                                                arrResFechaModAspecto.push(pathToMongoOtLiberacionBuyOffSegunda[i].modifiedOn)
                                            }
                                        }
                                        valueArrayResAspecto = parseInt(arrResAspecto.length-1)
                                                
                                        if (arrResAspecto.length == 1 ) {
                                            siguienteDisabled = "disabled"
                                            anteriorDisabled = "disabled"
                                        } else if (arrResAspecto.length == arrResRevisionAspecto.length) {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        } else {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        }
                                                
                                    } else {
                                        arrResAspecto.push(resAspecto)
                                        arrResRevisionAspecto.push(resRevisionAspecto)
                                        
                                        arrResCreadorAspecto.push(pathMongoOtProject[n].creator[0].username)
                                        arrResModificadorAspecto = ""
                                        arrResFechaAspecto.push(pathMongoOtProject[n].timestamp)
                                        arrResFechaModAspecto = ""
                                    } %>

                                <div id="btnAnteriorSiguienteAspecto<%=k%>_<%=n%>_<%=q%>">
                                    <button id="btnAnteriorAspecto<%=k%>_<%=n%>_<%=q%>" name="btnAnteriorAspecto" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                        <%= anteriorDisabled %>
                                        ><i class="fa-solid fa-arrow-left"></i>
                                    </button>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResAspecto %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResAspecto %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionAspecto %>">
                                    <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorAspecto %>">
                                    <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorAspecto %>">
                                    <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaAspecto %>">
                                    <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModAspecto %>">

                                    <% const config = liberacionBuyOffSegundaConfig[resAspecto] || liberacionBuyOffSegundaConfig.default; %>
                                    <span id="resAspecto<%=k%>_<%=n%>_<%=q%>" value="<%=resAspecto%>">
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |
                                    <span id="resRevisionAspecto<%=k%>_<%=n%>_<%=q%>" name="resRevisionAspecto" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionAspecto %>
                                    </span>

                                    <button id="btnSiguienteAspecto<%=k%>_<%=n%>_<%=q%>" name="btnSiguienteAspecto" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                        <%= siguienteDisabled %>
                                        ><i class="fa-solid fa-arrow-right"></i>
                                    </button>
                                </div>
                            </td>
                            <% }
                        } %>
                    </tr>

                <% } else { %>
                    <!--Inactivo-->
                    <tr name="rowSelected<%=k%>_<%=n%>" class="pe-none border-bottom" style="height: 7vh; background-color: #dedede;">
                        <% for (let q = 33; totalColDataLiberacionBuyOffSegunda > q; q++) {
                            if (q==33) { %>
                                <!-- Rebabas data Inactivo -->
                                <td class="text-center align-middle">
                                    <% if (largoArrayLiberacionBuyOffSegunda > 0) {
                                        for (let i = 0; largoArrayLiberacionBuyOffSegunda > i; i++) {

                                            if (pathToMongoOtLiberacionBuyOffSegunda[i]) {
                                                let largoArray = parseInt(largoArrayLiberacionBuyOffSegunda)
                                                resRebabas = pathToMongoOtLiberacionBuyOffSegunda[largoArray-1].rebabas || 'S/D'
                                                resRevisionRebabas = parseInt(pathToMongoOtLiberacionBuyOffSegunda[largoArray-1].revisionRebabas) || 0
                                                
                                                arrResRebabas.push(pathToMongoOtLiberacionBuyOffSegunda[i].rebabas)
                                                arrResRevisionRebabas.push(pathToMongoOtLiberacionBuyOffSegunda[i].revisionRebabas)
                                            }
                                        }
                                        valueArrayResRebabas = parseInt(arrResRebabas.length-1)
                                        resRebabas = pathToMongoOtLiberacionBuyOffSegunda[0].Rebabas
                                        
                                    } else {
                                        arrResRebabas.push(resRebabas)
                                        arrResRevisionRebabas.push(resRevisionRebabas)
                                    } %>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRebabas %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResRebabas %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionRebabas %>">
                                
                                    <% const config = liberacionBuyOffSegundaConfig[resRebabas] || liberacionBuyOffSegundaConfig.default; %>
                                    <span id="resRebabas<%=k%>_<%=n%>_<%=q%>" value="<%=resRebabas%>">
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |
                                    <span id="resRevisionRebabas<%=k%>_<%=n%>_<%=q%>" name="resRevisionRebabas" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionRebabas %>
                                    </span>
                                </td>

                            <% } else if (q==34) { %>
                                <!-- Caidas Scrap data Inactivo -->
                                <td class="text-center align-middle">
                                    <% if (largoArrayLiberacionBuyOffSegunda > 0) {
                                        for (let i = 0; largoArrayLiberacionBuyOffSegunda > i; i++) {
                                            
                                            if (pathToMongoOtLiberacionBuyOffSegunda[i]) {
                                                let largoArray = parseInt(largoArrayLiberacionBuyOffSegunda)
                                                resCaidasScrap = pathToMongoOtLiberacionBuyOffSegunda[largoArray-1].caidasScrap || 'S/D'
                                                resRevisionCaidasScrap = parseInt(pathToMongoOtLiberacionBuyOffSegunda[largoArray-1].revisionCaidasScrap) || 0
                                                
                                                arrResCaidasScrap.push(pathToMongoOtLiberacionBuyOffSegunda[i].caidasScrap)
                                                arrResRevisionCaidasScrap.push(pathToMongoOtLiberacionBuyOffSegunda[i].revisionCaidasScrap)
                                            }
                                        }
                                        valueArrayResCaidasScrap = parseInt(arrResCaidasScrap.length-1)
                                        resCaidasScrap = pathToMongoOtLiberacionBuyOffSegunda[0].caidasScrap
                                        
                                    } else {
                                        arrResCaidasScrap.push(resCaidasScrap)
                                        arrResRevisionCaidasScrap.push(resRevisionCaidasScrap)
                                    } %>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCaidasScrap %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResCaidasScrap %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionCaidasScrap %>">

                                    <% const config = liberacionBuyOffSegundaConfig[resCaidasScrap] || liberacionBuyOffSegundaConfig.default; %>
                                    <span id="resCaidasScrap<%=k%>_<%=n%>_<%=q%>" value="<%=resCaidasScrap%>">
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |
                                    <span id="resRevisionCaidasScrap<%=k%>_<%=n%>_<%=q%>" name="resRevisionCaidasScrap" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionCaidasScrap %>
                                    </span>
                                </td>

                            <% } else { %>
                                <!-- Aspecto data Inactivo -->
                                <td class="text-center align-middle">
                                    <% if (largoArrayLiberacionBuyOffSegunda > 0) {
                                        for (let i = 0; largoArrayLiberacionBuyOffSegunda > i; i++) {
                                            
                                            if (pathToMongoOtLiberacionBuyOffSegunda[i]) {
                                                let largoArray = parseInt(largoArrayLiberacionBuyOffSegunda)
                                                resAspecto = pathToMongoOtLiberacionBuyOffSegunda[largoArray-1].aspecto || "S/D"
                                                resRevisionAspecto = parseInt(pathToMongoOtLiberacionBuyOffSegunda[largoArray-1].revisionAspecto) || 0
                                                
                                                arrResAspecto.push(pathToMongoOtLiberacionBuyOffSegunda[i].aspecto)
                                                arrResRevisionAspecto.push(pathToMongoOtLiberacionBuyOffSegunda[i].revisionAspecto)
                                            }
                                        }
                                        valueArrayResAspecto = parseInt(arrResAspecto.length-1)
                                        resAspecto = pathToMongoOtLiberacionBuyOffSegunda[0].aspecto
                                        
                                    } else {
                                        arrResAspecto.push(resAspecto)
                                        arrResRevisionAspecto.push(resRevisionAspecto)
                                    } %>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResAspecto %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResAspecto %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionAspecto %>">

                                    <% const config = liberacionBuyOffSegundaConfig[resAspecto] || liberacionBuyOffSegundaConfig.default; %>
                                    <span id="resAspecto<%=k%>_<%=n%>_<%=q%>" value="<%=resAspecto%>">
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |
                                    <span id="resRevisionAspecto<%=k%>_<%=n%>_<%=q%>" name="resRevisionAspecto" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionAspecto %>
                                    </span>
                                </td>
                            <% }
                        } %>
                    </tr>
                <% }
            }
        }) %>
    </tbody>
</table>