<!-- tabla Etapa Primera -->
<table id="tablaOtEtapaPrimera<%=k%>" class="table-responsive align-middle col-5 border-end border-dark" style="font-size: 10pt; width: 100%">
    <thead class="align-middle" style="background-color: #d8d8eb">
        <tr>
            <th colspan="4" class="text-center">ETAPA 1
                <% if (userInfo.admin || userInfo.area === 'fabricacion') { %>
                    <button id="posBtnAddDataOtEtapaPrimera<%=k%>" type="button" name="btnOtEtapaPrimera" class="btn btn-small btn-success shadow m-1 me-5 mb-2 position-relative" style="--bs-btn-font-size: .6rem; color: var(--bs-white);" title="Agregar/Modificar Datos" value="<%=k%>">
                        <i class="fa-solid fa-pencil fa-lg" aria-hidden="true"></i>
                        <span id="spanCheckSelecMasiveEtapaPrima<%=k%>" class="position-absolute top-100 start-100 translate-middle badge rounded-pill bg-danger">
                            0
                            <span class="visually-hidden">Elementos seleccionados</span>
                        </span>
                    </button>
                <% } else { %>
                    <button type="button" class="btn btn-small btn-danger shadow m-1 me-5 mb-2 disabled" style="--bs-btn-font-size: .6rem; color: var(--bs-white);">
                        <i class="fa-solid fa-ban fa-lg" aria-hidden="true"></i>                                                    
                    </button>
                <% } %>
                <i class="fa-solid fa-arrows-spin fa-lg" style="color: #b09b12;"></i> En Proceso -
                <i class="fa-solid fa-circle-check fa-lg" style="color: #008f30;"></i> Terminado -
                <i class="fa-solid fa-circle-xmark fa-lg" style="color: #c40000;"></i> Detenido -
                <i class="fa-solid fa-ban fa-lg"></i> No Aplica -
                <i class="fa-solid fa-triangle-exclamation fa-lg" style="color: #1c21ac;"></i> Sin Datos
            </th>
        </tr>
        <tr>
            <th id="colData0" style="width:25vw" scope="col-1" class="text-center pb-1">Guiados | Rev.</th>
            <th id="colData1" style="width:25vw" scope="col-1" class="text-center pb-1">Centr / L. Corte / Chapa | Rev.</th>
            <th id="colData2" style="width:25vw" scope="col-1" class="text-center pb-1">Centr Levas | Rev.</th>
            <th id="colData3" style="width:25vw" scope="col-1" class="text-center pb-1">LTH | Rev.</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        
        <% const etapaPrimeraConfig = {
            enProceso: { icon: "fa-arrows-spin fa-spin", iconColor: "color:#b09b12" },
            terminado: { icon: "fa-circle-check", iconColor: "color:#008f30" },
            detenido: { icon: "fa-circle-xmark", iconColor: "color:#c40000" },
            noAplica: { icon: "fa-ban", iconColor: "color:#000000" },
            default: { icon: "fa-triangle-exclamation", iconColor: "color:#1c21ac" }
        };

        proyecto[m].project[j].oci[k].otProject.forEach((ot, n) => {
            let pathMongoOtProject = proyecto[m].project[j].oci[k].otProject,
                pathMongoOtAjuste = pathMongoOtProject[n].otAjuste;

            let anteriorDisabled = "disabled", siguienteDisabled = "disabled",
                resGuiados = "S/D", resRevisionGuiados = 0,
                resCentradoLuzCorte = "S/D", resRevisionCentradoLuzCorte = 0,
                resCentradoLevas = "S/D", resRevisionCentradoLevas = 0;
                resLthEtapaPrimera = "S/D", resRevisionLthEtapaPrimera = 0;

            if (pathMongoOtProject[n].visible) {
                let pathToMongoOtEtapa = pathMongoOtAjuste[0].otEtapaPrimera || [],
                    largoArrayEtapa = parseInt(pathToMongoOtEtapa.length);

                let arrResGuiados = [], valueArrayResGuiados = 0, arrResRevisionGuiados = [],
                    arrResCreadorGuiados = [], arrResModificadorGuiados = [], arrResFechaGuiados = [], arrResFechaModGuiados = [];

                let arrResCentradoLuzCorte = [], valueArrayResCentradoLuzCorte = 0, arrResRevisionCentradoLuzCorte = [],
                    arrResCreadorCentradoLuzCorte = [], arrResModificadorCentradoLuzCorte = [], arrResFechaCentradoLuzCorte = [], arrResFechaModCentradoLuzCorte = [];

                let arrResCentradoLevas = [], valueArrayResCentradoLevas = 0, arrResRevisionCentradoLevas = [],
                    arrResCreadorCentradoLevas = [], arrResModificadorCentradoLevas = [], arrResFechaCentradoLevas = [], arrResFechaModCentradoLevas = [];

                let arrResLthEtapaPrimera = [], valueArrayResLthEtapaPrimera = 0, arrResRevisionLthEtapaPrimera = [],
                    arrResCreadorLthEtapaPrimera = [], arrResModificadorLthEtapaPrimera = [], arrResFechaLthEtapaPrimera = [], arrResFechaModLthEtapaPrimera = [];

                if (pathMongoOtProject[n].otStatus) { %>
                    <!--Activo-->
                    <tr name="rowSelected<%=k%>_<%=n%>" class="border-bottom" style="height: 7vh;">
                        <% for (let q = 4; totalColDataEtapaPrimera > q; q++) {
                            if (q==4) { %>
                                <!-- Guiados data Activo--> 
                                <td class="text-center align-middle">
                                    <% if (largoArrayEtapa > 0) {

                                        for (let i = 0; largoArrayEtapa > i; i++) {
                                            if (pathToMongoOtEtapa[i]) {
                                                let largoArray = parseInt(largoArrayEtapa)
                                                resGuiados = pathToMongoOtEtapa[largoArray-1].guiados == 'sinDato' ? "S/D" : pathToMongoOtEtapa[largoArray-1].guiados
                                                resRevisionGuiados = parseInt(pathToMongoOtEtapa[largoArray-1].revisionGuiados) || 0
                                                
                                                pathToMongoOtEtapa[i].guiados == 'sinDato' ? arrResGuiados.push("S/D") : arrResGuiados.push(pathToMongoOtEtapa[i].guiados)
                                                arrResRevisionGuiados.push(pathToMongoOtEtapa[i].revisionGuiados)

                                                arrResCreadorGuiados.push(pathToMongoOtEtapa[i].creator[0].username)
                                                arrResModificadorGuiados.push(pathToMongoOtEtapa[i].modificator[0].username)
                                                arrResFechaGuiados.push(pathToMongoOtEtapa[i].timestamp)
                                                arrResFechaModGuiados.push(pathToMongoOtEtapa[i].modifiedOn)
                                            }
                                        }
                                        valueArrayResGuiados = parseInt(arrResGuiados.length-1)

                                        if (arrResGuiados.length == 1 ) {
                                            anteriorDisabled = "disabled"
                                            siguienteDisabled = "disabled"
                                        } else if (arrResGuiados.length == arrResRevisionGuiados.length) {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        } else {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        }
                                        
                                    } else {
                                        arrResGuiados.push(resGuiados)
                                        arrResRevisionGuiados.push(resRevisionGuiados)
                                        
                                        arrResCreadorGuiados.push(pathMongoOtProject[n].creator[0].username)
                                        arrResModificadorGuiados = ""
                                        arrResFechaGuiados.push(pathMongoOtProject[n].timestamp)
                                        arrResFechaModGuiados = ""
                                    } %>
                                    
                                    <div id="btnAnteriorSiguienteGuiados<%=k%>_<%=n%>_<%=q%>">
                                        <button id="btnAnteriorGuiados<%=k%>_<%=n%>_<%=q%>" name="btnAnteriorGuiados" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= anteriorDisabled %>
                                            ><i class="fa-solid fa-arrow-left"></i>
                                        </button>
                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResGuiados %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResGuiados %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionGuiados %>">
                                        <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorGuiados %>">
                                        <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorGuiados %>">
                                        <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaGuiados %>">
                                        <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModGuiados %>">

                                        <% const config = etapaPrimeraConfig[resGuiados] || etapaPrimeraConfig.default; %>
                                        <span id="resGuiados<%=k%>_<%=n%>_<%=q%>" value="<%=resGuiados%>">
                                            <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                        </span> |
                                        <span id="resRevisionGuiados<%=k%>_<%=n%>_<%=q%>" name="resRevisionGuiados" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                            <%= resRevisionGuiados %>
                                        </span>

                                        <button id="btnSiguienteGuiados<%=k%>_<%=n%>_<%=q%>" name="btnSiguienteGuiados" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;" <%= siguienteDisabled %>
                                            ><i class="fa-solid fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </td>

                            <% } else if (q==5) { %>
                                <!-- Centrado Luz Corte data Activo-->
                                <td class="text-center align-middle">
                                    <% if (largoArrayEtapa > 0) {

                                        for (let i = 0; largoArrayEtapa > i; i++) {
                                            if (pathToMongoOtEtapa[i]) {
                                                let largoArray = parseInt(largoArrayEtapa)
                                                resCentradoLuzCorte = pathToMongoOtEtapa[largoArray-1].centradoLuzCorte == 'sinDato' ? "S/D" :  pathToMongoOtEtapa[largoArray-1].centradoLuzCorte
                                                resRevisionCentradoLuzCorte = parseInt(pathToMongoOtEtapa[largoArray-1].revisionCentradoLuzCorte) || 0
                                                
                                                pathToMongoOtEtapa[i].centradoLuzCorte == 'sinDato' ? arrResCentradoLuzCorte.push("S/D") : arrResCentradoLuzCorte.push(pathToMongoOtEtapa[i].centradoLuzCorte)
                                                arrResRevisionCentradoLuzCorte.push(pathToMongoOtEtapa[i].revisionCentradoLuzCorte)
                                                
                                                arrResCreadorCentradoLuzCorte.push(pathToMongoOtEtapa[i].creator[0].username)
                                                arrResModificadorCentradoLuzCorte.push(pathToMongoOtEtapa[i].modificator[0].username)
                                                arrResFechaCentradoLuzCorte.push(pathToMongoOtEtapa[i].timestamp)
                                                arrResFechaModCentradoLuzCorte.push(pathToMongoOtEtapa[i].modifiedOn)
                                            }
                                        }
                                        valueArrayResCentradoLuzCorte = parseInt(arrResCentradoLuzCorte.length-1)
                                                
                                        if (arrResCentradoLuzCorte.length == 1 ) {
                                            anteriorDisabled = "disabled"
                                            siguienteDisabled = "disabled"
                                        } else if (arrResCentradoLuzCorte.length == arrResRevisionCentradoLuzCorte.length) {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        } else {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        }
                                        
                                    } else {
                                        arrResCentradoLuzCorte.push(resCentradoLuzCorte)
                                        arrResRevisionCentradoLuzCorte.push(resRevisionCentradoLuzCorte)
                                        
                                        arrResCreadorCentradoLuzCorte.push(pathMongoOtProject[n].creator[0].username)
                                        arrResModificadorCentradoLuzCorte = ""
                                        arrResFechaCentradoLuzCorte.push(pathMongoOtProject[n].timestamp)
                                        arrResFechaModCentradoLuzCorte = ""
                                    } %>
                                    
                                    <div id="btnAnteriorSiguienteCentradoLuzCorte<%=k%>_<%=n%>_<%=q%>">
                                        <button id="btnAnteriorCentradoLuzCorte<%=k%>_<%=n%>_<%=q%>" name="btnAnteriorCentradoLuzCorte" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= anteriorDisabled %>
                                            ><i class="fa-solid fa-arrow-left"></i>
                                        </button>
                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCentradoLuzCorte %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResCentradoLuzCorte %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionCentradoLuzCorte %>">
                                        <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorCentradoLuzCorte %>">
                                        <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorCentradoLuzCorte %>">
                                        <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaCentradoLuzCorte %>">
                                        <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModCentradoLuzCorte %>">

                                        <% const config = etapaPrimeraConfig[resCentradoLuzCorte] || etapaPrimeraConfig.default; %>
                                        <span id="resCentradoLuzCorte<%=k%>_<%=n%>_<%=q%>" value="<%=resCentradoLuzCorte%>">
                                            <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                        </span> |
                                        <span id="resRevisionCentradoLuzCorte<%=k%>_<%=n%>_<%=q%>" name="resRevisionCentradoLuzCorte" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                            <%= resRevisionCentradoLuzCorte %>
                                        </span>

                                        <button id="btnSiguienteCentradoLuzCorte<%=k%>_<%=n%>_<%=q%>" name="btnSiguienteCentradoLuzCorte" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= siguienteDisabled %>
                                            ><i class="fa-solid fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </td>

                            <% } else if (q==6) { %>
                                <!-- Centrado Levas data Activo-->
                                <td class="text-center align-middle">
                                    <% if (largoArrayEtapa > 0) {

                                        for (let i = 0; largoArrayEtapa > i; i++) {
                                            if (pathToMongoOtEtapa[i]) {
                                                let largoArray = parseInt(largoArrayEtapa)
                                                resCentradoLevas = pathToMongoOtEtapa[largoArray-1].centradoLevas == 'sinDato' ? "S/D" : pathToMongoOtEtapa[largoArray-1].centradoLevas
                                                resRevisionCentradoLevas = parseInt(pathToMongoOtEtapa[largoArray-1].revisionCentradoLevas) || 0
                                                
                                                pathToMongoOtEtapa[i].centradoLevas == 'sinDato' ? arrResCentradoLevas.push('S/D') : arrResCentradoLevas.push(pathToMongoOtEtapa[i].centradoLevas)
                                                arrResRevisionCentradoLevas.push(pathToMongoOtEtapa[i].revisionCentradoLevas)
                                            
                                                arrResCreadorCentradoLevas.push(pathToMongoOtEtapa[i].creator[0].username)
                                                arrResModificadorCentradoLevas.push(pathToMongoOtEtapa[i].modificator[0].username)
                                                arrResFechaCentradoLevas.push(pathToMongoOtEtapa[i].timestamp)
                                                arrResFechaModCentradoLevas.push(pathToMongoOtEtapa[i].modifiedOn)
                                            }
                                        }
                                        valueArrayResCentradoLevas = parseInt(arrResCentradoLevas.length-1)
                                                
                                        if (arrResCentradoLevas.length == 1 ) {
                                            siguienteDisabled = "disabled"
                                            anteriorDisabled = "disabled"
                                        } else if (arrResCentradoLevas.length == arrResRevisionCentradoLevas.length) {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        } else {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        }
                                                
                                    } else {
                                        arrResCentradoLevas.push(resCentradoLevas)
                                        arrResRevisionCentradoLevas.push(resRevisionCentradoLevas)
                                        
                                        arrResCreadorCentradoLevas.push(pathMongoOtProject[n].creator[0].username)
                                        arrResModificadorCentradoLevas = ""
                                        arrResFechaCentradoLevas.push(pathMongoOtProject[n].timestamp)
                                        arrResFechaModCentradoLevas = ""
                                    } %>

                                <div id="btnAnteriorSiguienteCentradoLevas<%=k%>_<%=n%>_<%=q%>">
                                    <button id="btnAnteriorCentradoLevas<%=k%>_<%=n%>_<%=q%>" name="btnAnteriorCentradoLevas" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                        <%= anteriorDisabled %>
                                        ><i class="fa-solid fa-arrow-left"></i>
                                    </button>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCentradoLevas %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResCentradoLevas %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionCentradoLevas %>">
                                    <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorCentradoLevas %>">
                                    <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorCentradoLevas %>">
                                    <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaCentradoLevas %>">
                                    <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModCentradoLevas %>">

                                    <% const config = etapaPrimeraConfig[resCentradoLevas] || etapaPrimeraConfig.default; %>
                                    <span id="resCentradoLevas<%=k%>_<%=n%>_<%=q%>" value="<%=resCentradoLevas%>">
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |
                                    <span id="resRevisionCentradoLevas<%=k%>_<%=n%>_<%=q%>" name="resRevisionCentradoLevas" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionCentradoLevas %>
                                    </span>

                                    <button id="btnSiguienteCentradoLevas<%=k%>_<%=n%>_<%=q%>" name="btnSiguienteCentradoLevas" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                        <%= siguienteDisabled %>
                                        ><i class="fa-solid fa-arrow-right"></i>
                                    </button>
                                </div>
                                </td>
                            
                            <% } else { %>
                                <!-- LTH data Activo-->
                                <td class="text-center align-middle">
                                    <% if (largoArrayEtapa > 0) {

                                        for (let i = 0; largoArrayEtapa > i; i++) {
                                            if (pathToMongoOtEtapa[i]) {
                                                let largoArray = parseInt(largoArrayEtapa)
                                                resLthEtapaPrimera = pathToMongoOtEtapa[largoArray-1].lthEtapaPrimera == 'sinDato' ? "S/D" : pathToMongoOtEtapa[largoArray-1].lthEtapaPrimera
                                                resRevisionLthEtapaPrimera = parseInt(pathToMongoOtEtapa[largoArray-1].revisionLthEtapaPrimera) || 0
                                                
                                                pathToMongoOtEtapa[i].lthEtapaPrimera == 'sinDato' ? arrResLthEtapaPrimera.push('S/D') : arrResLthEtapaPrimera.push(pathToMongoOtEtapa[i].lthEtapaPrimera)
                                                arrResRevisionLthEtapaPrimera.push(pathToMongoOtEtapa[i].revisionLthEtapaPrimera)
                                            
                                                arrResCreadorLthEtapaPrimera.push(pathToMongoOtEtapa[i].creator[0].username)
                                                arrResModificadorLthEtapaPrimera.push(pathToMongoOtEtapa[i].modificator[0].username)
                                                arrResFechaLthEtapaPrimera.push(pathToMongoOtEtapa[i].timestamp)
                                                arrResFechaModLthEtapaPrimera.push(pathToMongoOtEtapa[i].modifiedOn)
                                            }
                                        }
                                        valueArrayResLthEtapaPrimera = parseInt(arrResLthEtapaPrimera.length-1)
                                                
                                        if (arrResLthEtapaPrimera.length == 1 ) {
                                            siguienteDisabled = "disabled"
                                            anteriorDisabled = "disabled"
                                        } else if (arrResLthEtapaPrimera.length == arrResRevisionLthEtapaPrimera.length) {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        } else {
                                            anteriorDisabled = ""
                                            siguienteDisabled = "disabled"
                                        }
                                                
                                    } else {
                                        arrResLthEtapaPrimera.push(resLthEtapaPrimera)
                                        arrResRevisionLthEtapaPrimera.push(resRevisionLthEtapaPrimera)
                                        
                                        arrResCreadorLthEtapaPrimera.push(pathMongoOtProject[n].creator[0].username)
                                        arrResModificadorLthEtapaPrimera = ""
                                        arrResFechaLthEtapaPrimera.push(pathMongoOtProject[n].timestamp)
                                        arrResFechaModLthEtapaPrimera = ""
                                    } %>

                                <div id="btnAnteriorSiguienteLthEtapaPrimera<%=k%>_<%=n%>_<%=q%>">
                                    <button id="btnAnteriorLthEtapaPrimera<%=k%>_<%=n%>_<%=q%>" name="btnAnteriorLthEtapaPrimera" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                        <%= anteriorDisabled %>
                                        ><i class="fa-solid fa-arrow-left"></i>
                                    </button>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResLthEtapaPrimera %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResLthEtapaPrimera %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionLthEtapaPrimera %>">
                                    <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorLthEtapaPrimera %>">
                                    <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorLthEtapaPrimera %>">
                                    <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaLthEtapaPrimera %>">
                                    <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModLthEtapaPrimera %>">

                                    <% const config = etapaPrimeraConfig[resLthEtapaPrimera] || etapaPrimeraConfig.default; %>
                                    <span id="resLthEtapaPrimera<%=k%>_<%=n%>_<%=q%>" value="<%=resLthEtapaPrimera%>" >
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |
                                    <span id="resRevisionLthEtapaPrimera<%=k%>_<%=n%>_<%=q%>" name="resRevisionLthEtapaPrimera" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionLthEtapaPrimera %>
                                    </span>

                                    <button id="btnSiguienteLthEtapaPrimera<%=k%>_<%=n%>_<%=q%>" name="btnSiguienteLthEtapaPrimera" value="<%=k%>_<%=n%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                        <%= siguienteDisabled %>
                                        ><i class="fa-solid fa-arrow-right"></i>
                                    </button>
                                </div>
                                </td>
                            <% }
                        } %>
                    </tr>

                <% } else { %>
                    <!--Inactivo-->
                    <tr name="rowSelected<%=k%>_<%=n%>" class="pe-none border-bottom" style="height: 7vh; background-color: #dedede;">
                        <% for (let q = 4; totalColDataEtapaPrimera > q; q++) {
                            if (q==4) { %>
                                <!-- Guiados data Inactivo -->
                                <td class="text-center align-middle">
                                    <% if (largoArrayEtapa > 0) {
                                        for (let i = 0; largoArrayEtapa > i; i++) {

                                            if (pathToMongoOtEtapa[i]) {
                                                let largoArray = parseInt(largoArrayEtapa)
                                                resGuiados = pathToMongoOtEtapa[largoArray-1].guiados || 'S/D'
                                                resRevisionGuiados = parseInt(pathToMongoOtEtapa[largoArray-1].revisionGuiados) || 0
                                                
                                                arrResGuiados.push(pathToMongoOtEtapa[i].guiados)
                                                arrResRevisionGuiados.push(pathToMongoOtEtapa[i].revisionGuiados)
                                            }
                                        }
                                        valueArrayResGuiados = parseInt(arrResGuiados.length-1)
                                        resGuiados = pathToMongoOtEtapa[0].Guiados
                                        
                                    } else {
                                        arrResGuiados.push(resGuiados)
                                        arrResRevisionGuiados.push(resRevisionGuiados)
                                    } %>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResGuiados %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResGuiados %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionGuiados %>">
                                
                                    <span id="resGuiados<%=k%>_<%=n%>_<%=q%>" value="<%=resGuiados%>" >
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |
                                    <span id="resRevisionGuiados<%=k%>_<%=n%>_<%=q%>" name="resRevisionGuiados" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionGuiados %>
                                    </span>
                                </td>

                            <% } else if (q==5) { %>
                                <!-- Centrado Luz Corte data Inactivo -->
                                <td class="text-center align-middle">
                                    <% if (largoArrayEtapa > 0) {
                                        for (let i = 0; largoArrayEtapa > i; i++) {
                                            
                                            if (pathToMongoOtEtapa[i]) {
                                                let largoArray = parseInt(largoArrayEtapa)
                                                resCentradoLuzCorte = pathToMongoOtEtapa[largoArray-1].centradoLuzCorte || 'S/D'
                                                resRevisionCentradoLuzCorte = parseInt(pathToMongoOtEtapa[largoArray-1].revisionCentradoLuzCorte) || 0
                                                
                                                arrResCentradoLuzCorte.push(pathToMongoOtEtapa[i].centradoLuzCorte)
                                                arrResRevisionCentradoLuzCorte.push(pathToMongoOtEtapa[i].revisionCentradoLuzCorte)
                                            }
                                        }
                                        valueArrayResCentradoLuzCorte = parseInt(arrResCentradoLuzCorte.length-1)
                                        resCentradoLuzCorte = pathToMongoOtEtapa[0].centradoLuzCorte
                                        
                                    } else {
                                        arrResCentradoLuzCorte.push(resCentradoLuzCorte)
                                        arrResRevisionCentradoLuzCorte.push(resRevisionCentradoLuzCorte)
                                    } %>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCentradoLuzCorte %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResCentradoLuzCorte %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionCentradoLuzCorte %>">

                                    <span id="resCentradoLuzCorte<%=k%>_<%=n%>_<%=q%>" value="<%=resCentradoLuzCorte%>" >
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |
                                    <span id="resRevisionCentradoLuzCorte<%=k%>_<%=n%>_<%=q%>" name="resRevisionCentradoLuzCorte" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionCentradoLuzCorte %>
                                    </span>
                                </td>

                            <% } else if (q==6) { %>
                                <!-- Centrado Levas data Inactivo -->
                                <td class="text-center align-middle">
                                    <% if (largoArrayEtapa > 0) {
                                        for (let i = 0; largoArrayEtapa > i; i++) {
                                            
                                            if (pathToMongoOtEtapa[i]) {
                                                let largoArray = parseInt(largoArrayEtapa)
                                                resCentradoLevas = pathToMongoOtEtapa[largoArray-1].centradoLevas || "S/D"
                                                resRevisionCentradoLevas = parseInt(pathToMongoOtEtapa[largoArray-1].revisionCentradoLevas) || 0
                                                
                                                arrResCentradoLevas.push(pathToMongoOtEtapa[i].centradoLevas)
                                                arrResRevisionCentradoLevas.push(pathToMongoOtEtapa[i].revisionCentradoLevas)
                                            }
                                        }
                                        valueArrayResCentradoLevas = parseInt(arrResCentradoLevas.length-1)
                                        resCentradoLevas = pathToMongoOtEtapa[0].centradoLevas
                                        
                                    } else {
                                        arrResCentradoLevas.push(resCentradoLevas)
                                        arrResRevisionCentradoLevas.push(resRevisionCentradoLevas)
                                    } %>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCentradoLevas %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResCentradoLevas %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionCentradoLevas %>">

                                    <span id="resCentradoLevas<%=k%>_<%=n%>_<%=q%>" value="<%=resCentradoLevas%>">
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |
                                    <span id="resRevisionCentradoLevas<%=k%>_<%=n%>_<%=q%>" name="resRevisionCentradoLevas" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionCentradoLevas %>
                                    </span>
                                </td>
                            
                            <% } else { %>
                                <!-- LTH data Inactivo -->
                                <td class="text-center align-middle">
                                    <% if (largoArrayEtapa > 0) {
                                        for (let i = 0; largoArrayEtapa > i; i++) {
                                            
                                            if (pathToMongoOtEtapa[i]) {
                                                let largoArray = parseInt(largoArrayEtapa)
                                                resLthEtapaPrimera = pathToMongoOtEtapa[largoArray-1].lthEtapaPrimera || "S/D"
                                                resRevisionLthEtapaPrimera = parseInt(pathToMongoOtEtapa[largoArray-1].revisionLthEtapaPrimera) || 0
                                                
                                                arrResLthEtapaPrimera.push(pathToMongoOtEtapa[i].lthEtapaPrimera)
                                                arrResRevisionLthEtapaPrimera.push(pathToMongoOtEtapa[i].revisionLthEtapaPrimera)
                                            }
                                        }
                                        valueArrayResLthEtapaPrimera = parseInt(arrResLthEtapaPrimera.length-1)
                                        resLthEtapaPrimera = pathToMongoOtEtapa[0].lthEtapaPrimera
                                        
                                    } else {
                                        arrResLthEtapaPrimera.push(resLthEtapaPrimera)
                                        arrResRevisionLthEtapaPrimera.push(resRevisionLthEtapaPrimera)
                                    } %>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResLthEtapaPrimera %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResLthEtapaPrimera %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionLthEtapaPrimera %>">

                                    <span id="resLthEtapaPrimera<%=k%>_<%=n%>_<%=q%>" value="<%=resLthEtapaPrimera%>" >
                                        <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                    </span> |
                                    <span id="resRevisionLthEtapaPrimera<%=k%>_<%=n%>_<%=q%>" name="resRevisionLthEtapaPrimera" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                        <%= resRevisionLthEtapaPrimera %>
                                    </span>
                                </td>
                            <% }
                        } %>
                    </tr>
                <% }
            }
        }) %>
    </tbody>
</table>