<% if (userInfo.superAdmin) { %>
        <div class="mx-auto small text-center">
            <span id="mostrarRolUser" class="badge rounded-pill bg-primary position-relative mb-1">
                SuperAdmin
                <span class="position-absolute top-0 start-100 translate-middle">
                    <i class="fa-solid fa-crown fa-beat fa-lg"
                        title="SuperAdmin"
                        style="color: #a89c0d; --fa-rotate-angle: 20deg;">
                    </i>
                </span>
            </span>
        </div>
        <span class="badge bg-warning text-dark my-1"><%= userInfo.area; %></span> - <span class="badge bg-light text-dark my-1"><%= userInfo.permiso %></span>
        <div class="mx-auto small text-center" id="mostrarUserName">
            <%= userInfo.name %>, <%= userInfo.lastName %>
        </div>
        <div class="d-none" id="userBanner_<%= userInfo._id %>"><%= userInfo._id %></div>
        <div class="d-none" id="userNameBanner"><%= userInfo.username %></div>
    
    <% } else if (userInfo.admin && !userInfo.superAdmin) { %>
        <div class="mx-auto small text-center">
            <span id="mostrarRolUser" class="badge rounded-pill bg-primary">Admin</span>
        </div>
        <span class="badge bg-warning text-dark my-1"><%= userInfo.area %></span> - <span class="badge bg-light text-dark my-1"><%= userInfo.permiso %></span>
        <div class="mx-auto small text-center" id="mostrarUserName">
            <%= userInfo.name %>, <%= userInfo.lastName %>
        </div>
        <div class="d-none" id="userBanner_<%= userInfo._id %>"><%= userInfo._id %></div>
        <div class="d-none" id="userNameBanner"><%= userInfo.username %></div>

    <% } else { %>
        <div class="mx-auto small text-center">
            <span id="mostrarRolUser" class="badge rounded-pill bg-info text-dark">User</span>
        </div>
        <span class="badge bg-warning text-dark my-1"><%= userInfo.area %></span> - <span class="badge bg-light text-dark my-1"><%= userInfo.permiso %></span>
        <div class="mx-auto small text-center" id="mostrarUserName">
            <%= userInfo.name %>, <%= userInfo.lastName %>
        </div>
        <div class="d-none" id="<%= userInfo._id %>"></div>
        <div class="d-none" id="userNameBanner"><%= userInfo.username %></div>
    <% } %>