<% const areaConfig = {
    ingenieria: { text: "Ingeniería", classes: "bg-info text-dark" },
    fabricacion: { text: "Fabricación", classes: "bg-warning text-dark" },
    proyectos: { text: "Proyectos", classes: "bg-primary text-light" },
    administracion: { text: "Administración", classes: "bg-secondary text-white" },
    todas: { text: "Todas", classes: "bg-success text-white" },
    default: { text: "N/A", classes: "bg-secondary text-dark" }
};

const permisoConfig = {
    diseno: { text: "Diseño", classes: "bg-info text-dark" },
    simulacion: { text: "Simulación", classes: "bg-warning text-dark" },
    disenoSimulacion: { text: "Diseño/Simulación", classes: "bg-danger text-white" },
    cadCam: { text: "Cad-Cam", classes: "bg-secondary text-dark" },
    projectManager: { text: "PM", classes: "bg-light text-dark" },
    mecanizado: { text: "Mecanizado", classes: "bg-warning text-dark" },
    ajuste: { text: "Ajuste", classes: "bg-danger text-white" },
    todos: { text: "Todos", classes: "bg-secondary text-white" },
    default: { text: "N/A", classes: "bg-secondary text-dark" }
};

    const configArea = areaConfig[userInfo.area] || areaConfig.default;
    const configPermiso = permisoConfig[userInfo.permiso] || permisoConfig.default;

    if (userInfo.superAdmin) { %>
        <div class="mx-auto small text-center">
            <span id="mostrarRolUser" class="badge rounded-pill bg-primary position-relative mb-1">
                SuperAdmin
                <span class="position-absolute top-0 start-100 translate-middle">
                    <i class="fa-solid fa-crown fa-beat fa-lg" title="SuperAdmin"
                        style="color: #a89c0d; --fa-rotate-angle: 20deg;">
                    </i>
                </span>
            </span>
        </div>
        <span class="badge <%= configArea.classes %> my-1"> <%= configArea.text %> </span> - 
        <span class="badge <%= configPermiso.classes %> my-1"> <%= configPermiso.text %> </span>
        <div class="mx-auto small text-center" id="mostrarUserName">
            <%= userInfo.name %>, <%= userInfo.lastName %>
        </div>
        <div class="d-none" id="userBanner_<%= userInfo._id %>"><%= userInfo._id %></div>
        <div class="d-none" id="userNameBanner"><%= userInfo.username %></div>
    
    <% } else if (userInfo.admin && !userInfo.superAdmin) { %>
        <div class="mx-auto small text-center">
            <span id="mostrarRolUser" class="badge rounded-pill bg-primary">Admin</span>
        </div>
        <span class="badge <%= configArea.classes %> my-1"><%= configArea.text %></span> -
        <span class="badge <%= configPermiso.classes %> my-1"><%= configPermiso.text %></span>
        <div class="mx-auto small text-center" id="mostrarUserName">
            <%= userInfo.name %>, <%= userInfo.lastName %>
        </div>
        <div class="d-none" id="userBanner_<%= userInfo._id %>"><%= userInfo._id %></div>
        <div class="d-none" id="userNameBanner"><%= userInfo.username %></div>

    <% } else { %>
        <div class="mx-auto small text-center">
            <span id="mostrarRolUser" class="badge rounded-pill bg-info text-dark">User</span>
        </div>
        <span class="badge <%= configArea.classes %> my-1"><%= configArea.text %></span> -
        <span class="badge <%= configPermiso.classes %> my-1"><%= configPermiso.text %></span>
        <div class="mx-auto small text-center" id="mostrarUserName">
            <%= userInfo.name %>, <%= userInfo.lastName %>
        </div>
        <div class="d-none" id="<%= userInfo._id %>"></div>
        <div class="d-none" id="userNameBanner"><%= userInfo.username %></div>
    <% } %>