<div class="offcanvas offcanvas-start" style="width: auto;" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
    aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header mx-auto">
        <img src='/src/images/logo01-negro.png' width="165px" height="30px"
            class="d-none d-xl-inline-block align-text-top">
        <img src='/src/images/soloLogo01-negro.png' title="Logo Prodismo" width="40px" height="30px"
            class="d-xl-none d-inline-block align-text-top">
        <button type="button" class="btn-close d-none d-xl-inline-block" data-bs-dismiss="offcanvas"
            aria-label="Close">
        </button>
    </div>
    <hr style="margin: 0; color: rgb(0, 0, 0);">
    <div class="offcanvas-body p-3">
        <ul class="navbar-nav list-group list-group-vertical align-items-lg-start align-items-sm-center">
            <li class="nav-item my-1 active">
                <a class="nav-link" aria-current="page" title="Home" href="/api/auth/index">
                    <i class="fa-solid fa-home" aria-hidden="true"></i>
                    <span class="d-none d-lg-inline">Home</span>
                </a>
            </li>
            <li class="nav-item my-1">
                <a class="nav-link" title="Clientes" href="/api/clientes">
                    <i class="fa-solid fa-handshake" aria-hidden="true"></i>
                    <span class="d-none d-lg-inline">Clientes</span>
                </a>
            </li>
            <li class="nav-item my-1">
                <a class="nav-link" title="Usuarios" href="/api/usuarios">
                    <i class="fa-solid fa-users" aria-hidden="true"></i>
                    <span class="d-none d-lg-inline">Usuarios</span>
                </a>
            </li>
            <li class="nav-item my-1">
                <a class="nav-link" title="Programaci칩n" href="/api/programas">
                    <i class="icon-calendar" aria-hidden="true"></i>
                    <span class="d-none d-lg-inline">Programaci칩n</span>
                </a>
            </li>
            <li class="nav-item my-1">
                <a class="nav-link" title="Proyectos" href="/api/proyectos">
                    <i class="icon-rocket" aria-hidden="true"></i>
                    <span class="d-none d-lg-inline">Proyectos</span>
                </a>
            </li>
            <li class="nav-item my-1">
                <a class="nav-link" title="M치quinas" href="/api/maquinas">
                    <i class="icon-wrench" aria-hidden="true"></i>
                    <span class="d-none d-lg-inline">M치quinas</span>
                </a>
            </li>
            <li class="nav-item my-1">
                <a class="nav-link" title="WebChat" href="/api/webchat">
                    <i class="fa-solid fa-comments" aria-hidden="true"></i>
                    <span class="d-none d-lg-inline">WebChat</span>
                </a>
            </li>
        </ul>
        <hr class="mb-2" style="margin: 0; color: rgb(0, 0, 0);">
        <div class="container text-center align-items-lg-start align-items-sm-center">
            <div class="row align-items-center">
                <div class="col">
                    <a class="align-items-lg-start align-items-sm-center" title="Settings <%= userInfo.name %> <%= userInfo.lastName %>" href="/api/usuarios/getUserSettings/<%= userInfo._id %>" name="btnSetting" id="btnSetting">
                        <img id="avatarUser" class="img rounded-circle mx-auto d-none d-sm-inline" alt="Avatar <%= userInfo.name %> <%= userInfo.lastName %>"
                            src="<%= userInfo.avatar %>" width="48px" height="48px">
                    </a>
                </div>
                <div class="col">
                    <div class="text-center m-auto d-none d-sm-inline" style="width: auto;">
                        <% if (userInfo.admin && userInfo.superAdmin) { %>
                            <div class="mx-auto small text-center">
                                <span id="mostrarRolUser" class="badge rounded-pill bg-primary position-relative">
                                    SuperAdmin
                                    <span class="position-absolute top-0 start-100 translate-middle">
                                        <i class="fa-solid fa-crown fa-beat fa-lg"
                                            title="SuperAdmin"
                                            style="color: #a89c0d; --fa-rotate-angle: 20deg;">
                                        </i>
                                    </span>
                                </span>
                            </div>
                            <div class="mx-auto small text-center" id="mostrarUserName">
                                <%= userInfo.name %>, <%= userInfo.lastName %>
                            </div>
                            <div class="d-none" id="userBanner_<%= userInfo._id %>"><%= userInfo._id %></div>
                        <% } else if (userInfo.admin) { %>
                            <div class="mx-auto small text-center">
                                <span id="mostrarRolUser" class="badge rounded-pill bg-primary">Admin</span>
                            </div>
                            <div class="mx-auto small text-center" id="mostrarUserName">
                                <%= userInfo.name %>, <%= userInfo.lastName %>
                            </div>
                            <div class="d-none" id="userBanner_<%= userInfo._id %>"><%= userInfo._id %></div>
                        <% } else { %>
                            <div class="mx-auto small text-center">
                                <span id="mostrarRolUser" class="badge rounded-pill bg-info text-dark">User</span>
                            </div>
                            <div class="mx-auto small text-center" id="mostrarUserName">
                                <%= userInfo.name %>, <%= userInfo.lastName %>
                            </div>
                            <div class="d-none" id="<%= userInfo._id %>"></div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="offcanvas-footer mx-auto text-center mb-3">
            <button id="logoutSidebar" class="btn btn-dark mx-auto my-auto shadow" title="LogOut" style="width: auto;" type="button">
                <i class="fa-solid fa-sign-out"></i>
                <span class="d-none d-xl-inline">LogOut</span>
            </button>
            <p class="my-1 mx-auto text-end">V0.2.181</p>
        </div>

</div>