<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header/header'); %>
    </header>
    
    <div class="container" style="padding-top: 70px;"></div>
    <br>
    <div class="d-block mx-auto my-4 pb-5 text-center">
        <a class="btn btn-primary my-2 me-5" href="/api/auth/index"><i class="fa fa-home" aria-hidden="true"></i> Regresar al Home </a>
        <a class="btn btn-danger my-2 ms-5" href="/api/proyectos/all/delete"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar Todos los Proyectos </a>
    </div>
    
    <!-- ------------ Lista de Proyectos ------------ -->
    <%- include('../partials/sections/sectionProjectList'); %>
        
    <div class="d-block mx-auto px-5 mb-3 text-center w-100">
        <%- include('../partials/data/dataProjectsTable'); %>
    </div>
    <br>
        <%- include('../partials/btnFooterBotoom/btnFooterBotoom-goUp'); %>
    <br>
    <footer>
        <%- include('../partials/footer/footer'); %>
    </footer>
    <!--    scripts     -->
    <script type="text/javascript" src="/js/clientes/clientes.js"></script>
    <!-- <script type="text/javascript" src="/js/proyectos/projects.js"></script> -->
    <!-- <script type="text/javascript" src="/js/comunes/search.js"></script> -->

</body>

</html>