<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head/head'); %>
</head>

<body>
    <%- include('../partials/header/header'); %>

        <div class="container" style="padding-top: 70px;"></div>
            <br>
            <div class="collapse" id="collapseExample">
                <%- include('../partials/forms/formularioUsers'); %>
            </div>
            <br>

            <%- include('../partials/btnHeaderTop/btnHeaderTop-newUser'); %>

            <div class="d-block mx-auto mt-4 text-center bg-primary-light">    
                <%- include('../partials/forms/formularioBuscarUsuario'); %>
                <%- include('../partials/data/dataUserSearch'); %>
            </div>

            <section class="mx-auto" style="width: 94%;">
                <div class="row">
                    <div class="col-12 text-left">
                        <hr>
                        <h4 class="text-uppercase">Lista de Usuarios</h4>
                        <p>Departamento IT Prodismo</p>
                        <hr>
                    </div>
                </div>
            </section>

            <div class="d-block mx-auto px-5 mb-5 text-center w-100">
                <%- include('../partials/data/dataUsersTable'); %>
            </div>
            <br>
            <%- include('../partials/btnFooterBottom/btnFooterBottom-goUp'); %>
            <br>
            <footer>
                <%- include('../partials/footer/footer'); %>
            </footer>

            <!--    scripts     -->
            <script type="text/javascript" src="/js/usuarios.js"></script>
            <script type="text/javascript" src="/js/search.js"></script>
            <script type="text/javascript" src="/js/clock.js"></script>
            <script type="text/javascript" src="/js/expiresSession.js"></script>
                
</body>

</html>