<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header/header'); %>
    </header>

    <div class="container" style="padding-top: 70px;"></div>
    <br>
    <div class="collapse" id="collapseExample">
        <%- include('../partials/forms/formularioUsers'); %>
    </div>
    <br>

    <%- include('../partials/btnHeaderTop/btnHeaderTop-newUser'); %>

    <div class="d-block mx-auto mt-4 text-center bg-primary-light">    
        <%- include('../partials/forms/formularioBuscarUsuario'); %>
        <%- include('../partials/data/dataUserSearch'); %>
    </div>

    <%- include('../partials/sections/sectionUsersList'); %>
    
    <div class="d-block mx-auto px-5 mb-5 text-center w-100">
        <%- include('../partials/data/dataUsersTable'); %>
    </div>
    <br>
    <%- include('../partials/btnFooterBottom/btnFooterBottom-goUp'); %>
    <br>
    <footer>
        <%- include('../partials/footer/footer'); %>
    </footer>

    <!--    scripts     -->
    <script type="text/javascript" src="/js/usuarios/usuarios.js"></script>
    <script type="text/javascript" src="/js/comunes/search.js"></script>
                
</body>

</html>