<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head/head'); %>
</head>

<body>
    <%- include('../partials/header/header'); %>

    <div class="container" style="padding-top: 70px;"></div>
    <br>

    <%- include('../partials/btnHeaderTop/btnHeaderTop-newMessage'); %>

    <!-- ------------ Mensaje ------------ -->
    <%- include('../partials/sections/sectionNewMessage'); %>
    
    <%- include('../partials/data/dataMsg'); %>
    <br>
        <%- include('../partials/btnFooterBottom/btnFooterBottom-goUp'); %>
    <br>
    <div class="container" style="padding-bottom: 70px;"></div>
    
        <%- include('../partials/forms/formularioChat'); %>
    <br>

    <footer>
        <%- include('../partials/footer/footer'); %>
    </footer>

    <!--    scripts     -->
    <script type="text/javascript" src="/js/mensajes.js"></script>

</body>
</html>