<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head/head'); %>
</head>

<body>
    <%- include('../partials/header/header'); %>

    <div class="container" style="padding-top: 70px;"></div>
    <br>

    <div class="collapse" id="collapseExample">
        <%- include('../partials/forms/formularioCliente'); %>
    </div>
    <br>
    
    <%- include('../partials/btnHeaderTop/btnHeaderTop-newClient'); %>
    <br>
    <div class="d-block mx-auto mt-1 text-center bg-primary-light">    
        <%- include('../partials/forms/formularioBuscarNewCliente'); %>
        <%- include('../partials/data/dataClientSearch'); %>
    </div>
    <!-- ------------ Lista de Clientes ------------ -->
    <%- include('../partials/sections/sectionClientList'); %>

    <div class="d-block mx-auto px-5 mb-3 text-center w-100">
        <%- include('../partials/data/dataClientTable'); %>
    <br>
        <%- include('../partials/btnFooterBottom/btnFooterBottom-goUp'); %>
    <br>
    </div>
    <footer>
        <%- include('../partials/footer/footer'); %>
    </footer>
    <!--    scripts     -->
    <script type="text/javascript" src="/js/clientes/clientes.js"></script>
    <script type="text/javascript" src="/js/comunes/search.js"></script>

</body>

</html>