<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head/head'); %>
</head>

<body>
    <header>
        <% if (userInfo.admin) { %>
            <%- include('../partials/header/header'); %>
        <% } else { %>
            <%- include('../partials/header/headerToolShop'); %>
        <% } %>
    </header>

    <div class="container" style="padding-top: 70px;"></div>
    <br>
    <div class="collapse" id="collapseExample">
        <% if (userInfo.admin) { %>
            <%- include('../partials/forms/formularioConsumibles'); %>
        <% } %>
    </div>
    <br>

    <%- include('../partials/btnHeaderTop/btnHeaderTop-newConsumible'); %>

    <div class="d-block mx-auto mt-4 text-center bg-primary-light">    
        <%- include('../partials/forms/formularioBuscarConsumible'); %>
        <%- include('../partials/data/dataConsumiblesSearch'); %>
    </div>

    <%- include('../partials/sections/sectionSelectConsumible'); %>

    <%- include('../partials/sections/sectionConsumiblesList'); %>
    
    <div class="d-block mx-auto px-5 mb-5 text-center w-100">
        <%- include('../partials/data/dataConsumiblesTable'); %>
        <!-- Contenedor de paginación -->
        <div id="paginationConsumibles"></div>
    </div>
    <br>
    <%- include('../partials/btnFooterBottom/btnFooterBottom-goUp'); %>
    <br>
    <footer>
        <%- include('../partials/footer/footer'); %>
    </footer>

    <!--    scripts     -->
    <script type="text/javascript" src="/js/consumibles/consumibles.js"></script>
    <script type="text/javascript" src="/js/comunes/search.js"></script>
                
</body>

</html>