<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head/head'); %>
</head>

<body>
        <%- include('../partials/header/header'); %>
    <div class="container" style="padding-top: 70px;"></div>
    <br>
        <%- include('../partials/btnHeaderTop/btnHeaderTop-newProject'); %>
        
    <!-- Lista de Proyectos -->
    <%- include('../partials/sections/sectionClientProjects'); %>

    <div id="updateCliente">
    </div>
    <%- include('../partials/data/dataProjectsClientCard'); %>
    <br>
        <%- include('../partials/btnFooterBottom/btnFooterBottom-goUp'); %>
    <br>
    <footer>
        <%- include('../partials/footer/footer'); %>
    </footer>

        <!--    scripts     -->
        <script type="text/javascript" src="/js/proyectos/projectDetails.js"></script>

</body>

</html>