<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head/head'); %>
</head>

<body>
    <%- include('../partials/header/header'); %>

    <div class="container" style="padding-top: 70px;"></div>
    <br>
    <div class="collapse" id="collapseExample">
        <%- include('../partials/forms/formularioCliente'); %>
    </div>

    <%- include('../partials/btnHeaderTop/btnHeaderTop-newClient'); %>

    <a class="btn btn-secondary my-2 mx-4" href="/api/auth/index"><i class="fa-solid fa-home"
            aria-hidden="true"></i> Regresar al Home </a>
    <% if( userInfo.admin ){ %>
        <a class="btn btn-danger my-2 ms-4 disabled" href="/api/clientes/all/delete"><i class="fa-solid fa-trash" aria-hidden="true"></i> Eliminar Todos </a>
    <% } %>
    <!-- ------------ Lista de Clientes ------------ -->
    <%- include('../partials/sections/sectionClientList'); %>
            
    <br>
    <div class="d-block mx-auto mb-3 text-center w-100 px-5">
        <%- include('../partials/data/dataClientTable'); %>
    </div>
    <br>
        <%- include('../partials/btnFooterBottom/btnFooterBottom-goUp'); %>
    <br>
    <footer>
        <%- include('../partials/footer/footer'); %>
    </footer>
    <!--    scripts     -->
    <script type="text/javascript" src="/js/clientes/clientes.js"></script>

</body>

</html>