<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head/head'); %>
</head>

<body>
    <header>
        <% if (userInfo.admin) { %>
            <%- include('../partials/header/header'); %>
        <% } else { %>
            <%- include('../partials/header/headerToolShop'); %>
        <% } %>
    </header>
    <div class="container" style="padding-top: 70px;"></div>
    <br>
    <div class="container-fluid">
        <%- include('../partials/sections/sectionConsumiblesDetails'); %>
    </div>

    <%- include('../partials/forms/formUpdateConsumibles'); %>
    <br>

    <footer>
        <%- include('../partials/footer/footer'); %>
    </footer>

    <!--    scripts     -->
    <script type="text/javascript" src="/js/consumibles/consumiblesDetail.js"></script>

</body>

</html>