<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header/header'); %>
    </header>
    <div class="container" style="padding-top: 70px;"></div>
    <br>
    <div class="container-fluid">
        <%- include('../partials/sections/sectionCuttingToolDetails'); %>
    </div>

    <div id="updateHerramienta"> 
    </div>

    <%- include('../partials/forms/formUpdateCuttingTool'); %>
    <br>

    <footer>
        <%- include('../partials/footer/footer'); %>
    </footer>

    <!--    scripts     -->
    <script type="text/javascript" src="/js/cuttingTools/cuttingToolDetail.js"></script>

</body>

</html>