<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head/head'); %>
</head>

<body>
    <header>
        <% if (userInfo.admin) { %>
            <%- include('../partials/header/header'); %>
        <% } else { %>
            <%- include('../partials/header/headerToolShop'); %>
        <% } %>
    </header>
    
    <div class="container" style="padding-top: 70px;"></div>
    <br>
    <% if (userInfo.admin && !userInfo.superAdmin) { %>
        <%- include('../partials/mainCharts/toolShoopAdminChart'); %>
    <% } else { %>
        <%- include('../partials/mainCharts/toolShoopUserChart'); %>
    <% } %>
    
    <div class="d-block mx-auto mt-1 text-center bg-primary-light">    
        <%- include('../partials/forms/formularioBuscarConsumible'); %>
        <%- include('../partials/data/dataConsumiblesSearch'); %>
    </div>
    <!-- ------------ Lista de ERP/Consumibles ------------ -->
    <%- include('../partials/sections/sectionConsumiblesList'); %>
    
    <div class="d-block mb-1 text-center w-100 mx-auto">
        <%- include('../partials/data/dataConsumiblesListAsk'); %>
    </div>
    <!-- ---------- Fin Lista de ERP/Consumibles ---------- -->
    <br>
        <%- include('../partials/btnFooterBottom/btnFooterBottom-goUp'); %>
    <br>
        
    <footer>
        <%- include('../partials/footer/footer'); %>
    </footer>

    <!--    scripts     -->
    <script type="text/javascript" src="/js/index/indexListAsk.js"></script>
    <script type="text/javascript" src="/js/comunes/searchListAsk.js"></script>

</body>
</html>