<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head/head'); %>
</head>

<body>
    <header>
        <% if (userInfo.admin) { %>
            <%- include('../partials/header/header'); %>
        <% } else { %>
            <%- include('../partials/header/headerToolShop'); %>
        <% } %>
    </header>
    
    <div class="container" style="padding-top: 70px;"></div>
    <br>
        <%- include('../partials/mainCharts/adminChart'); %>
    <br>
    <div class="d-block mx-auto mt-4 my-3 text-center bg-primary-light">    
        <%- include('../partials/forms/formularioBuscarCliente'); %>
        <%- include('../partials/data/dataClientSearch'); %>
    </div>
    <!-- ------------ Lista de Clientes ------------ -->
    <%- include('../partials/sections/sectionClientList'); %>
    <br>
    <div class="d-block mx-auto mb-3 text-center w-75">
        <%- include('../partials/data/dataClientList'); %>
    </div>
    <br>
        <%- include('../partials/btnFooterBottom/btnFooterBottom-goUp'); %>
    <br>
        
    <footer>
        <%- include('../partials/footer/footer'); %>
    </footer>

    <!--    scripts     -->
    <script type="text/javascript" src="/js/index/index.js"></script>
    <script type="text/javascript" src="/js/comunes/search.js"></script>

</body>
</html>