<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head/head'); %>
</head>

<body>
        <%- include('../partials/header/header'); %>
    <div class="container" style="padding-top: 70px;"></div>
    <br>
    <% if (userInfo.superAdmin) { %>
        <%- include('../partials/mainCharts/adminChartDemo'); %>
    <% } else if (userInfo.admin && !userInfo.superAdmin) { %>
        <%- include('../partials/mainCharts/adminChartDemo'); %>
    <% } else { %>
        <%- include('../partials/mainCharts/userChartDemo'); %>
    <% } %>
    
    <div class="d-block mx-auto mt-1 text-center bg-primary-light">    
        <%- include('../partials/forms/formularioBuscarCliente'); %>
        <%- include('../partials/data/dataClientSearch'); %>
    </div>
    <!-- ------------ Lista de Clientes ------------ -->
    <%- include('../partials/sections/sectionClientList'); %>
    
    <div class="d-block mb-1 text-center w-100 mx-auto">
        <%- include('../partials/data/dataClientList'); %>
    </div>
    <!-- ---------- Fin Lista de Clientes ---------- -->

    <div class="d-block mx-auto mt-1 text-center bg-primary-light">    
        <%- include('../partials/forms/formularioBuscarConsumible'); %>
        <%- include('../partials/data/dataConsumiblesSearch'); %>
    </div>
    <!-- ------------ Lista de ERP/Consumibles ------------ -->
    <%- include('../partials/sections/sectionConsumiblesList'); %>
    
    <div class="d-block mb-1 text-center w-100 mx-auto">
        <%- include('../partials/data/dataConsumiblesList'); %>
    </div>
    <!-- ---------- Fin Lista de ERP/Consumibles ---------- -->
    <br>
        <%- include('../partials/btnFooterBottom/btnFooterBottom-goUp'); %>
    <br>
        
    <footer>
        <%- include('../partials/footer/footer'); %>
    </footer>

    <!--    scripts     -->
    <script type="text/javascript" src="/js/index/index.js"></script>
    <script type="text/javascript" src="/js/comunes/search.js"></script>

</body>
</html>