<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header/headerLogin'); %>
    </header>
    
    <br>
    <div class="container-fluid" style="background-color: #F5F7FA;">

	<%- include('../partials/sections/sectionMainAppTitle'); %>
	
	<%- include('../partials/sections/sectionNotAllowedEmail'); %>
    
    </div>

    <footer>
        <%- include('../partials/footer/footerLogin'); %>
    </footer>

</body>

</html>