<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header/header'); %>
    </header>
    <div class="container" style="padding-top: 70px;"></div>
    <br>

    <%- include('../partials/btnHeaderTop/btnHeaderTop-GoToConsumible'); %>

    <div class="d-block mx-auto mt-4 text-center bg-primary-light">    
        <%- include('../partials/forms/formularioBuscarOrdenes'); %>
        <%- include('../partials/data/dataOrdenesSearch'); %>
    </div>

    <%- include('../partials/sections/sectionSelectMultiOrdenes'); %>

    <%- include('../partials/sections/sectionOrdersGenerated'); %>
    
    <br>
    <!-- ------------ Lista de Ordenes ------------ -->
    <div class="d-block mx-auto mb-3 text-center w-100 px-5">
        <%- include('../partials/dataOrders/dataOrdersTable'); %>
    </div>
    <footer>
        <%- include('../partials/footer/footer'); %>
    </footer>
<!--    scripts     -->
<script type="text/javascript" src="/js/ordenes/ordersNonActive.js"></script>
<script type="text/javascript" src="/js/comunes/search.js"></script>

</body>

</html>