<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header/header'); %>
    </header>
    <div class="container" style="padding-top: 70px;"></div>
    <br>
    <div class="container-fluid">
        <%- include('../partials/sections/sectionOrderDetails'); %>
    </div>
    <div class="card shadow-lg rounded-3 mx-auto my-4" style="max-width: 900px;">
        <div class="card-body text-center">
            <h3 class="card-title my-3">Su orden de solicitud # <strong><%= orderGenerated.invoice_nr %></strong><br>fue generada exitosamente!</h3>
            <input type="hidden" id="orderNumber" value="<%= orderGenerated.invoice_nr %>">
            <h5 class="card-text mt-3">Gracias por su pedido. <i class="fa-solid fa-gift" aria-hidden="true"></i></h5>
            <h5 class="card-text mt-3">Estamos preparando todo para usted!!</h5>
            <button class="btn btn-success me-3 my-3" id="download-btn">Descargar PDF <i class="fa-solid fa-download"></i></button>
            <% if (userInfo.area === 'fabricacion') { %>
                <a href="/api/auth/indexToolShop" class="btn btn-primary ms-3 my-3">Volver al Home <i class="fa-solid fa-home" aria-hidden="true"></i></a>
            <% } else { %>
                <a href="/api/auth/index" class="btn btn-primary ms-3 my-3">Volver al Home <i class="fa-solid fa-home" aria-hidden="true"></i></a>
            <% } %>
        </div>
    </div>
    <br>
    <footer>
        <%- include('../partials/footer/footer'); %>
    </footer>

    <!--    scripts     -->
    <script type="text/javascript" src="/js/comunes/downloadFile.js"></script>
</body>

</html>