<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head/head'); %>
</head>

<body>
    <header>
        <% if (userInfo.admin) { %>
            <%- include('../partials/header/header'); %>
        <% } else { %>
            <%- include('../partials/header/headerToolShop'); %>
        <% } %>
    </header>
    
    <div class="container" style="padding-top: 70px;"></div>
    <br>
    <div class="collapse mt-5 mx-auto" id="collapseExample">
        <%- include('../partials/forms/formularioNewDuenoOt', { k: data.k, m: data.m, j: data.j }); %>
    </div>
    
    <div class="d-block m-auto">
        <%- include('../partials/btnHeaderTop/btnProjectAjusteSelected'); %>
    </div>

    <%- include('../partials/sections/sectionProjectNameTitle'); %>

    <div id="updateCliente">
    </div>
    <%- include('../partials/data/dataProjectAjusteCard', { k: data.k, m: data.m, j: data.j, slide: data.slide}); %>
    <br>
        <%- include('../partials/btnFooterBottom/btnFooterBottom-goUp'); %>
    <br>
    <footer>
        <%- include('../partials/footer/footer'); %>
    </footer>

    <!--    scripts     -->
    <script type="text/javascript" src="/js/ajuste/projectAjusteInfo.js"></script> 
    <!-- <script type="text/javascript" src="/js/fabricacion/projectInfoDistribucion.js"></script>
    <script type="text/javascript" src="/js/fabricacion/projectInfoProgramacionPrimera.js"></script>
    <script type="text/javascript" src="/js/fabricacion/projectInfoProgramacionSegunda.js"></script>
    <script type="text/javascript" src="/js/fabricacion/projectInfoMecanizadoPrimera.js"></script>
    <script type="text/javascript" src="/js/fabricacion/projectInfoMecanizadoSegunda.js"></script> -->

</body>

</html>