<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head/head'); %>
</head>

<body>
    <%- include('../partials/header/header'); %>
    <div class="container" style="padding-top: 70px;"></div>
    <div class="container-fluid m-t-30">
        <%- include('../partials/btnHeaderTop/btnHeaderTop-proyectos'); %>
    </div>

    <%- include('../partials/sections/sectionProjectWonList'); %>
    
    <br>
    <div class="d-block mx-auto mb-3 text-center w-100 px-3">
        <%- include('../partials/data/dataProjectsWonTable'); %>
    </div>
    <br>
        <%- include('../partials/btnFooterBottom/btnFooterBottom-goUp'); %>
    <br>
    <footer>
        <%- include('../partials/footer/footer'); %>
    </footer>
<!--    scripts     -->
<script type="text/javascript" src="/js/proyectos/projectsWon.js"></script>

</body>

</html>