<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head/head'); %>
</head>

<body>
    <%- include('../partials/header/headerLogin'); %>

    <div class="container" style="padding-top: 70px;"></div>
    <br>
    <%- include('../partials/sections/sectionPaswordConfirm'); %>
    <br>
    <div class="container d-flex">
        <%- include('../partials/forms/formularioResetUserPassword', { userInformation }); %>
    </div>    
    <br>
    <footer>
        <%- include('../partials/footer/footer'); %>
    </footer>
    <!--    scripts     -->
    <script type="text/javascript" src="/js/eventoResetPassword.js"></script>
</body>

</html>