<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head/head'); %>
</head>

<body>
    <%- include('../partials/header/header'); %>

    <div class="container" style="padding-top: 70px;"></div>
    <br>
    <%- include('../partials/sections/sectionUpdateUser'); %>
    
    <%- include('../partials/forms/formularioUserSettings'); %>
    <br>
    <footer>
        <%- include('../partials/footer/footer'); %>
    </footer>

    <!--    scripts     -->
    <script type="text/javascript" src="/js/usuarios/userDetailSettings.js"></script>

</body>

</html>