<!-- tabla OT Distribucion -->
<table id="tablaOtDistribucion<%=k%>"
    class="table-responsive align-middle col-5 border-end border-dark"
    style="font-size: 10pt; width: 100%">
    <thead class="align-middle" style="background-color: #aac">
        <tr>
            <th colspan="7" class="text-center">
                MECANIZADO
                <button
                    id="posBtnAddDataOtDistribucion<%=k%>"
                    type="button"
                    name="btnOtDistribucion"
                    class="btn btn-small btn-success m-1"
                    style="--bs-btn-font-size: .6rem; color: var(--bs-white);"
                    title="Agregar/Modificar Datos"
                    value="<%=k%>">
                    <i class="fa-solid fa-pencil fa-lg" aria-hidden="true"></i>                                                    
                </button>
            </th>
        </tr>
        <tr>
            <th id="colData0" style="width:14.28vw" scope="col-1"
                class="text-center pb-1"> F0 | Rev.
            </th>
            <th id="colData1" style="width:14.28vw" scope="col-1"
                class="text-center pb-1"> F1 | Rev.
            </th>
            <th id="colData3" style="width:14.28vw" scope="col-1"
                class="text-center pb-1"> F2 | Rev.
            </th>
            <th id="colData4" style="width:14.28vw" scope="col-1"
                class="text-center pb-1"> F3 | Rev.
            </th>
            <th id="colData5" style="width:14.28vw" scope="col-1"
                class="text-center pb-1"> F4 | Rev.
            </th>
            <th id="colData6" style="width:14.28vw" scope="col-1"
                class="text-center pb-1"> F5 | Rev.
            </th>
            <th id="colData7" style="width:14.28vw" scope="col-1"
                class="text-center pb-1"> Notas | Rev.
            </th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        
        <%
        var arrResMecanizado2dCompleto = [];
        var valueArrayResMecanizado2dCompleto = 0;
        var arrResRevisionMecanizado2dCompleto = [];
        var arrResCreadorMecanizado2dCompleto = [];
        var arrResModificadorMecanizado2dCompleto = [];
        var arrResFechaMecanizado2dCompleto = [];
        var arrResFechaModMecanizado2dCompleto = [];

        var arrResMecanizado3dPrefinal = [];
        var valueArrayResMecanizado3dPrefinal = 0;
        var arrResRevisionMecanizado3dPrefinal = [];
        var arrResCreadorMecanizado3dPrefinal = [];
        var arrResModificadorMecanizado3dPrefinal = [];
        var arrResFechaMecanizado3dPrefinal = [];
        var arrResFechaModMecanizado3dPrefinal = [];

        var arrResMecanizado3dFinal = [];
        var valueArrayResMecanizado3dFinal = 0;
        var arrResRevisionMecanizado3dFinal = [];
        var arrResCreadorMecanizado3dFinal = [];
        var arrResModificadorMecanizado3dFinal = [];
        var arrResFechaMecanizado3dFinal = [];
        var arrResFechaModMecanizado3dFinal = [];

        var arrResBancoArmado = [];
        var valueArrayResBancoArmado = 0;
        var arrResRevisionBancoArmado = [];
        var arrResCreadorBancoArmado = [];
        var arrResModificadorBancoArmado = [];
        var arrResFechaBancoArmado = [];
        var arrResFechaModBancoArmado = [];

        <!-- for ( let n=0; proyecto[m].project[j].oci[k].otProject.length > n; n++) { -->
        proyecto[m].project[j].oci[k].otProject.forEach((ot, n) => {
            if (proyecto[m].project[j].oci[k].otProject[n].otStatus) { %>
                <tr name="rowSelected<%=k%>_<%=n%>" style="height: 7vh;">
                    <% for (let q = 10; totalColDataMecanizado > q; q++) {
                        if (q==10) { %>
                            <!-- Mecanizado 2d Completo data Activo--> 
                            <td class="text-center align-middle">

                                <% if (proyecto[m].project[j].oci[k].otProject[n].otDetalles.length > 0 &&
                                        proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion.length > 0) {
                                    
                                            for (let i = 0; proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion.length > i; i++) {
                                                var pathToMongoDBOtDistribucion = proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion[i]
                                                if (proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion) {
                                                    let largoArray = parseInt(proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion.length)
                                                    var resMecanizado2dCompleto = proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion[largoArray-1].mecanizado2dCompleto
                                                    var resRevisionMecanizado2dCompleto = proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion[largoArray-1].revisionMecanizado2dCompleto
                                                    
                                                    if (i == 0) {
                                                        arrResMecanizado2dCompleto.push(pathToMongoDBOtDistribucion.mecanizado2dCompleto)
                                                        arrResRevisionMecanizado2dCompleto.push(pathToMongoDBOtDistribucion.revisionMecanizado2dCompleto)
                                                    }
                                                    else if (i >= 1 && pathToMongoDBOtDistribucion.revisionMecanizado2dCompleto != proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion[i-1].revisionMecanizado2dCompleto) {
                                                        arrResMecanizado2dCompleto.push(pathToMongoDBOtDistribucion.mecanizado2dCompleto)
                                                        arrResRevisionMecanizado2dCompleto.push(pathToMongoDBOtDistribucion.revisionMecanizado2dCompleto)
                                                    }
                                                        arrResCreadorMecanizado2dCompleto.push(pathToMongoDBOtDistribucion.creator[0].username)
                                                        arrResModificadorMecanizado2dCompleto.push(pathToMongoDBOtDistribucion.modificator[0].username)
                                                        arrResFechaOtMecanizado2dCompleto.push(pathToMongoDBOtDistribucion.timestamp)
                                                        arrResFechaModMecanizado2dCompleto.push(pathToMongoDBOtDistribucion.modifiedOn)
                                                        valueArrayResMecanizado2dCompleto = parseInt(arrResOtDistribucion.length-1)
                                                                                                
                                                } else {
                                                    var resMecanizado2dCompleto = 'S/D'
                                                    var resRevisionMecanizado2dCompleto = 0
                                                }
                                            }
                                            
                                            if (arrResMecanizado2dCompleto.length == 1 ) {
                                                var anteriorDisabled = "disabled"
                                                var siguienteDisabled = "disabled"
                                            } else if (arrResMecanizado2dCompleto.length == arrResRevisionMecanizado2dCompleto.length) {
                                                var anteriorDisabled = ""
                                                var siguienteDisabled = "disabled"
                                            } else {
                                                var anteriorDisabled = ""
                                                var siguienteDisabled = "disabled"
                                            }
                                            
                                    } else {
                                        var anteriorDisabled = "disabled"
                                        var siguienteDisabled = "disabled"
                                        var resMecanizado2dCompleto = "S/D"
                                        var resRevisionMecanizado2dCompleto = 0
                                        arrResMecanizado2dCompleto.push(resMecanizado2dCompleto)
                                        arrResRevisionMecanizado2dCompleto.push(resRevisionMecanizado2dCompleto)
                                        valueArrayResMecanizado2dCompleto = 0
                                    } %>
                                
                                    <div id="btnAnteriorSiguienteMecanizado2dCompleto<%=k%>_<%=n%>_<%=q%>">
                                        <button id="btnAnteriorMecanizado2dCompleto<%=k%>_<%=n%>_<%=q%>"
                                            name="btnAnteriorMecanizado2dCompleto"
                                            value="<%=k%>_<%=n%>_<%=q%>"
                                            class="btn btn-light btn-sm me-2"
                                            title="Ver anterior"
                                            type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= anteriorDisabled %>
                                            >
                                                <i class="fa-solid fa-arrow-left"></i>
                                        </button>
                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResMecanizado2dCompleto %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResMecanizado2dCompleto %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionMecanizado2dCompleto %>">
                                        <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorMecanizado2dCompleto %>">
                                        <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorMecanizado2dCompleto %>">
                                        <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaMecanizado2dCompleto %>">
                                        <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModMecanizado2dCompleto %>">
        
                                        <% switch (resMecanizado2dCompleto) { 
                                            case "prodismo": { %>
                                                    <span id="resMecanizado2dCompleto<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-success text-white my-2" >
                                                        PRODISMO
                                                    </span>
                                                    |
                                                    <span id="resRevisionMecanizado2dCompleto<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionMecanizado2dCompleto"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueRevision=""
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionMecanizado2dCompleto %>
                                                    </span>
                                            <% break; }        
                                            case "terceros": { %>
                                                    <span id="resMecanizado2dCompleto<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-danger text-white my-2">
                                                        TERCEROS
                                                    </span>
                                                    |
                                                    <span id="resRevisionMecanizado2dCompleto<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionMecanizado2dCompleto"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionMecanizado2dCompleto %>
                                                    </span>
                                            <% break; }        
                                            case "china": { %>
                                                    <span id="resMecanizado2dCompleto<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-warning text-dark my-2">
                                                        CHINA
                                                    </span>
                                                    |
                                                    <span id="resRevisionMecanizado2dCompleto<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionMecanizado2dCompleto"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionMecanizado2dCompleto %>
                                                    </span>
                                            <% break; }
                                            case "noAplica": { %>
                                                    <span id="resMecanizado2dCompleto<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-info text-dark my-2">
                                                        N/A
                                                    </span>
                                                    |
                                                    <span id="resRevisionMecanizado2dCompleto<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionMecanizado2dCompleto"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionMecanizado2dCompleto %>
                                                    </span>
                                            <% break; }
                                            default: { %>
                                                    <span id="resMecanizado2dCompleto<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-secondary text-white my-2">
                                                        S/D
                                                    </span>
                                                    |
                                                    <span id="resRevisionMecanizado2dCompleto<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionMecanizado2dCompleto"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionMecanizado2dCompleto %>
                                                    </span>
                                            <% break; }
                                        } %>
        
                                        <button id="btnSiguienteMecanizado2dCompleto<%=k%>_<%=n%>_<%=q%>"
                                            name="btnSiguienteMecanizado2dCompleto"
                                            value="<%=k%>_<%=n%>_<%=q%>"
                                            class="btn btn-light btn-sm ms-2"
                                            title="Ver siguiente"
                                            type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= siguienteDisabled %>
                                            >
                                                <i class="fa-solid fa-arrow-right"></i>
                                        </button>
                                    </div>
                            </td>
                        <% } else if (q==11) { %>
                            <!-- Mecanizado 3d Prefinal data Activo-->
                            <td class="text-center align-middle">
                                <% if (proyecto[m].project[j].oci[k].otProject[n].otDetalles.length > 0 &&
                                        proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion.length > 0) {
                                    
                                            for (let i = 0; proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion.length > i; i++) {
                                                var pathToMongoDBOtDistribucion = proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion[i]
                                                
                                                if (proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion) {
                                                    
                                                    let largoArray = parseInt(proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion.length)
                                                    var resMecanizado3dPrefinal = proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion[largoArray-1].mecanizado3dPrefinal
                                                    var resRevisionMecanizado3dPrefinal = proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion[largoArray-1].revisionMecanizado3dPrefinal
                                                    
                                                    if (i == 0) {
                                                        arrResMecanizado3dPrefinal.push(pathToMongoDBOtDistribucion.mecanizado3dPrefinal)
                                                        arrResRevisionMecanizado3dPrefinal.push(pathToMongoDBOtDistribucion.revisionMecanizado3dPrefinal)
                                                    }
                                                    else if (i >= 1 && pathToMongoDBOtDistribucion.revisionMecanizado3dPrefinal != proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion[i-1].revisionMecanizado3dPrefinal) {
                                                        arrResMecanizado3dPrefinal.push(pathToMongoDBOtDistribucion.mecanizado3dPrefinal)
                                                        arrResRevisionMecanizado3dPrefinal.push(pathToMongoDBOtDistribucion.revisionMecanizado3dPrefinal)
                                                    }
                                                        arrResCreadorMecanizado3dPrefinal.push(pathToMongoDBOtDistribucion.creator[0].username)
                                                        arrResModificadorMecanizado3dPrefinal.push(pathToMongoDBOtDistribucion.modificator[0].username)
                                                        arrResFechaMecanizado3dPrefinal.push(pathToMongoDBOtDistribucion.timestamp)
                                                        arrResFechaModMecanizado3dPrefinal.push(pathToMongoDBOtDistribucion.modifiedOn)
                                                        valueArrayResMecanizado3dPrefinal = parseInt(arrResMecanizado3dPrefinal.length-1)
                                                                                                
                                                } else {
                                                    var resMecanizado3dPrefinal = 'S/D'
                                                    var resRevisionMecanizado3dPrefinal = 0
                                                }
                                            }
                                            
                                            if (arrResMecanizado3dPrefinal.length == 1 ) {
                                                var siguienteDisabled = "disabled"
                                                var anteriorDisabled = "disabled"
                                            } else if (arrResMecanizado3dPrefinal.length == arrResRevisionMecanizado3dPrefinal.length) {
                                                var anteriorDisabled = ""
                                                var siguienteDisabled = "disabled"
                                            } else {
                                                var anteriorDisabled = ""
                                                var siguienteDisabled = "disabled"
                                            }
                                            
                                        } else {
                                            var anteriorDisabled = "disabled"
                                            var siguienteDisabled = "disabled"
                                            var resMecanizado3dPrefinal = "S/D"
                                            var resRevisionMecanizado3dPrefinal = 0
                                            arrResMecanizado3dPrefinal.push(resMecanizado3dPrefinal)
                                            arrResRevisionMecanizado3dPrefinal.push(resRevisionMecanizado3dPrefinal)
                                            valueArrayResMecanizado3dPrefinal = 0
                                    } %>
                                
                                    <div id="btnAnteriorSiguienteMecanizado3dPrefinal<%=k%>_<%=n%>_<%=q%>">
                                        <button id="btnAnteriorMecanizado3dPrefinal<%=k%>_<%=n%>_<%=q%>"
                                            name="btnAnteriorMecanizado3dPrefinal"
                                            value="<%=k%>_<%=n%>_<%=q%>"
                                            class="btn btn-light btn-sm me-2"
                                            title="Ver anterior"
                                            type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= anteriorDisabled %>
                                            >
                                                <i class="fa-solid fa-arrow-left"></i>
                                        </button>
                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResMecanizado3dPrefinal %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResMecanizado3dPrefinal %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionMecanizado3dPrefinal %>">
                                        <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorMecanizado3dPrefinal %>">
                                        <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorMecanizado3dPrefinal %>">
                                        <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaMecanizado3dPrefinal %>">
                                        <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModMecanizado3dPrefinal %>">
        
                                        <% switch (resMecanizado3dPrefinal) { 
                                            case "prodismo": { %>
                                                    <span id="resMecanizado3dPrefinal<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-success text-white my-2" >
                                                        PRODISMO
                                                    </span>
                                                    |
                                                    <span id="resRevisionMecanizado3dPrefinal<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionMecanizado3dPrefinal"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueRevision=""
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionMecanizado3dPrefinal %>
                                                    </span>
                                            <% break; }
                                            case "terceros": { %>
                                                    <span id="resMecanizado3dPrefinal<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-danger text-white my-2">
                                                        TERCEROS
                                                    </span>
                                                    |
                                                    <span id="resRevisionMecanizado3dPrefinal<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionMecanizado3dPrefinal"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionMecanizado3dPrefinal %>
                                                    </span>
                                            <% break; }        
                                            case "china": { %>
                                                    <span id="resMecanizado3dPrefinal<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-warning text-dark my-2">
                                                        CHINA
                                                    </span>
                                                    |
                                                    <span id="resRevisionMecanizado3dPrefinal<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionMecanizado3dPrefinal"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionMecanizado3dPrefinal %>
                                                    </span>
                                            <% break; }
                                            case "noAplica": { %>
                                                    <span id="resMecanizado3dPrefinal<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-info text-dark my-2">
                                                        N/A
                                                    </span>
                                                    |
                                                    <span id="resRevisionMecanizado3dPrefinal<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionMecanizado3dPrefinal"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionMecanizado3dPrefinal %>
                                                    </span>
                                            <% break; }
                                            default: { %>
                                                    <span id="resMecanizado3dPrefinal<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-secondary text-white my-2">
                                                        S/D
                                                    </span>
                                                    |
                                                    <span id="resRevisionMecanizado3dPrefinal<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionMecanizado3dPrefinal"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionMecanizado3dPrefinal %>
                                                    </span>
                                            <% break; }
                                        } %>
        
                                        <button id="btnSiguienteMecanizado3dPrefinal<%=k%>_<%=n%>_<%=q%>"
                                            name="btnSiguienteMecanizado3dPrefinal"
                                            value="<%=k%>_<%=n%>_<%=q%>"
                                            class="btn btn-light btn-sm ms-2"
                                            title="Ver siguiente"
                                            type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= siguienteDisabled %>
                                            >
                                                <i class="fa-solid fa-arrow-right"></i>
                                        </button>
                                    </div>
                            </td>
                        <% } else if (q==12) { %>
                            <!-- Mecanizado 3d Final data Activo-->
                            <td class="text-center align-middle">
                                <% if (proyecto[m].project[j].oci[k].otProject[n].otDetalles.length > 0 &&
                                        proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion.length > 0) {
                                    
                                            for (let i = 0; proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion.length > i; i++) {
                                                var pathToMongoDBOtDistribucion = proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion[i]
                                                
                                                if (proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion) {
                                                    
                                                    let largoArray = parseInt(proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion.length)
                                                    var resMecanizado3dFinal = proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion[largoArray-1].mecanizado3dFinal
                                                    var resRevisionMecanizado3dFinal = proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion[largoArray-1].revisionMecanizado3dFinal
                                                    
                                                    if (i == 0) {
                                                        arrResMecanizado3dFinal.push(pathToMongoDBOtDistribucion.mecanizado3dFinal)
                                                        arrResRevisionMecanizado3dFinal.push(pathToMongoDBOtDistribucion.revisionMecanizado3dFinal)
                                                    }
                                                    else if (i >= 1 && pathToMongoDBOtDistribucion.revisionMecanizado3dFinal != proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion[i-1].revisionMecanizado3dFinal) {
                                                        arrResMecanizado3dFinal.push(pathToMongoDBOtDistribucion.mecanizado3dFinal)
                                                        arrResRevisionMecanizado3dFinal.push(pathToMongoDBOtDistribucion.revisionMecanizado3dFinal)
                                                    }
                                                        arrResCreadorMecanizado3dFinal.push(pathToMongoDBOtDistribucion.creator[0].username)
                                                        arrResModificadorMecanizado3dFinal.push(pathToMongoDBOtDistribucion.modificator[0].username)
                                                        arrResFechaMecanizado3dFinal.push(pathToMongoDBOtDistribucion.timestamp)
                                                        arrResFechaModMecanizado3dFinal.push(pathToMongoDBOtDistribucion.modifiedOn)
                                                        valueArrayResMecanizado3dFinal = parseInt(arrResMecanizado3dFinal.length-1)
                                                                                                
                                                } else {
                                                    var resMecanizado3dFinal = 'S/D'
                                                    var resRevisionMecanizado3dFinal = 0
                                                }
                                            }
                                            
                                            if (arrResMecanizado3dFinal.length == 1 ) {
                                                var siguienteDisabled = "disabled"
                                                var anteriorDisabled = "disabled"
                                            } else if (arrResMecanizado3dFinal.length == arrResRevisionMecanizado3dFinal.length) {
                                                var anteriorDisabled = ""
                                                var siguienteDisabled = "disabled"
                                            } else {
                                                var anteriorDisabled = ""
                                                var siguienteDisabled = "disabled"
                                            }
                                            
                                        } else {
                                            var anteriorDisabled = "disabled"
                                            var siguienteDisabled = "disabled"
                                            var resMecanizado3dFinal = "S/D"
                                            var resRevisionMecanizado3dFinal = 0
                                            arrResMecanizado3dFinal.push(resMecanizado3dFinal)
                                            arrResRevisionMecanizado3dFinal.push(resRevisionMecanizado3dFinal)
                                            valueArrayResMecanizado3dFinal = 0
                                    } %>
                                
                                    <div id="btnAnteriorSiguienteMecanizado3dFinal<%=k%>_<%=n%>_<%=q%>">
                                        <button id="btnAnteriorMecanizado3dFinal<%=k%>_<%=n%>_<%=q%>"
                                            name="btnAnteriorMecanizado3dFinal"
                                            value="<%=k%>_<%=n%>_<%=q%>"
                                            class="btn btn-light btn-sm me-2"
                                            title="Ver anterior"
                                            type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= anteriorDisabled %>
                                            >
                                                <i class="fa-solid fa-arrow-left"></i>
                                        </button>
                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResMecanizado3dFinal %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResMecanizado3dFinal %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionMecanizado3dFinal %>">
                                        <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorMecanizado3dFinal %>">
                                        <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorMecanizado3dFinal %>">
                                        <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaMecanizado3dFinal %>">
                                        <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModMecanizado3dFinal %>">
        
                                        <% switch (resMecanizado3dFinal) { 
                                            case "prodismo": { %>
                                                    <span id="resMecanizado3dFinal<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-success text-white my-2" >
                                                        PRODISMO
                                                    </span>
                                                    |
                                                    <span id="resRevisionMecanizado3dFinal<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionMecanizado3dFinal"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueRevision=""
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionMecanizado3dFinal %>
                                                    </span>
                                            <% break; }
                                            case "terceros": { %>
                                                    <span id="resMecanizado3dFinal<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-danger text-white my-2">
                                                        TERCEROS
                                                    </span>
                                                    |
                                                    <span id="resRevisionMecanizado3dFinal<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionMecanizado3dFinal"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionMecanizado3dFinal %>
                                                    </span>
                                            <% break; }        
                                            case "china": { %>
                                                    <span id="resMecanizado3dFinal<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-warning text-dark my-2">
                                                        CHINA
                                                    </span>
                                                    |
                                                    <span id="resRevisionMecanizado3dFinal<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionMecanizado3dFinal"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionMecanizado3dFinal %>
                                                    </span>
                                            <% break; }
                                            case "noAplica": { %>
                                                    <span id="resMecanizado3dFinal<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-info text-dark my-2">
                                                        N/A
                                                    </span>
                                                    |
                                                    <span id="resRevisionMecanizado3dFinal<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionMecanizado3dFinal"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionMecanizado3dFinal %>
                                                    </span>
                                            <% break; }
                                            default: { %>
                                                    <span id="resMecanizado3dFinal<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-secondary text-white my-2">
                                                        S/D
                                                    </span>
                                                    |
                                                    <span id="resRevisionMecanizado3dFinal<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionMecanizado3dFinal"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionMecanizado3dFinal %>
                                                    </span>
                                            <% break; }
                                        } %>
        
                                        <button id="btnSiguienteMecanizado3dFinal<%=k%>_<%=n%>_<%=q%>"
                                            name="btnSiguienteMecanizado3dFinal"
                                            value="<%=k%>_<%=n%>_<%=q%>"
                                            class="btn btn-light btn-sm ms-2"
                                            title="Ver siguiente"
                                            type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= siguienteDisabled %>
                                            >
                                                <i class="fa-solid fa-arrow-right"></i>
                                        </button>
                                    </div>
                            </td>
                        <% } else { %>
                            <!-- Banco Armado data Activo-->
                            <td class="text-center align-middle">
                                <% if (proyecto[m].project[j].oci[k].otProject[n].otDetalles.length > 0 &&
                                        proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion.length > 0) {
                                    
                                            for (let i = 0; proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion.length > i; i++) {
                                                var pathToMongoDBOtDistribucion = proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion[i]
                                                
                                                if (proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion) {
                                                    
                                                    let largoArray = parseInt(proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion.length)
                                                    var resBancoArmado = proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion[largoArray-1].bancoArmado
                                                    var resRevisionBancoArmado = proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion[largoArray-1].revisionBancoArmado
                                                    
                                                    if (i == 0) {
                                                        arrResBancoArmado.push(pathToMongoDBOtDistribucion.bancoArmado)
                                                        arrResRevisionBancoArmado.push(pathToMongoDBOtDistribucion.revisionBancoArmado)
                                                    }
                                                    else if (i >= 1 && pathToMongoDBOtDistribucion.revisionBancoArmado != proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion[i-1].revisionBancoArmado) {
                                                        arrResBancoArmado.push(pathToMongoDBOtDistribucion.bancoArmado)
                                                        arrResRevisionBancoArmado.push(pathToMongoDBOtDistribucion.revisionBancoArmado)
                                                    }
                                                        arrResCreadorBancoArmado.push(pathToMongoDBOtDistribucion.creator[0].username)
                                                        arrResModificadorBancoArmado.push(pathToMongoDBOtDistribucion.modificator[0].username)
                                                        arrResFechaBancoArmado.push(pathToMongoDBOtDistribucion.timestamp)
                                                        arrResFechaModBancoArmado.push(pathToMongoDBOtDistribucion.modifiedOn)
                                                        valueArrayResBancoArmado = parseInt(arrResBancoArmado.length-1)
                                                                                                
                                                } else {
                                                    var resBancoArmado = 'S/D'
                                                    var resRevisionBancoArmado = 0
                                                }
                                            }
                                            
                                            if (arrResBancoArmado.length == 1 ) {
                                                var siguienteDisabled = "disabled"
                                                var anteriorDisabled = "disabled"
                                            } else if (arrResBancoArmado.length == arrResRevisionBancoArmado.length) {
                                                var anteriorDisabled = ""
                                                var siguienteDisabled = "disabled"
                                            } else {
                                                var anteriorDisabled = ""
                                                var siguienteDisabled = "disabled"
                                            }
                                            
                                        } else {
                                            var anteriorDisabled = "disabled"
                                            var siguienteDisabled = "disabled"
                                            var resBancoArmado = "S/D"
                                            var resRevisionBancoArmado = 0
                                            arrResBancoArmado.push(resBancoArmado)
                                            arrResRevisionBancoArmado.push(resRevisionBancoArmado)
                                            valueArrayResBancoArmado = 0
                                    } %>
                                
                                    <div id="btnAnteriorSiguienteBancoArmado<%=k%>_<%=n%>_<%=q%>">
                                        <button id="btnAnteriorBancoArmado<%=k%>_<%=n%>_<%=q%>"
                                            name="btnAnteriorBancoArmado"
                                            value="<%=k%>_<%=n%>_<%=q%>"
                                            class="btn btn-light btn-sm me-2"
                                            title="Ver anterior"
                                            type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= anteriorDisabled %>
                                            >
                                                <i class="fa-solid fa-arrow-left"></i>
                                        </button>
                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResBancoArmado %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResBancoArmado %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionBancoArmado %>">
                                        <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorBancoArmado %>">
                                        <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorBancoArmado %>">
                                        <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaBancoArmado %>">
                                        <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModBancoArmado %>">
        
                                        <% switch (resBancoArmado) { 
                                            case "prodismo": { %>
                                                    <span id="resBancoArmado<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-success text-white my-2" >
                                                        PRODISMO
                                                    </span>
                                                    |
                                                    <span id="resRevisionBancoArmado<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionBancoArmado"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueRevision=""
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionBancoArmado %>
                                                    </span>
                                            <% break; }
                                            case "terceros": { %>
                                                    <span id="resBancoArmado<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-danger text-white my-2">
                                                        TERCEROS
                                                    </span>
                                                    |
                                                    <span id="resRevisionBancoArmado<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionBancoArmado"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionBancoArmado %>
                                                    </span>
                                            <% break; }        
                                            case "china": { %>
                                                    <span id="resBancoArmado<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-warning text-dark my-2">
                                                        CHINA
                                                    </span>
                                                    |
                                                    <span id="resRevisionBancoArmado<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionBancoArmado"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionBancoArmado %>
                                                    </span>
                                            <% break; }
                                            case "noAplica": { %>
                                                    <span id="resBancoArmado<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-info text-dark my-2">
                                                        N/A
                                                    </span>
                                                    |
                                                    <span id="resRevisionBancoArmado<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionBancoArmado"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionBancoArmado %>
                                                    </span>
                                            <% break; }
                                            default: { %>
                                                    <span id="resBancoArmado<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-secondary text-white my-2">
                                                        S/D
                                                    </span>
                                                    |
                                                    <span id="resRevisionBancoArmado<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionBancoArmado"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionBancoArmado %>
                                                    </span>
                                            <% break; }
                                        } %>
        
                                        <button id="btnSiguienteBancoArmado<%=k%>_<%=n%>_<%=q%>"
                                            name="btnSiguienteBancoArmado"
                                            value="<%=k%>_<%=n%>_<%=q%>"
                                            class="btn btn-light btn-sm ms-2"
                                            title="Ver siguiente"
                                            type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= siguienteDisabled %>
                                            >
                                                <i class="fa-solid fa-arrow-right"></i>
                                        </button>
                                    </div>
                            </td>
                        <% }
                    } %>
                </tr>
            <% } else { %>
                <tr class="pe-none" name="rowSelected<%=k%>_<%=n%>" style="height: 7vh; background-color: #dedede;">
                    <% for (let q = 10; totalColDataOtDistribucion > q; q++) {
                        if (q==10) { %>
                            <!-- Mecanizado 2d Completo data Inactivo -->
                            <td class="text-center align-middle">
                                <% if (proyecto[m].project[j].oci[k].otProject[n].otDetalles.length > 0 &&
                                    proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion.length > 0) {
                                
                                        for (let i = 0; proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion.length > i; i++) {
                                            if (proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion) {
                                                let largoArray = parseInt(proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion.length)
                                                var resMecanizado2dCompleto = proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion[largoArray-1].mecanizado2dCompleto
                                                var resRevisionMecanizado2dCompleto = proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion[largoArray-1].revisionMecanizado2dCompleto
                                                
                                                if (i == 0) {
                                                    arrResMecanizado2dCompleto.push(pathToMongoDBOtDistribucion.mecanizado2dCompleto)
                                                    arrResRevisionMecanizado2dCompleto.push(pathToMongoDBOtDistribucion.revisionMecanizado2dCompleto)
                                                }
                                                else if (i >= 1 && pathToMongoDBOtDistribucion.revisionMecanizado2dCompleto != proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion[i-1].revisionMecanizado2dCompleto) {
                                                    arrResMecanizado2dCompleto.push(pathToMongoDBOtDistribucion.mecanizado2dCompleto)
                                                    arrResRevisionMecanizado2dCompleto.push(pathToMongoDBOtDistribucion.revisionMecanizado2dCompleto)
                                                }
                                                valueArrayResMecanizado2dCompleto = parseInt(arrResMecanizado2dCompleto.length-1)
                                                                                            
                                            } else {
                                                var resMecanizado2dCompleto = ''
                                                var resRevisionMecanizado2dCompleto = 0
                                            }
                                        }
                                        var resMecanizado2dCompleto = proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion[0].mecanizado2dCompleto
                                } else {
                                    var resMecanizado2dCompleto = ""
                                    var resRevisionMecanizado2dCompleto = 0
                                    arrResMecanizado2dCompleto.push(0)
                                    arrResRevisionMecanizado2dCompleto.push(0)
                                } %>
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResMecanizado2dCompleto %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResMecanizado2dCompleto %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionMecanizado2dCompleto %>">
                                
                                <% switch (resMecanizado2dCompleto) { 
                                    case "prodismo": { %>
                                            <span id="resMecanizado2dCompleto<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-success text-white my-2" >
                                                PRODISMO
                                            </span>
                                            |
                                            <span id="resRevisionMecanizado2dCompleto<%=k%>_<%=n%>_<%=q%>"class="badge text-dark my-2" >
                                                <%= resRevisionMecanizado2dCompleto %>
                                            </span>
                                    <% break; }        
                                    case "terceros": { %>
                                            <span id="resMecanizado2dCompleto<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-danger text-white my-2">
                                                TERCEROS
                                            </span>
                                            |
                                            <span id="resRevisionMecanizado2dCompleto<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2" >
                                                <%= resRevisionMecanizado2dCompleto %>
                                            </span>
                                    <% break; }        
                                    case "china": { %>
                                            <span id="resMecanizado2dCompleto<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-warning text-dark my-2">
                                                CHINA
                                            </span>
                                            |
                                            <span id="resRevisionMecanizado2dCompleto<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2" >
                                                <%= resRevisionMecanizado2dCompleto %>
                                            </span>
                                    <% break; }
                                    case "noAplica": { %>
                                            <span id="resMecanizado2dCompleto<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-info text-dark my-2">
                                                N/A
                                            </span>
                                            |
                                            <span id="resRevisionMecanizado2dCompleto<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2" >
                                                <%= resRevisionMecanizado2dCompleto %>
                                            </span>
                                    <% break; }
                                    default: { %>
                                            <span id="resMecanizado2dCompleto<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-secondary text-white my-2">
                                                S/D
                                            </span>
                                            |
                                            <span id="resRevisionMecanizado2dCompleto<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2" >
                                                <%= resRevisionMecanizado2dCompleto %>
                                            </span>
                                    <% break; }
                                } %>
                            </td>
                        <% } else if (q==11) { %>
                            <!-- Mecanizado 3d Prefinal data Inactivo -->
                            <td class="text-center align-middle">
                                <% if (proyecto[m].project[j].oci[k].otProject[n].otDetalles.length > 0 &&
                                    proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion.length > 0) {
                                
                                        for (let i = 0; proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion.length > i; i++) {
                                            
                                            if (proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion) {
                                                let largoArray = parseInt(proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion.length)
                                                var resMecanizado3dPrefinal = proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion[largoArray-1].mecanizado3dPrefinal
                                                var resRevisionMecanizado3dPrefinal = proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion[largoArray-1].revisionMecanizado3dPrefinal
                                                
                                                if (i == 0) {
                                                    arrResMecanizado3dPrefinal.push(pathToMongoDBOtDistribucion.mecanizado3dPrefinal)
                                                    arrResRevisionMecanizado3dPrefinal.push(pathToMongoDBOtDistribucion.revisionMecanizado3dPrefinal)
                                                }
                                                else if (i >= 1 && pathToMongoDBOtDistribucion.revisionMecanizado3dPrefinal != proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion[i-1].revisionMecanizado3dPrefinal) {
                                                    arrResMecanizado3dPrefinal.push(pathToMongoDBOtDistribucion.mecanizado3dPrefinal)
                                                    arrResRevisionMecanizado3dPrefinal.push(pathToMongoDBOtDistribucion.revisionMecanizado3dPrefinal)
                                                }
                                                valueArrayResMecanizado3dPrefinal = parseInt(arrResMecanizado3dPrefinal.length-1)
                                                                                            
                                            } else {
                                                var resMecanizado3dPrefinal = ''
                                                var resRevisionMecanizado3dPrefinal = 0
                                            }
                                        }

                                        var resMecanizado3dPrefinal = proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion[0].mecanizado3dPrefinal
                                
                                } else {
                                    var resMecanizado3dPrefinal = ""
                                    var resRevisionMecanizado3dPrefinal = 0
                                    arrResMecanizado3dPrefinal.push(resMecanizado3dPrefinal)
                                    arrResRevisionMecanizado3dPrefinal.push(0)
                                } %>

                                <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResMecanizado3dPrefinal %>">
                                <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResMecanizado3dPrefinal %>">
                                <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionMecanizado3dPrefinal %>">

                                <% switch (resMecanizado3dPrefinal) { 
                                    case "prodismo": { %>
                                        <span id="resMecanizado3dPrefinal<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-success text-white my-2">
                                            PRODISMO
                                        </span>
                                        |
                                        <span id="resRevisionMecanizado3dPrefinal<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2" >
                                            <%= resRevisionMecanizado3dPrefinal %>
                                        </span>
                                    <% break; }        
                                    case "terceros": { %>
                                            <span id="resMecanizado3dPrefinal<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-danger text-white my-2">
                                                TERCEROS
                                            </span>
                                            |
                                            <span id="resRevisionMecanizado3dPrefinal<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2" >
                                                <%= resRevisionMecanizado3dPrefinal %>
                                            </span>
                                    <% break; }        
                                    case "china": { %>
                                            <span id="resMecanizado3dPrefinal<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-warning text-dark my-2">
                                                CHINA
                                            </span>
                                            |
                                            <span id="resRevisionMecanizado3dPrefinal<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2" >
                                                <%= resRevisionMecanizado3dPrefinal %>
                                            </span>
                                    <% break; }
                                    case "noAplica": { %>
                                            <span id="resMecanizado3dPrefinal<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-info text-dark my-2">
                                                N/A
                                            </span>
                                            |
                                            <span id="resRevisionMecanizado3dPrefinal<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2" >
                                                <%= resRevisionMecanizado3dPrefinal %>
                                            </span>
                                    <% break; }
                                    default: { %>
                                            <span id="resMecanizado3dPrefinal<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-secondary text-white my-2">
                                                S/D
                                            </span>
                                            |
                                            <span id="resRevisionMecanizado3dPrefinal<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2" >
                                                <%= resRevisionMecanizado3dPrefinal %>
                                            </span>
                                    <% break; }
                                } %>
                            </td>
                        <% } else if (q==12) { %>
                            <!-- Mecanizado 3d Final data Inactivo -->
                            <td class="text-center align-middle">
                                <% if (proyecto[m].project[j].oci[k].otProject[n].otDetalles.length > 0 &&
                                    proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion.length > 0) {
                                
                                        for (let i = 0; proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion.length > i; i++) {
                                            
                                            if (proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion) {
                                                let largoArray = parseInt(proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion.length)
                                                var resMecanizado3dFinal = proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion[largoArray-1].mecanizado3dFinal
                                                var resRevisionMecanizado3dFinal = proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion[largoArray-1].revisionMecanizado3dFinal
                                                
                                                if (i == 0) {
                                                    arrResMecanizado3dFinal.push(pathToMongoDBOtDistribucion.mecanizado3dFinal)
                                                    arrResRevisionMecanizado3dFinal.push(pathToMongoDBOtDistribucion.revisionMecanizado3dFinal)
                                                }
                                                else if (i >= 1 && pathToMongoDBOtDistribucion.revisionMecanizado3dFinal != proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion[i-1].revisionMecanizado3dFinal) {
                                                    arrResMecanizado3dFinal.push(pathToMongoDBOtDistribucion.mecanizado3dFinal)
                                                    arrResRevisionMecanizado3dFinal.push(pathToMongoDBOtDistribucion.revisionMecanizado3dFinal)
                                                }
                                                valueArrayResMecanizado3dFinal = parseInt(arrResMecanizado3dFinal.length-1)
                                                                                            
                                            } else {
                                                var resMecanizado3dFinal = ''
                                                var resRevisionMecanizado3dFinal = 0
                                            }
                                        }

                                        var resMecanizado3dFinal = proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion[0].bancoArmado
                                
                                } else {
                                    var resMecanizado3dFinal = ""
                                    var resRevisionMecanizado3dFinal = 0
                                    arrResMecanizado3dFinal.push(resMecanizado3dFinal)
                                    arrResRevisionMecanizado3dFinal.push(0)
                                } %>

                                <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResMecanizado3dFinal %>">
                                <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResMecanizado3dFinal %>">
                                <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionMecanizado3dFinal %>">

                                <% switch (resMecanizado3dFinal) { 
                                    case "prodismo": { %>
                                        <span id="resMecanizado3dFinal<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-success text-white my-2">
                                            PRODISMO
                                        </span>
                                        |
                                        <span id="resRevisionMecanizado3dFinal<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2" >
                                            <%= resRevisionMecanizado3dFinal %>
                                        </span>
                                    <% break; }        
                                    case "terceros": { %>
                                            <span id="resMecanizado3dFinal<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-danger text-white my-2">
                                                TERCEROS
                                            </span>
                                            |
                                            <span id="resRevisionMecanizado3dFinal<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2" >
                                                <%= resRevisionMecanizado3dFinal %>
                                            </span>
                                    <% break; }        
                                    case "china": { %>
                                            <span id="resMecanizado3dFinal<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-warning text-dark my-2">
                                                CHINA
                                            </span>
                                            |
                                            <span id="resRevisionMecanizado3dFinal<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2" >
                                                <%= resRevisionMecanizado3dFinal %>
                                            </span>
                                    <% break; }
                                    case "noAplica": { %>
                                            <span id="resMecanizado3dFinal<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-info text-dark my-2">
                                                N/A
                                            </span>
                                            |
                                            <span id="resRevisionMecanizado3dFinal<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2" >
                                                <%= resRevisionMecanizado3dFinal %>
                                            </span>
                                    <% break; }
                                    default: { %>
                                            <span id="resMecanizado3dFinal<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-secondary text-white my-2">
                                                S/D
                                            </span>
                                            |
                                            <span id="resRevisionMecanizado3dFinal<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2" >
                                                <%= resRevisionMecanizado3dFinal %>
                                            </span>
                                    <% break; }
                                } %>
                            </td>
                        <% } else { %>
                            <!-- Banco Armado data Inactivo -->
                            <td class="text-center align-middle">
                                <% if (proyecto[m].project[j].oci[k].otProject[n].otDetalles.length > 0 &&
                                    proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion.length > 0) {
                                
                                        for (let i = 0; proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion.length > i; i++) {
                                            
                                            if (proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion) {
                                                let largoArray = parseInt(proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion.length)
                                                var resBancoArmado = proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion[largoArray-1].bancoArmado
                                                var resRevisionBancoArmado = proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion[largoArray-1].revisionBancoArmado
                                                
                                                if (i == 0) {
                                                    arrResBancoArmado.push(pathToMongoDBOtDistribucion.bancoArmado)
                                                    arrResRevisionBancoArmado.push(pathToMongoDBOtDistribucion.revisionBancoArmado)
                                                }
                                                else if (i >= 1 && pathToMongoDBOtDistribucion.revisionBancoArmado != proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion[i-1].revisionBancoArmado) {
                                                    arrResBancoArmado.push(pathToMongoDBOtDistribucion.bancoArmado)
                                                    arrResRevisionBancoArmado.push(pathToMongoDBOtDistribucion.revisionBancoArmado)
                                                }
                                                valueArrayResBancoArmado = parseInt(arrResBancoArmado.length-1)
                                                                                            
                                            } else {
                                                var resBancoArmado = ''
                                                var resRevisionBancoArmado = 0
                                            }
                                        }

                                        var resBancoArmado = proyecto[m].project[j].oci[k].otProject[n].otDetalles[0].otDistribucion[0].bancoArmado
                                
                                } else {
                                    var resBancoArmado = ""
                                    var resRevisionBancoArmado = 0
                                    arrResBancoArmado.push(resBancoArmado)
                                    arrResRevisionBancoArmado.push(0)
                                } %>

                                <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResBancoArmado %>">
                                <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResBancoArmado %>">
                                <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionBancoArmado %>">

                                <% switch (resBancoArmado) { 
                                    case "prodismo": { %>
                                        <span id="resBancoArmado<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-success text-white my-2">
                                            PRODISMO
                                        </span>
                                        |
                                        <span id="resRevisionBancoArmado<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2" >
                                            <%= resRevisionBancoArmado %>
                                        </span>
                                    <% break; }        
                                    case "terceros": { %>
                                            <span id="resBancoArmado<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-danger text-white my-2">
                                                TERCEROS
                                            </span>
                                            |
                                            <span id="resRevisionBancoArmado<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2" >
                                                <%= resRevisionBancoArmado %>
                                            </span>
                                    <% break; }        
                                    case "china": { %>
                                            <span id="resBancoArmado<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-warning text-dark my-2">
                                                CHINA
                                            </span>
                                            |
                                            <span id="resRevisionBancoArmado<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2" >
                                                <%= resRevisionBancoArmado %>
                                            </span>
                                    <% break; }
                                    case "noAplica": { %>
                                            <span id="resBancoArmado<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-info text-dark my-2">
                                                N/A
                                            </span>
                                            |
                                            <span id="resRevisionBancoArmado<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2" >
                                                <%= resRevisionBancoArmado %>
                                            </span>
                                    <% break; }
                                    default: { %>
                                            <span id="resBancoArmado<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-secondary text-white my-2">
                                                S/D
                                            </span>
                                            |
                                            <span id="resRevisionBancoArmado<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2" >
                                                <%= resRevisionBancoArmado %>
                                            </span>
                                    <% break; }
                                } %>
                            </td>
                        <% }
                    } %>
                </tr>
            <% }
        }) %>
    </tbody>
</table>