<!-- --------- tabla Info al 80% ----------- -->
<table id="tablaInfo80<%=k%>"
    class="table-responsive align-middle col-5 border-end border-dark" style="font-size: 10pt; width: 100%">
    <thead class="align-middle" style="background-color: #aac">
        <tr>
            <th colspan="4" class="text-center">
                INFO 80%
                <% if (userInfo.admin || userInfo.area === 'ingenieria') { %>
                    <button id="posBtnAddDataInfo80<%=k%>" type="button" name="btnInfo80" class="btn btn-small btn-success shadow m-1"
                        style="--bs-btn-font-size: .6rem; color: var(--bs-white);"
                        title="Agregar/Modificar Datos" value="<%=k%>">
                        <i class="fa-solid fa-pencil fa-lg" aria-hidden="true"></i>
                    </button>
                <% } else { %>
                    <button type="button" class="btn btn-small btn-danger m-1 disabled"
                        style="--bs-btn-font-size: .6rem; color: var(--bs-white);">
                        <i class="fa-solid fa-ban fa-lg" aria-hidden="true"></i>
                    </button>
                <% } %>
            </th>
        </tr>
        <tr>
            <th style="width:30vw" scope="col-1" class="text-center pb-1">LDM Avan. (Cil/Guia) | Rev</th>
            <th style="width:30vw" scope="col-1" class="text-center pb-1">LDM Avan. (Tacos D2) | Rev</th>
            <th style="width:20vw" scope="col-1" class="text-center pb-1">LDM 80% | Rev</th>
            <th style="width:20vw" scope="col-1" class="text-center pb-1">Info Modelo | Rev</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">

        <% for ( let n=0; proyecto[m].project[j].oci[k].otProject.length>n; n++) {
            if (proyecto[m].project[j].oci[k].otProject[n].visible) {

                var arrResLdmAvanceCG = []; var valueArrayResLdmAvanceCG = 0; var arrResRevisionLdmAvanceCG = []; var arrResCreadorLdmAvanceCG = [];
                var arrResModificadorLdmAvanceCG = []; var arrResFechaLdmAvanceCG = []; var arrResFechaModLdmAvanceCG = [];

                var arrResLdmAvanceTD2 = []; var valueArrayResLdmAvanceTD2 = 0; var arrResRevisionLdmAvanceTD2 = []; var arrResCreadorLdmAvanceTD2 = [];
                var arrResModificadorLdmAvanceTD2 = []; var arrResFechaLdmAvanceTD2 = []; var arrResFechaModLdmAvanceTD2 = [];

                var arrRes80Ldm = []; var valueArrayRes80Ldm = 0; var arrResRevision80Ldm = []; var arrResCreador80Ldm = [];
                var arrResModificador80Ldm = []; var arrResFecha80Ldm = []; var arrResFechaMod80Ldm = [];

                var arrResInfoModelo = []; var valueArrayResInfoModelo = 0; var arrResRevisionInfoModelo = []; var arrResCreadorInfoModelo = [];
                var arrResModificadorInfoModelo = []; var arrResFechaInfoModelo = []; var arrResFechaModInfoModelo = [];

                if (proyecto[m].project[j].oci[k].otProject[n].otStatus) { %>
                    <tr name="rowSelected<%=k%>_<%=n%>" style="height: 7vh;">
                        <% for (let q = 12; totalColDataInfo80 > q; q++) {
                            if (q==12) { %>
                                <!-- LDM Avance CG data Activo-->
                                <td class="text-center align-middle">
                                    <% if (proyecto[m].project[j].oci[k].otProject[n].otInformation.length > 0 &&
                                        proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80.length > 0) {

                                            for (let i = 0; proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80.length > i; i++) {
                                                var pathToMongoDBOtInfo80 = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80[i]
                                                
                                                if (proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80) {
                                                    let largoArray = parseInt(proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80.length)
                                                    var resLdmAvanceCG = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80[largoArray-1].ldmAvanceCG
                                                    var resRevisionLdmAvanceCG = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80[largoArray-1].revisionLdmAvanceCG
                                                    
                                                    if (i == 0) {
                                                        arrResLdmAvanceCG.push(pathToMongoDBOtInfo80.ldmAvanceCG)
                                                        arrResRevisionLdmAvanceCG.push(pathToMongoDBOtInfo80.revisionLdmAvanceCG)
                                                    
                                                    } else if (i >= 1 && pathToMongoDBOtInfo80.revisionLdmAvanceCG != proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80[i-1].revisionLdmAvanceCG) {
                                                        arrResLdmAvanceCG.push(pathToMongoDBOtInfo80.ldmAvanceCG)
                                                        arrResRevisionLdmAvanceCG.push(pathToMongoDBOtInfo80.revisionLdmAvanceCG)
                                                    }
                                                        arrResCreadorLdmAvanceCG.push(pathToMongoDBOtInfo80.creator[0].username)
                                                        arrResModificadorLdmAvanceCG.push(pathToMongoDBOtInfo80.modificator[0].username)
                                                        arrResFechaLdmAvanceCG.push(pathToMongoDBOtInfo80.timestamp)
                                                        arrResFechaModLdmAvanceCG.push(pathToMongoDBOtInfo80.modifiedOn)
                                                        valueArrayResLdmAvanceCG = parseInt(arrResLdmAvanceCG.length-1)
                                                                                    
                                                } else {
                                                    var resLdmAvanceCG = 'noAplica'
                                                    var resRevisionLdmAvanceCG = 0
                                                }
                                            }

                                            if (arrResLdmAvanceCG.length == 1 ) {
                                                var anteriorDisabled = "disabled"
                                                var siguienteDisabled = "disabled"
                                            } else if (arrResLdmAvanceCG.length == arrResRevisionLdmAvanceCG.length) {
                                                var anteriorDisabled = ""
                                                var siguienteDisabled = "disabled"
                                            } else {
                                                var anteriorDisabled = ""
                                                var siguienteDisabled = "disabled"
                                            }

                                    } else {
                                        var anteriorDisabled = "disabled"
                                        var siguienteDisabled = "disabled"
                                        var resLdmAvanceCG = "noAplica"
                                        var resRevisionLdmAvanceCG = 0
                                        arrResLdmAvanceCG.push(resLdmAvanceCG)
                                        arrResRevisionLdmAvanceCG.push(resRevisionLdmAvanceCG)
                                        valueArrayResLdmAvanceCG = 0
                                    } %>

                                    <div id="btnAnteriorSiguiente80Info<%=k%>_<%=n%>_<%=q%>">
                                        <button id="btnAnterior80Info<%=k%>_<%=n%>_<%=q%>"
                                            name="btnAnterior80Info"
                                            value="<%=k%>_<%=n%>_<%=q%>"
                                            class="btn btn-light btn-sm me-2"
                                            title="Ver anterior"
                                            type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= anteriorDisabled %>
                                            >
                                                <i class="fa-solid fa-arrow-left"></i>
                                        </button>
                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResLdmAvanceCG %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResLdmAvanceCG %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionLdmAvanceCG %>">
                                        <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorLdmAvanceCG %>">
                                        <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorLdmAvanceCG %>">
                                        <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaLdmAvanceCG %>">
                                        <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModLdmAvanceCG %>">

                                        <% switch (resLdmAvanceCG) { 
                                            case "ok": { %>
                                                    <span id="resLdmAvanceCG<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-success text-white my-2" >
                                                        OK
                                                    </span>
                                                    |
                                                    <span id="resRevisionLdmAvanceCG<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionLdmAvanceCG"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueRevision=""
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionLdmAvanceCG %>
                                                    </span>
                                            <% break; }        
                                            case "noOk": { %>
                                                    <span id="resLdmAvanceCG<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-danger text-white my-2">
                                                        No OK
                                                    </span>
                                                    |
                                                    <span id="resRevisionLdmAvanceCG<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionLdmAvanceCG"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionLdmAvanceCG %>
                                                    </span>
                                            <% break; }        
                                            case "pendiente": { %>
                                                    <span id="resLdmAvanceCG<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-warning text-dark my-2">
                                                        Pendiente
                                                    </span>
                                                    |
                                                    <span id="resRevisionLdmAvanceCG<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionLdmAvanceCG"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionLdmAvanceCG %>
                                                    </span>
                                            <% break; }
                                            case "noAplica": { %>
                                                    <span id="resLdmAvanceCG<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-info text-dark my-2">
                                                        N/A
                                                    </span>
                                                    |
                                                    <span id="resRevisionLdmAvanceCG<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionLdmAvanceCG"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionLdmAvanceCG %>
                                                    </span>
                                            <% break; }
                                            default: { %>
                                                    <span id="resLdmAvanceCG<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-secondary text-white my-2">
                                                        S/D
                                                    </span>
                                                    |
                                                    <span id="resRevisionLdmAvanceCG<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionLdmAvanceCG"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionLdmAvanceCG %>
                                                    </span>
                                            <% break; }
                                        } %>

                                        <button id="btnSiguiente80Info<%=k%>_<%=n%>_<%=q%>"
                                            name="btnSiguiente80Info"
                                            value="<%=k%>_<%=n%>_<%=q%>"
                                            class="btn btn-light btn-sm ms-1"
                                            title="Ver siguiente"
                                            type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= siguienteDisabled %>
                                            >
                                                <i class="fa-solid fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </td>
                            <% } else if (q==13) { %>
                                <!-- LDM Avance TD2 data Activo-->
                                <td class="text-center align-middle">
                                    <% if (proyecto[m].project[j].oci[k].otProject[n].otInformation.length > 0 &&
                                        proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80.length > 0) {

                                            for (let i = 0; proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80.length > i; i++) {
                                                var pathToMongoDBOtInfo80 = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80[i]
                                                
                                                if (proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80) {
                                                    let largoArray = parseInt(proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80.length)
                                                    var resLdmAvanceTD2 = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80[largoArray-1].ldmAvanceTD2
                                                    var resRevisionLdmAvanceTD2 = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80[largoArray-1].revisionLdmAvanceTD2
                                                    
                                                    if (i == 0) {
                                                        arrResLdmAvanceTD2.push(pathToMongoDBOtInfo80.ldmAvanceTD2)
                                                        arrResRevisionLdmAvanceTD2.push(pathToMongoDBOtInfo80.revisionLdmAvanceTD2)
                                                    
                                                    } else if (i >= 1 && pathToMongoDBOtInfo80.revisionLdmAvanceTD2 != proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80[i-1].revisionLdmAvanceTD2) {
                                                        arrResLdmAvanceTD2.push(pathToMongoDBOtInfo80.ldmAvanceCG)
                                                        arrResRevisionLdmAvanceTD2.push(pathToMongoDBOtInfo80.revisionLdmAvanceTD2)
                                                    }
                                                        arrResCreadorLdmAvanceTD2.push(pathToMongoDBOtInfo80.creator[0].username)
                                                        arrResModificadorLdmAvanceTD2.push(pathToMongoDBOtInfo80.modificator[0].username)
                                                        arrResFechaLdmAvanceTD2.push(pathToMongoDBOtInfo80.timestamp)
                                                        arrResFechaModLdmAvanceTD2.push(pathToMongoDBOtInfo80.modifiedOn)
                                                        valueArrayResLdmAvanceTD2 = parseInt(arrResLdmAvanceTD2.length-1)
                                                                                    
                                                } else {
                                                    var resLdmAvanceTD2 = 'S/D'
                                                    var resRevisionLdmAvanceTD2 = 0
                                                }
                                            }

                                            if (arrResLdmAvanceTD2.length == 1 ) {
                                                var anteriorDisabled = "disabled"
                                                var siguienteDisabled = "disabled"
                                            } else if (arrResLdmAvanceTD2.length == arrResRevisionLdmAvanceTD2.length) {
                                                var anteriorDisabled = ""
                                                var siguienteDisabled = "disabled"
                                            } else {
                                                var anteriorDisabled = ""
                                                var siguienteDisabled = "disabled"
                                            }

                                    } else {
                                        var anteriorDisabled = "disabled"
                                        var siguienteDisabled = "disabled"
                                        var resLdmAvanceTD2 = "S/D"
                                        var resRevisionLdmAvanceTD2 = 0
                                        arrResLdmAvanceTD2.push(resLdmAvanceTD2)
                                        arrResRevisionLdmAvanceTD2.push(resRevisionLdmAvanceTD2)
                                        valueArrayResLdmAvanceTD2 = 0
                                    } %>

                                    <div id="btnAnteriorSiguiente80Info<%=k%>_<%=n%>_<%=q%>">
                                        <button id="btnAnterior80Info<%=k%>_<%=n%>_<%=q%>"
                                            name="btnAnterior80Info"
                                            value="<%=k%>_<%=n%>_<%=q%>"
                                            class="btn btn-light btn-sm me-2"
                                            title="Ver anterior"
                                            type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= anteriorDisabled %>
                                            >
                                                <i class="fa-solid fa-arrow-left"></i>
                                        </button>
                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResLdmAvanceTD2 %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResLdmAvanceTD2 %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionLdmAvanceTD2 %>">
                                        <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorLdmAvanceTD2 %>">
                                        <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorLdmAvanceTD2 %>">
                                        <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaLdmAvanceTD2 %>">
                                        <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModLdmAvanceTD2 %>">

                                        <% switch (resLdmAvanceTD2) { 
                                            case "ok": { %>
                                                    <span id="resLdmAvanceTD2<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-success text-white my-2" >
                                                        OK
                                                    </span>
                                                    |
                                                    <span id="resRevisionLdmAvanceTD2<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionLdmAvanceTD2"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueRevision=""
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionLdmAvanceTD2 %>
                                                    </span>
                                            <% break; }        
                                            case "noOk": { %>
                                                    <span id="resLdmAvanceTD2<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-danger text-white my-2">
                                                        No OK
                                                    </span>
                                                    |
                                                    <span id="resRevisionLdmAvanceTD2<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionLdmAvanceTD2"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionLdmAvanceTD2 %>
                                                    </span>
                                            <% break; }        
                                            case "pendiente": { %>
                                                    <span id="resLdmAvanceTD2<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-warning text-dark my-2">
                                                        Pendiente
                                                    </span>
                                                    |
                                                    <span id="resRevisionLdmAvanceTD2<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionLdmAvanceTD2"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionLdmAvanceTD2 %>
                                                    </span>
                                            <% break; }
                                            case "noAplica": { %>
                                                    <span id="resLdmAvanceTD2<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-info text-dark my-2">
                                                        N/A
                                                    </span>
                                                    |
                                                    <span id="resRevisionLdmAvanceTD2<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionLdmAvanceTD2"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionLdmAvanceTD2 %>
                                                    </span>
                                            <% break; }
                                            default: { %>
                                                    <span id="resLdmAvanceTD2<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-secondary text-white my-2">
                                                        S/D
                                                    </span>
                                                    |
                                                    <span id="resRevisionLdmAvanceTD2<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionLdmAvanceTD2"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionLdmAvanceTD2 %>
                                                    </span>
                                            <% break; }
                                        } %>

                                        <button id="btnSiguienteOt80Info<%=k%>_<%=n%>_<%=q%>"
                                            name="btnSiguienteOt80Info"
                                            value="<%=k%>_<%=n%>_<%=q%>"
                                            class="btn btn-light btn-sm ms-1"
                                            title="Ver siguiente"
                                            type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= siguienteDisabled %>
                                            >
                                                <i class="fa-solid fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </td>
                            <% } else if (q==14) { %>
                                <!-- LDM 80% data Activo-->
                                <td class="text-center align-middle">
                                    <% if (proyecto[m].project[j].oci[k].otProject[n].otInformation.length > 0 &&
                                        proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80.length > 0) {

                                            for (let i = 0; proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80.length > i; i++) {
                                                var pathToMongoDBOtInfo80 = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80[i]
                                                if (proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80) {
                                                    let largoArray = parseInt(proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80.length)
                                                    var res80Ldm = parseInt(proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80[largoArray-1].ldm80)
                                                    var resRevision80Ldm = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80[largoArray-1].revisionLdm80
                                                    
                                                    if (i == 0) {
                                                        arrRes80Ldm.push(pathToMongoDBOtInfo80.ldm80)
                                                        arrResRevision80Ldm.push(pathToMongoDBOtInfo80.revisionLdm80)
                                                    
                                                    } else if (i >= 1 && pathToMongoDBOtInfo80.revisionLdm80 != proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80[i-1].revisionLdm80) {
                                                        arrRes80Ldm.push(pathToMongoDBOtInfo80.ldm80)
                                                        arrResRevision80Ldm.push(pathToMongoDBOtInfo80.revisionLdm80)
                                                    }
                                                        arrResCreador80Ldm.push(pathToMongoDBOtInfo80.creator[0].username)
                                                        arrResModificador80Ldm.push(pathToMongoDBOtInfo80.modificator[0].username)
                                                        arrResFecha80Ldm.push(pathToMongoDBOtInfo80.timestamp)
                                                        arrResFechaMod80Ldm.push(pathToMongoDBOtInfo80.modifiedOn)
                                                        valueArrayRes80Ldm = parseInt(arrRes80Ldm.length-1)
                                                                                    
                                                } else {
                                                    var res80Ldm = 0
                                                    var resRevision80Ldm = 0
                                                }
                                            }

                                            if (arrRes80Ldm.length == 1 ) {
                                                var anteriorDisabled = "disabled"
                                                var siguienteDisabled = "disabled"
                                            } else if (arrRes80Ldm.length == arrResRevision80Ldm.length) {
                                                var anteriorDisabled = ""
                                                var siguienteDisabled = "disabled"
                                            } else {
                                                var anteriorDisabled = ""
                                                var siguienteDisabled = "disabled"
                                            }

                                    } else {
                                        var anteriorDisabled = "disabled"
                                        var siguienteDisabled = "disabled"
                                        var res80Ldm = 0
                                        var resRevision80Ldm = 0
                                        arrRes80Ldm.push(res80Ldm)
                                        arrResRevision80Ldm.push(resRevision80Ldm)
                                        valueArrayRes80Ldm = 0
                                    } %>

                                        <div id="btnAnteriorSiguiente80Info<%=k%>_<%=n%>_<%=q%>">
                                            <button id="btnAnterior80Info<%=k%>_<%=n%>_<%=q%>"
                                                name="btnAnterior80Info"
                                                value="<%=k%>_<%=n%>_<%=q%>"
                                                class="btn btn-light btn-sm me-1"
                                                title="Ver anterior"
                                                type="button"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                <%= anteriorDisabled %>
                                                >
                                                    <i class="fa-solid fa-arrow-left"></i>
                                            </button>
                                            <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrRes80Ldm %>">
                                            <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayRes80Ldm %>">
                                            <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevision80Ldm %>">
                                            <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreador80Ldm %>">
                                            <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificador80Ldm %>">
                                            <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFecha80Ldm %>">
                                            <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaMod80Ldm %>">

                                            <span id="res80Ldm<%=k%>_<%=n%>_<%=q%>"
                                                name="res80Ldm"
                                                class="text-dark"
                                                style="font-size: .9rem;"
                                                valueCreador=""
                                                valueFecha=""
                                                valueModificador=""
                                                valueFechaMod="">
                                                <%= res80Ldm %>%
                                            </span>
                                            <% if (res80Ldm == 100) { %>
                                                <i class="fa-solid fa-circle-check fa-lg"
                                                    style="color: #0eb405;"
                                                    aria-hidden="true">
                                                </i>
                                            <% } else if (res80Ldm == 0) { %>
                                                <i class="fa-solid fa-spinner fa-lg fa-spin-pulse"
                                                    style="color: #b60101f5;"
                                                    aria-hidden="true">
                                                </i>
                                            <% } else { %>
                                                <i class="fa-solid fa-person-digging fa-lg"
                                                    style="color: #161085;"
                                                    aria-hidden="true">
                                                </i>
                                            <% } %>
                                            |
                                            <span id="resRevision80Ldm<%=k%>_<%=n%>_<%=q%>"
                                                name="resRevision80Ldm"
                                                class="badge text-dark my-2"
                                                style="cursor: help;"
                                                valueRevision=""
                                                valueCreador=""
                                                valueFecha=""
                                                valueModificador=""
                                                valueFechaMod="">
                                                <%= resRevision80Ldm %>
                                            </span>
                                            

                                            <button id="btnSiguiente80Info<%=k%>_<%=n%>_<%=q%>"
                                                name="btnSiguiente80Info"
                                                value="<%=k%>_<%=n%>_<%=q%>"
                                                class="btn btn-light btn-sm ms-1"
                                                title="Ver siguiente"
                                                type="button"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                <%= siguienteDisabled %>
                                                >
                                                    <i class="fa-solid fa-arrow-right"></i>
                                            </button>
                                        </div>
                                </td>
                            <% } else { %>
                                <!-- Info Modelo data Activo-->
                                <td class="text-center align-middle">
                                    <% if (proyecto[m].project[j].oci[k].otProject[n].otInformation.length > 0 &&
                                        proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80.length > 0) {

                                            for (let i = 0; proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80.length > i; i++) {
                                                var pathToMongoDBOtInfo80 = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80[i]
                                                if (proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80) {
                                                    let largoArray = parseInt(proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80.length)
                                                    var resInfoModelo = parseInt(proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80[largoArray-1].infoModelo)
                                                    var resRevisionInfoModelo = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80[largoArray-1].revisionInfoModelo
                                                    
                                                    if (i == 0) {
                                                        arrResInfoModelo.push(pathToMongoDBOtInfo80.infoModelo)
                                                        arrResRevisionInfoModelo.push(pathToMongoDBOtInfo80.revisionInfoModelo)
                                                    
                                                    } else if (i >= 1 && pathToMongoDBOtInfo80.revisionInfoModelo != proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80[i-1].revisionInfoModelo) {
                                                        arrResInfoModelo.push(pathToMongoDBOtInfo80.infoModelo)
                                                        arrResRevisionInfoModelo.push(pathToMongoDBOtInfo80.revisionInfoModelo)
                                                    }
                                                        arrResCreadorInfoModelo.push(pathToMongoDBOtInfo80.creator[0].username)
                                                        arrResModificadorInfoModelo.push(pathToMongoDBOtInfo80.modificator[0].username)
                                                        arrResFechaInfoModelo.push(pathToMongoDBOtInfo80.timestamp)
                                                        arrResFechaModInfoModelo.push(pathToMongoDBOtInfo80.modifiedOn)
                                                        valueArrayResInfoModelo = parseInt(arrResInfoModelo.length-1)
                                                                                    
                                                } else {
                                                    var resInfoModelo = 0
                                                    var resRevisionInfoModelo = 0
                                                }
                                            }

                                            if (arrResInfoModelo.length == 1 ) {
                                                var anteriorDisabled = "disabled"
                                                var siguienteDisabled = "disabled"
                                            } else if (arrResInfoModelo.length == arrResRevisionInfoModelo.length) {
                                                var anteriorDisabled = ""
                                                var siguienteDisabled = "disabled"
                                            } else {
                                                var anteriorDisabled = ""
                                                var siguienteDisabled = "disabled"
                                            }

                                    } else {
                                        var anteriorDisabled = "disabled"
                                        var siguienteDisabled = "disabled"
                                        var resInfoModelo = 0
                                        var resRevisionInfoModelo = 0
                                        arrResInfoModelo.push(resInfoModelo)
                                        arrResRevisionInfoModelo.push(resRevisionInfoModelo)
                                        valueArrayResInfoModelo = 0
                                    } %>

                                        <div id="btnAnteriorSiguiente80Info<%=k%>_<%=n%>_<%=q%>">
                                            <button id="btnAnterior80Info<%=k%>_<%=n%>_<%=q%>"
                                                name="btnAnterior80Info"
                                                value="<%=k%>_<%=n%>_<%=q%>"
                                                class="btn btn-light btn-sm me-1"
                                                title="Ver anterior"
                                                type="button"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                <%= anteriorDisabled %>
                                                >
                                                    <i class="fa-solid fa-arrow-left"></i>
                                            </button>
                                            <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResInfoModelo %>">
                                            <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResInfoModelo %>">
                                            <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionInfoModelo %>">
                                            <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorInfoModelo %>">
                                            <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorInfoModelo %>">
                                            <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaInfoModelo %>">
                                            <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModInfoModelo %>">

                                            <span id="resInfoModelo<%=k%>_<%=n%>_<%=q%>"
                                                name="resInfoModelo"
                                                class="text-dark"
                                                style="font-size: .9rem;"
                                                valueCreador=""
                                                valueFecha=""
                                                valueModificador=""
                                                valueFechaMod="">
                                                <%= resInfoModelo %>%
                                            </span>
                                            <% if (resInfoModelo == 100) { %>
                                                <i class="fa-solid fa-circle-check fa-lg"
                                                    style="color: #0eb405;"
                                                    aria-hidden="true">
                                                </i>
                                            <% } else if (resInfoModelo == 0) { %>
                                                <i class="fa-solid fa-spinner fa-lg fa-spin-pulse"
                                                    style="color: #b60101f5;"
                                                    aria-hidden="true">
                                                </i>
                                            <% } else { %>
                                                <i class="fa-solid fa-person-digging fa-lg"
                                                    style="color: #161085;"
                                                    aria-hidden="true">
                                                </i>
                                            <% } %>
                                            |
                                            <span id="resRevisionInfoModelo<%=k%>_<%=n%>_<%=q%>"
                                                name="resRevisionInfoModelo"
                                                class="badge text-dark my-2"
                                                style="cursor: help;"
                                                valueRevision=""
                                                valueCreador=""
                                                valueFecha=""
                                                valueModificador=""
                                                valueFechaMod="">
                                                <%= resRevisionInfoModelo %>
                                            </span>
                                            

                                            <button id="btnSiguiente80Info<%=k%>_<%=n%>_<%=q%>"
                                                name="btnSiguiente80Info"
                                                value="<%=k%>_<%=n%>_<%=q%>"
                                                class="btn btn-light btn-sm ms-1"
                                                title="Ver siguiente"
                                                type="button"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                <%= siguienteDisabled %>
                                                >
                                                    <i class="fa-solid fa-arrow-right"></i>
                                            </button>
                                        </div>
                                </td>
                            <% }
                        } %>
                    </tr>
                <% } else { %>
                    <tr class="pe-none" style="height: 7vh; background-color: #dedede;">
                        <% for (let q = 12; totalColDataInfo80 > q; q++) {
                            if (q==12) { %>
                                <!-- LDM Avance CG data Inactivo-->
                                <td class="text-center align-middle">
                                    <% if (proyecto[m].project[j].oci[k].otProject[n].otInformation.length > 0 &&
                                        proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80.length > 0) {

                                            for (let i = 0; proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80.length > i; i++) {
                                                if (proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80) {
                                                    let largoArray = parseInt(proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80.length)
                                                    var resLdmAvanceCG = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80[largoArray-1].ldmAvanceCG
                                                    var resRevisionLdmAvanceCG = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80[largoArray-1].revisionLdmAvanceCG
                                                    
                                                    if (i == 0) {
                                                        arrResLdmAvanceCG.push(pathToMongoDBOtInfo80.ldmAvanceCG)
                                                        arrResRevisionLdmAvanceCG.push(pathToMongoDBOtInfo80.revisionLdmAvanceCG)
                                                    
                                                    } else if (i >= 1 && pathToMongoDBOtInfo80.revisionLdmAvanceCG != proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80[i-1].revisionLdmAvanceCG) {
                                                        arrResLdmAvanceCG.push(pathToMongoDBOtInfo80.LdmAvanceCG)
                                                        arrResRevisionLdmAvanceCG.push(pathToMongoDBOtInfo80.revisionLdmAvanceCG)
                                                    }
                                                    valueArrayResLdmAvanceCG = parseInt(arrResLdmAvanceCG.length-1)
                                                                                    
                                                } else {
                                                    var resLdmAvanceCG = 'noAplica'
                                                    var resRevisionLdmAvanceCG = 0
                                                }
                                            }

                                            var resLdmAvanceCG = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80[0].ldmAvanceCG

                                    } else {
                                        var resLdmAvanceCG = "noAplica"
                                        var resRevisionLdmAvanceCG = 0
                                        arrResLdmAvanceCG.push(resLdmAvanceCG)
                                        arrResRevisionLdmAvanceCG.push(resRevisionLdmAvanceCG)
                                        valueArrayResLdmAvanceCG = 0
                                    } %>

                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResLdmAvanceCG %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResLdmAvanceCG %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionLdmAvanceCG %>">
                                        
                                        <% switch (resLdmAvanceCG) { 
                                            case "ok": { %>
                                                    <span id="resLdmAvanceCG<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-success text-white my-2" >
                                                        OK
                                                    </span>
                                                    |
                                                    <span id="resRevisionLdmAvanceCG<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2">
                                                        <%= resRevisionLdmAvanceCG %>
                                                    </span>
                                            <% break; }        
                                            case "noOk": { %>
                                                    <span id="resLdmAvanceCG<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-danger text-white my-2">
                                                        No OK
                                                    </span>
                                                    |
                                                    <span id="resRevisionLdmAvanceCG<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2">
                                                        <%= resRevisionLdmAvanceCG %>
                                                    </span>
                                            <% break; }        
                                            case "pendiente": { %>
                                                    <span id="resLdmAvanceCG<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-warning text-dark my-2">
                                                        Pendiente
                                                    </span>
                                                    |
                                                    <span id="resRevisionLdmAvanceCG<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2">
                                                        <%= resRevisionLdmAvanceCG %>
                                                    </span>
                                            <% break; }
                                            case "noAplica": { %>
                                                    <span id="resLdmAvanceCG<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-info text-dark my-2">
                                                        N/A
                                                    </span>
                                                    |
                                                    <span id="resRevisionLdmAvanceCG<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2">
                                                        <%= resRevisionLdmAvanceCG %>
                                                    </span>
                                            <% break; }
                                            default: { %>
                                                    <span id="resLdmAvanceCG<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-secondary text-white my-2">
                                                        S/D
                                                    </span>
                                                    |
                                                    <span id="resRevisionLdmAvanceCG<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2">
                                                        <%= resRevisionLdmAvanceCG %>
                                                    </span>
                                            <% break; }
                                        } %>
                                </td>

                            <% } else if (q==13) { %>
                                <!-- LDM Avance TD2 data Inactivo-->
                                <td class="text-center align-middle">
                                    <% if (proyecto[m].project[j].oci[k].otProject[n].otInformation.length > 0 &&
                                        proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80.length > 0) {

                                            for (let i = 0; proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80.length > i; i++) {
                                                if (proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80) {
                                                    let largoArray = parseInt(proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80.length)
                                                    var resLdmAvanceTD2 = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80[largoArray-1].ldmAvanceCG
                                                    var resRevisionLdmAvanceTD2 = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80[largoArray-1].revisionLdmAvanceTD2
                                                    
                                                    if (i == 0) {
                                                        arrResLdmAvanceTD2.push(pathToMongoDBOtInfo80.ldmAvanceCG)
                                                        arrResRevisionLdmAvanceTD2.push(pathToMongoDBOtInfo80.revisionLdmAvanceTD2)
                                                    
                                                    } else if (i >= 1 && pathToMongoDBOtInfo80.revisionLdmAvanceTD2 != proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80[i-1].revisionLdmAvanceTD2) {
                                                        arrResLdmAvanceTD2.push(pathToMongoDBOtInfo80.LdmAvanceTD2)
                                                        arrResRevisionLdmAvanceTD2.push(pathToMongoDBOtInfo80.revisionLdmAvanceTD2)
                                                    }
                                                    valueArrayResLdmAvanceTD2 = parseInt(arrResLdmAvanceTD2.length-1)
                                                                                    
                                                } else {
                                                    var resLdmAvanceTD2 = ''
                                                    var resRevisionLdmAvanceTD2 = 0
                                                }
                                            }

                                            var resLdmAvanceTD2 = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80[0].ldmAvanceTD2

                                    } else {
                                        var resLdmAvanceTD2 = ""
                                        var resRevisionLdmAvanceTD2 = 0
                                        arrResLdmAvanceTD2.push(resLdmAvanceTD2)
                                        arrResRevisionLdmAvanceTD2.push(resRevisionLdmAvanceTD2)
                                        valueArrayResLdmAvanceTD2 = 0
                                    } %>

                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResLdmAvanceTD2 %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResLdmAvanceTD2 %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionLdmAvanceTD2 %>">
                                        
                                        <% switch (resLdmAvanceTD2) { 
                                            case "ok": { %>
                                                    <span id="resLdmAvanceTD2<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-success text-white my-2" >
                                                        OK
                                                    </span>
                                                    |
                                                    <span id="resRevisionLdmAvanceTD2<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2">
                                                        <%= resRevisionLdmAvanceTD2 %>
                                                    </span>
                                            <% break; }        
                                            case "noOk": { %>
                                                    <span id="resLdmAvanceTD2<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-danger text-white my-2">
                                                        No OK
                                                    </span>
                                                    |
                                                    <span id="resRevisionLdmAvanceTD2<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2">
                                                        <%= resRevisionLdmAvanceTD2 %>
                                                    </span>
                                            <% break; }        
                                            case "pendiente": { %>
                                                    <span id="resLdmAvanceTD2<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-warning text-dark my-2">
                                                        Pendiente
                                                    </span>
                                                    |
                                                    <span id="resRevisionLdmAvanceTD2<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2">
                                                        <%= resRevisionLdmAvanceTD2 %>
                                                    </span>
                                            <% break; }
                                            case "noAplica": { %>
                                                    <span id="resLdmAvanceTD2<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-info text-dark my-2">
                                                        N/A
                                                    </span>
                                                    |
                                                    <span id="resRevisionLdmAvanceTD2<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2">
                                                        <%= resRevisionLdmAvanceTD2 %>
                                                    </span>
                                            <% break; }
                                            default: { %>
                                                    <span id="resLdmAvanceTD2<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-secondary text-white my-2">
                                                        S/D
                                                    </span>
                                                    |
                                                    <span id="resRevisionLdmAvanceTD2<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2">
                                                        <%= resRevisionLdmAvanceTD2 %>
                                                    </span>
                                            <% break; }
                                        } %>
                                </td>

                            <% } else if (q==14) { %>
                                <!-- LDM 80% data Inactivo-->
                                <td class="text-center align-middle">
                                    <% if (proyecto[m].project[j].oci[k].otProject[n].otInformation.length > 0 &&
                                        proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80.length > 0) {

                                            for (let i = 0; proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80.length > i; i++) {
                                                if (proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80) {
                                                    let largoArray = parseInt(proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80.length)
                                                    var res80Ldm = parseInt(proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80[largoArray-1].ldm800)
                                                    var resRevision80Ldm = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80[largoArray-1].revisionLdm80
                                                    
                                                    if (i == 0) {
                                                        arrRes80Ldm.push(pathToMongoDBOtInfo80.ldm80)
                                                        arrResRevision80Ldm.push(pathToMongoDBOtInfo80.revisionLdm80)
                                                    
                                                    } else if (i >= 1 && pathToMongoDBOtInfo80.revisionLdm80 != proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80[i-1].revisionLdm80) {
                                                        arrRes80Ldm.push(pathToMongoDBOtInfo80.ldm80)
                                                        arrResRevision80Ldm.push(pathToMongoDBOtInfo80.revisionLdm80)
                                                    }
                                                    valueArrayRes80Ldm = parseInt(arrRes80Ldm.length-1)
                                                                                    
                                                } else {
                                                    var res80Ldm = 0
                                                    var resRevision80Ldm = 0
                                                }
                                            }

                                            var res80Ldm = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80[0].ldm80

                                    } else {
                                        var res80Ldm = 0
                                        var resRevision80Ldm = 0
                                        arrRes80Ldm.push(res80Ldm)
                                        arrResRevision80Ldm.push(resRevision80Ldm)
                                        valueArrayRes80Ldm = 0
                                    } %>

                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrRes80Ldm %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayRes80Ldm %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevision80Ldm %>">
                                        
                                        <span id="res80Ldm<%=k%>_<%=n%>_<%=q%>"
                                            name="res80Ldm"
                                            class="text-dark"
                                            style="font-size: .9rem;"
                                            valueCreador=""
                                            valueFecha=""
                                            valueModificador=""
                                            valueFechaMod="">
                                            <%= res80Ldm %>%
                                        </span>
                                        <% if (res80Ldm == 100) { %>
                                            <i class="fa-solid fa-circle-check fa-lg"
                                                style="color: #64b464;"
                                                aria-hidden="true">
                                            </i>
                                        <% } else if (res80Ldm == 0) { %>
                                            <i class="fa-solid fa-spinner fa-lg"
                                                style="color: #b47777;"
                                                aria-hidden="true">
                                            </i>
                                        <% } else { %>
                                            <i class="fa-solid fa-person-digging fa-lg"
                                                style="color: #5b5b84;"
                                                aria-hidden="true">
                                            </i>
                                        <% } %>
                                        |
                                        <span id="resRevision80Ldm<%=k%>_<%=n%>_<%=q%>"
                                            name="resRevision80Ldm"
                                            class="badge text-dark my-2"
                                            style="cursor: help;"
                                            valueRevision=""
                                            valueCreador=""
                                            valueFecha=""
                                            valueModificador=""
                                            valueFechaMod="">
                                            <%= resRevision80Ldm %>
                                        </span>
                                </td>    

                            <% } else { %>
                                <!-- Info Modelo data Inactivo-->
                                <td class="text-center align-middle">
                                    <% if (proyecto[m].project[j].oci[k].otProject[n].otInformation.length > 0 &&
                                        proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80.length > 0) {

                                            for (let i = 0; proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80.length > i; i++) {
                                                if (proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80) {
                                                    let largoArray = parseInt(proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80.length)
                                                    var resInfoModelo = parseInt(proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80[largoArray-1].infoModelo)
                                                    var resRevisionInfoModelo = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80[largoArray-1].revisionInfoModelo
                                                    
                                                    if (i == 0) {
                                                        arrResInfoModelo.push(pathToMongoDBOtInfo80.infoModelo)
                                                        arrResRevisionInfoModelo.push(pathToMongoDBOtInfo80.revisionInfoModelo)
                                                    
                                                    } else if (i >= 1 && pathToMongoDBOtInfo80.revisionInfoModelo != proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoInfo80[i-1].revisionInfoModelo) {
                                                        arrResInfoModelo.push(pathToMongoDBOtInfo80.infoModelo)
                                                        arrResRevisionInfoModelo.push(pathToMongoDBOtInfo80.revisionInfoModelo)
                                                    }
                                                    valueArrayResInfoModelo = parseInt(arrResInfoModelo.length-1)
                                                                                    
                                                } else {
                                                    var resInfoModelo = 0
                                                    var resRevisionInfoModelo = 0
                                                }
                                            }

                                            var resInfoModelo = pathToMongoDBOtInfo80.infoModelo
                                            

                                    } else {
                                        var anteriorDisabled = "disabled"
                                        var siguienteDisabled = "disabled"
                                        var resInfoModelo = 0
                                        var resRevisionInfoModelo = 0
                                        arrResInfoModelo.push(resInfoModelo)
                                        arrResRevisionInfoModelo.push(resRevisionInfoModelo)
                                        valueArrayResInfoModelo = 0
                                    } %>

                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResInfoModelo %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResInfoModelo %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionInfoModelo %>">
                                        
                                        <span id="resInfoModelo<%=k%>_<%=n%>_<%=q%>"
                                            name="resInfoModelo"
                                            class="text-dark"
                                            style="font-size: .9rem;"
                                            valueCreador=""
                                            valueFecha=""
                                            valueModificador=""
                                            valueFechaMod="">
                                            <%= resInfoModelo %>%
                                        </span>
                                        <% if (resInfoModelo == 100) { %>
                                            <i class="fa-solid fa-circle-check fa-lg"
                                                style="color: #64b464;"
                                                aria-hidden="true">
                                            </i>
                                        <% } else if (resInfoModelo == 0) { %>
                                            <i class="fa-solid fa-spinner fa-lg"
                                                style="color: #b47777;"
                                                aria-hidden="true">
                                            </i>
                                        <% } else { %>
                                            <i class="fa-solid fa-person-digging fa-lg"
                                                style="color: #5b5b84;"
                                                aria-hidden="true">
                                            </i>
                                        <% } %>
                                        |
                                        <span id="resRevisionInfoModelo<%=k%>_<%=n%>_<%=q%>"
                                            name="resRevisionInfoModelo"
                                            class="badge text-dark my-2"
                                            style="cursor: help;"
                                            valueRevision=""
                                            valueCreador=""
                                            valueFecha=""
                                            valueModificador=""
                                            valueFechaMod="">
                                            <%= resRevisionInfoModelo %>
                                        </span>
                                </td>
                            <% }
                        } %>
                    </tr>
                <% }
            }
        } %>
    </tbody>
</table>