<!-- --------- tabla Diseno Primera ----------- -->
<table id="tablaDisenoPrimera<%=k%>"
    class="table-responsive align-middle col-5 border-end border-dark"
    style="font-size: 10pt; width: 100%">
    <thead class="align-middle" style="background-color: #aac">
        <tr>
            <th colspan="4" class="text-center">
                DISEÑO PRIMERA PARTE
                <button
                    id="posBtnAddDataDisenoPrimera<%=k%>"
                    type="button"
                    name="btnDisenoPrimera"
                    class="btn btn-small btn-success m-1 shadow"
                    style="--bs-btn-font-size: .6rem; color: var(--bs-white);"
                    title="Agregar/Modificar Datos"
                    value="<%=k%>">
                    <i class="fa-solid fa-pencil fa-lg" aria-hidden="true"></i>
                </button>
            </th>
        </tr>
        <tr>
            <th id="colData4" style="width:25vw" scope="col-1"
                class="text-center pb-1"> Av. Diseño | Rev.
            </th>
            <th id="colData5" style="width:25vw" scope="col-1"
                class="text-center pb-1"> 1° Rev 50% | Rev.
            </th>
            <th id="colData6" style="width:25vw" scope="col-1"
                class="text-center pb-1"> 2° Rev 80% | Rev.
            </th>
            <th id="colData7" style="width:25vw" scope="col-1"
            class="text-center pb-1"> Env. Cliente  | Rev.
            </th>
        </tr>
    </thead>
    <tbody class="table-group-divider">

        <% for ( let n=0; proyecto[m].project[j].oci[k].otProject.length>n; n++) {
            if (proyecto[m].project[j].oci[k].otProject[n].visible) {

                var arrResAvDiseno = [];
                var valueArrayResAvDiseno = 0;
                var arrResRevisionAvDiseno = [];
                var arrResCreadorAvDiseno = [];
                var arrResModificadorAvDiseno = [];
                var arrResFechaAvDiseno = [];
                var arrResFechaModAvDiseno = [];

                var arrResPrimerRev50 = [];
                var valueArrayResPrimerRev50 = 0;
                var arrResRevisionPrimerRev50 = [];
                var arrResCreadorPrimerRev50 = [];
                var arrResModificadorPrimerRev50 = [];
                var arrResFechaPrimerRev50 = [];
                var arrResFechaModPrimerRev50 = [];

                var arrResSegundaRev80 = [];
                var valueArrayResSegundaRev80 = 0;
                var arrResRevisionSegundaRev80 = [];
                var arrResCreadorSegundaRev80 = [];
                var arrResModificadorSegundaRev80 = [];
                var arrResFechaSegundaRev80 = [];
                var arrResFechaModSegundaRev80 = [];

                var arrResEnvCliente = [];
                var valueArrayResEnvCliente = 0;
                var arrResRevisionEnvCliente = [];
                var arrResCreadorEnvCliente = [];
                var arrResModificadorEnvCliente = [];
                var arrResFechaEnvCliente = [];
                var arrResFechaModEnvCliente = [];

                if (proyecto[m].project[j].oci[k].otProject[n].otStatus) { %>
                    <tr name="rowSelected<%=k%>_<%=n%>" style="height: 7vh;">
                        <% for (let q = 4; totalColDataDisenoPrimera > q; q++) {
                            if (q==4) { %>
                                <!-- Diseño Primera Parte data Activo-->
                                <td class="text-center align-middle">

                                    <% if (proyecto[m].project[j].oci[k].otProject[n].otInformation.length > 0 &&
                                        proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera.length > 0) {

                                            for (let i = 0; proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera.length > i; i++) {
                                                var pathToMongoDBOtInfoDisenoPrimera = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera[i]
                                                if (proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera) {
                                                    let largoArray = parseInt(proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera.length)
                                                    var resAvDiseno = parseInt(proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera[largoArray-1].avDiseno)
                                                    var resRevisionAvDiseno = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera[largoArray-1].revisionAvDiseno
                                                    
                                                    if (i == 0) {
                                                        arrResAvDiseno.push(pathToMongoDBOtInfoDisenoPrimera.avDiseno)
                                                        arrResRevisionAvDiseno.push(pathToMongoDBOtInfoDisenoPrimera.revisionAvDiseno)
                                                    
                                                    } else if (i >= 1 && pathToMongoDBOtInfoDisenoPrimera.revisionAvDiseno != proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera[i-1].revisionAvDiseno) {
                                                        arrResAvDiseno.push(pathToMongoDBOtInfoDisenoPrimera.avDiseno)
                                                        arrResRevisionAvDiseno.push(pathToMongoDBOtInfoDisenoPrimera.revisionAvDiseno)
                                                    }
                                                        arrResCreadorAvDiseno.push(pathToMongoDBOtInfoDisenoPrimera.creator[0].username)
                                                        arrResModificadorAvDiseno.push(pathToMongoDBOtInfoDisenoPrimera.modificator[0].username)
                                                        arrResFechaAvDiseno.push(pathToMongoDBOtInfoDisenoPrimera.timestamp)
                                                        arrResFechaModAvDiseno.push(pathToMongoDBOtInfoDisenoPrimera.modifiedOn)
                                                        valueArrayResAvDiseno = parseInt(arrResAvDiseno.length-1)
                                                                                    
                                                } else {
                                                    var resAvDiseno = 0
                                                    var resRevisionAvDiseno = 0
                                                }
                                            }

                                            if (arrResAvDiseno.length == 1 ) {
                                                var anteriorDisabled = "disabled"
                                                var siguienteDisabled = "disabled"
                                            } else if (arrResAvDiseno.length == arrResRevisionAvDiseno.length) {
                                                var anteriorDisabled = ""
                                                var siguienteDisabled = "disabled"
                                            } else {
                                                var anteriorDisabled = ""
                                                var siguienteDisabled = "disabled"
                                            }

                                    } else {
                                        var anteriorDisabled = "disabled"
                                        var siguienteDisabled = "disabled"
                                        var resAvDiseno = 0
                                        var resRevisionAvDiseno = 0
                                        arrResAvDiseno.push(resAvDiseno)
                                        arrResRevisionAvDiseno.push(resRevisionAvDiseno)
                                        valueArrayResAvDiseno = 0
                                    } %>

                                        <div id="btnAnteriorSiguienteDisenoPrimera<%=k%>_<%=n%>_<%=q%>">
                                            <button id="btnAnteriorDisenoPrimera<%=k%>_<%=n%>_<%=q%>"
                                                name="btnAnteriorDisenoPrimera"
                                                value="<%=k%>_<%=n%>_<%=q%>"
                                                class="btn btn-light btn-sm me-1"
                                                title="Ver anterior"
                                                type="button"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                <%= anteriorDisabled %>
                                                >
                                                    <i class="fa-solid fa-arrow-left"></i>
                                            </button>
                                            <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResAvDiseno %>">
                                            <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResAvDiseno %>">
                                            <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionAvDiseno %>">
                                            <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorAvDiseno %>">
                                            <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorAvDiseno %>">
                                            <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaAvDiseno %>">
                                            <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModAvDiseno %>">

                                            <span id="resAvDiseno<%=k%>_<%=n%>_<%=q%>"
                                                name="resAvDiseno"
                                                class="text-dark"
                                                style="font-size: .9rem;"
                                                valueCreador=""
                                                valueFecha=""
                                                valueModificador=""
                                                valueFechaMod="">
                                                <%= resAvDiseno %>%
                                            </span>
                                            <% if (resAvDiseno == 100) { %>
                                                <i class="fa-solid fa-circle-check fa-lg"
                                                    style="color: #0eb405;"
                                                    aria-hidden="true">
                                                </i>
                                            <% } else if (resAvDiseno == 0) { %>
                                                <i class="fa-solid fa-spinner fa-lg fa-spin-pulse"
                                                    style="color: #b60101f5;"
                                                    aria-hidden="true">
                                                </i>
                                            <% } else { %>
                                                <i class="fa-solid fa-person-digging fa-lg"
                                                    style="color: #161085;"
                                                    aria-hidden="true">
                                                </i>
                                            <% } %>
                                            |
                                            <span id="resRevisionAvDiseno<%=k%>_<%=n%>_<%=q%>"
                                                name="resRevisionAvDiseno"
                                                class="badge text-dark my-2"
                                                style="cursor: help;"
                                                valueRevision=""
                                                valueCreador=""
                                                valueFecha=""
                                                valueModificador=""
                                                valueFechaMod="">
                                                <%= resRevisionAvDiseno %>
                                            </span>
                                            

                                            <button id="btnSiguienteDisenoPrimera<%=k%>_<%=n%>_<%=q%>"
                                                name="btnSiguienteDisenoPrimera"
                                                value="<%=k%>_<%=n%>_<%=q%>"
                                                class="btn btn-light btn-sm ms-1"
                                                title="Ver siguiente"
                                                type="button"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                <%= siguienteDisabled %>
                                                >
                                                    <i class="fa-solid fa-arrow-right"></i>
                                            </button>
                                        </div>
                                </td>
                            <% } else if (q==5) { %>
                                <!-- Revision 50% data Activo-->
                                <td class="text-center align-middle">
                                    <% if (proyecto[m].project[j].oci[k].otProject[n].otInformation.length > 0 &&
                                        proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera.length > 0) {

                                            for (let i = 0; proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera.length > i; i++) {
                                                var pathToMongoDBOtInfoDisenoPrimera = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera[i]
                                                if (proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera) {
                                                    let largoArray = parseInt(proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera.length)
                                                    var resPrimerRev50 = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera[largoArray-1].avDiseno50
                                                    var resRevisionPrimerRev50 = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera[largoArray-1].revisionAvDiseno50
                                                    
                                                    if (i == 0) {
                                                        arrResPrimerRev50.push(pathToMongoDBOtInfoDisenoPrimera.avDiseno50)
                                                        arrResRevisionPrimerRev50.push(pathToMongoDBOtInfoDisenoPrimera.revisionAvDiseno50)
                                                    
                                                    } else if (i >= 1 && pathToMongoDBOtInfoDisenoPrimera.revisionAvDiseno50 != proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera[i-1].revisionAvDiseno50) {
                                                        arrResPrimerRev50.push(pathToMongoDBOtInfoDisenoPrimera.avDiseno50)
                                                        arrResRevisionPrimerRev50.push(pathToMongoDBOtInfoDisenoPrimera.revisionAvDiseno50)
                                                    }
                                                        arrResCreadorPrimerRev50.push(pathToMongoDBOtInfoDisenoPrimera.creator[0].username)
                                                        arrResModificadorPrimerRev50.push(pathToMongoDBOtInfoDisenoPrimera.modificator[0].username)
                                                        arrResFechaPrimerRev50.push(pathToMongoDBOtInfoDisenoPrimera.timestamp)
                                                        arrResFechaModPrimerRev50.push(pathToMongoDBOtInfoDisenoPrimera.modifiedOn)
                                                        valueArrayResPrimerRev50 = parseInt(arrResPrimerRev50.length-1)
                                                                                    
                                                } else {
                                                    var resPrimerRev50 = ''
                                                    var resRevisionPrimerRev50 = 0
                                                }
                                            }

                                            if (arrResPrimerRev50.length == 1 ) {
                                                var anteriorDisabled = "disabled"
                                                var siguienteDisabled = "disabled"
                                            } else if (arrResAvDiseno.length == arrResRevisionPrimerRev50.length) {
                                                var anteriorDisabled = ""
                                                var siguienteDisabled = "disabled"
                                            } else {
                                                var anteriorDisabled = ""
                                                var siguienteDisabled = "disabled"
                                            }

                                    } else {
                                        var anteriorDisabled = "disabled"
                                        var siguienteDisabled = "disabled"
                                        var resPrimerRev50 = ""
                                        var resRevisionPrimerRev50 = 0
                                        arrResPrimerRev50.push(resPrimerRev50)
                                        arrResRevisionPrimerRev50.push(resRevisionPrimerRev50)
                                        valueArrayResPrimerRev50 = 0
                                    } %>

                                    <div id="btnAnteriorSiguienteDisenoPrimera<%=k%>_<%=n%>_<%=q%>">
                                        <button id="btnAnteriorDisenoPrimera<%=k%>_<%=n%>_<%=q%>"
                                            name="btnAnteriorDisenoPrimera"
                                            value="<%=k%>_<%=n%>_<%=q%>"
                                            class="btn btn-light btn-sm me-2"
                                            title="Ver anterior"
                                            type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= anteriorDisabled %>
                                            >
                                                <i class="fa-solid fa-arrow-left"></i>
                                        </button>
                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResPrimerRev50 %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResPrimerRev50 %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionPrimerRev50 %>">
                                        <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorPrimerRev50 %>">
                                        <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorPrimerRev50 %>">
                                        <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaPrimerRev50 %>">
                                        <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModPrimerRev50 %>">

                                        <% switch (resPrimerRev50) { 
                                            case "ok": { %>
                                                    <span id="resPrimerRev50<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-success text-white my-2" >
                                                        OK
                                                    </span>
                                                    |
                                                    <span id="resRevisionPrimerRev50<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionPrimerRev50"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueRevision=""
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionPrimerRev50 %>
                                                    </span>
                                            <% break; }        
                                            case "noOk": { %>
                                                    <span id="resPrimerRev50<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-danger text-white my-2">
                                                        No OK
                                                    </span>
                                                    |
                                                    <span id="resRevisionPrimerRev50<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionPrimerRev50"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionPrimerRev50 %>
                                                    </span>
                                            <% break; }        
                                            case "pendiente": { %>
                                                    <span id="resPrimerRev50<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-warning text-dark my-2">
                                                        Pendiente
                                                    </span>
                                                    |
                                                    <span id="resRevisionPrimerRev50<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionPrimerRev50"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionPrimerRev50 %>
                                                    </span>
                                            <% break; }
                                            case "noAplica": { %>
                                                    <span id="resPrimerRev50<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-secondary text-white my-2">
                                                        N/A
                                                    </span>
                                                    |
                                                    <span id="resRevisionPrimerRev50<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionPrimerRev50"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionPrimerRev50 %>
                                                    </span>
                                            <% break; }
                                            default: { %>
                                                    <span id="resPrimerRev50<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-info text-dark my-2">
                                                        S/D
                                                    </span>
                                                    |
                                                    <span id="resRevisionPrimerRev50<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionPrimerRev50"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionPrimerRev50 %>
                                                    </span>
                                            <% break; }
                                        } %>

                                        <button id="btnSiguienteDisenoPrimera<%=k%>_<%=n%>_<%=q%>"
                                            name="btnSiguienteDisenoPrimera"
                                            value="<%=k%>_<%=n%>_<%=q%>"
                                            class="btn btn-light btn-sm ms-2"
                                            title="Ver siguiente"
                                            type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= siguienteDisabled %>
                                            >
                                                <i class="fa-solid fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </td>

                            <% } else if (q==6) { %>
                                <!-- Revision 2° 80% data Activo-->
                                <td class="text-center align-middle">
                                    <% if (proyecto[m].project[j].oci[k].otProject[n].otInformation.length > 0 &&
                                        proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera.length > 0) {

                                            for (let i = 0; proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera.length > i; i++) {
                                                var pathToMongoDBOtInfoDisenoPrimera = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera[i]
                                                if (proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera) {
                                                    let largoArray = parseInt(proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera.length)
                                                    var resSegundaRev80 = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera[largoArray-1].avDiseno80
                                                    var resRevisionSegundaRev80 = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera[largoArray-1].revisionAvDiseno80
                                                    
                                                    if (i == 0) {
                                                        arrResSegundaRev80.push(pathToMongoDBOtInfoDisenoPrimera.avDiseno80)
                                                        arrResRevisionSegundaRev80.push(pathToMongoDBOtInfoDisenoPrimera.revisionAvDiseno80)
                                                    
                                                    } else if (i >= 1 && pathToMongoDBOtInfoDisenoPrimera.revisionAvDiseno80 != proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera[i-1].revisionAvDiseno80) {
                                                        arrResSegundaRev80.push(pathToMongoDBOtInfoDisenoPrimera.avDiseno80)
                                                        arrResRevisionSegundaRev80.push(pathToMongoDBOtInfoDisenoPrimera.revisionAvDiseno80)
                                                    }
                                                        arrResCreadorSegundaRev80.push(pathToMongoDBOtInfoDisenoPrimera.creator[0].username)
                                                        arrResModificadorSegundaRev80.push(pathToMongoDBOtInfoDisenoPrimera.modificator[0].username)
                                                        arrResFechaSegundaRev80.push(pathToMongoDBOtInfoDisenoPrimera.timestamp)
                                                        arrResFechaModSegundaRev80.push(pathToMongoDBOtInfoDisenoPrimera.modifiedOn)
                                                        valueArrayResSegundaRev80 = parseInt(arrResSegundaRev80.length-1)
                                                                                    
                                                } else {
                                                    var resSegundaRev80 = ''
                                                    var resRevisionSegundaRev80 = 0
                                                }
                                            }

                                            if (arrResSegundaRev80.length == 1 ) {
                                                var anteriorDisabled = "disabled"
                                                var siguienteDisabled = "disabled"
                                            } else if (arrResAvDiseno.length == arrResRevisionSegundaRev80.length) {
                                                var anteriorDisabled = ""
                                                var siguienteDisabled = "disabled"
                                            } else {
                                                var anteriorDisabled = ""
                                                var siguienteDisabled = "disabled"
                                            }

                                    } else {
                                        var anteriorDisabled = "disabled"
                                        var siguienteDisabled = "disabled"
                                        var resSegundaRev80 = ""
                                        var resRevisionSegundaRev80 = 0
                                        arrResSegundaRev80.push(resSegundaRev80)
                                        arrResRevisionSegundaRev80.push(resRevisionSegundaRev80)
                                        valueArrayResSegundaRev80 = 0
                                    } %>

                                    <div id="btnAnteriorSiguienteDisenoPrimera<%=k%>_<%=n%>_<%=q%>">
                                        <button id="btnAnteriorDisenoPrimera<%=k%>_<%=n%>_<%=q%>"
                                            name="btnAnteriorDisenoPrimera"
                                            value="<%=k%>_<%=n%>_<%=q%>"
                                            class="btn btn-light btn-sm me-2"
                                            title="Ver anterior"
                                            type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= anteriorDisabled %>
                                            >
                                                <i class="fa-solid fa-arrow-left"></i>
                                        </button>
                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResSegundaRev80 %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResSegundaRev80 %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionSegundaRev80 %>">
                                        <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorSegundaRev80 %>">
                                        <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorSegundaRev80 %>">
                                        <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaSegundaRev80 %>">
                                        <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModSegundaRev80 %>">

                                        <% switch (resSegundaRev80) { 
                                            case "ok": { %>
                                                    <span id="resSegundaRev80<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-success text-white my-2" >
                                                        OK
                                                    </span>
                                                    |
                                                    <span id="resRevisionSegundaRev80<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionSegundaRev80"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueRevision=""
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionSegundaRev80 %>
                                                    </span>
                                            <% break; }        
                                            case "noOk": { %>
                                                    <span id="resSegundaRev80<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-danger text-white my-2">
                                                        No OK
                                                    </span>
                                                    |
                                                    <span id="resRevisionSegundaRev80<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionSegundaRev80"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionSegundaRev80 %>
                                                    </span>
                                            <% break; }        
                                            case "pendiente": { %>
                                                    <span id="resSegundaRev80<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-warning text-dark my-2">
                                                        Pendiente
                                                    </span>
                                                    |
                                                    <span id="resRevisionSegundaRev80<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionSegundaRev80"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionSegundaRev80 %>
                                                    </span>
                                            <% break; }
                                            case "noAplica": { %>
                                                    <span id="resSegundaRev80<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-secondary text-white my-2">
                                                        N/A
                                                    </span>
                                                    |
                                                    <span id="resRevisionSegundaRev80<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionSegundaRev80"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionSegundaRev80 %>
                                                    </span>
                                            <% break; }
                                            default: { %>
                                                    <span id="resSegundaRev80<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-info text-dark my-2">
                                                        S/D
                                                    </span>
                                                    |
                                                    <span id="resRevisionSegundaRev80<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionSegundaRev80"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionSegundaRev80 %>
                                                    </span>
                                            <% break; }
                                        } %>

                                        <button id="btnSiguienteDisenoPrimera<%=k%>_<%=n%>_<%=q%>"
                                            name="btnSiguienteDisenoPrimera"
                                            value="<%=k%>_<%=n%>_<%=q%>"
                                            class="btn btn-light btn-sm ms-2"
                                            title="Ver siguiente"
                                            type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= siguienteDisabled %>
                                            >
                                                <i class="fa-solid fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </td>

                            <% } else { %>
                                <!-- Envio a Cliente data Activo-->
                                <td class="text-center align-middle">
                                    <% if (proyecto[m].project[j].oci[k].otProject[n].otInformation.length > 0 &&
                                        proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera.length > 0) {

                                            for (let i = 0; proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera.length > i; i++) {
                                                var pathToMongoDBOtInfoDisenoPrimera = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera[i]
                                                if (proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera) {
                                                    let largoArray = parseInt(proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera.length)
                                                    var resEnvCliente = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera[largoArray-1].envioCliente
                                                    var resRevisionEnvCliente = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera[largoArray-1].revisionEnvioCliente
                                                    
                                                    if (i == 0) {
                                                        arrResEnvCliente.push(pathToMongoDBOtInfoDisenoPrimera.envioCliente)
                                                        arrResRevisionEnvCliente.push(pathToMongoDBOtInfoDisenoPrimera.revisionEnvioCliente)
                                                    
                                                    } else if (i >= 1 && pathToMongoDBOtInfoDisenoPrimera.revisionEnvioCliente != proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera[i-1].revisionEnvioCliente) {
                                                        arrResEnvCliente.push(pathToMongoDBOtInfoDisenoPrimera.envioCliente)
                                                        arrResRevisionEnvCliente.push(pathToMongoDBOtInfoDisenoPrimera.revisionEnvioCliente)
                                                    }
                                                        arrResCreadorEnvCliente.push(pathToMongoDBOtInfoDisenoPrimera.creator[0].username)
                                                        arrResModificadorEnvCliente.push(pathToMongoDBOtInfoDisenoPrimera.modificator[0].username)
                                                        arrResFechaEnvCliente.push(pathToMongoDBOtInfoDisenoPrimera.timestamp)
                                                        arrResFechaModEnvCliente.push(pathToMongoDBOtInfoDisenoPrimera.modifiedOn)
                                                        valueArrayResEnvCliente = parseInt(arrResEnvCliente.length-1)
                                                                                    
                                                } else {
                                                    var resEnvCliente = ''
                                                    var resRevisionEnvCliente = 0
                                                }
                                            }

                                            if (arrResEnvCliente.length == 1 ) {
                                                var anteriorDisabled = "disabled"
                                                var siguienteDisabled = "disabled"
                                            } else if (arrResAvDiseno.length == arrResRevisionEnvCliente.length) {
                                                var anteriorDisabled = ""
                                                var siguienteDisabled = "disabled"
                                            } else {
                                                var anteriorDisabled = ""
                                                var siguienteDisabled = "disabled"
                                            }

                                    } else {
                                        var anteriorDisabled = "disabled"
                                        var siguienteDisabled = "disabled"
                                        var resEnvCliente = ""
                                        var resRevisionEnvCliente = 0
                                        arrResEnvCliente.push(resEnvCliente)
                                        arrResRevisionEnvCliente.push(resRevisionEnvCliente)
                                        valueArrayResEnvCliente = 0
                                    } %>

                                    <div id="btnAnteriorSiguienteDisenoPrimera<%=k%>_<%=n%>_<%=q%>">
                                        <button id="btnAnteriorDisenoPrimera<%=k%>_<%=n%>_<%=q%>"
                                            name="btnAnteriorDisenoPrimera"
                                            value="<%=k%>_<%=n%>_<%=q%>"
                                            class="btn btn-light btn-sm me-2"
                                            title="Ver anterior"
                                            type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= anteriorDisabled %>
                                            >
                                                <i class="fa-solid fa-arrow-left"></i>
                                        </button>
                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResEnvCliente %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResEnvCliente %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionEnvCliente %>">
                                        <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorEnvCliente %>">
                                        <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorEnvCliente %>">
                                        <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaEnvCliente %>">
                                        <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModEnvCliente %>">

                                        <% switch (resEnvCliente) { 
                                            case "ok": { %>
                                                    <span id="resEnvCliente<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-success text-white my-2" >
                                                        OK
                                                    </span>
                                                    |
                                                    <span id="resRevisionEnvCliente<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionEnvCliente"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueRevision=""
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionEnvCliente %>
                                                    </span>
                                            <% break; }        
                                            case "noOk": { %>
                                                    <span id="resEnvCliente<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-danger text-white my-2">
                                                        No OK
                                                    </span>
                                                    |
                                                    <span id="resRevisionEnvCliente<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionEnvCliente"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionEnvCliente %>
                                                    </span>
                                            <% break; }        
                                            case "pendiente": { %>
                                                    <span id="resEnvCliente<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-warning text-dark my-2">
                                                        Pendiente
                                                    </span>
                                                    |
                                                    <span id="resRevisionEnvCliente<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionEnvCliente"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionEnvCliente %>
                                                    </span>
                                            <% break; }
                                            case "noAplica": { %>
                                                    <span id="resEnvCliente<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-secondary text-white my-2">
                                                        N/A
                                                    </span>
                                                    |
                                                    <span id="resRevisionEnvCliente<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionEnvCliente"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionEnvCliente %>
                                                    </span>
                                            <% break; }
                                            default: { %>
                                                    <span id="resEnvCliente<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-info text-dark my-2">
                                                        S/D
                                                    </span>
                                                    |
                                                    <span id="resRevisionEnvCliente<%=k%>_<%=n%>_<%=q%>"
                                                        name="resRevisionEnvCliente"
                                                        class="badge text-dark my-2"
                                                        style="cursor: help;"
                                                        valueCreador=""
                                                        valueFecha=""
                                                        valueModificador=""
                                                        valueFechaMod="">
                                                        <%= resRevisionEnvCliente %>
                                                    </span>
                                            <% break; }
                                        } %>

                                        <button id="btnSiguienteDisenoPrimera<%=k%>_<%=n%>_<%=q%>"
                                            name="btnSiguienteDisenoPrimera"
                                            value="<%=k%>_<%=n%>_<%=q%>"
                                            class="btn btn-light btn-sm ms-2"
                                            title="Ver siguiente"
                                            type="button"
                                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                            <%= siguienteDisabled %>
                                            >
                                                <i class="fa-solid fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </td>
                            <% }
                        } %>
                    </tr>
                <% } else { %>
                    <tr class="pe-none" style="height: 7vh; background-color: #dedede;">
                        <% for (let q = 4; totalColDataDisenoPrimera > q; q++) {
                            if (q==4) { %>
                            <!-- Diseño Primera Parte data Inactivo-->
                            <td class="text-center align-middle">
                                <% if (proyecto[m].project[j].oci[k].otProject[n].otInformation.length > 0 &&
                                    proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera.length > 0) {

                                        for (let i = 0; proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera.length > i; i++) {
                                            if (proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera) {
                                                let largoArray = parseInt(proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera.length)
                                                var resAvDiseno = parseInt(proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera[largoArray-1].avDiseno)
                                                var resRevisionAvDiseno = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera[largoArray-1].revisionAvDiseno
                                                
                                                if (i == 0) {
                                                    arrResAvDiseno.push(pathToMongoDBOtInfoDisenoPrimera.avDiseno)
                                                    arrResRevisionAvDiseno.push(pathToMongoDBOtInfoDisenoPrimera.revisionAvDiseno)
                                                
                                                } else if (i >= 1 && pathToMongoDBOtInfoDisenoPrimera.revisionAvDiseno != proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera[i-1].revisionAvDiseno) {
                                                    arrResAvDiseno.push(pathToMongoDBOtInfoDisenoPrimera.avDiseno)
                                                    arrResRevisionAvDiseno.push(pathToMongoDBOtInfoDisenoPrimera.revisionAvDiseno)
                                                }
                                                valueArrayResAvDiseno = parseInt(arrResAvDiseno.length-1)
                                                                                
                                            } else {
                                                var resAvDiseno = 0
                                                var resRevisionAvDiseno = 0
                                            }
                                        }

                                        var resAvDiseno = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera[0].avDiseno

                                } else {
                                    var resAvDiseno = 0
                                    var resRevisionAvDiseno = 0
                                    arrResAvDiseno.push(resAvDiseno)
                                    arrResRevisionAvDiseno.push(resRevisionAvDiseno)
                                } %>
   
                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResAvDiseno %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResAvDiseno %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionAvDiseno %>">
                                    
                                    <span id="resAvDiseno<%=k%>_<%=n%>_<%=q%>"
                                        name="resAvDiseno"
                                        class="text-black mx-2"
                                        style="font-size: .9rem;"
                                        valueCreador=""
                                        valueFecha=""
                                        valueModificador=""
                                        valueFechaMod="">
                                        <%= resAvDiseno %>%
                                    </span>
                                    <% if (resAvDiseno == 100) { %>
                                        <i class="fa-solid fa-circle-check fa-lg"
                                            style="color: #64b464;"
                                            aria-hidden="true">
                                        </i>
                                    <% } else if (resAvDiseno == 0) { %>
                                        <i class="fa-solid fa-spinner fa-lg"
                                            style="color: #b47777;"
                                            aria-hidden="true">
                                        </i>
                                    <% } else { %>
                                        <i class="fa-solid fa-person-digging fa-lg"
                                            style="color: #5b5b84;"
                                            aria-hidden="true">
                                        </i>
                                    <% } %>
                                    |
                                    <span id="resRevisionAvDiseno<%=k%>_<%=n%>_<%=q%>"
                                        name="resRevisionAvDiseno"
                                        class="badge text-dark my-2"
                                        style="cursor: help;"
                                        valueRevision=""
                                        valueCreador=""
                                        valueFecha=""
                                        valueModificador=""
                                        valueFechaMod="">
                                        <%= resRevisionAvDiseno %>
                                    </span>
                            </td>

                            <% } else if (q==5) { %>
                                <!-- Revision 50% data Inactivo-->
                                <td class="text-center align-middle">
                                    <% if (proyecto[m].project[j].oci[k].otProject[n].otInformation.length > 0 &&
                                        proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera.length > 0) {

                                            for (let i = 0; proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera.length > i; i++) {
                                                if (proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera) {
                                                    let largoArray = parseInt(proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera.length)
                                                    var resPrimerRev50 = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera[largoArray-1].avDiseno50
                                                    var resRevisionPrimerRev50 = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera[largoArray-1].revisionAvDiseno50
                                                    
                                                    if (i == 0) {
                                                        arrResPrimerRev50.push(pathToMongoDBOtInfoDisenoPrimera.avDiseno50)
                                                        arrResRevisionPrimerRev50.push(pathToMongoDBOtInfoDisenoPrimera.revisionAvDiseno50)
                                                    
                                                    } else if (i >= 1 && pathToMongoDBOtInfoDisenoPrimera.revisionAvDiseno50 != proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera[i-1].revisionAvDiseno50) {
                                                        arrResPrimerRev50.push(pathToMongoDBOtInfoDisenoPrimera.avDiseno50)
                                                        arrResRevisionPrimerRev50.push(pathToMongoDBOtInfoDisenoPrimera.revisionAvDiseno50)
                                                    }
                                                    valueArrayResPrimerRev50 = parseInt(arrResPrimerRev50.length-1)
                                                                                    
                                                } else {
                                                    var resPrimerRev50 = ''
                                                    var resRevisionPrimerRev50 = 0
                                                }
                                            }

                                            var resPrimerRev50 = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoProceso[0].avDiseno50

                                    } else {
                                        var resPrimerRev50 = ""
                                        var resRevisionPrimerRev50 = 0
                                        arrResPrimerRev50.push(resPrimerRev50)
                                        arrResRevisionPrimerRev50.push(resRevisionPrimerRev50)
                                        valueArrayResPrimerRev50 = 0
                                    } %>

                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResPrimerRev50 %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResPrimerRev50 %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionPrimerRev50 %>">
                                        
                                        <% switch (resPrimerRev50) { 
                                            case "ok": { %>
                                                    <span id="resPrimerRev50<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-success text-white my-2" >
                                                        OK
                                                    </span>
                                                    |
                                                    <span id="resRevisionPrimerRev50<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2">
                                                        <%= resRevisionPrimerRev50 %>
                                                    </span>
                                            <% break; }        
                                            case "noOk": { %>
                                                    <span id="resPrimerRev50<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-danger text-white my-2">
                                                        No OK
                                                    </span>
                                                    |
                                                    <span id="resRevisionPrimerRev50<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2">
                                                        <%= resRevisionPrimerRev50 %>
                                                    </span>
                                            <% break; }        
                                            case "pendiente": { %>
                                                    <span id="resPrimerRev50<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-warning text-dark my-2">
                                                        Pendiente
                                                    </span>
                                                    |
                                                    <span id="resRevisionPrimerRev50<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2">
                                                        <%= resRevisionPrimerRev50 %>
                                                    </span>
                                            <% break; }
                                            case "noAplica": { %>
                                                    <span id="resPrimerRev50<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-secondary text-white my-2">
                                                        N/A
                                                    </span>
                                                    |
                                                    <span id="resRevisionPrimerRev50<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2">
                                                        <%= resRevisionPrimerRev50 %>
                                                    </span>
                                            <% break; }
                                            default: { %>
                                                    <span id="resPrimerRev50<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-info text-dark my-2">
                                                        S/D
                                                    </span>
                                                    |
                                                    <span id="resRevisionPrimerRev50<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2">
                                                        <%= resRevisionPrimerRev50 %>
                                                    </span>
                                            <% break; }
                                        } %>
                                </td>

                            <% } else if (q==6) { %>
                                <!-- Revision 2° 80% data Inactivo-->
                                <td class="text-center align-middle">
                                    <% if (proyecto[m].project[j].oci[k].otProject[n].otInformation.length > 0 &&
                                        proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera.length > 0) {

                                            for (let i = 0; proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera.length > i; i++) {
                                                if (proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera) {
                                                    let largoArray = parseInt(proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera.length)
                                                    var resSegundaRev80 = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera[largoArray-1].avDiseno80
                                                    var resRevisionSegundaRev80 = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera[largoArray-1].revisionAvDiseno80
                                                    
                                                    if (i == 0) {
                                                        arrResSegundaRev80.push(pathToMongoDBOtInfoDisenoPrimera.avDiseno80)
                                                        arrResRevisionSegundaRev80.push(pathToMongoDBOtInfoDisenoPrimera.revisionAvDiseno80)
                                                    
                                                    } else if (i >= 1 && pathToMongoDBOtInfoDisenoPrimera.revisionAvDiseno80 != proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera[i-1].revisionAvDiseno80) {
                                                        arrResSegundaRev80.push(pathToMongoDBOtInfoDisenoPrimera.avDiseno80)
                                                        arrResRevisionSegundaRev80.push(pathToMongoDBOtInfoDisenoPrimera.revisionAvDiseno80)
                                                    }
                                                    valueArrayResSegundaRev80 = parseInt(arrResSegundaRev80.length-1)
                                                                                    
                                                } else {
                                                    var resSegundaRev80 = ''
                                                    var resRevisionSegundaRev80 = 0
                                                }
                                            }

                                            var resSegundaRev80 = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoProceso[0].avDiseno80

                                    } else {
                                        var resSegundaRev80 = ""
                                        var resRevisionSegundaRev80 = 0
                                        arrResSegundaRev80.push(resSegundaRev80)
                                        arrResRevisionSegundaRev80.push(resRevisionSegundaRev80)
                                        valueArrayResSegundaRev80 = 0
                                    } %>

                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResSegundaRev80 %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResSegundaRev80 %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionSegundaRev80 %>">

                                        <% switch (resSegundaRev80) { 
                                            case "ok": { %>
                                                    <span id="resSegundaRev80<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-success text-white my-2" >
                                                        OK
                                                    </span>
                                                    |
                                                    <span id="resRevisionSegundaRev80<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2">
                                                        <%= resRevisionSegundaRev80 %>
                                                    </span>
                                            <% break; }        
                                            case "noOk": { %>
                                                    <span id="resSegundaRev80<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-danger text-white my-2">
                                                        No OK
                                                    </span>
                                                    |
                                                    <span id="resRevisionSegundaRev80<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2">
                                                        <%= resRevisionSegundaRev80 %>
                                                    </span>
                                            <% break; }        
                                            case "pendiente": { %>
                                                    <span id="resSegundaRev80<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-warning text-dark my-2">
                                                        Pendiente
                                                    </span>
                                                    |
                                                    <span id="resRevisionSegundaRev80<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2">
                                                        <%= resRevisionSegundaRev80 %>
                                                    </span>
                                            <% break; }
                                            case "noAplica": { %>
                                                    <span id="resSegundaRev80<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-secondary text-white my-2">
                                                        N/A
                                                    </span>
                                                    |
                                                    <span id="resRevisionSegundaRev80<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2">
                                                        <%= resRevisionSegundaRev80 %>
                                                    </span>
                                            <% break; }
                                            default: { %>
                                                    <span id="resSegundaRev80<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-info text-dark my-2">
                                                        S/D
                                                    </span>
                                                    |
                                                    <span id="resRevisionSegundaRev80<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2">
                                                        <%= resRevisionSegundaRev80 %>
                                                    </span>
                                            <% break; }
                                        } %>
                                </td>

                            <% } else { %>
                                <!-- Envio a Cliente data Inactivo-->
                                <td class="text-center align-middle">
                                    <% if (proyecto[m].project[j].oci[k].otProject[n].otInformation.length > 0 &&
                                        proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera.length > 0) {

                                            for (let i = 0; proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera.length > i; i++) {
                                                if (proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera) {
                                                    let largoArray = parseInt(proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera.length)
                                                    var resEnvCliente = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera[largoArray-1].envioCliente
                                                    var resRevisionEnvCliente = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera[largoArray-1].revisionEnvioCliente
                                                    
                                                    if (i == 0) {
                                                        arrResEnvCliente.push(pathToMongoDBOtInfoDisenoPrimera.envioCliente)
                                                        arrResRevisionEnvCliente.push(pathToMongoDBOtInfoDisenoPrimera.revisionEnvioCliente)
                                                    
                                                    } else if (i >= 1 && pathToMongoDBOtInfoDisenoPrimera.revisionEnvioCliente != proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoDisenoPrimera[i-1].revisionEnvioCliente) {
                                                        arrResEnvCliente.push(pathToMongoDBOtInfoDisenoPrimera.envioCliente)
                                                        arrResRevisionEnvCliente.push(pathToMongoDBOtInfoDisenoPrimera.revisionEnvioCliente)
                                                    }
                                                    valueArrayResEnvCliente = parseInt(arrResEnvCliente.length-1)
                                                                                    
                                                } else {
                                                    var resEnvCliente = ''
                                                    var resRevisionEnvCliente = 0
                                                }
                                            }

                                            var resEnvCliente = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoProceso[0].envioCliente

                                    } else {
                                        var resEnvCliente = ""
                                        var resRevisionEnvCliente = 0
                                        arrResEnvCliente.push(resEnvCliente)
                                        arrResRevisionEnvCliente.push(resRevisionEnvCliente)
                                        valueArrayResEnvCliente = 0
                                    } %>

                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResEnvCliente %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResEnvCliente %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionEnvCliente %>">
                                        
                                        <% switch (resEnvCliente) { 
                                            case "ok": { %>
                                                    <span id="resEnvCliente<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-success text-white my-2" >
                                                        OK
                                                    </span>
                                                    |
                                                    <span id="resRevisionEnvCliente<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2">
                                                        <%= resRevisionEnvCliente %>
                                                    </span>
                                            <% break; }        
                                            case "noOk": { %>
                                                    <span id="resEnvCliente<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-danger text-white my-2">
                                                        No OK
                                                    </span>
                                                    |
                                                    <span id="resRevisionEnvCliente<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2">
                                                        <%= resRevisionEnvCliente %>
                                                    </span>
                                            <% break; }        
                                            case "pendiente": { %>
                                                    <span id="resEnvCliente<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-warning text-dark my-2">
                                                        Pendiente
                                                    </span>
                                                    |
                                                    <span id="resRevisionEnvCliente<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2">
                                                        <%= resRevisionEnvCliente %>
                                                    </span>
                                            <% break; }
                                            case "noAplica": { %>
                                                    <span id="resEnvCliente<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-secondary text-white my-2">
                                                        N/A
                                                    </span>
                                                    |
                                                    <span id="resRevisionEnvCliente<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2">
                                                        <%= resRevisionEnvCliente %>
                                                    </span>
                                            <% break; }
                                            default: { %>
                                                    <span id="resEnvCliente<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-info text-dark my-2">
                                                        S/D
                                                    </span>
                                                    |
                                                    <span id="resRevisionEnvCliente<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2">
                                                        <%= resRevisionEnvCliente %>
                                                    </span>
                                            <% break; }
                                        } %>
                                </td>
                            <% }
                        } %>
                    </tr>
                <% }
            }
        } %>
    </tbody>
</table>