<!-- cabecera botonera principal de OCI -->
<div class="container mw-100">
    <div class="row">
        <div class="col-2 d-flex align-items-center">
            <img id="imageOciHeader<%=k%>" src="<%= arrayVisibleOci[k].ociImage %>" class="card-img m-auto shadow" title="<%= arrayVisibleOci[k].ociDescription %>"
                alt="<%= arrayVisibleOci[k].ociDescription %>" style="max-width: 75%; max-height: 75%; object-fit: contain;">
        </div>
        <div class="col-10 d-flex align-items-center">
            Puedes agregar mas datos de OT en esta OCI# <strong><%= arrayVisibleOci[k].ociNumber %></strong>, haciendo click en el siguiente botón
            <button class="btn btn-primary m-1 rounded-circle shadow"
                id="btnAddOtFormSelected<%=k%>"
                aria-controls="collapseExample"
                data-bs-toggle="collapse"
                data-bs-target="#collapseExample" aria-expanded="false"
                style="--bs-btn-font-size: .95rem; color: var(--bs-white);"
                type="button"
                value="<%=k%>"
                name="<%= proyecto[m].project[j].oci[k].ociNumber %>"
                title="Agregar nueva OT">
                <i class="fa-solid fa-plus-circle" aria-hidden="true"></i>
            </button>
        </div>    
    </div>
    <hr class="border border-primary opacity-75">
    <div class="row">
        <div id="posBtnHiddeTableGeneral<%=k%>" class="col-3">

            <button id="btnHiddeTableGeneral<%=k%>"
                name="btnHiddeTableGeneral"
                type="button" class="btn btn-primary shadow"
                title="Ocultar General"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; background-color: #115; border: none">
                <i class="fa-solid fa-eye-slash"></i>
            </button>

        </div>
        <div id="posBtnHiddeTableSeguimiento<%=k%>" class="col-3">

            <button id="btnHiddeTableSeguimiento<%=k%>"
                name="btnHiddeTableSeguimiento"
                type="button" class="btn btn-secondary shadow"
                title="Ocultar Int/Ext"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; background-color: #115; border: none">
                <i class="fa-solid fa-eye-slash"></i>
            </button>

        </div>
        <div id="posCheckSelectionAll<%=k%>" class="col-3">

            <button id="btnCheckSelectionAll<%=k%>"
                name="btnCheckSelectionAll"
                type="button" class="btn btn-primary shadow position-relative"
                title="Seleccionar todas las OT"
                style="--bs-btn-padding-y: .5rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; border: none" value="0">
                Seleccionar OT's <i class="fa-solid fa-check-double"></i>
                <span id="spanCheckSelecMasive<%=k%>" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    0
                    <span class="visually-hidden">Elementos seleccionados</span>
                </span>
            </button>

        </div>
        <div id="posCheckSelecMasive<%=k%>" class="col-3">
            <span id="btnCheckSelecMasive<%=k%>" name="btnCheckSelecMasive"
                class="badge rounded-pill text-bg-secondary text-warning shadow p-2">
                <i class="fa-solid fa-list-check"></i> Mod. multiple (0)
            </span>

        </div>
    </div>
</div>