<!-- --------- tabla S4 Segunda Parte ----------- -->
<table id="tabla4SimSegunda<%=k%>"
    class="table-responsive align-middle col-2 border-end border-dark"
    style="font-size: 10pt; width: 100%">
    <thead class="align-middle" style="background-color: #88c">
        <tr>
            <th colspan="4" class="text-center">
                Sim 4 (Segunda Parte)
                <button
                    id="posBtnAddDataS4Segunda<%=k%>"
                    type="button"
                    name="btn4SegundaSim"
                    class="btn btn-small btn-success m-1"
                    style="--bs-btn-font-size: .6rem; color: var(--bs-white);"
                    title="Agregar Datos"
                    value="<%=k%>">
                    <i class="fa-solid fa-pencil fa-lg" aria-hidden="true"></i>
                </button>
            </th>
        </tr>
        <tr>
            <th style="width:23vw" scope="col-1"
                class="text-center pb-1"> Informe | Rev
            </th>
            <th style="width:23vw" scope="col-1"
                class="text-center pb-1"> Geo Cop#1 | Rev
            </th>
            <th style="width:23vw" scope="col-1"
                class="text-center pb-1"> Geo Cop#2 | Rev
            </th>

            <% var arrayHsSim4Segunda = []
            for ( let n=0; proyecto[m].project[j].oci[k].otProject.length>n; n++) {
                if (proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda.length > 0 ) {
                    let largoArrayHsSim4Segunda = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda.length
                    arrayHsSim4Segunda.push(parseInt(proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda[largoArrayHsSim4Segunda-1].horasSim))
                } else {
                    arrayHsSim4Segunda.push(0)
                }

                var sumaHsSim4SegundaTotal = arrayHsSim4Segunda.reduce(function(acumulador, valorActual) {
                    return acumulador + valorActual;
                }, 0);
            } %>

            <th style="width:31vw" scope="col-1"
                class="text-center pb-1"> Hs Sim | Rev | Total Hs:
                    <span id="resHsTotalSim4Segunda<%=k%>"
                        class="badge rounded-pill bg-dark text-white">
                            <%= sumaHsSim4SegundaTotal %>
                    </span>
            </th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        
        <% for ( let n=0; proyecto[m].project[j].oci[k].otProject.length > n; n++) {
            if (proyecto[m].project[j].oci[k].otProject[n].visible) {

                var arrResInforme4Sim = [];
                var valueArrayResInforme4Sim = 0;
                var arrResRevisionInforme4Sim = [];
                var arrResCreadorInforme4Sim = [];
                var arrResModificadorInforme4Sim = [];
                var arrResFechaInforme4Sim = [];
                var arrResFechaModInforme4Sim = [];

                var arrResGeo1Copiado = [];
                var valueArrayResGeo1Copiado = 0;
                var arrResRevisionGeo1Copiado = [];
                var arrResCreadorGeo1Copiado = [];
                var arrResModificadorGeo1Copiado = [];
                var arrResFechaGeo1Copiado = [];
                var arrResFechaModGeo1Copiado = [];

                var arrResGeo2Copiado = [];
                var valueArrayResGeo2Copiado = 0;
                var arrResRevisionGeo2Copiado = [];
                var arrResCreadorGeo2Copiado = [];
                var arrResModificadorGeo2Copiado = [];
                var arrResFechaGeo2Copiado = [];
                var arrResFechaModGeo2Copiado = [];

                var arrResHorasSim = [];
                var valueArrayResHorasSim = 0;
                var arrResRevisionHorasSim = [];
                var arrResCreadorHorasSim = [];
                var arrResModificadorHorasSim = [];
                var arrResFechaHorasSim = [];
                var arrResFechaModHorasSim = [];

                if (proyecto[m].project[j].oci[k].otProject[n].otStatus) { %>
                    <tr name="rowSelected<%=k%>_<%=n%>" style="height: 7vh;">
                        <% for (let q = 33; totalColDataSim4Segunda > q; q++) {
                            if (q==33) { %>
                                <!-- Informe Sim 4 data Activo--> 
                                <td class="text-center align-middle">

                                    <% if (proyecto[m].project[j].oci[k].otProject[n].otInformation.length > 0 &&
                                            proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda.length > 0) {
                                        
                                                for (let i = 0; proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda.length > i; i++) {
                                                    var pathToMongoDBOtInfoSim4Segunda = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda[i]
                                                    
                                                    if (proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda) {
                                                        let largoArray = parseInt(proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda.length) 
                                                        var resInforme4Sim = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda[largoArray-1].informeSim4
                                                        var resRevisionInforme4Sim = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda[largoArray-1].revisionInformeSim4
                                                        
                                                        if (i == 0) {
                                                            arrResInforme4Sim.push(pathToMongoDBOtInfoSim4Segunda.informeSim4)
                                                            arrResRevisionInforme4Sim.push(pathToMongoDBOtInfoSim4Segunda.revisionInformeSim4)
                                                        }
                                                        else if (i >= 1 && pathToMongoDBOtInfoSim4Segunda.revisionInformeSim4 != proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda[i-1].revisionInformeSim4) {
                                                            arrResInforme4Sim.push(pathToMongoDBOtInfoSim4Segunda.informeSim4)
                                                            arrResRevisionInforme4Sim.push(pathToMongoDBOtInfoSim4Segunda.revisionInformeSim4)
                                                        }
                                                            arrResCreadorInforme4Sim.push(pathToMongoDBOtInfoSim4Segunda.creator[0].username)
                                                            arrResModificadorInforme4Sim.push(pathToMongoDBOtInfoSim4Segunda.modificator[0].username)
                                                            arrResFechaInforme4Sim.push(pathToMongoDBOtInfoSim4Segunda.timestamp)
                                                            arrResFechaModInforme4Sim.push(pathToMongoDBOtInfoSim4Segunda.modifiedOn)
                                                            valueArrayResInforme4Sim = parseInt(arrResInforme4Sim.length-1)
                                                                                                    
                                                    } else {
                                                        var resInforme4Sim = 'S/D'
                                                        var resRevisionInforme4Sim = 0
                                                    }
                                                }
                                                
                                                if (arrResInforme4Sim.length == 1 ) {
                                                    var anteriorDisabled = "disabled"
                                                    var siguienteDisabled = "disabled"
                                                } else if (arrResInforme4Sim.length == arrResRevisionInforme4Sim.length) {
                                                    var anteriorDisabled = ""
                                                    var siguienteDisabled = "disabled"
                                                } else {
                                                    var anteriorDisabled = ""
                                                    var siguienteDisabled = "disabled"
                                                }
                                                
                                        } else {
                                            var anteriorDisabled = "disabled"
                                            var siguienteDisabled = "disabled"
                                            var resInforme4Sim = "S/D"
                                            var resRevisionInforme4Sim = 0
                                            arrResInforme4Sim.push(resInforme4Sim)
                                            arrResRevisionInforme4Sim.push(resRevisionInforme4Sim)
                                            valueArrayResInforme4Sim = 0
                                        } %>
                                    
                                        <div id="btnAnteriorSiguiente4SegundaSim<%=k%>_<%=n%>_<%=q%>">
                                            <button id="btnAnterior4SegundaSim<%=k%>_<%=n%>_<%=q%>"
                                                name="btnAnterior4SegundaSim"
                                                value="<%=k%>_<%=n%>_<%=q%>"
                                                class="btn btn-light btn-sm me-2"
                                                title="Ver anterior"
                                                type="button"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                <%= anteriorDisabled %>
                                                >
                                                    <i class="fa-solid fa-arrow-left"></i>
                                            </button>
                                            <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResInforme4Sim %>">
                                            <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResInforme4Sim %>">
                                            <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionInforme4Sim %>">
                                            <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorInforme4Sim %>">
                                            <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorInforme4Sim %>">
                                            <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaInforme4Sim %>">
                                            <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModInforme4Sim %>">
            
                                            <% switch (resInforme4Sim) { 
                                                case "ok": { %>
                                                        <span id="resInforme4Sim<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-success text-white my-2" >
                                                            OK
                                                        </span>
                                                        |
                                                        <span id="resRevisionInforme4Sim<%=k%>_<%=n%>_<%=q%>"
                                                            name="resRevisionInforme4Sim"
                                                            class="badge text-dark my-2"
                                                            style="cursor: help;"
                                                            valueRevision=""
                                                            valueCreador=""
                                                            valueFecha=""
                                                            valueModificador=""
                                                            valueFechaMod="">
                                                            <%= resRevisionInforme4Sim %>
                                                        </span>
                                                <% break; }        
                                                case "noOk": { %>
                                                        <span id="resInforme4Sim<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-danger text-white my-2">
                                                            No OK
                                                        </span>
                                                        |
                                                        <span id="resRevisionInforme4Sim<%=k%>_<%=n%>_<%=q%>"
                                                            name="resRevisionInforme4Sim"
                                                            class="badge text-dark my-2"
                                                            style="cursor: help;"
                                                            valueCreador=""
                                                            valueFecha=""
                                                            valueModificador=""
                                                            valueFechaMod="">
                                                            <%= resRevisionInforme4Sim %>
                                                        </span>
                                                <% break; }        
                                                case "pendiente": { %>
                                                        <span id="resInforme4Sim<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-warning text-dark my-2">
                                                            Pendiente
                                                        </span>
                                                        |
                                                        <span id="resRevisionInforme4Sim<%=k%>_<%=n%>_<%=q%>"
                                                            name="resRevisionInforme4Sim"
                                                            class="badge text-dark my-2"
                                                            style="cursor: help;"
                                                            valueCreador=""
                                                            valueFecha=""
                                                            valueModificador=""
                                                            valueFechaMod="">
                                                            <%= resRevisionInforme4Sim %>
                                                        </span>
                                                <% break; }
                                                case "noAplica": { %>
                                                        <span id="resInforme4Sim<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-info text-dark my-2">
                                                            N/A
                                                        </span>
                                                        |
                                                        <span id="resRevisionInforme4Sim<%=k%>_<%=n%>_<%=q%>"
                                                            name="resRevisionInforme4Sim"
                                                            class="badge text-dark my-2"
                                                            style="cursor: help;"
                                                            valueCreador=""
                                                            valueFecha=""
                                                            valueModificador=""
                                                            valueFechaMod="">
                                                            <%= resRevisionInforme4Sim %>
                                                        </span>
                                                <% break; }
                                                default: { %>
                                                        <span id="resInforme4Sim<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-secondary text-white my-2">
                                                            S/D
                                                        </span>
                                                        |
                                                        <span id="resRevisionInforme4Sim<%=k%>_<%=n%>_<%=q%>"
                                                            name="resRevisionInforme4Sim"
                                                            class="badge text-dark my-2"
                                                            style="cursor: help;"
                                                            valueCreador=""
                                                            valueFecha=""
                                                            valueModificador=""
                                                            valueFechaMod="">
                                                            <%= resRevisionInforme4Sim %>
                                                        </span>
                                                <% break; }
                                            } %>
            
                                            <button id="btnSiguiente4SegundaSim<%=k%>_<%=n%>_<%=q%>"
                                                name="btnSiguiente4SegundaSim"
                                                value="<%=k%>_<%=n%>_<%=q%>"
                                                class="btn btn-light btn-sm ms-2"
                                                title="Ver siguiente"
                                                type="button"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                <%= siguienteDisabled %>
                                                >
                                                    <i class="fa-solid fa-arrow-right"></i>
                                            </button>
                                        </div>
                                </td>
                            <% } else if (q==34) { %>
                                <!-- GeoCopiado1 data Activo-->
                                <td class="text-center align-middle">
                                    <% if (proyecto[m].project[j].oci[k].otProject[n].otInformation.length > 0 &&
                                            proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda.length> 0) {
                                        
                                                for (let i = 0; proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda.length> i; i++) {
                                                    var pathToMongoDBOtInfoSim4Segunda = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda[i]
                                                    
                                                    if (proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda) {
                                                        
                                                        let largoArray = parseInt(proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda.length) 
                                                        var resGeo1Copiado = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda[largoArray-1].geoCopiado1
                                                        var resRevisionGeo1Copiado = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda[largoArray-1].revisionGeoCopiado1
                                                        
                                                        if (i == 0) {
                                                            arrResGeo1Copiado.push(pathToMongoDBOtInfoSim4Segunda.geoCopiado1)
                                                            arrResRevisionGeo1Copiado.push(pathToMongoDBOtInfoSim4Segunda.revisionGeoCopiado1)
                                                        }
                                                        else if (i >= 1 && pathToMongoDBOtInfoSim4Segunda.revisionGeoCopiado1 != proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda[i-1].revisionGeoCopiado1) {
                                                            arrResGeo1Copiado.push(pathToMongoDBOtInfoSim4Segunda.geoCopiado1)
                                                            arrResRevisionGeo1Copiado.push(pathToMongoDBOtInfoSim4Segunda.revisionGeoCopiado1)
                                                        }
                                                            arrResCreadorGeo1Copiado.push(pathToMongoDBOtInfoSim4Segunda.creator[0].username)
                                                            arrResModificadorGeo1Copiado.push(pathToMongoDBOtInfoSim4Segunda.modificator[0].username)
                                                            arrResFechaGeo1Copiado.push(pathToMongoDBOtInfoSim4Segunda.timestamp)
                                                            arrResFechaModGeo1Copiado.push(pathToMongoDBOtInfoSim4Segunda.modifiedOn)
                                                            valueArrayResGeo1Copiado = parseInt(arrResGeo1Copiado.length-1)
                                                                                                    
                                                    } else {
                                                        var resGeo1Copiado = 'S/D'
                                                        var resRevisionGeo1Copiado = 0
                                                    }
                                                }
                                                
                                                if (arrResGeo1Copiado.length == 1 ) {
                                                    var siguienteDisabled = "disabled"
                                                    var anteriorDisabled = "disabled"
                                                } else if (arrResGeo1Copiado.length == arrResRevisionGeo1Copiado.length) {
                                                    var anteriorDisabled = ""
                                                    var siguienteDisabled = "disabled"
                                                } else {
                                                    var anteriorDisabled = ""
                                                    var siguienteDisabled = "disabled"
                                                }
                                                
                                            } else {
                                                var anteriorDisabled = "disabled"
                                                var siguienteDisabled = "disabled"
                                                var resGeo1Copiado = ""
                                                var resRevisionGeo1Copiado = 0
                                                arrResGeo1Copiado.push(resGeo1Copiado)
                                                arrResRevisionGeo1Copiado.push(resRevisionGeo1Copiado)
                                                valueArrayResGeo1Copiado = 0
                                                
                                        } %>
                                    
                                        <div id="btnAnteriorSiguiente4SegundaSim<%=k%>_<%=n%>_<%=q%>">
                                            <button id="btnAnterior4SegundaSim<%=k%>_<%=n%>_<%=q%>"
                                                name="btnAnterior4SegundaSim"
                                                value="<%=k%>_<%=n%>_<%=q%>"
                                                class="btn btn-light btn-sm me-2"
                                                title="Ver anterior"
                                                type="button"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                <%= anteriorDisabled %>
                                                >
                                                    <i class="fa-solid fa-arrow-left"></i>
                                            </button>
                                            <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResGeo1Copiado %>">
                                            <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResGeo1Copiado %>">
                                            <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionGeo1Copiado %>">
                                            <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorGeo1Copiado %>">
                                            <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorGeo1Copiado %>">
                                            <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaGeo1Copiado %>">
                                            <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModGeo1Copiado %>">
            
                                            <% switch (resGeo1Copiado) { 
                                                case "ok": { %>
                                                        <span id="resGeo1Copiado<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-success text-white my-2" >
                                                            OK
                                                        </span>
                                                        |
                                                        <span id="resRevisionGeo1Copiado<%=k%>_<%=n%>_<%=q%>"
                                                            name="resRevisionGeo1Copiado"
                                                            class="badge text-dark my-2"
                                                            style="cursor: help;"
                                                            valueRevision=""
                                                            valueCreador=""
                                                            valueFecha=""
                                                            valueModificador=""
                                                            valueFechaMod="">
                                                            <%= resRevisionGeo1Copiado %>
                                                        </span>
                                                <% break; }        
                                                case "noOk": { %>
                                                        <span id="resGeo1Copiado<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-danger text-white my-2">
                                                            No OK
                                                        </span>
                                                        |
                                                        <span id="resRevisionGeo1Copiado<%=k%>_<%=n%>_<%=q%>"
                                                            name="resRevisionGeo1Copiado"
                                                            class="badge text-dark my-2"
                                                            style="cursor: help;"
                                                            valueCreador=""
                                                            valueFecha=""
                                                            valueModificador=""
                                                            valueFechaMod="">
                                                            <%= resRevisionGeo1Copiado %>
                                                        </span>
                                                <% break; }        
                                                case "pendiente": { %>
                                                        <span id="resGeo1Copiado<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-warning text-dark my-2">
                                                            Pendiente
                                                        </span>
                                                        |
                                                        <span id="resRevisionGeo1Copiado<%=k%>_<%=n%>_<%=q%>"
                                                            name="resRevisionGeo1Copiado"
                                                            class="badge text-dark my-2"
                                                            style="cursor: help;"
                                                            valueCreador=""
                                                            valueFecha=""
                                                            valueModificador=""
                                                            valueFechaMod="">
                                                            <%= resRevisionGeo1Copiado %>
                                                        </span>
                                                <% break; }
                                                case "noAplica": { %>
                                                        <span id="resGeo1Copiado<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-info text-dark my-2">
                                                            N/A
                                                        </span>
                                                        |
                                                        <span id="resRevisionGeo1Copiado<%=k%>_<%=n%>_<%=q%>"
                                                            name="resRevisionGeo1Copiado"
                                                            class="badge text-dark my-2"
                                                            style="cursor: help;"
                                                            valueCreador=""
                                                            valueFecha=""
                                                            valueModificador=""
                                                            valueFechaMod="">
                                                            <%= resRevisionGeo1Copiado %>
                                                        </span>
                                                <% break; }
                                                default: { %>
                                                        <span id="resGeo1Copiado<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-secondary text-white my-2">
                                                            S/D
                                                        </span>
                                                        |
                                                        <span id="resRevisionGeo1Copiado<%=k%>_<%=n%>_<%=q%>"
                                                            name="resRevisionGeo1Copiado"
                                                            class="badge text-dark my-2"
                                                            style="cursor: help;"
                                                            valueCreador=""
                                                            valueFecha=""
                                                            valueModificador=""
                                                            valueFechaMod="">
                                                            <%= resRevisionGeo1Copiado %>
                                                        </span>
                                                <% break; }
                                            } %>
            
                                            <button id="btnSiguiente4SegundaSim<%=k%>_<%=n%>_<%=q%>"
                                                name="btnSiguiente4SegundaSim"
                                                value="<%=k%>_<%=n%>_<%=q%>"
                                                class="btn btn-light btn-sm ms-2"
                                                title="Ver siguiente"
                                                type="button"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                <%= siguienteDisabled %>
                                                >
                                                    <i class="fa-solid fa-arrow-right"></i>
                                            </button>
                                        </div>
                                </td>

                            <% } else if (q==35) { %>
                                <!-- GeoCopiado2 Sim1 data Activo-->
                                <td class="text-center align-middle">
                                    <% if (proyecto[m].project[j].oci[k].otProject[n].otInformation.length > 0 &&
                                            proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda.length> 0) {
                                        
                                                for (let i = 0; proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda.length > i; i++) {
                                                    var pathToMongoDBOtInfoSim4Segunda = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda[i]
                                                    
                                                    if (proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda) {
                                                        
                                                        let largoArray = parseInt(proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda.length) 
                                                        var resGeo2Copiado = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda[largoArray-1].geoCopiado2
                                                        var resRevisionGeo2Copiado = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda[largoArray-1].revisionGeoCopiado2
                                                        
                                                        if (i == 0) {
                                                            arrResGeo2Copiado.push(pathToMongoDBOtInfoSim4Segunda.geoCopiado2)
                                                            arrResRevisionGeo2Copiado.push(pathToMongoDBOtInfoSim4Segunda.revisionGeoCopiado2)
                                                        }
                                                        else if (i >= 1 && pathToMongoDBOtInfoSim4Segunda.revisionGeoCopiado2 != proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda[i-1].revisionGeoCopiado2) {
                                                            arrResGeo2Copiado.push(pathToMongoDBOtInfoSim4Segunda.geoCopiado2)
                                                            arrResRevisionGeo2Copiado.push(pathToMongoDBOtInfoSim4Segunda.revisionGeoCopiado2)
                                                        }
                                                            arrResCreadorGeo2Copiado.push(pathToMongoDBOtInfoSim4Segunda.creator[0].username)
                                                            arrResModificadorGeo2Copiado.push(pathToMongoDBOtInfoSim4Segunda.modificator[0].username)
                                                            arrResFechaGeo2Copiado.push(pathToMongoDBOtInfoSim4Segunda.timestamp)
                                                            arrResFechaModGeo2Copiado.push(pathToMongoDBOtInfoSim4Segunda.modifiedOn)
                                                            valueArrayResGeo2Copiado = parseInt(arrResGeo2Copiado.length-1)
                                                                                                    
                                                    } else {
                                                        var resGeo2Copiado = 'S/D'
                                                        var resRevisionGeo2Copiado = 0
                                                    }
                                                }
                                                
                                                if (arrResGeo2Copiado.length == 1 ) {
                                                    var siguienteDisabled = "disabled"
                                                    var anteriorDisabled = "disabled"
                                                } else if (arrResGeo2Copiado.length == arrResRevisionGeo2Copiado.length) {
                                                    var anteriorDisabled = ""
                                                    var siguienteDisabled = "disabled"
                                                } else {
                                                    var anteriorDisabled = ""
                                                    var siguienteDisabled = "disabled"
                                                }
                                                
                                            } else {
                                                var anteriorDisabled = "disabled"
                                                var siguienteDisabled = "disabled"
                                                var resGeo2Copiado = "S/D"
                                                var resRevisionGeo2Copiado = 0
                                                arrResGeo2Copiado.push(resGeo2Copiado)
                                                arrResRevisionGeo2Copiado.push(resRevisionGeo2Copiado)
                                                valueArrayResGeo2Copiado = 0
                                        } %>
                                    
                                        <div id="btnAnteriorSiguiente4SegundaSim<%=k%>_<%=n%>_<%=q%>">
                                            <button id="btnAnterior4SegundaSim<%=k%>_<%=n%>_<%=q%>"
                                                name="btnAnterior4SegundaSim"
                                                value="<%=k%>_<%=n%>_<%=q%>"
                                                class="btn btn-light btn-sm me-2"
                                                title="Ver anterior"
                                                type="button"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                <%= anteriorDisabled %>
                                                >
                                                    <i class="fa-solid fa-arrow-left"></i>
                                            </button>
                                            <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResGeo2Copiado %>">
                                            <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResGeo2Copiado %>">
                                            <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionGeo2Copiado %>">
                                            <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorGeo2Copiado %>">
                                            <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorGeo2Copiado %>">
                                            <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaGeo2Copiado %>">
                                            <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModGeo2Copiado %>">
            
                                            <% switch (resGeo2Copiado) { 
                                                case "ok": { %>
                                                        <span id="resGeo2Copiado<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-success text-white my-2" >
                                                            OK
                                                        </span>
                                                        |
                                                        <span id="resRevisionGeo2Copiado<%=k%>_<%=n%>_<%=q%>"
                                                            name="resRevisionGeo2Copiado"
                                                            class="badge text-dark my-2"
                                                            style="cursor: help;"
                                                            valueRevision=""
                                                            valueCreador=""
                                                            valueFecha=""
                                                            valueModificador=""
                                                            valueFechaMod="">
                                                            <%= resRevisionGeo2Copiado %>
                                                        </span>
                                                <% break; }        
                                                case "noOk": { %>
                                                        <span id="resGeo2Copiado<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-danger text-white my-2">
                                                            No OK
                                                        </span>
                                                        |
                                                        <span id="resRevisionGeo2Copiado<%=k%>_<%=n%>_<%=q%>"
                                                            name="resRevisionGeo2Copiado"
                                                            class="badge text-dark my-2"
                                                            style="cursor: help;"
                                                            valueCreador=""
                                                            valueFecha=""
                                                            valueModificador=""
                                                            valueFechaMod="">
                                                            <%= resRevisionGeo2Copiado %>
                                                        </span>
                                                <% break; }        
                                                case "pendiente": { %>
                                                        <span id="resGeo2Copiado<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-warning text-dark my-2">
                                                            Pendiente
                                                        </span>
                                                        |
                                                        <span id="resRevisionGeo2Copiado<%=k%>_<%=n%>_<%=q%>"
                                                            name="resRevisionGeo2Copiado"
                                                            class="badge text-dark my-2"
                                                            style="cursor: help;"
                                                            valueCreador=""
                                                            valueFecha=""
                                                            valueModificador=""
                                                            valueFechaMod="">
                                                            <%= resRevisionGeo2Copiado %>
                                                        </span>
                                                <% break; }
                                                case "noAplica": { %>
                                                        <span id="resGeo2Copiado<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-info text-dark my-2">
                                                            N/A
                                                        </span>
                                                        |
                                                        <span id="resRevisionGeo2Copiado<%=k%>_<%=n%>_<%=q%>"
                                                            name="resRevisionGeo2Copiado"
                                                            class="badge text-dark my-2"
                                                            style="cursor: help;"
                                                            valueCreador=""
                                                            valueFecha=""
                                                            valueModificador=""
                                                            valueFechaMod="">
                                                            <%= resRevisionGeo2Copiado %>
                                                        </span>
                                                <% break; }
                                                default: { %>
                                                        <span id="resGeo2Copiado<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-secondary text-white my-2">
                                                            S/D
                                                        </span>
                                                        |
                                                        <span id="resRevisionGeo2Copiado<%=k%>_<%=n%>_<%=q%>"
                                                            name="resRevisionGeo2Copiado"
                                                            class="badge text-dark my-2"
                                                            style="cursor: help;"
                                                            valueCreador=""
                                                            valueFecha=""
                                                            valueModificador=""
                                                            valueFechaMod="">
                                                            <%= resRevisionGeo2Copiado %>
                                                        </span>
                                                <% break; }
                                            } %>
            
                                            <button id="btnSiguiente4SegundaSim<%=k%>_<%=n%>_<%=q%>"
                                                name="btnSiguiente4SegundaSim"
                                                value="<%=k%>_<%=n%>_<%=q%>"
                                                class="btn btn-light btn-sm ms-2"
                                                title="Ver siguiente"
                                                type="button"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                <%= siguienteDisabled %>
                                                >
                                                    <i class="fa-solid fa-arrow-right"></i>
                                            </button>
                                        </div>
                                </td>

                            <% } else { %>
                                <!-- HorasSim data Activo-->
                                <td class="text-center align-middle">
                                    <% if (proyecto[m].project[j].oci[k].otProject[n].otInformation.length > 0 &&
                                            proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda.length > 0) {
                                                 
                                                for (let i = 0; proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda.length > i; i++) {
                                                    var pathToMongoDBOtInfoSim4Segunda = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda[i]
                                                    
                                                    if (proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda) {
                                                        
                                                        let largoArray = parseInt(proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda.length) 
                                                        var resHorasSim = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda[largoArray-1].horasSim
                                                        var resRevisionHorasSim = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda[largoArray-1].revisionHorasSim
                                                        
                                                        if (i == 0) {
                                                            arrResHorasSim.push(pathToMongoDBOtInfoSim4Segunda.horasSim)
                                                            arrResRevisionHorasSim.push(pathToMongoDBOtInfoSim4Segunda.revisionHorasSim)
                                                        }
                                                        else if (i >= 1 && pathToMongoDBOtInfoSim4Segunda.revisionHorasSim != proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda[i-1].revisionHorasSim) {
                                                            arrResHorasSim.push(pathToMongoDBOtInfoSim4Segunda.horasSim)
                                                            arrResRevisionHorasSim.push(pathToMongoDBOtInfoSim4Segunda.revisionHorasSim)
                                                        }                                                        
                                                        arrResCreadorHorasSim.push(pathToMongoDBOtInfoSim4Segunda.creator[0].username)
                                                        arrResModificadorHorasSim.push(pathToMongoDBOtInfoSim4Segunda.modificator[0].username)
                                                        arrResFechaHorasSim.push(pathToMongoDBOtInfoSim4Segunda.timestamp)
                                                        arrResFechaModHorasSim.push(pathToMongoDBOtInfoSim4Segunda.modifiedOn)
                                                        valueArrayResHorasSim = parseInt(arrResHorasSim.length-1)
                                                                                         
                                                    } else {
                                                        var resHorasSim = 0
                                                        var resRevisionHorasSim = 0
                                                    }
                                                }
                                                
                                                if (arrResHorasSim.length == 1 ) {
                                                    var siguienteDisabled = "disabled"
                                                    var anteriorDisabled = "disabled"
                                                } else if (arrResHorasSim.length == arrResRevisionHorasSim.length) {
                                                    var anteriorDisabled = ""
                                                    var siguienteDisabled = "disabled"
                                                } else {
                                                    var anteriorDisabled = ""
                                                    var siguienteDisabled = "disabled"
                                                }
                                                
                                            } else {
                                                var anteriorDisabled = "disabled"
                                                var siguienteDisabled = "disabled"
                                                var resHorasSim = 0
                                                var resRevisionHorasSim = 0
                                                arrResHorasSim.push(resHorasSim)
                                                arrResRevisionHorasSim.push(resRevisionHorasSim)
                                                valueArrayResHorasSim = 0
                                        } %>
                                    
                                        <div id="btnAnteriorSiguiente4SegundaSim<%=k%>_<%=n%>_<%=q%>">
                                            <button id="btnAnterior4SegundaSim<%=k%>_<%=n%>_<%=q%>"
                                                name="btnAnterior4SegundaSim"
                                                value="<%=k%>_<%=n%>_<%=q%>"
                                                class="btn btn-light btn-sm me-2"
                                                title="Ver anterior"
                                                type="button"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                <%= anteriorDisabled %>
                                                >
                                                    <i class="fa-solid fa-arrow-left"></i>
                                            </button>
                                            <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResHorasSim %>">
                                            <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResHorasSim %>">
                                            <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionHorasSim %>">
                                            <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResCreadorHorasSim %>">
                                            <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResModificadorHorasSim %>">
                                            <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaHorasSim %>">
                                            <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResFechaModHorasSim %>">
            
                                            <span id="resHorasSim<%=k%>_<%=n%>_<%=q%>"
                                                name="resHorasSim"
                                                class="text-black mx-2"
                                                style="font-size: .9rem;"
                                                valueCreador=""
                                                valueFecha=""
                                                valueModificador=""
                                                valueFechaMod="">
                                                <%= resHorasSim %>
                                            </span>
                                            |
                                            <span id="resRevisionHorasSim<%=k%>_<%=n%>_<%=q%>"
                                                name="resRevisionHorasSim"
                                                class="badge text-dark my-2"
                                                style="cursor: help;"
                                                valueRevision=""
                                                valueCreador=""
                                                valueFecha=""
                                                valueModificador=""
                                                valueFechaMod="">
                                                <%= resRevisionHorasSim %>
                                            </span>
            
                                            <button id="btnSiguiente4SegundaSim<%=k%>_<%=n%>_<%=q%>"
                                                name="btnSiguiente4SegundaSim"
                                                value="<%=k%>_<%=n%>_<%=q%>"
                                                class="btn btn-light btn-sm ms-2"
                                                title="Ver siguiente"
                                                type="button"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                <%= siguienteDisabled %>
                                                >
                                                    <i class="fa-solid fa-arrow-right"></i>
                                            </button>
                                        </div>
                                </td>
                            <% }
                        } %>
                        
                    </tr>
                <% } else { %>
                    <tr class="pe-none" name="rowSelected<%=k%>_<%=n%>" style="height: 7vh; background-color: #dedede;">
                        <% for (let q = 33; totalColDataSim4Segunda > q; q++) {
                            if (q==33) { %>
                                <!-- Mat Ensayo data Inactivo -->
                                <td class="text-center align-middle">
                                    <% if (proyecto[m].project[j].oci[k].otProject[n].otInformation.length > 0 &&
                                        proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda.length > 0) {
                                    
                                            for (let i = 0; proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda.length > i; i++) {
                                                if (proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda) {
                                                    let largoArray = parseInt(proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda.length) 
                                                    var resInforme4Sim = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda[largoArray-1].informeSim4
                                                    var resRevisionInforme4Sim = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda[largoArray-1].revisionInformeSim4
                                                    
                                                    if (i == 0) {
                                                        arrResInforme4Sim.push(pathToMongoDBOtInfoSim4Segunda.informeSim4)
                                                        arrResRevisionInforme4Sim.push(pathToMongoDBOtInfoSim4Segunda.revisionInformeSim4)
                                                    }
                                                    else if (i >= 1 && pathToMongoDBOtInfoSim4Segunda.revisionInformeSim4 != proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda[i-1].revisionInformeSim4) {
                                                        arrResInforme4Sim.push(pathToMongoDBOtInfoSim4Segunda.informeSim4)
                                                        arrResRevisionInforme4Sim.push(pathToMongoDBOtInfoSim4Segunda.revisionInformeSim4)
                                                    }
                                                    valueArrayRes1Sim = parseInt(arrResInforme4Sim.length-1)
                                                                                                
                                                } else {
                                                    var resInforme4Sim = 'S/D'
                                                    var resRevisionInforme4Sim = 0
                                                }
                                            }
                                            var resInforme4Sim = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda[0].informeSim4
                                    } else {
                                        var resInforme4Sim = "S/D"
                                        var resRevisionInforme4Sim = 0
                                        arrResInforme4Sim.push(resInforme4Sim)
                                        arrResRevisionInforme4Sim.push(resRevisionInforme4Sim)
                                    } %>
                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResInforme4Sim %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayRes1Sim %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionInforme4Sim %>">
                                    
                                    <% switch (resInforme4Sim) { 
                                        case "ok": { %>
                                                <span id="resInforme4Sim<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-success text-white my-2" >
                                                    OK
                                                </span>
                                                |
                                                <span id="resRevisionInforme4Sim<%=k%>_<%=n%>_<%=q%>"class="badge text-dark my-2" >
                                                    <%= resRevisionInforme4Sim %>
                                                </span>
                                        <% break; }        
                                        case "noOk": { %>
                                                <span id="resInforme4Sim<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-danger text-white my-2">
                                                    No OK
                                                </span>
                                                |
                                                <span id="resRevisionInforme4Sim<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2" >
                                                    <%= resRevisionInforme4Sim %>
                                                </span>
                                        <% break; }        
                                        case "pendiente": { %>
                                                <span id="resInforme4Sim<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-warning text-dark my-2">
                                                    Pendiente
                                                </span>
                                                |
                                                <span id="resRevisionInforme4Sim<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2" >
                                                    <%= resRevisionInforme4Sim %>
                                                </span>
                                        <% break; }
                                        case "noAplica": { %>
                                                <span id="resInforme4Sim<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-info text-white my-2">
                                                    N/A
                                                </span>
                                                |
                                                <span id="resRevisionInforme4Sim<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2" >
                                                    <%= resRevisionInforme4Sim %>
                                                </span>
                                        <% break; }
                                        default: { %>
                                                <span id="resInforme4Sim<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-secondary text-dark my-2">
                                                    S/D
                                                </span>
                                                |
                                                <span id="resRevisionInforme4Sim<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2" >
                                                    <%= resRevisionInforme4Sim %>
                                                </span>
                                        <% break; }
                                    } %>
                                </td>

                            <% } else if (q==34) { %>
                                <!-- GeoCopiado1 data Inactivo -->
                                <td class="text-center align-middle">
                                    <% if (proyecto[m].project[j].oci[k].otProject[n].otInformation.length > 0 &&
                                        proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda.length > 0) {
                                    
                                            for (let i = 0; proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda.length > i; i++) {
                                                if (proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda) {
                                                    let largoArray = parseInt(proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda.length) 
                                                    var resGeo1Copiado = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda[largoArray-1].geoCopiado1
                                                    var resRevisionGeo1Copiado = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda[largoArray-1].revisionGeoCopiado1
                                                    
                                                    if (i == 0) {
                                                        arrResGeo1Copiado.push(pathToMongoDBOtInfoSim4Segunda.geoCopiado1)
                                                        arrResRevisionGeo1Copiado.push(pathToMongoDBOtInfoSim4Segunda.revisionGeoCopiado1)
                                                    }
                                                    else if (i >= 1 && pathToMongoDBOtInfoSim4Segunda.revisionGeoCopiado1 != proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda[i-1].revisionGeoCopiado1) {
                                                        arrResGeo1Copiado.push(pathToMongoDBOtInfoSim4Segunda.geoCopiado1)
                                                        arrResRevisionGeo1Copiado.push(pathToMongoDBOtInfoSim4Segunda.revisionGeoCopiado1)
                                                    }
                                                    valueArrayResGeo1Copiado = parseInt(arrResGeo1Copiado.length-1)
                                                                                                
                                                } else {
                                                    var resGeo1Copiado = 'S/D'
                                                    var resRevisionGeo1Copiado = 0
                                                }
                                            }

                                            var resGeo1Copiado = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda[0].geoCopiado1
                                   
                                    } else {
                                        var resGeo1Copiado = "S/D"
                                        var resRevisionGeo1Copiado = 0
                                        arrResGeo1Copiado.push(resGeo1Copiado)
                                        arrResRevisionGeo1Copiado.push(resRevisionGeo1Copiado)
                                    } %>

                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResGeo1Copiado %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResGeo1Copiado %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionGeo1Copiado %>">

                                    <% switch (resGeo1Copiado) { 
                                        case "ok": { %>
                                            <span id="resGeo1Copiado<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-success text-white my-2">
                                                OK
                                            </span>
                                            |
                                            <span id="resRevisionGeo1Copiado<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2" >
                                                <%= resRevisionGeo1Copiado %>
                                            </span>
                                        <% break; }        
                                        case "noOk": { %>
                                                <span id="resGeo1Copiado<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-danger text-white my-2">
                                                    No OK
                                                </span>
                                                |
                                                <span id="resRevisionGeo1Copiado<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2" >
                                                    <%= resRevisionGeo1Copiado %>
                                                </span>
                                        <% break; }        
                                        case "pendiente": { %>
                                                <span id="resGeo1Copiado<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-warning text-dark my-2">
                                                    Pendiente
                                                </span>
                                                |
                                                <span id="resRevisionGeo1Copiado<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2" >
                                                    <%= resRevisionGeo1Copiado %>
                                                </span>
                                        <% break; }
                                        case "noAplica": { %>
                                                <span id="resGeo1Copiado<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-info text-withe my-2">
                                                    N/A
                                                </span>
                                                |
                                                <span id="resRevisionGeo1Copiado<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2" >
                                                    <%= resRevisionGeo1Copiado %>
                                                </span>
                                        <% break; }
                                        default: { %>
                                                <span id="resGeo1Copiado<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-secondary text-dark my-2">
                                                    S/D
                                                </span>
                                                |
                                                <span id="resRevisionGeo1Copiado<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2" >
                                                    <%= resRevisionGeo1Copiado %>
                                                </span>
                                        <% break; }
                                    } %>
                                </td>

                            <% } else if (q==35) { %>
                                <!--GeoCopiado2 data Inactivo -->
                                <td class="text-center align-middle">
                                    <% if (proyecto[m].project[j].oci[k].otProject[n].otInformation.length > 0 &&
                                        proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda.length > 0) {
                                    
                                            for (let i = 0; proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda.length > i; i++) {
                                                if (proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda) {
                                                    let largoArray = parseInt(proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda.length) 
                                                    var resGeo2Copiado = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda[largoArray-1].geoCopiado2
                                                    var resRevisionGeo2Copiado = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda[largoArray-1].revisionGeoCopiado2
                                                    
                                                    if (i == 0) {
                                                        arrResGeo2Copiado.push(pathToMongoDBOtInfoSim4Segunda.geoCopiado2)
                                                        arrResRevisionGeo2Copiado.push(pathToMongoDBOtInfoSim4Segunda.revisionGeoCopiado2)
                                                    }
                                                    else if (i >= 1 && pathToMongoDBOtInfoSim4Segunda.revisionGeoCopiado2 != proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda[i-1].revisionGeoCopiado2) {
                                                        arrResGeo2Copiado.push(pathToMongoDBOtInfoSim4Segunda.geoCopiado2)
                                                        arrResRevisionGeo2Copiado.push(pathToMongoDBOtInfoSim4Segunda.revisionGeoCopiado2)
                                                    }
                                                    valueArrayResGeo2Copiado = parseInt(arrResGeo2Copiado.length-1)
                                                                                                
                                                } else {
                                                    var resGeo2Copiado = 'S/D'
                                                    var resRevisionGeo2Copiado = 0
                                                }
                                            }

                                            var resGeo2Copiado = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda[0].geoCopiado2
                                    
                                    } else {
                                        var resGeo2Copiado = "S/D"
                                        var resRevisionGeo2Copiado = 0
                                        arrResGeo2Copiado.push(resGeo2Copiado)
                                        arrResRevisionGeo2Copiado.push(resRevisionGeo2Copiado)
                                    } %>

                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResGeo2Copiado %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResGeo2Copiado %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionGeo2Copiado %>">

                                    <% switch (resGeo2Copiado) { 
                                        case "ok": { %>
                                            <span id="resGeo2Copiado<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-success text-white my-2">
                                                OK
                                            </span>
                                            |
                                            <span id="resRevisionGeo2Copiado<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2" >
                                                <%= resRevisionGeo2Copiado %>
                                            </span>
                                        <% break; }        
                                        case "noOk": { %>
                                                <span id="resGeo2Copiado<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-danger text-white my-2">
                                                    No OK
                                                </span>
                                                |
                                                <span id="resRevisionGeo2Copiado<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2" >
                                                    <%= resRevisionGeo2Copiado %>
                                                </span>
                                        <% break; }        
                                        case "pendiente": { %>
                                                <span id="resGeo2Copiado<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-warning text-dark my-2">
                                                    Pendiente
                                                </span>
                                                |
                                                <span id="resRevisionGeo2Copiado<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2" >
                                                    <%= resRevisionGeo2Copiado %>
                                                </span>
                                        <% break; }
                                        case "noAplica": { %>
                                                <span id="resGeo2Copiado<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-info text-withe my-2">
                                                    N/A
                                                </span>
                                                |
                                                <span id="resRevisionGeo2Copiado<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2" >
                                                    <%= resRevisionGeo2Copiado %>
                                                </span>
                                        <% break; }
                                        default: { %>
                                                <span id="resGeo2Copiado<%=k%>_<%=n%>_<%=q%>" class="badge rounded-pill bg-secondary text-dark my-2">
                                                    S/D
                                                </span>
                                                |
                                                <span id="resRevisionGeo2Copiado<%=k%>_<%=n%>_<%=q%>" class="badge text-dark my-2" >
                                                    <%= resRevisionGeo2Copiado %>
                                                </span>
                                        <% break; }
                                    } %>
                                </td>

                            <% } else { %>
                                <!-- HorasSim data Inactivo -->
                                <td class="text-center align-middle">
                                    <% if (proyecto[m].project[j].oci[k].otProject[n].otInformation.length > 0 &&
                                        proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda.length > 0) {
                                    
                                            for (let i = 0; proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda.length > i; i++) {
                                                if (proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda) {
                                                    let largoArray = parseInt(proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda.length) 
                                                    var resHorasSim = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda[largoArray-1].horasSim
                                                    var resRevisionHorasSim = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda[largoArray-1].revisionHorasSim
                                                    
                                                    if (i == 0) {
                                                        arrResHorasSim.push(pathToMongoDBOtInfoSim4Segunda.horasSim)
                                                        arrResRevisionHorasSim.push(pathToMongoDBOtInfoSim4Segunda.revisionHorasSim)
                                                    }
                                                    else if (i >= 1 && pathToMongoDBOtInfoSim4Segunda.revisionHorasSim != proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda[i-1].revisionHorasSim) {
                                                        arrResHorasSim.push(pathToMongoDBOtInfoSim4Segunda.horasSim)
                                                        arrResRevisionHorasSim.push(pathToMongoDBOtInfoSim4Segunda.revisionHorasSim)
                                                    }
                                                    valueArrayResHorasSim = parseInt(arrResHorasSim.length-1)
                                                                                                
                                                } else {
                                                    var resHorasSim = 0
                                                    var resRevisionHorasSim = 0
                                                }
                                            }

                                            var resHorasSim = proyecto[m].project[j].oci[k].otProject[n].otInformation[0].otInfoSim4Segunda[0].horasSim
                                    
                                    } else {
                                        var resHorasSim = 0
                                        var resRevisionHorasSim = 0
                                        arrResHorasSim.push(resHorasSim)
                                        arrResRevisionHorasSim.push(resRevisionHorasSim)
                                    } %>

                                    <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResHorasSim %>">
                                    <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=q%>" value="<%= valueArrayResHorasSim %>">
                                    <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=q%>" value="<%= arrResRevisionHorasSim %>">

                                    <span id="resHorasSim<%=k%>_<%=n%>_<%=q%>"
                                        name="resHorasSim"
                                        class="text-black mx-2"
                                        style="font-size: .9rem;"
                                        valueCreador=""
                                        valueFecha=""
                                        valueModificador=""
                                        valueFechaMod="">
                                        <%= resHorasSim %>
                                    </span>
                                    |
                                    <span id="resRevisionHorasSim<%=k%>_<%=n%>_<%=q%>"
                                        name="resRevisionHorasSim"
                                        class="badge text-dark my-2"
                                        style="cursor: help;"
                                        valueRevision=""
                                        valueCreador=""
                                        valueFecha=""
                                        valueModificador=""
                                        valueFechaMod="">
                                        <%= resRevisionHorasSim %>
                                    </span>
                                </td>

                            <% }
                        } %>
                    </tr>
                <% }
            }
        } %>
    </tbody>
</table>