<div class="dashboard-main-wrapper p-0">
    <div class="bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="error-section">
                        <img src="/src/images/error-500-internal-server.png" alt="Server Error 500" class="img-fluid">
                        <div class="error-section-content">
                            <h1 class="display-3">Internal Server Error 500</h1>
                            <h5>Lo siento, hubo un error interno en el servidor.</h5>
                            <h6>Comunique este error al administrador: <b><%= error %></b></h6>
                            <p>------------------------------------------------------------</p>
                            <p>File Path: <%= errorInfo.errorFilePath %></p>
                            <p>Function: <strong><%= errorInfo.errorFunction %></strong> - Line: <%= errorInfo.errorNumber %></p>
                            <p>Status: <%= errorInfo.status %> - Mensaje: <strong><%= errorInfo.msg %></strong></p>
                            <a href="/api/auth/index" class="btn btn-danger mt-3">Volver al Home <i class="icon-home"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>