<!-- tabla Mecanizado Primera -->
<table id="tablaOtMecanizadoPrimera<%=k%>" class="table-responsive align-middle col-5 border-end border-dark" style="font-size: 10pt; width: 100%">
    <thead class="align-middle" style="background-color: #d8d8eb">
        <tr>
            <th colspan="4" class="text-center">MECANIZADO (1° Parte)
                <% if (userInfo.admin || userInfo.area === 'fabricacion') { %>
                    <button id="posBtnAddDataOtMecanizadoPrimera<%=k%>" type="button" name="btnOtMecanizadoPrimera" class="btn btn-small btn-success shadow m-1 me-5 position-relative" style="--bs-btn-font-size: .6rem; color: var(--bs-white);" title="Agregar/Modificar Datos" value="<%=k%>">
                        <i class="fa-solid fa-pencil fa-lg" aria-hidden="true"></i>
                        <span id="spanCheckSelecMasiveMecaPrima<%=k%>" class="position-absolute top-100 start-100 translate-middle badge rounded-pill bg-danger">
                            0
                            <span class="visually-hidden">Elementos seleccionados</span>
                        </span>
                    </button>
                <% } else { %>
                    <button type="button" class="btn btn-small btn-danger shadow m-1 me-5 disabled" style="--bs-btn-font-size: .6rem; color: var(--bs-white);">
                        <i class="fa-solid fa-ban fa-lg" aria-hidden="true"></i>                                                    
                    </button>
                <% } %>
                <i class="fa-solid fa-arrows-spin fa-lg" style="color: #b09b12;"></i> En Proceso -
                <i class="fa-solid fa-circle-check fa-lg" style="color: #008f30;"></i> Terminado -
                <i class="fa-solid fa-circle-xmark fa-lg" style="color: #c40000;"></i> Suspendido -
                <i class="fa-solid fa-ban fa-lg"></i> No Aplica -
                <span class="badge rounded-pill bg-secondary text-white">S/D</span> Sin Datos
            </th>
        </tr>
        <tr>
            <th id="colData0" style="width:33vw" scope="col-1" class="text-center pb-1">F0 | Estado | Rev</th>
            <th id="colData1" style="width:33vw" scope="col-1" class="text-center pb-1">F1 | Estado | Rev</th>
            <th id="colData2" style="width:33vw" scope="col-1" class="text-center pb-1">F2 | Estado | Rev</th>
            
        </tr>
    </thead>
    <tbody class="table-group-divider">
        
        <%let anteriorDisabled = "disabled", siguienteDisabled = "disabled",
            resDatoFCero = 'S/D', resEstadoFCero = 'S/D', resRevisionFCero = 0,
            resDatoFUno = 'S/D', resEstadoFUno = 'S/D', resRevisionFUno = 0,
            resDatoFDos = 'S/D', resEstadoFDos = 'S/D', resRevisionFDos = 0;

            const mecanizadoPrimeraConfig = {
                enProceso: { icon: "fa-arrows-spin", iconColor: "color:#b09b12" },
                terminado: { icon: "fa-circle-check", iconColor: "color:#008f30" },
                suspendido: { icon: "fa-circle-xmark", iconColor: "color:#c40000" },
                noAplica: { icon: "fa-ban", iconColor: "color:#000000" },
                default: { icon: "fa-triangle-exclamation", iconColor: "color:#1c21ac" }
            };

        proyecto[m].project[j].oci[k].otProject.forEach((ot, n) => {
            let pathMongoOtProject = proyecto[m].project[j].oci[k].otProject,
            pathMongoOtDetalles = pathMongoOtProject[n].otDetalles,
            largoArrayOtDetalles = parseInt(pathMongoOtDetalles.length)

            for ( let o=0; largoArrayOtDetalles> o; o++) {
                let pathToMongoOtMecanizadoPrimera = pathMongoOtDetalles[o].otMecanizadoPrimera || [];
                let largoArrayMecanizado = parseInt(pathToMongoOtMecanizadoPrimera.length);

                let arrResDatoFCero = [], arrResEstadoFCero = [], valueArrayResFCero = 0, arrResRevisionFCero = [],
                arrResCreadorFCero = [], arrResModificadorFCero = [], arrResFechaFCero = [], arrResFechaModFCero = [];

                let arrResDatoFUno = [], arrResEstadoFUno = [], valueArrayResFUno = 0, arrResRevisionFUno = [],
                arrResCreadorFUno = [], arrResModificadorFUno = [], arrResFechaFUno = [], arrResFechaModFUno = [];

                let arrResDatoFDos = [], arrResEstadoFDos = [], valueArrayResFDos = 0, arrResRevisionFDos = [],
                arrResCreadorFDos = [], arrResModificadorFDos = [], arrResFechaFDos = [], arrResFechaModFDos = [];

                if (pathMongoOtProject[n].visible && pathMongoOtDetalles[o].visible) {
                    if (pathMongoOtProject[n].otStatus && pathMongoOtDetalles[o].statusDetalle) { %>
                        <!--Activo-->
                        <tr name="rowSelected<%=k%>_<%=n%>_<%=o%>" class="border-bottom" style="height: 5vh;">
                            <% for (let q = 10; totalColDataMecanizadoPrimera > q; q++) {
                                if (q==10) { %>
                                    <!--Fase 0 data Activo--> 
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtDetalles > 0 && largoArrayMecanizado > 0) {
                                                    
                                            for (let i = 0; largoArrayMecanizado > i; i++) {
                                                if (pathToMongoOtMecanizadoPrimera[i]) {
                                                    let largoArray = parseInt(largoArrayMecanizado)
                                                    resDatoFCero = pathToMongoOtMecanizadoPrimera[largoArray-1].fCero || "S/D"
                                                    resEstadoFCero = pathToMongoOtMecanizadoPrimera[largoArray-1].estadoFCero
                                                    resRevisionFCero = pathToMongoOtMecanizadoPrimera[largoArray-1].revisionFCero
                                                    
                                                    arrResDatoFCero.push(pathToMongoOtMecanizado[i].fCero)
                                                    arrResEstadoFCero.push(pathToMongoOtMecanizado[i].estadoFCero)
                                                    arrResRevisionFCero.push(pathToMongoOtMecanizado[i].revisionFCero)
                                                
                                                    arrResCreadorFCero.push(pathToMongoOtMecanizado[i].creator[0].username)
                                                    arrResModificadorFCero.push(pathToMongoOtMecanizado[i].modificator[0].username)
                                                    arrResFechaOtFCero.push(pathToMongoOtMecanizado[i].timestamp)
                                                    arrResFechaModFCero.push(pathToMongoOtMecanizado[i].modifiedOn)
                                                    
                                                } else {
                                                    resDatoFCero = 'S/D'
                                                    resEstadoFCero = 'S/D'
                                                    resRevisionFCero = 0
                                                }
                                            }
                                            valueArrayResFCero = parseInt(arrResDatoFCero.length-1)

                                            if (arrResDatoFCero.length == 1 ) {
                                                anteriorDisabled = "disabled"
                                                siguienteDisabled = "disabled"
                                            } else if (arrResDatoFCero.length == arrResRevisionFCero.length) {
                                                anteriorDisabled = ""
                                                siguienteDisabled = "disabled"
                                            } else {
                                                anteriorDisabled = ""
                                                siguienteDisabled = "disabled"
                                            }
                                                    
                                        } else {
                                            anteriorDisabled = "disabled"
                                            siguienteDisabled = "disabled"
                                            resDatoFCero = 'S/D'
                                            resEstadoFCero = "S/D"
                                            resRevisionFCero = 0
                                            arrResDatoFCero.push(resDatoFCero)
                                            arrResEstadoFCero.push(resEstadoFCero)
                                            arrResRevisionFCero.push(resRevisionFCero)
                                            valueArrayResFCero = 0

                                            arrResCreadorFCero.push(pathMongoOtDetalles[o].creator[0].username)
                                            arrResModificadorFCero = ""
                                            arrResFechaFCero.push(pathMongoOtDetalles[o].timestamp)
                                            arrResFechaModFCero = ""
                                        } %>
                                        
                                            <div id="btnAnteriorSiguienteFCero<%=k%>_<%=n%>_<%=o%>_<%=q%>">
                                                <button id="btnAnteriorFCero<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="btnAnteriorFCero" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                    <%= anteriorDisabled %>
                                                    ><i class="fa-solid fa-arrow-left"></i>
                                                </button>
                                                <input type="hidden" id="resDatoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResDatoFCero %>">
                                                <input type="hidden" id="resEstadoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResEstadoFCero %>">
                                                <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResFCero %>">
                                                <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionFCero %>">
                                                <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResCreadorFCero %>">
                                                <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResModificadorFCero %>">
                                                <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaFCero %>">
                                                <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaModFCero %>">

                                                <span id="resDatoFCero<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge bg-light text-dark my-2">
                                                    <%= resDatoFCero %>
                                                </span> |

                                                <% const config = mecanizadoPrimeraConfig[resEstadoFCero] || mecanizadoPrimeraConfig.default; %>
                                                <span id="resEstadoFCero<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%=resEstadoFCero%>">
                                                    <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                                </span> |

                                                <span id="resRevisionFCero<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="resRevisionFCero" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                                    <%= resRevisionFCero %>
                                                </span>

                                                <button id="btnSiguienteFCero<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="btnSiguienteFCero" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;" <%= siguienteDisabled %>
                                                    ><i class="fa-solid fa-arrow-right"></i>
                                                </button>
                                            </div>
                                    </td>

                                <% } else if (q==11) { %>
                                    <!-- Fase 1 data Activo-->
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtDetalles > 0 && largoArrayMecanizado > 0) {

                                            for (let i = 0; largoArrayMecanizado > i; i++) {
                                                if (pathToMongoOtMecanizadoPrimera[i]) {
                                                    let largoArray = parseInt(largoArrayMecanizado)
                                                    resDatoFUno = pathToMongoOtMecanizadoPrimera[largoArray-1].fUno
                                                    resEstadoFUno = pathToMongoOtMecanizadoPrimera[largoArray-1].estadoFUno
                                                    resRevisionFUno = pathToMongoOtMecanizadoPrimera[largoArray-1].revisionFUno
                                                    
                                                    arrResDatoFUno.push(pathToMongoOtMecanizado[i].fUno)
                                                    arrResEstadoFUno.push(pathToMongoOtMecanizado[i].estadoFUno)
                                                    arrResRevisionFUno.push(pathToMongoOtMecanizado[i].revisionFUno)
                                                
                                                    arrResCreadorFUno.push(pathToMongoOtMecanizado[i].creator[0].username)
                                                    arrResModificadorFUno.push(pathToMongoOtMecanizado[i].modificator[0].username)
                                                    arrResFechaFUno.push(pathToMongoOtMecanizado[i].timestamp)
                                                    arrResFechaModFUno.push(pathToMongoOtMecanizado[i].modifiedOn)
                                                    
                                                } else {
                                                    resDatoFUno = 'S/D'
                                                    resEstadoFUno = 'S/D'
                                                    resRevisionFUno = 0
                                                }
                                            }
                                            valueArrayResFUno = parseInt(arrResDatoFUno.length-1)
                                                    
                                            if (arrResDatoFUno.length == 1 ) {
                                                anteriorDisabled = "disabled"
                                                siguienteDisabled = "disabled"
                                            } else if (arrResDatoFUno.length == arrResRevisionFUno.length) {
                                                anteriorDisabled = ""
                                                siguienteDisabled = "disabled"
                                            } else {
                                                anteriorDisabled = ""
                                                siguienteDisabled = "disabled"
                                            }
                                                    
                                        } else {
                                            anteriorDisabled = "disabled"
                                            siguienteDisabled = "disabled"
                                            resDatoFUno = "S/D"
                                            resEstadoFUno = "S/D"
                                            resRevisionFUno = 0
                                            arrResDatoFUno.push(resDatoFUno)
                                            arrResEstadoFUno.push(resEstadoFUno)
                                            arrResRevisionFUno.push(resRevisionFUno)
                                            valueArrayResFUno = 0

                                            arrResCreadorFUno.push(pathMongoOtDetalles[o].creator[0].username)
                                            arrResModificadorFUno = ""
                                            arrResFechaFUno.push(pathMongoOtDetalles[o].timestamp)
                                            arrResFechaModFUno = ""
                                        } %>
                                        
                                            <div id="btnAnteriorSiguienteFUno<%=k%>_<%=n%>_<%=o%>_<%=q%>">
                                                <button id="btnAnteriorFUno<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="btnAnteriorFUno" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                    <%= anteriorDisabled %>
                                                    ><i class="fa-solid fa-arrow-left"></i>
                                                </button>
                                                <input type="hidden" id="resDatoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResDatoFUno %>">
                                                <input type="hidden" id="resEstadoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResEstadoFUno %>">
                                                <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResFUno %>">
                                                <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionFUno %>">
                                                <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResCreadorFUno %>">
                                                <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResModificadorFUno %>">
                                                <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaFUno %>">
                                                <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaModFUno %>">

                                                <span id="resDatoFUno<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge bg-light text-dark my-2">
                                                    <%= resDatoFUno %>
                                                </span> |

                                                <% const config = mecanizadoPrimeraConfig[resEstadoFUno] || mecanizadoPrimeraConfig.default; %>
                                                <span id="resEstadoFUno<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%=resEstadoFUno%>">
                                                    <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                                </span> |

                                                <span id="resRevisionFUno<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="resRevisionFUno" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                                    <%= resRevisionFUno %>
                                                </span>

                                                <button id="btnSiguienteFUno<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="btnSiguienteFUno" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                    <%= siguienteDisabled %>
                                                    ><i class="fa-solid fa-arrow-right"></i>
                                                </button>
                                            </div>
                                    </td>

                                <% } else { %>
                                    <!-- Fase 2 data Activo-->
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtDetalles > 0 && largoArrayMecanizado > 0) {

                                            for (let i = 0; largoArrayMecanizado > i; i++) {
                                                if (pathToMongoOtMecanizadoPrimera[i]) {
                                                    let largoArray = parseInt(largoArrayMecanizado)
                                                    resDatoFDos = pathToMongoOtMecanizadoPrimera[largoArray-1].fDos || 'sinDato'
                                                    resEstadoFDos = pathToMongoOtMecanizadoPrimera[largoArray-1].estadoFDos || 'sinDato'
                                                    resRevisionFDos = pathToMongoOtMecanizadoPrimera[largoArray-1].revisionFDos
                                                    
                                                    arrResDatoFDos.push(pathToMongoOtMecanizado[i].fDos)
                                                    arrResEstadoFDos.push(pathToMongoOtMecanizado[i].estadoFDos)
                                                    arrResRevisionFDos.push(pathToMongoOtMecanizado[i].revisionFDos)
                                                
                                                    arrResCreadorFDos.push(pathToMongoOtMecanizado[i].creator[0].username)
                                                    arrResModificadorFDos.push(pathToMongoOtMecanizado[i].modificator[0].username)
                                                    arrResFechaFDos.push(pathToMongoOtMecanizado[i].timestamp)
                                                    arrResFechaModFDos.push(pathToMongoOtMecanizado[i].modifiedOn)
                                                        
                                                } else {
                                                    resDatoFDos = 'S/D'
                                                    resEstadoFDos = 'S/D'
                                                    resRevisionFDos = 0
                                                }
                                            }
                                            valueArrayResFDos = parseInt(arrResDatoFDos.length-1)
                                                    
                                            if (arrResDatoFDos.length == 1 ) {
                                                siguienteDisabled = "disabled"
                                                anteriorDisabled = "disabled"
                                            } else if (arrResDatoFDos.length == arrResRevisionFDos.length) {
                                                anteriorDisabled = ""
                                                siguienteDisabled = "disabled"
                                            } else {
                                                anteriorDisabled = ""
                                                siguienteDisabled = "disabled"
                                            }
                                                
                                        } else {
                                            anteriorDisabled = "disabled"
                                            siguienteDisabled = "disabled"
                                            resDatoFDos = "S/D"
                                            resEstadoFDos = "S/D"
                                            resRevisionFDos = 0
                                            arrResDatoFDos.push(resDatoFDos)
                                            arrResEstadoFDos.push(resEstadoFDos)
                                            arrResRevisionFDos.push(resRevisionFDos)
                                            valueArrayResFDos = 0

                                            arrResCreadorFDos.push(pathMongoOtDetalles[o].creator[0].username)
                                            arrResModificadorFDos = ""
                                            arrResFechaFDos.push(pathMongoOtDetalles[o].timestamp)
                                            arrResFechaModFDos = ""
                                        } %>

                                            <div id="btnAnteriorSiguienteFDos<%=k%>_<%=n%>_<%=o%>_<%=q%>">
                                                <button id="btnAnteriorFDos<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="btnAnteriorFDos" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                    <%= anteriorDisabled %>
                                                    ><i class="fa-solid fa-arrow-left"></i>
                                                </button>
                                                <input type="hidden" id="resDatoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResDatoFDos %>">
                                                <input type="hidden" id="resEstadoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResEstadoFDos %>">
                                                <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResFDos %>">
                                                <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionFDos %>">
                                                <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResCreadorFDos %>">
                                                <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResModificadorFDos %>">
                                                <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaFDos %>">
                                                <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaModFDos %>">

                                                <span id="resDatoFDos<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge bg-light text-dark my-2">
                                                    <%= resDatoFDos %>
                                                </span> |

                                                <% const config = mecanizadoPrimeraConfig[resEstadoFDos] || mecanizadoPrimeraConfig.default; %>
                                                <span id="resEstadoFDos<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%=resEstadoFDos%>">
                                                    <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                                </span> |

                                                <span id="resRevisionFDos<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="resRevisionFDos" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                                    <%= resRevisionFDos %>
                                                </span>

                                                <button id="btnSiguienteFDos<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="btnSiguienteFDos" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                    <%= siguienteDisabled %>
                                                    ><i class="fa-solid fa-arrow-right"></i>
                                                </button>
                                            </div>
                                    </td>
                                <% }
                            } %>
                        </tr>

                    <% } else { %>
                        <!-- Inactivo -->
                        <tr name="rowSelected<%=k%>_<%=n%>_<%=o%>" class="pe-none border-bottom" style="height: 5vh; background-color: #dedede;">
                            <% for (let q = 10; totalColDataMecanizadoPrimera > q; q++) {
                                if (q==10) { %>
                                    <!-- Fase 0 data Inactivo -->
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtDetalles > 0 && largoArrayMecanizado > 0) {
                                        
                                            for (let i = 0; largoArrayMecanizado > i; i++) {
                                                if (pathToMongoOtMecanizadoPrimera[i]) {
                                                    let largoArray = parseInt(largoArrayMecanizado)
                                                    resDatoFCero = pathToMongoOtMecanizadoPrimera[largoArray-1].fCero || 'sinDato'
                                                    resEstadoFCero = pathToMongoOtMecanizadoPrimera[largoArray-1].estadoFCero || 'sinDato'
                                                    resRevisionFCero = pathToMongoOtMecanizadoPrimera[largoArray-1].revisionFCero
                                                                                                            
                                                    arrResDatoFCero.push(pathToMongoOtMecanizado[i].fCero)
                                                    arrResEstadoFCero.push(pathToMongoOtMecanizado[i].estadoFCero)
                                                    arrResRevisionFCero.push(pathToMongoOtMecanizado[i].revisionFCero)
                                                    
                                                } else {
                                                    resDatoFCero = 'S/D'
                                                    resEstadoFCero = 'S/D'
                                                    resRevisionFCero = 0
                                                }
                                            }
                                            valueArrayResFCero = parseInt(arrResDatoFCero.length-1)
                                            resDatoFCero = pathToMongoOtMecanizadoPrimera[0].FCero
                                            resEstadoFCero = pathToMongoOtMecanizadoPrimera[0].estadoFCero

                                        } else {
                                            resDatoFCero = 'S/D'
                                            resEstadoFCero = 'S/D'
                                            resRevisionFCero = 0
                                            arrResDatoFCero.push(resDatoFCero)
                                            arrResEstadoFCero.push(resEstadoFCero)
                                            arrResRevisionFCero.push(0)
                                        } %>
                                            <input type="hidden" id="resDatoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResDatoFCero %>">
                                            <input type="hidden" id="resEstadoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResEstadoFCero %>">
                                            <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResFCero %>">
                                            <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionFCero %>">
                                        
                                            <span id="resDatoFCero<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge bg-secondary text-light my-2">
                                                <%= resDatoFCero %>
                                            </span> |

                                            <% const config = mecanizadoPrimeraConfig[resEstadoFCero] || mecanizadoPrimeraConfig.default; %>
                                            <span id="resEstadoFCero<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%=resEstadoFCero%>">
                                                <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                            </span> |

                                            <span id="resRevisionFCero<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="resRevisionFCero" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                                <%= resRevisionFCero %>
                                            </span>
                                    </td>
                                <% } else if (q==11) { %>
                                    <!-- Fase 1 data Inactivo -->
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtDetalles > 0 && largoArrayMecanizado > 0) {
                                            for (let i = 0; largoArrayMecanizado > i; i++) {
                                                
                                                if (pathToMongoOtMecanizadoPrimera[i]) {
                                                    let largoArray = parseInt(largoArrayMecanizado)
                                                    resDatoFUno = pathToMongoOtMecanizadoPrimera[largoArray-1].fUno || 'sinDato'
                                                    resEstadoFUno = pathToMongoOtMecanizadoPrimera[largoArray-1].fUno || 'sinDato'
                                                    resRevisionFUno = pathToMongoOtMecanizadoPrimera[largoArray-1].revisionFUno
                                                    
                                                    arrResDatoFUno.push(pathToMongoOtMecanizado[i].fUno)
                                                    arrResEstadoFUno.push(pathToMongoOtMecanizado[i].fUno)
                                                    arrResRevisionFUno.push(pathToMongoOtMecanizado[i].revisionFUno)
                                                    
                                                } else {
                                                    resDatoFUno = 'S/D'
                                                    resEstadoFUno = 'S/D'
                                                    resRevisionFUno = 0
                                                }
                                            }
                                            valueArrayResFUno = parseInt(arrResDatoFUno.length-1)
                                            resDatoFUno = pathToMongoOtMecanizadoPrimera[0].fUno
                                            resEstadoFUno = pathToMongoOtMecanizadoPrimera[0].estadoFUno
                                    
                                        } else {
                                            resDatoFUno = "S/D"
                                            resEstadoFUno = "S/D"
                                            resRevisionFUno = 0
                                            arrResDatoFUno.push(resDatoFUno)
                                            arrResEstadoFUno.push(resEstadoFUno)
                                            arrResRevisionFUno.push(0)
                                        } %>

                                        <input type="hidden" id="resDatoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResDatoFUno %>">
                                        <input type="hidden" id="resEstadoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResEstadoFUno %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResFUno %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionFUno %>">

                                        <span id="resDatoFUno<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge bg-secondary text-light my-2">
                                            <%= resDatoFUno %>
                                        </span> |
                                        
                                        <% const config = mecanizadoPrimeraConfig[resEstadoFUno] || mecanizadoPrimeraConfig.default; %>
                                        <span id="resEstadoFUno<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%=resEstadoFUno%>">
                                            <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                        </span> |

                                        <span id="resRevisionFUno<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="resRevisionFUno" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                            <%= resRevisionFUno %>
                                        </span>
                                    </td>

                                <% } else { %>
                                    <!-- Fase 2 data Inactivo -->
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtDetalles > 0 && largoArrayMecanizado > 0) {
                                            for (let i = 0; largoArrayMecanizado > i; i++) {
                                                
                                                if (pathToMongoOtMecanizadoPrimera[i]) {
                                                    let largoArray = parseInt(largoArrayMecanizado)
                                                    resDatoFDos = pathToMongoOtMecanizadoPrimera[largoArray-1].fDos || 'sinDato'
                                                    resEstadoFDos = pathToMongoOtMecanizadoPrimera[largoArray-1].estadoFDos || 'sinDato'
                                                    resRevisionFDos = pathToMongoOtMecanizadoPrimera[largoArray-1].revisionFDos
                                                    
                                                    arrResDatoFDos.push(pathToMongoOtMecanizado[i].fDos)
                                                    arrResEstadoFDos.push(pathToMongoOtMecanizado[i].estadoFDos)
                                                    arrResRevisionFDos.push(pathToMongoOtMecanizado[i].revisionFDos)
                                                    
                                                } else {
                                                    resDatoFDos = 'S/D'
                                                    resEstadoFDos = 'S/D'
                                                    resRevisionFDos = 0
                                                }
                                            }
                                            valueArrayResFDos = parseInt(arrResDatoFDos.length-1)
                                            resDatoFDos = pathToMongoOtMecanizadoPrimera[0].fDos
                                            resEstadoFDos = pathToMongoOtMecanizadoPrimera[0].estadoFDos
                                        
                                        } else {
                                            resDatoFDos = 'S/D'
                                            resEstadoFDos = 'S/D'
                                            resRevisionFDos = 0
                                            arrResDatoFDos.push(resDatoFDos)
                                            arrResEstadoFDos.push(resEstadoFDos)
                                            arrResRevisionFDos.push(0)
                                        } %>
                                        <input type="hidden" id="resDatoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResDatoFDos %>">
                                        <input type="hidden" id="resEstadoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResEstadoFDos %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResFDos %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionFDos %>">

                                        <span id="resDatoFDos<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge bg-secondary text-light my-2">
                                            <%= resDatoFDos %>
                                        </span> |
                                        
                                        <% const config = mecanizadoPrimeraConfig[resEstadoFDos] || mecanizadoPrimeraConfig.default; %>
                                        <span id="resEstadoFDos<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%=resEstadoFDos%>">
                                            <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                        </span> |

                                        <span id="resRevisionFDos<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="resRevisionFDos" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                            <%= resRevisionFDos %>
                                        </span>
                                    </td>
                                <% }
                            } %>
                        </tr>
                    <% }
                }
            }
        }) %>
    </tbody>
</table>