<!-- tabla Programacion Segunda -->
<table id="tablaOtProgramacionSegunda<%=k%>" class="table-responsive align-middle col-5 border-end border-dark" style="font-size: 10pt; width: 100%">
    <thead class="align-middle" style="background-color: #c6c6eb">
        <tr>
            <th colspan="3" class="text-center">PROGRAMACIÓN (2° Parte)
                <button id="posBtnAddDataOtProgramacionSegunda<%=k%>" type="button" name="btnOtProgramacionSegunda" class="btn btn-small btn-success m-1 me-5" style="--bs-btn-font-size: .6rem; color: var(--bs-white);" title="Agregar/Modificar Datos" value="<%=k%>">
                    <i class="fa-solid fa-pencil fa-lg" aria-hidden="true"></i>                                                    
                </button>
                <i class="fa-solid fa-arrows-spin fa-lg" style="color: #b09b12;"></i> En Proceso -
                <i class="fa-solid fa-circle-check fa-lg" style="color: #008f30;"></i> Terminado -
                <i class="fa-solid fa-circle-xmark fa-lg" style="color: #c40000;"></i> Suspendido -
                <i class="fa-solid fa-ban fa-lg"></i> No Aplica -
                <span class="badge rounded-pill bg-secondary text-white">S/D</span> Sin Datos
            </th>
        </tr>
        <tr>
            <th id="colData0" style="width:30vw" scope="col-1" class="text-center pb-1">Programas 3d F2 | Estado | Rev.</th>
            <th id="colData1" style="width:30vw" scope="col-1" class="text-center pb-1">Programas 3d F4 | Estado | Rev.</th>
            <th id="colData3" style="width:40vw" scope="col-1" class="text-center pb-1">Notas | Rev.</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        
        <%
        let arrResDatoPrograma3d2F = []; let arrResPrograma3d2F = []; let valueArrayResPrograma3d2F = 0; let arrResRevisionPrograma3d2F = [];
        let arrResCreadorPrograma3d2F = []; let arrResModificadorPrograma3d2F = []; let arrResFechaPrograma3d2F = []; let arrResFechaModPrograma3d2F = [];

        let arrResDatoPrograma3d4F = []; let arrResPrograma3d4F = []; let valueArrayResPrograma3d4F = 0; let arrResRevisionPrograma3d4F = [];
        let arrResCreadorPrograma3d4F = []; let arrResModificadorPrograma3d4F = []; let arrResFechaPrograma3d4F = []; let arrResFechaModPrograma3d4F = [];

        let arrResDatoNotasProgramacion = []; let valueArrayResNotasProgramacion = 0; let arrResRevisionNotasProgramacion = [];
        let arrResCreadorNotasProgramacion = []; let arrResModificadorNotasProgramacion = []; let arrResFechaNotasProgramacion = []; let arrResFechaModNotasProgramacion = [];

        let anteriorDisabled = "disabled";
        let siguienteDisabled = "disabled";
        let resDatoPrograma3d2F = 'S/D'; let resEstadoPrograma3d2F = 'S/D'; let resRevisionPrograma3d2F = 0;
        let resDatoPrograma3d4F = 'S/D'; let resEstadoPrograma3d4F = 'S/D'; let resRevisionPrograma3d4F = 0;
        let resDatoNotasProgramacion = ''; let resRevisionNotasProgramacion = 0;

        proyecto[m].project[j].oci[k].otProject.forEach((ot, n) => {
            let pathMongoOtProject = proyecto[m].project[j].oci[k].otProject[n]
            let largoArrayOtDetalles = pathMongoOtProject.otDetalles.length

            for ( let o=0; largoArrayOtDetalles> o; o++) {
                let otProgramacionSegunda = proyecto[m].project[j].oci[k].otProject[n].otDetalles[o].otProgramacionSegunda || [];
                let largoArrayProgramacionSegunda = otProgramacionSegunda.length;

                if (pathMongoOtProject.visible) {
                    if (pathMongoOtProject.otStatus) { %>
                        <tr name="rowSelected<%=k%>_<%=n%>_<%=o%>" class="border-bottom" style="height: 5vh;">
                            <% for (let q = 7; totalColDataProgramacionSegunda > q; q++) {
                                if (q==7) { %>
                                    <!-- Programa3d2F data Activo--> 
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtDetalles > 0 && largoArrayProgramacionSegunda > 0) {
                                                    for (let i = 0; largoArrayProgramacionSegunda > i; i++) {
                                                        let pathToMongoDBOtProgramacion = otProgramacionSegunda[i]

                                                        if (otProgramacionSegunda) {
                                                            let largoArray = parseInt(largoArrayProgramacionSegunda)
                                                            resDatoPrograma3d2F = otProgramacionSegunda[largoArray-1].programa3d2F
                                                            resEstadoPrograma3d2F = otProgramacionSegunda[largoArray-1].estadoPrograma3d2F
                                                            resRevisionPrograma3d2F = otProgramacionSegunda[largoArray-1].revisionPrograma3d2F
                                                            
                                                            if (i == 0) {
                                                                arrResDatoPrograma3d2F.push(pathToMongoDBOtProgramacion.programa3d2F)
                                                                arrResPrograma3d2F.push(pathToMongoDBOtProgramacion.estadoPrograma3d2F)
                                                                arrResRevisionPrograma3d2F.push(pathToMongoDBOtProgramacion.revisionPrograma3d2F)
                                                            }
                                                            else if (i >= 1 && pathToMongoDBOtProgramacion.revisionPrograma3d2F != otProgramacionSegunda[i-1].revisionPrograma3d2F) {
                                                                arrResDatoPrograma3d2F.push(pathToMongoDBOtProgramacion.programa3d2F)
                                                                arrResPrograma3d2F.push(pathToMongoDBOtProgramacion.estadoPrograma3d2F)
                                                                arrResRevisionPrograma3d2F.push(pathToMongoDBOtProgramacion.revisionPrograma3d2F)
                                                            }
                                                                arrResCreadorPrograma3d2F.push(pathToMongoDBOtProgramacion.creator[0].username)
                                                                arrResModificadorPrograma3d2F.push(pathToMongoDBOtProgramacion.modificator[0].username)
                                                                arrResFechaOtPrograma3d2F.push(pathToMongoDBOtProgramacion.timestamp)
                                                                arrResFechaModPrograma3d2F.push(pathToMongoDBOtProgramacion.modifiedOn)
                                                                valueArrayResPrograma3d2F = parseInt(arrResOtProgramacion.length-1)

                                                        } else {
                                                            resDatoPrograma3d2F = 'S/D'
                                                            resEstadoPrograma3d2F = 'S/D'
                                                            resRevisionPrograma3d2F = 0
                                                        }
                                                    }

                                                    if (arrResDatoPrograma3d2F.length == 1 ) {
                                                        anteriorDisabled = "disabled"
                                                        siguienteDisabled = "disabled"
                                                    } else if (arrResDatoPrograma3d2F.length == arrResRevisionPrograma3d2F.length) {
                                                        anteriorDisabled = ""
                                                        siguienteDisabled = "disabled"
                                                    } else {
                                                        anteriorDisabled = ""
                                                        siguienteDisabled = "disabled"
                                                    }
                                                    
                                        } else {
                                            anteriorDisabled = "disabled"
                                            siguienteDisabled = "disabled"
                                            resDatoPrograma3d2F = 'S/D'
                                            resEstadoPrograma3d2F = "S/D"
                                            resRevisionPrograma3d2F = 0
                                            arrResDatoPrograma3d2F.push(resDatoPrograma3d2F)
                                            arrResPrograma3d2F.push(resEstadoPrograma3d2F)
                                            arrResRevisionPrograma3d2F.push(resRevisionPrograma3d2F)
                                            valueArrayResPrograma3d2F = 0
                                        } %>
                                        
                                            <div id="btnAnteriorSiguientePrograma3d2F<%=k%>_<%=n%>_<%=o%>_<%=q%>">
                                                <button id="btnAnteriorPrograma3d2F<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="btnAnteriorPrograma3d2F" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                    <%= anteriorDisabled %>
                                                    ><i class="fa-solid fa-arrow-left"></i>
                                                </button>
                                                <input type="hidden" id="resDatoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResDatoPrograma3d2F %>">
                                                <input type="hidden" id="resEstadoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResPrograma3d2F %>">
                                                <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResPrograma3d2F %>">
                                                <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionPrograma3d2F %>">
                                                <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResCreadorPrograma3d2F %>">
                                                <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResModificadorPrograma3d2F %>">
                                                <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaPrograma3d2F %>">
                                                <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaModPrograma3d2F %>">

                                                <span id="resDatoPrograma3d2F<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge bg-light text-dark my-2"><%= resDatoPrograma3d2F %></span> |

                                                <% let icon; let iconColor;
                                                switch (resEstadoPrograma3d2F) { 
                                                    case "enProceso": {
                                                        icon = "fa-arrows-spin"; iconColor = "#b09b12";
                                                    break; }
                                                    case "terminado": {
                                                        icon = "fa-circle-check"; iconColor = "#008f30";
                                                    break; }        
                                                    case "suspendido": {
                                                        icon = "fa-circle-xmark"; iconColor = "#c40000";
                                                    break; }
                                                    case "noAplica": {
                                                        icon = "fa-ban"; iconColor = "";
                                                    break; }
                                                    default: {
                                                        icon = ""; iconColor = ""; %>
                                                        <span id="resEstadoPrograma3d2F<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge rounded-pill bg-secondary text-white my-2">S/D</span> |
                                                    <% break; }
                                                }

                                                if (icon) { %>
                                                    <span id="resEstadoPrograma3d2F<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%=resEstadoPrograma3d2F%>">
                                                        <i class="fa-solid <%= icon %> fa-lg" style="color: <%= iconColor %>"></i>
                                                    </span> |
                                                <% } %>

                                                <span id="resRevisionPrograma3d2F<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="resRevisionPrograma3d2F" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod=""><%= resRevisionPrograma3d2F %></span>

                                                <button id="btnSiguientePrograma3d2F<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="btnSiguientePrograma3d2F" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;" <%= siguienteDisabled %>
                                                    ><i class="fa-solid fa-arrow-right"></i>
                                                </button>
                                            </div>
                                    </td>
                                <% } else if (q==8) { %>
                                    <!-- Programa3d4F data Activo-->
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtDetalles > 0 && largoArrayProgramacionSegunda > 0) {
                                                    for (let i = 0; largoArrayProgramacionSegunda > i; i++) {
                                                        let pathToMongoDBOtProgramacion = otProgramacionSegunda[i]
                                                        
                                                        if (otProgramacionSegunda) {
                                                            let largoArray = parseInt(largoArrayProgramacionSegunda)
                                                            resDatoPrograma3d4F = otProgramacionSegunda[largoArray-1].programa3d4F
                                                            resEstadoPrograma3d4F = otProgramacionSegunda[largoArray-1].estadoPrograma3d4F
                                                            resRevisionPrograma3d4F = otProgramacionSegunda[largoArray-1].revisionPrograma3d4F
                                                            
                                                            if (i == 0) {
                                                                arrResDatoPrograma3d4F.push(pathToMongoDBOtProgramacion.programa3d4F)
                                                                arrResPrograma3d4F.push(pathToMongoDBOtProgramacion.estadoPrograma3d4F)
                                                                arrResRevisionPrograma3d4F.push(pathToMongoDBOtProgramacion.revisionPrograma3d4F)
                                                            }
                                                            else if (i >= 1 && pathToMongoDBOtProgramacion.revisionPrograma3d4F != otProgramacionSegunda[i-1].revisionPrograma3d4F) {
                                                                arrResDatoPrograma3d4F.push(pathToMongoDBOtProgramacion.programa3d4F)
                                                                arrResPrograma3d4F.push(pathToMongoDBOtProgramacion.estadoPrograma3d4F)
                                                                arrResRevisionPrograma3d4F.push(pathToMongoDBOtProgramacion.revisionPrograma3d4F)
                                                            }
                                                                arrResCreadorPrograma3d4F.push(pathToMongoDBOtProgramacion.creator[0].username)
                                                                arrResModificadorPrograma3d4F.push(pathToMongoDBOtProgramacion.modificator[0].username)
                                                                arrResFechaPrograma3d4F.push(pathToMongoDBOtProgramacion.timestamp)
                                                                arrResFechaModPrograma3d4F.push(pathToMongoDBOtProgramacion.modifiedOn)
                                                                valueArrayResPrograma3d4F = parseInt(arrResPrograma3d4F.length-1)
                                                                                                        
                                                        } else {
                                                            resDatoPrograma3d4F = 'S/D'
                                                            resEstadoPrograma3d4F = 'S/D'
                                                            resRevisionPrograma3d4F = 0
                                                        }
                                                    }
                                                    
                                                    if (arrResDatoPrograma3d4F.length == 1 ) {
                                                        anteriorDisabled = "disabled"
                                                        siguienteDisabled = "disabled"
                                                    } else if (arrResDatoPrograma3d4F.length == arrResRevisionPrograma3d4F.length) {
                                                        anteriorDisabled = ""
                                                        siguienteDisabled = "disabled"
                                                    } else {
                                                        anteriorDisabled = ""
                                                        siguienteDisabled = "disabled"
                                                    }
                                                    
                                                } else {
                                                    anteriorDisabled = "disabled"
                                                    siguienteDisabled = "disabled"
                                                    resDatoPrograma3d4F = "S/D"
                                                    resEstadoPrograma3d4F = "S/D"
                                                    resRevisionPrograma3d4F = 0
                                                    arrResDatoPrograma3d4F.push(resDatoPrograma3d4F)
                                                    arrResPrograma3d4F.push(resEstadoPrograma3d4F)
                                                    arrResRevisionPrograma3d4F.push(resRevisionPrograma3d4F)
                                                    valueArrayResPrograma3d4F = 0
                                            } %>
                                        
                                            <div id="btnAnteriorSiguientePrograma3d4F<%=k%>_<%=n%>_<%=o%>_<%=q%>">
                                                <button id="btnAnteriorPrograma3d4F<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="btnAnteriorPrograma3d4F" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                    <%= anteriorDisabled %>
                                                    ><i class="fa-solid fa-arrow-left"></i>
                                                </button>
                                                <input type="hidden" id="resDatoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResDatoPrograma3d4F %>">
                                                <input type="hidden" id="resEstadoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResPrograma3d4F %>">
                                                <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResPrograma3d4F %>">
                                                <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionPrograma3d4F %>">
                                                <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResCreadorPrograma3d4F %>">
                                                <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResModificadorPrograma3d4F %>">
                                                <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaPrograma3d4F %>">
                                                <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaModPrograma3d4F %>">

                                                <span id="resDatoPrograma3d4F<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge bg-light text-dark my-2"><%= resDatoPrograma3d4F %></span> |

                                                <% let icon; let iconColor;
                                                switch (resEstadoPrograma3d4F) { 
                                                    case "enProceso": {
                                                        icon = "fa-arrows-spin"; iconColor = "#b09b12";
                                                    break; }
                                                    case "terminado": {
                                                        icon = "fa-circle-check"; iconColor = "#008f30";
                                                    break; }        
                                                    case "suspendido": {
                                                        icon = "fa-circle-xmark"; iconColor = "#c40000";
                                                    break; }
                                                    case "noAplica": {
                                                        icon = "fa-ban"; iconColor = "";
                                                    break; }
                                                    default: {
                                                        icon = ""; iconColor = ""; %>
                                                        <span id="resEstadoPrograma3d4F<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge rounded-pill bg-secondary text-white my-2">S/D</span> |
                                                    <% break; }
                                                }

                                                if (icon) { %>
                                                    <span id="resEstadoPrograma3d4F<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%=resEstadoPrograma3d4F%>">
                                                        <i class="fa-solid <%= icon %> fa-lg" style="color: <%= iconColor %>"></i>
                                                    </span> |
                                                <% } %>

                                                <span id="resRevisionPrograma3d4F<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="resRevisionPrograma3d4F" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod=""><%= resRevisionPrograma3d4F %></span>

                                                <button id="btnSiguientePrograma3d4F<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="btnSiguientePrograma3d4F" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                    <%= siguienteDisabled %>
                                                    ><i class="fa-solid fa-arrow-right"></i>
                                                </button>
                                            </div>
                                    </td>
                                <% } else { %>
                                    <!-- Notas Programacion data Activo-->
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtDetalles > 0 && largoArrayProgramacionSegunda > 0) {
                                                    for (let i = 0; largoArrayProgramacionSegunda > i; i++) {
                                                        let pathToMongoDBOtProgramacion = otProgramacionSegunda[i]
                                                        
                                                        if (otProgramacionSegunda) {
                                                            let largoArray = parseInt(largoArrayProgramacionSegunda)
                                                            resDatoNotasProgramacion = otProgramacionSegunda[largoArray-1].notasProgramacion
                                                            resRevisionNotasProgramacion = otProgramacionSegunda[largoArray-1].revisionNotasProgramacion
                                                            
                                                            if (i == 0) {
                                                                arrResDatoNotasProgramacion.push(pathToMongoDBOtProgramacion.notasProgramacion)
                                                                arrResRevisionNotasProgramacion.push(pathToMongoDBOtProgramacion.revisionNotasProgramacion)
                                                            }
                                                            else if (i >= 1 && pathToMongoDBOtProgramacion.revisionNotasProgramacion != otProgramacionSegunda[i-1].revisionNotasProgramacion) {
                                                                arrResDatoNotasProgramacion.push(pathToMongoDBOtProgramacion.notasProgramacion)
                                                                arrResRevisionNotasProgramacion.push(pathToMongoDBOtProgramacion.revisionNotasProgramacion)
                                                            }
                                                                arrResCreadorNotasProgramacion.push(pathToMongoDBOtProgramacion.creator[0].username)
                                                                arrResModificadorNotasProgramacion.push(pathToMongoDBOtProgramacion.modificator[0].username)
                                                                arrResFechaNotasProgramacion.push(pathToMongoDBOtProgramacion.timestamp)
                                                                arrResFechaModNotasProgramacion.push(pathToMongoDBOtProgramacion.modifiedOn)
                                                                valueArrayResNotasProgramacion = parseInt(arrResDatoNotasProgramacion.length-1)

                                                        } else {
                                                            resDatoNotasProgramacion = ''
                                                            resRevisionNotasProgramacion = 0
                                                        }
                                                    }
                                                    
                                                    if (arrResDatoNotasProgramacion.length == 1 ) {
                                                        siguienteDisabled = "disabled"
                                                        anteriorDisabled = "disabled"
                                                    } else if (arrResDatoNotasProgramacion.length == arrResRevisionNotasProgramacion.length) {
                                                        anteriorDisabled = ""
                                                        siguienteDisabled = "disabled"
                                                    } else {
                                                        anteriorDisabled = ""
                                                        siguienteDisabled = "disabled"
                                                    }
                                                    
                                                } else {
                                                    anteriorDisabled = "disabled"
                                                    siguienteDisabled = "disabled"
                                                    resDatoNotasProgramacion = ""
                                                    resRevisionNotasProgramacion = 0
                                                    arrResDatoNotasProgramacion.push(resDatoNotasProgramacion)
                                                    arrResRevisionNotasProgramacion.push(resRevisionNotasProgramacion)
                                                    valueArrayResNotasProgramacion = 0
                                            } %>

                                            <div id="btnAnteriorSiguienteNotasProgramacion<%=k%>_<%=n%>_<%=o%>_<%=q%>">
                                                <button id="btnAnteriorNotasProgramacion<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="btnAnteriorNotasProgramacion" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                    <%= anteriorDisabled %>
                                                    ><i class="fa-solid fa-arrow-left"></i>
                                                </button>
                                                <input type="hidden" id="resDatoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResDatoNotasProgramacion %>">
                                                <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResNotasProgramacion %>">
                                                <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionNotasProgramacion %>">
                                                <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResCreadorNotasProgramacion %>">
                                                <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResModificadorNotasProgramacion %>">
                                                <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaNotasProgramacion %>">
                                                <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaModNotasProgramacion %>">

                                                <span id="resDatoNotasProgramacion<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="text-dark my-2"><%= resDatoNotasProgramacion %></span> |
                                                <span id="resRevisionNotasProgramacion<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="resRevisionNotasProgramacion" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod=""><%= resRevisionNotasProgramacion %></span>

                                                <button id="btnSiguienteNotasProgramacion<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="btnSiguienteNotasProgramacion" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                    <%= siguienteDisabled %>
                                                    ><i class="fa-solid fa-arrow-right"></i>
                                                </button>
                                            </div>
                                    </td>
                                <% }
                            } %>
                        </tr>
                    <% } else { %>
                        <tr name="rowSelected<%=k%>_<%=n%>_<%=o%>" class="pe-none border-bottom" style="height: 5vh; background-color: #dedede;">
                            <% for (let q = 4; totalColDataOtProgramacionSegunda > q; q++) {
                                if (q==7) { %>
                                    <!-- Programas 3d F2 data Inactivo -->
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtDetalles > 0 && largoArrayProgramacionSegunda > 0) {
                                        
                                                for (let i = 0; largoArrayProgramacionSegunda > i; i++) {
                                                    if (otProgramacionSegunda) {
                                                        let largoArray = parseInt(largoArrayProgramacionSegunda)
                                                        resDatoPrograma3d2F = otProgramacionSegunda[largoArray-1].programa3d2F
                                                        resEstadoPrograma3d2F = otProgramacionSegunda[largoArray-1].estadoPrograma3d2F
                                                        resRevisionPrograma3d2F = otProgramacionSegunda[largoArray-1].revisionPrograma3d2F
                                                        
                                                        if (i == 0) {
                                                            arrResDatoPrograma3d2F.push(pathToMongoDBOtProgramacion.programa3d2F)
                                                            arrResPrograma3d2F.push(pathToMongoDBOtProgramacion.Programa3d2F)
                                                            arrResRevisionPrograma3d2F.push(pathToMongoDBOtProgramacion.revisionPrograma3d2F)
                                                        }
                                                        else if (i >= 1 && pathToMongoDBOtProgramacion.revisionPrograma3d2F != otProgramacionSegunda[i-1].revisionPrograma3d2F) {
                                                            arrResDatoPrograma3d2F.push(pathToMongoDBOtProgramacion.programa3d2F)
                                                            arrResPrograma3d2F.push(pathToMongoDBOtProgramacion.estadoPrograma3d2F)
                                                            arrResRevisionPrograma3d2F.push(pathToMongoDBOtProgramacion.revisionPrograma3d2F)
                                                        }
                                                        valueArrayResPrograma3d2F = parseInt(arrResPrograma3d2F.length-1)
                                                                                                    
                                                    } else {
                                                        resDatoPrograma3d2F = ''
                                                        resEstadoPrograma3d2F = ''
                                                        resRevisionPrograma3d2F = 0
                                                    }
                                                }
                                                resDatoPrograma3d2F = otProgramacionSegunda[0].Programa3d2F
                                                resEstadoPrograma3d2F = otProgramacionSegunda[0].estadoPrograma3d2F

                                        } else {
                                            resDatoPrograma3d2F = ''
                                            resEstadoPrograma3d2F = ''
                                            resRevisionPrograma3d2F = 0
                                            arrResDatoPrograma3d2F.push(resDatoPrograma3d2F)
                                            arrResEstado.push(resEstadoPrograma3d2F)
                                            arrResRevisionPrograma3d2F.push(0)
                                        } %>
                                            <input type="hidden" id="resDatoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResDatoPrograma3d2F %>">
                                            <input type="hidden" id="resEstadoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResPrograma3d2F %>">
                                            <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResPrograma3d2F %>">
                                            <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionPrograma3d2F %>">
                                        
                                            <span id="resDatoPrograma3d2F<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge bg-light text-dark my-2"><%= resDatoPrograma3d2F %></span> |

                                            <% let icon; let iconColor;
                                            switch (resEstadoPrograma3d2F) { 
                                                case "enProceso": {
                                                    icon = "fa-arrows-spin"; iconColor = "#b09b12";
                                                break; }
                                                case "terminado": {
                                                    icon = "fa-circle-check"; iconColor = "#008f30";
                                                break; }        
                                                case "suspendido": {
                                                    icon = "fa-circle-xmark"; iconColor = "#c40000";
                                                break; }
                                                case "noAplica": {
                                                    icon = "fa-ban"; iconColor = "";
                                                break; }
                                                default: {
                                                    icon = ""; iconColor = ""; %>
                                                    <span id="resEstadoPrograma3d2F<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge rounded-pill bg-secondary text-white my-2">S/D</span> |
                                                <% break; }
                                            }

                                            if (icon) { %>
                                                <span id="resEstadoPrograma3d2F<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%=resEstadoPrograma3d2F%>">
                                                    <i class="fa-solid <%= icon %> fa-lg" style="color: <%= iconColor %>"></i>
                                                </span> |
                                            <% } %>

                                            <span id="resRevisionPrograma3d2F<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="resRevisionPrograma3d2F" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod=""><%= resRevisionPrograma3d2F %></span>
                                    </td>
                                <% } else if (q==8) { %>
                                    <!-- Programa3d4F data Inactivo -->
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtDetalles > 0 && largoArrayProgramacionSegunda > 0) {
                                                for (let i = 0; largoArrayProgramacionSegunda > i; i++) {
                                                    
                                                    if (otProgramacionSegunda) {
                                                        let largoArray = parseInt(largoArrayProgramacionSegunda)
                                                        resDatoPrograma3d4F = otProgramacionSegunda[largoArray-1].programa3d4F
                                                        resEstadoPrograma3d4F = otProgramacionSegunda[largoArray-1].programa3d4F
                                                        resRevisionPrograma3d4F = otProgramacionSegunda[largoArray-1].revisionPrograma3d4F
                                                        
                                                        if (i == 0) {
                                                            arrResDatoPrograma3d4F.push(pathToMongoDBOtProgramacion.programa3d4F)
                                                            arrResPrograma3d4F.push(pathToMongoDBOtProgramacion.programa3d4F)
                                                            arrResRevisionPrograma3d4F.push(pathToMongoDBOtProgramacion.revisionPrograma3d4F)
                                                        }
                                                        else if (i >= 1 && pathToMongoDBOtProgramacion.revisionPrograma3d4F != otProgramacionSegunda[i-1].revisionPrograma3d4F) {
                                                            arrResDatoPrograma3d4F.push(pathToMongoDBOtProgramacion.programa3d4F)
                                                            arrResPrograma3d4F.push(pathToMongoDBOtProgramacion.programa3d4F)
                                                            arrResRevisionPrograma3d4F.push(pathToMongoDBOtProgramacion.revisionPrograma3d4F)
                                                        }
                                                        valueArrayResPrograma3d4F = parseInt(arrResPrograma3d4F.length-1)

                                                    } else {
                                                        resDatoPrograma3d4F = ''
                                                        resEstadoPrograma3d4F = ''
                                                        resRevisionPrograma3d4F = 0
                                                    }
                                                }
                                                resDatoPrograma3d4F = otProgramacionSegunda[0].programa3d4F
                                                resEstadoPrograma3d4F = otProgramacionSegunda[0].estadoPrograma3d4F
                                        
                                        } else {
                                            resDatoPrograma3d4F = ""
                                            resEstadoPrograma3d4F = ""
                                            resRevisionPrograma3d4F = 0
                                            arrResDatoPrograma3d4F.push(resDatoPrograma3d4F)
                                            arrResPrograma3d4F.push(resEstadoPrograma3d4F)
                                            arrResRevisionPrograma3d4F.push(0)
                                        } %>

                                        <input type="hidden" id="resDatoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResDatoPrograma3d4F %>">
                                        <input type="hidden" id="resEstadoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResPrograma3d4F %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResPrograma3d4F %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionPrograma3d4F %>">

                                        <span id="resDatoPrograma3d4F<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge bg-light text-dark my-2"><%= resDatoPrograma3d4F %></span> |

                                        <% let icon; let iconColor;
                                                switch (resEstadoPrograma3d4F) { 
                                                    case "enProceso": {
                                                        icon = "fa-arrows-spin"; iconColor = "#b09b12";
                                                    break; }
                                                    case "terminado": {
                                                        icon = "fa-circle-check"; iconColor = "#008f30";
                                                    break; }        
                                                    case "suspendido": {
                                                        icon = "fa-circle-xmark"; iconColor = "#c40000";
                                                    break; }
                                                    case "noAplica": {
                                                        icon = "fa-ban"; iconColor = "";
                                                    break; }
                                                    default: {
                                                        icon = ""; iconColor = ""; %>
                                                        <span id="resEstadoPrograma3d4F<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge rounded-pill bg-secondary text-white my-2">S/D</span> |
                                                    <% break; }
                                                }

                                                if (icon) { %>
                                                    <span id="resEstadoPrograma3d4F<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%=resEstadoPrograma3d4F%>">
                                                        <i class="fa-solid <%= icon %> fa-lg" style="color: <%= iconColor %>"></i>
                                                    </span> |
                                                <% } %>

                                                <span id="resRevisionPrograma3d4F<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="resRevisionPrograma3d4F" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod=""><%= resRevisionPrograma3d4F %></span>
                                    </td>
                                <% } else { %>
                                    <!-- NotasProgramacion data Inactivo -->
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtDetalles > 0 && largoArrayProgramacionSegunda > 0) {
                                                for (let i = 0; largoArrayProgramacionSegunda > i; i++) {
                                                    
                                                    if (otProgramacionSegunda) {
                                                        let largoArray = parseInt(largoArrayProgramacionSegunda)
                                                        resDatoNotasProgramacion = otProgramacionSegunda[largoArray-1].notasProgramacion
                                                        resRevisionNotasProgramacion = otProgramacionSegunda[largoArray-1].revisionNotasProgramacion
                                                        
                                                        if (i == 0) {
                                                            arrResDatoNotasProgramacion.push(pathToMongoDBOtProgramacion.notasProgramacion)
                                                            arrResRevisionNotasProgramacion.push(pathToMongoDBOtProgramacion.revisionNotasProgramacion)
                                                        }
                                                        else if (i >= 1 && pathToMongoDBOtProgramacion.revisionNotasProgramacion != otProgramacionSegunda[i-1].revisionNotasProgramacion) {
                                                            arrResDatoNotasProgramacion.push(pathToMongoDBOtProgramacion.notasProgramacion)
                                                            arrResRevisionNotasProgramacion.push(pathToMongoDBOtProgramacion.revisionNotasProgramacion)
                                                        }
                                                        valueArrayResNotasProgramacion = parseInt(arrResDatoNotasProgramacion.length-1)

                                                    } else {
                                                        resDatoNotasProgramacion = ''
                                                        resRevisionNotasProgramacion = 0
                                                    }
                                                }
                                                resDatoNotasProgramacion = otProgramacionSegunda[0].notasProgramacion
                                                
                                        } else {
                                            resDatoNotasProgramacion = ''
                                            resRevisionNotasProgramacion = 0
                                            arrResDatoNotasProgramacion.push(resDatoNotasProgramacion)
                                            arrResRevisionNotasProgramacion.push(0)
                                        } %>
                                        <input type="hidden" id="resDatoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResDatoNotasProgramacion %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResNotasProgramacion %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionNotasProgramacion %>">

                                        <span id="resDatoNotasProgramacion<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="text-dark my-2"><%= resDatoNotasProgramacion %></span> |
                                        <span id="resRevisionNotasProgramacion<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="resRevisionNotasProgramacion" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod=""><%= resRevisionNotasProgramacion %></span>
                                    </td>
                                <% }
                            } %>
                        </tr>
                    <% }
                }
            }
        }) %>
    </tbody>
</table>