<!-- mostrar botones de acuerdo a cantidad de slides Proyectos Ganados-->
<div class="carousel-indicators position-absolute top-100 start-0 pb-5">
        <button type="button" name="btnInferiorCarousel"
            data-bs-target="#carouselExampleControls<%=k%>"
            data-bs-slide-to="0" class="bg-dark"
            aria-label="Slide 1" aria-current="true"
            title="Distribucion">
        </button>
        <button type="button" name="btnInferiorCarousel"
            data-bs-target="#carouselExampleControls<%=k%>"
            data-bs-slide-to="1" class="bg-dark"
            aria-label="Slide 2" title="Programación (Primera Parte)">
        </button>
        <button type="button" name="btnInferiorCarousel"
            data-bs-target="#carouselExampleControls<%=k%>"
            data-bs-slide-to="2" class="bg-dark"
            aria-label="Slide 3" title="Programación (Segunda Parte)">
        </button>
        <button type="button" name="btnInferiorCarousel"
            data-bs-target="#carouselExampleControls<%=k%>"
            data-bs-slide-to="3" class="bg-dark"
            aria-label="Slide 4" title="Mecanizado (Primera Parte)">
        </button>
        <button type="button" name="btnInferiorCarousel"
            data-bs-target="#carouselExampleControls<%=k%>"
            data-bs-slide-to="4" class="bg-dark"
            aria-label="Slide 5" title="Mecanizado (Segunda Parte)">
        </button> 
</div>