<!-- tabla OT Distribucion -->
<table id="tablaOtDistribucion<%=k%>" class="table-responsive align-middle col-5 border-end border-dark" style="font-size: 10pt; width: 100%">
    <thead class="align-middle" style="background-color: #aac">
        <tr>
            <th colspan="4" class="text-center">DISTRIBUCIÓN
                <% if (userInfo.admin || userInfo.area === 'fabricacion') { %>
                    <button id="posBtnAddDataOtDistribucion<%=k%>" type="button" name="btnOtDistribucion" class="btn btn-small btn-success shadow m-1 position-relative"
                        style="--bs-btn-font-size: .6rem; color: var(--bs-white);" title="Agregar/Modificar Datos" value="<%=k%>">
                        <i class="fa-solid fa-pencil fa-lg" aria-hidden="true"></i>
                        <span id="spanCheckSelecMasiveDistribution<%=k%>" class="position-absolute top-100 start-100 translate-middle badge rounded-pill bg-danger">
                            0
                            <span class="visually-hidden">Elementos seleccionados</span>
                        </span>
                    </button>
                <% } else { %>
                    <button type="button" class="btn btn-small btn-danger shadow m-1 disabled"
                        style="--bs-btn-font-size: .6rem; color: var(--bs-white);">
                        <i class="fa-solid fa-ban fa-lg" aria-hidden="true"></i>                                                    
                    </button>
                <% } %>
            </th>
        </tr>
        <tr>
            <th id="colData0" style="width:25vw" scope="col-1" class="text-center pb-1">Mec. 2d Completo | Rev.</th>
            <th id="colData1" style="width:25vw" scope="col-1" class="text-center pb-1">Mec. 3d Prefinal | Rev.</th>
            <th id="colData3" style="width:25vw" scope="col-1" class="text-center pb-1">Mec. 3d Final | Rev.</th>
            <th id="colData4" style="width:25vw" scope="col-1" class="text-center pb-1">Banco-Armado | Rev.</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <% let anteriorDisabled = "disabled", siguienteDisabled = "disabled",
            resMecanizado2dCompleto = 'prodismo', resRevisionMecanizado2dCompleto = 0,
            resMecanizado3dPrefinal = 'prodismo', resRevisionMecanizado3dPrefinal = 0,
            resMecanizado3dFinal = 'prodismo', resRevisionMecanizado3dFinal = 0,
            resBancoArmado = 'prodismo', resRevisionBancoArmado = 0

            const mecanizadoConfig = {
                prodismo: { text: "PRODISMO", classes: "bg-success text-white" },
                terceros: { text: "TERCEROS", classes: "bg-danger text-white" },
                china: { text: "CHINA", classes: "bg-warning text-dark" },
                noAplica: { text: "N/A", classes: "bg-info text-dark" },
                default: { text: "S/D", classes: "bg-secondary text-white" }
            };

        proyecto[m].project[j].oci[k].otProject.forEach((ot, n) => {
            let pathMongoOtProject = proyecto[m].project[j].oci[k].otProject,
            pathMongoOtDetalles = pathMongoOtProject[n].otDetalles,
            largoArrayOtDetalles = parseInt(pathMongoOtDetalles.length)

            for ( let o=0; largoArrayOtDetalles > o; o++) {
                let pathMongoOtDistribucion = pathMongoOtDetalles[o].otDistribucion || [],
                largoArrayDistribucion = parseInt(pathMongoOtDistribucion.length);

                let arrResMecanizado2dCompleto = [], arrResRevisionMecanizado2dCompleto = [], valueArrayResMecanizado2dCompleto = 0,
                arrResCreadorMecanizado2dCompleto = [], arrResModificadorMecanizado2dCompleto = [], arrResFechaMecanizado2dCompleto = [], arrResFechaModMecanizado2dCompleto = [];

                let arrResMecanizado3dPrefinal = [], arrResRevisionMecanizado3dPrefinal = [], valueArrayResMecanizado3dPrefinal = 0,
                arrResCreadorMecanizado3dPrefinal = [], arrResModificadorMecanizado3dPrefinal = [], arrResFechaMecanizado3dPrefinal = [], arrResFechaModMecanizado3dPrefinal = [];

                let arrResMecanizado3dFinal = [], valueArrayResMecanizado3dFinal = 0, arrResRevisionMecanizado3dFinal = [],
                arrResCreadorMecanizado3dFinal = [], arrResModificadorMecanizado3dFinal = [], arrResFechaMecanizado3dFinal = [], arrResFechaModMecanizado3dFinal = [];

                let arrResBancoArmado = [], valueArrayResBancoArmado = 0, arrResRevisionBancoArmado = [],
                arrResCreadorBancoArmado = [], arrResModificadorBancoArmado = [], arrResFechaBancoArmado = [], arrResFechaModBancoArmado = [];

                if (pathMongoOtProject[n].visible && pathMongoOtDetalles[o].visible) {
                    if (pathMongoOtProject[n].otStatus && pathMongoOtDetalles[o].statusDetalle) { %>
                        <!--Activo-->
                        <tr name="rowSelected<%=k%>_<%=n%>_<%=o%>" class="border-bottom" style="height: 5vh;">
                            <% for (let q = 0; totalColDataOtDistribucion > q; q++) {
                                if (q==0) { %>
                                    <!-- Mecanizado 2d Completo data Activo--> 
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtDetalles > 0 && largoArrayDistribucion > 0) {
                                            
                                            for (let i = 0; largoArrayDistribucion > i; i++) {
                                                if (pathMongoOtDistribucion[i]) {
                                                    let largoArray = parseInt(largoArrayDistribucion)
                                                    resMecanizado2dCompleto = pathMongoOtDistribucion[largoArray-1].mecanizado2dCompleto || 'prodismo'
                                                    resRevisionMecanizado2dCompleto = pathMongoOtDistribucion[largoArray-1].revisionMecanizado2dCompleto

                                                    arrResMecanizado2dCompleto.push(pathMongoOtDistribucion[i].mecanizado2dCompleto)
                                                    arrResRevisionMecanizado2dCompleto.push(pathMongoOtDistribucion[i].revisionMecanizado2dCompleto)

                                                    arrResCreadorMecanizado2dCompleto.push(pathMongoOtDistribucion[i].creator[0].username)
                                                    arrResModificadorMecanizado2dCompleto.push(pathMongoOtDistribucion[i].modificator[0].username)
                                                    arrResFechaMecanizado2dCompleto.push(pathMongoOtDistribucion[i].timestamp)
                                                    arrResFechaModMecanizado2dCompleto.push(pathMongoOtDistribucion[i].modifiedOn)

                                                } else {
                                                    resMecanizado2dCompleto = 'prodismo'
                                                    resRevisionMecanizado2dCompleto = 0
                                                }
                                            }
                                            valueArrayResMecanizado2dCompleto = parseInt(arrResMecanizado2dCompleto.length-1)
                                            
                                            if (arrResMecanizado2dCompleto.length == 1 ) {
                                                anteriorDisabled = "disabled"
                                                siguienteDisabled = "disabled"
                                            } else if (arrResMecanizado2dCompleto.length == arrResRevisionMecanizado2dCompleto.length) {
                                                anteriorDisabled = ""
                                                siguienteDisabled = "disabled"
                                            } else {
                                                anteriorDisabled = ""
                                                siguienteDisabled = "disabled"
                                            }
                                        
                                        } else {
                                            anteriorDisabled = "disabled"
                                            siguienteDisabled = "disabled"
                                            resMecanizado2dCompleto = "prodismo"
                                            resRevisionMecanizado2dCompleto = 0
                                            arrResMecanizado2dCompleto.push(resMecanizado2dCompleto)
                                            arrResRevisionMecanizado2dCompleto.push(resRevisionMecanizado2dCompleto)
                                            valueArrayResMecanizado2dCompleto = 0
                                        
                                            arrResCreadorMecanizado2dCompleto.push(pathMongoOtDetalles[o].creator[0].username)
                                            arrResModificadorMecanizado2dCompleto = ""
                                            arrResFechaMecanizado2dCompleto.push(pathMongoOtDetalles[o].timestamp)
                                            arrResFechaModMecanizado2dCompleto = ""
                                        } %>
                                        
                                        <div id="btnAnteriorSiguienteMecanizado2dCompleto<%=k%>_<%=n%>_<%=o%>_<%=q%>">
                                            <button id="btnAnteriorMecanizado2dCompleto<%=k%>_<%=n%>_<%=o%>_<%=q%>"
                                                name="btnAnteriorMecanizado2dCompleto" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                <%= anteriorDisabled %>
                                                ><i class="fa-solid fa-arrow-left"></i>
                                            </button>
                                            <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResMecanizado2dCompleto %>">
                                            <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResMecanizado2dCompleto %>">
                                            <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionMecanizado2dCompleto %>">
                                            <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResCreadorMecanizado2dCompleto %>">
                                            <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResModificadorMecanizado2dCompleto %>">
                                            <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaMecanizado2dCompleto %>">
                                            <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaModMecanizado2dCompleto %>">

                                            <% const config = mecanizadoConfig[resMecanizado2dCompleto] || mecanizadoConfig.default; %>

                                            <span id="resMecanizado2dCompleto<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge rounded-pill <%= config.classes %> my-2">
                                            <%= config.text %>
                                            </span> |
                                            <span id="resRevisionMecanizado2dCompleto<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="resRevisionMecanizado2dCompleto" class="badge text-dark my-2" style="cursor: help;">
                                                <%= resRevisionMecanizado2dCompleto %>
                                            </span>

                                            <button id="btnSiguienteMecanizado2dCompleto<%=k%>_<%=n%>_<%=o%>_<%=q%>"
                                                name="btnSiguienteMecanizado2dCompleto" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                <%= siguienteDisabled %>
                                                ><i class="fa-solid fa-arrow-right"></i>
                                            </button>
                                        </div>
                                    </td>
                                    
                                <% } else if (q==1) { %>
                                    <!-- Mecanizado 3d Prefinal data Activo-->
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtDetalles > 0 && largoArrayDistribucion > 0) {
                                            
                                            for (let i = 0; largoArrayDistribucion > i; i++) {
                                                if (pathMongoOtDistribucion[i]) {
                                                    let largoArray = parseInt(largoArrayDistribucion)
                                                    resMecanizado3dPrefinal = pathMongoOtDistribucion[largoArray-1].mecanizado3dPrefinal || 'prodismo'
                                                    resRevisionMecanizado3dPrefinal = pathMongoOtDistribucion[largoArray-1].revisionMecanizado3dPrefinal

                                                    arrResMecanizado3dPrefinal.push(pathMongoOtDistribucion[i].mecanizado3dPrefinal)
                                                    arrResRevisionMecanizado3dPrefinal.push(pathMongoOtDistribucion[i].revisionMecanizado3dPrefinal)

                                                    arrResCreadorMecanizado3dPrefinal.push(pathMongoOtDistribucion[i].creator[0].username)
                                                    arrResModificadorMecanizado3dPrefinal.push(pathMongoOtDistribucion[i].modificator[0].username)
                                                    arrResFechaMecanizado3dPrefinal.push(pathMongoOtDistribucion[i].timestamp)
                                                    arrResFechaModMecanizado3dPrefinal.push(pathMongoOtDistribucion[i].modifiedOn)

                                                } else {
                                                    resMecanizado3dPrefinal = 'prodismo'
                                                    resRevisionMecanizado3dPrefinal = 0
                                                }
                                            }
                                            valueArrayResMecanizado3dPrefinal = parseInt(arrResMecanizado3dPrefinal.length-1)
                                            
                                            if (arrResMecanizado3dPrefinal.length == 1 ) {
                                                anteriorDisabled = "disabled"
                                                siguienteDisabled = "disabled"
                                            } else if (arrResMecanizado3dPrefinal.length == arrResRevisionMecanizado3dPrefinal.length) {
                                                anteriorDisabled = ""
                                                siguienteDisabled = "disabled"
                                            } else {
                                                anteriorDisabled = ""
                                                siguienteDisabled = "disabled"
                                            }
                                        
                                        } else {
                                            anteriorDisabled = "disabled"
                                            siguienteDisabled = "disabled"
                                            resMecanizado3dPrefinal = "prodismo"
                                            resRevisionMecanizado3dPrefinal = 0
                                            arrResMecanizado3dPrefinal.push(resMecanizado3dPrefinal)
                                            arrResRevisionMecanizado3dPrefinal.push(resRevisionMecanizado3dPrefinal)
                                            valueArrayResMecanizado3dPrefinal = 0
                                        
                                            arrResCreadorMecanizado3dPrefinal.push(pathMongoOtDetalles[o].creator[0].username)
                                            arrResModificadorMecanizado3dPrefinal = ""
                                            arrResFechaMecanizado3dPrefinal.push(pathMongoOtDetalles[o].timestamp)
                                            arrResFechaModMecanizado3dPrefinal = ""
                                        } %>
                                        
                                        <div id="btnAnteriorSiguienteMecanizado3dPrefinal<%=k%>_<%=n%>_<%=o%>_<%=q%>">
                                            <button id="btnAnteriorMecanizado3dPrefinal<%=k%>_<%=n%>_<%=o%>_<%=q%>"
                                                name="btnAnteriorMecanizado3dPrefinal" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                <%= anteriorDisabled %>
                                                ><i class="fa-solid fa-arrow-left"></i>
                                            </button>
                                            <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResMecanizado3dPrefinal %>">
                                            <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResMecanizado3dPrefinal %>">
                                            <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionMecanizado3dPrefinal %>">
                                            <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResCreadorMecanizado3dPrefinal %>">
                                            <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResModificadorMecanizado3dPrefinal %>">
                                            <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaMecanizado3dPrefinal %>">
                                            <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaModMecanizado3dPrefinal %>">

                                            <% const config = mecanizadoConfig[resMecanizado3dPrefinal] || mecanizadoConfig.default; %>

                                            <span id="resMecanizado3dPrefinal<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge rounded-pill <%= config.classes %> my-2">
                                            <%= config.text %>
                                            </span> |
                                            
                                            <span id="resRevisionMecanizado3dPrefinal<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="resRevisionMecanizado3dPrefinal" class="badge text-dark my-2" style="cursor: help;">
                                                <%= resRevisionMecanizado3dPrefinal %>
                                            </span>

                                            <button id="btnSiguienteMecanizado3dPrefinal<%=k%>_<%=n%>_<%=o%>_<%=q%>"
                                                name="btnSiguienteMecanizado3dPrefinal" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                <%= siguienteDisabled %>
                                                ><i class="fa-solid fa-arrow-right"></i>
                                            </button>
                                        </div>
                                    </td>

                                <% } else if (q==2) { %>
                                    <!-- Mecanizado 3d Final data Activo-->
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtDetalles > 0 && largoArrayDistribucion > 0) {
                                            
                                            for (let i = 0; largoArrayDistribucion > i; i++) {
                                                if (pathMongoOtDistribucion[i]) {
                                                    let largoArray = parseInt(largoArrayDistribucion)
                                                    resMecanizado3dFinal = pathMongoOtDistribucion[largoArray-1].mecanizado3dFinal || 'prodismo'
                                                    resRevisionMecanizado3dFinal = pathMongoOtDistribucion[largoArray-1].revisionMecanizado3dFinal

                                                    arrResMecanizado3dFinal.push(pathMongoOtDistribucion[i].mecanizado3dFinal)
                                                    arrResRevisionMecanizado3dFinal.push(pathMongoOtDistribucion[i].revisionMecanizado3dFinal)

                                                    arrResCreadorMecanizado3dFinal.push(pathMongoOtDistribucion[i].creator[0].username)
                                                    arrResModificadorMecanizado3dFinal.push(pathMongoOtDistribucion[i].modificator[0].username)
                                                    arrResFechaMecanizado3dFinal.push(pathMongoOtDistribucion[i].timestamp)
                                                    arrResFechaModMecanizado3dFinal.push(pathMongoOtDistribucion[i].modifiedOn)

                                                } else {
                                                    resMecanizado3dFinal = 'prodismo'
                                                    resRevisionMecanizado3dFinal = 0
                                                }
                                            }
                                            valueArrayResMecanizado3dFinal = parseInt(arrResMecanizado3dFinal.length-1)
                                            
                                            if (arrResMecanizado3dFinal.length == 1 ) {
                                                anteriorDisabled = "disabled"
                                                siguienteDisabled = "disabled"
                                            } else if (arrResMecanizado3dFinal.length == arrResRevisionMecanizado3dFinal.length) {
                                                anteriorDisabled = ""
                                                siguienteDisabled = "disabled"
                                            } else {
                                                anteriorDisabled = ""
                                                siguienteDisabled = "disabled"
                                            }
                                        
                                        } else {
                                            anteriorDisabled = "disabled"
                                            siguienteDisabled = "disabled"
                                            resMecanizado3dFinal = "prodismo"
                                            resRevisionMecanizado3dFinal = 0
                                            arrResMecanizado3dFinal.push(resMecanizado3dFinal)
                                            arrResRevisionMecanizado3dFinal.push(resRevisionMecanizado3dFinal)
                                            valueArrayResMecanizado3dFinal = 0
                                        
                                            arrResCreadorMecanizado3dFinal.push(pathMongoOtDetalles[o].creator[0].username)
                                            arrResModificadorMecanizado3dFinal = ""
                                            arrResFechaMecanizado3dFinal.push(pathMongoOtDetalles[o].timestamp)
                                            arrResFechaModMecanizado3dFinal = ""
                                        } %>
                                        
                                        <div id="btnAnteriorSiguienteMecanizado3dFinal<%=k%>_<%=n%>_<%=o%>_<%=q%>">
                                            <button id="btnAnteriorMecanizado3dFinal<%=k%>_<%=n%>_<%=o%>_<%=q%>"
                                                name="btnAnteriorMecanizado3dFinal" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                <%= anteriorDisabled %>
                                                ><i class="fa-solid fa-arrow-left"></i>
                                            </button>
                                            <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResMecanizado3dFinal %>">
                                            <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResMecanizado3dFinal %>">
                                            <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionMecanizado3dFinal %>">
                                            <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResCreadorMecanizado3dFinal %>">
                                            <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResModificadorMecanizado3dFinal %>">
                                            <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaMecanizado3dFinal %>">
                                            <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaModMecanizado3dFinal %>">

                                            <% const config = mecanizadoConfig[resMecanizado3dFinal] || mecanizadoConfig.default; %>
                                            
                                            <span id="resMecanizado3dFinal<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge rounded-pill <%= config.classes %> my-2">
                                            <%= config.text %>
                                            </span> |
                                            <span id="resRevisionMecanizado3dFinal<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="resRevisionMecanizado3dFinal" class="badge text-dark my-2" style="cursor: help;">
                                                <%= resRevisionMecanizado3dFinal %>
                                            </span>

                                            <button id="btnSiguienteMecanizado3dFinal<%=k%>_<%=n%>_<%=o%>_<%=q%>"
                                                name="btnSiguienteMecanizado3dFinal" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                <%= siguienteDisabled %>
                                                ><i class="fa-solid fa-arrow-right"></i>
                                            </button>
                                        </div>
                                    </td>

                                <% } else { %>
                                    <!-- Banco Armado data Activo-->
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtDetalles > 0 && largoArrayDistribucion > 0) {
                                            
                                            for (let i = 0; largoArrayDistribucion > i; i++) {
                                                if (pathMongoOtDistribucion[i]) {
                                                    let largoArray = parseInt(largoArrayDistribucion)
                                                    resBancoArmado = pathMongoOtDistribucion[largoArray-1].bancoArmado || 'prodismo'
                                                    resRevisionBancoArmado = pathMongoOtDistribucion[largoArray-1].revisionBancoArmado
                                                    
                                                    arrResBancoArmado.push(pathMongoOtDistribucion[i].bancoArmado)
                                                    arrResRevisionBancoArmado.push(pathMongoOtDistribucion[i].revisionBancoArmado)

                                                    arrResCreadorBancoArmado.push(pathMongoOtDistribucion[i].creator[0].username)
                                                    arrResModificadorBancoArmado.push(pathMongoOtDistribucion[i].modificator[0].username)
                                                    arrResFechaBancoArmado.push(pathMongoOtDistribucion[i].timestamp)
                                                    arrResFechaModBancoArmado.push(pathMongoOtDistribucion[i].modifiedOn)

                                                } else {
                                                    resBancoArmado = 'prodismo'
                                                    resRevisionBancoArmado = 0
                                                }
                                            }
                                            valueArrayResBancoArmado = parseInt(arrResBancoArmado.length-1)
                                            
                                            if (arrResBancoArmado.length == 1 ) {
                                                anteriorDisabled = "disabled"
                                                siguienteDisabled = "disabled"
                                            } else if (arrResBancoArmado.length == arrResRevisionBancoArmado.length) {
                                                anteriorDisabled = ""
                                                siguienteDisabled = "disabled"
                                            } else {
                                                anteriorDisabled = ""
                                                siguienteDisabled = "disabled"
                                            }
                                        
                                        } else {
                                            anteriorDisabled = "disabled"
                                            siguienteDisabled = "disabled"
                                            resBancoArmado = "prodismo"
                                            resRevisionBancoArmado = 0
                                            arrResBancoArmado.push(resBancoArmado)
                                            arrResRevisionBancoArmado.push(resRevisionBancoArmado)
                                            valueArrayResBancoArmado = 0
                                        
                                            arrResCreadorBancoArmado.push(pathMongoOtDetalles[o].creator[0].username)
                                            arrResModificadorBancoArmado = ""
                                            arrResFechaBancoArmado.push(pathMongoOtDetalles[o].timestamp)
                                            arrResFechaModBancoArmado = ""
                                        } %>
                                        
                                        <div id="btnAnteriorSiguienteBancoArmado<%=k%>_<%=n%>_<%=o%>_<%=q%>">
                                            <button id="btnAnteriorBancoArmado<%=k%>_<%=n%>_<%=o%>_<%=q%>"
                                                name="btnAnteriorBancoArmado" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                <%= anteriorDisabled %>
                                                ><i class="fa-solid fa-arrow-left"></i>
                                            </button>
                                            <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResBancoArmado %>">
                                            <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResBancoArmado %>">
                                            <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionBancoArmado %>">
                                            <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResCreadorBancoArmado %>">
                                            <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResModificadorBancoArmado %>">
                                            <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaBancoArmado %>">
                                            <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaModBancoArmado %>">

                                            <% const config = mecanizadoConfig[resBancoArmado] || mecanizadoConfig.default; %>
                                            
                                            <span id="resBancoArmado<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge rounded-pill <%= config.classes %> my-2">
                                            <%= config.text %>
                                            </span> |
                                            <span id="resRevisionBancoArmado<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="resRevisionBancoArmado" class="badge text-dark my-2" style="cursor: help;">
                                                <%= resRevisionBancoArmado %>
                                            </span>

                                            <button id="btnSiguienteBancoArmado<%=k%>_<%=n%>_<%=o%>_<%=q%>"
                                                name="btnSiguienteBancoArmado" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                <%= siguienteDisabled %>
                                                ><i class="fa-solid fa-arrow-right"></i>
                                            </button>
                                        </div>
                                    </td>
                                <% }
                            } %>
                        </tr>

                    <% } else { %>
                        <!--Inactivo-->
                        <tr name="rowSelected<%=k%>_<%=n%>_<%=o%>" class="pe-none border-bottom" style="height: 5vh; background-color: #dedede;">
                            <% for (let q = 0; totalColDataOtDistribucion > q; q++) {
                                if (q==0) { %>
                                    <!-- Mecanizado 2d Completo data Inactivo -->
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtDetalles > 0 && largoArrayDistribucion > 0) {
                                                for (let i = 0; largoArrayDistribucion > i; i++) {

                                                    if (otDistribucion[i]) {
                                                        let largoArray = parseInt(largoArrayDistribucion)
                                                        resMecanizado2dCompleto = otDistribucion[largoArray-1].mecanizado2dCompleto || 'prodismo'
                                                        resRevisionMecanizado2dCompleto = otDistribucion[largoArray-1].revisionMecanizado2dCompleto
                                                        
                                                        arrResMecanizado2dCompleto.push(pathToMongoDBOtDistribucion[i].mecanizado2dCompleto)
                                                        arrResRevisionMecanizado2dCompleto.push(pathToMongoDBOtDistribucion[i].revisionMecanizado2dCompleto)
                                                        
                                                    } else {
                                                        resMecanizado2dCompleto = 'prodismo'
                                                        resRevisionMecanizado2dCompleto = 0
                                                    }
                                                }
                                                valueArrayResMecanizado2dCompleto = parseInt(arrResMecanizado2dCompleto.length-1)
                                                resMecanizado2dCompleto = otDistribucion[0].mecanizado2dCompleto

                                        } else {
                                            resMecanizado2dCompleto = "prodismo"
                                            resRevisionMecanizado2dCompleto = 0
                                            arrResMecanizado2dCompleto.push(resMecanizado2dCompleto)
                                            arrResRevisionMecanizado2dCompleto.push(0)
                                        } %>
                                            <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResMecanizado2dCompleto %>">
                                            <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResMecanizado2dCompleto %>">
                                            <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionMecanizado2dCompleto %>">
                                        
                                            <% const config = mecanizadoConfig[resMecanizado2dCompleto] || mecanizadoConfig.default; %>
                                            
                                            <span id="resMecanizado2dCompleto<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge rounded-pill <%= config.classes %> my-2">
                                            <%= config.text %>
                                            </span> |
                                            <span id="resRevisionMecanizado2dCompleto<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge text-dark my-2">
                                                <%= resRevisionMecanizado2dCompleto %>
                                            </span>
                                    </td>

                                <% } else if (q==1) { %>
                                    <!-- Mecanizado 3d Prefinal data Inactivo -->
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtDetalles > 0 && largoArrayDistribucion > 0) {
                                                for (let i = 0; largoArrayDistribucion > i; i++) {
                                                    
                                                    if (otDistribucion[i]) {
                                                        let largoArray = parseInt(largoArrayDistribucion)
                                                        resMecanizado3dPrefinal = otDistribucion[largoArray-1].mecanizado3dPrefinal || 'prodismo'
                                                        resRevisionMecanizado3dPrefinal = otDistribucion[largoArray-1].revisionMecanizado3dPrefinal
                                                        
                                                        arrResMecanizado3dPrefinal.push(pathToMongoDBOtDistribucion[i].mecanizado3dPrefinal)
                                                        arrResRevisionMecanizado3dPrefinal.push(pathToMongoDBOtDistribucion[i].revisionMecanizado3dPrefinal)
                                                        
                                                    } else {
                                                        resMecanizado3dPrefinal = 'prodismo'
                                                        resRevisionMecanizado3dPrefinal = 0
                                                    }
                                                }
                                                valueArrayResMecanizado3dPrefinal = parseInt(arrResMecanizado3dPrefinal.length-1)
                                                resMecanizado3dPrefinal = otDistribucion[0].mecanizado3dPrefinal
                                        
                                        } else {
                                            resMecanizado3dPrefinal = "prodismo"
                                            resRevisionMecanizado3dPrefinal = 0
                                            arrResMecanizado3dPrefinal.push(resMecanizado3dPrefinal)
                                            arrResRevisionMecanizado3dPrefinal.push(0)
                                        } %>

                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResMecanizado3dPrefinal %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResMecanizado3dPrefinal %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionMecanizado3dPrefinal %>">

                                        <% const config = mecanizadoConfig[resMecanizado3dPrefinal] || mecanizadoConfig.default; %>
                                        
                                        <span id="resMecanizado3dPrefinal<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge rounded-pill <%= config.classes %> my-2">
                                        <%= config.text %>
                                        </span> |
                                        <span id="resRevisionMecanizado3dPrefinal<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge text-dark my-2">
                                            <%= resRevisionMecanizado3dPrefinal %>
                                        </span>
                                    </td>

                                <% } else if (q==2) { %>
                                    <!-- Mecanizado 3d Final data Inactivo -->
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtDetalles > 0 && largoArrayDistribucion > 0) {
                                                for (let i = 0; largoArrayDistribucion > i; i++) {
                                                    
                                                    if (otDistribucion[i]) {
                                                        let largoArray = parseInt(largoArrayDistribucion)
                                                        resMecanizado3dFinal = otDistribucion[largoArray-1].mecanizado3dFinal || 'prodismo'
                                                        resRevisionMecanizado3dFinal = otDistribucion[largoArray-1].revisionMecanizado3dFinal
                                                        
                                                        arrResMecanizado3dFinal.push(pathToMongoDBOtDistribucion[i].mecanizado3dFinal)
                                                        arrResRevisionMecanizado3dFinal.push(pathToMongoDBOtDistribucion[i].revisionMecanizado3dFinal)
                                                        
                                                    } else {
                                                        resMecanizado3dFinal = 'prodismo'
                                                        resRevisionMecanizado3dFinal = 0
                                                    }
                                                }
                                                valueArrayResMecanizado3dFinal = parseInt(arrResMecanizado3dFinal.length-1)
                                                resMecanizado3dFinal = otDistribucion[0].mecanizado3dFinal
                                        
                                        } else {
                                            resMecanizado3dFinal = 'prodismo'
                                            resRevisionMecanizado3dFinal = 0
                                            arrResMecanizado3dFinal.push(resMecanizado3dFinal)
                                            arrResRevisionMecanizado3dFinal.push(0)
                                        } %>

                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResMecanizado3dFinal %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResMecanizado3dFinal %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionMecanizado3dFinal %>">

                                        <% const config = mecanizadoConfig[resMecanizado3dFinal] || mecanizadoConfig.default; %>
                                        
                                        <span id="resMecanizado3dFinal<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge rounded-pill <%= config.classes %> my-2">
                                        <%= config.text %>
                                        </span> |
                                        <span id="resRevisionMecanizado3dFinal<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge text-dark my-2">
                                            <%= resRevisionMecanizado3dFinal %>
                                        </span>
                                    </td>

                                <% } else { %>
                                    <!-- Banco Armado data Inactivo -->
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtDetalles > 0 && largoArrayDistribucion > 0) {
                                                for (let i = 0; largoArrayDistribucion > i; i++) {
                                                    
                                                    if (otDistribucion[i]) {
                                                        let largoArray = parseInt(largoArrayDistribucion)
                                                        resBancoArmado = otDistribucion[largoArray-1].bancoArmado || 'prodismo'
                                                        resRevisionBancoArmado = otDistribucion[largoArray-1].revisionBancoArmado
                                                        
                                                        arrResBancoArmado.push(pathToMongoDBOtDistribucion[i].bancoArmado)
                                                        arrResRevisionBancoArmado.push(pathToMongoDBOtDistribucion[i].revisionBancoArmado)

                                                    } else {
                                                        resBancoArmado = 'prodismo'
                                                        resRevisionBancoArmado = 0
                                                    }
                                                }
                                                valueArrayResBancoArmado = parseInt(arrResBancoArmado.length-1)
                                                resBancoArmado = otDistribucion[0].bancoArmado
                                        
                                        } else {
                                            resBancoArmado = 'prodismo'
                                            resRevisionBancoArmado = 0
                                            arrResBancoArmado.push(resBancoArmado)
                                            arrResRevisionBancoArmado.push(0)
                                        } %>

                                        <input type="hidden" id="resHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResBancoArmado %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResBancoArmado %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionBancoArmado %>">

                                        <% const config = mecanizadoConfig[resBancoArmado] || mecanizadoConfig.default; %>
                                        
                                        <span id="resBancoArmado<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge rounded-pill <%= config.classes %> my-2">
                                        <%= config.text %>
                                        </span> |
                                            <span id="resRevisionBancoArmado<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge text-dark my-2">
                                                <%= resRevisionBancoArmado %>
                                            </span>
                                    </td>
                                <% }
                            } %>
                        </tr>
                    <% }
                }
            }
        }) %>
    </tbody>
</table>