<!-- tabla Detalles -->
<table id="tablaDetalle<%=k%>" name="tablaDetalle"
    class="table-responsive align-middle col-2 border-end border-dark"
    style="font-size: 10pt">
    <thead class="align-middle"
        style="background-color: #bbc">
        <tr>
            <th colspan="2" class="text-center pb-1"> <div class="mb-3">DETALLES</div>
            </th>
        </tr>
        <tr>
            <th style="width:30vw" scope="col-1"
                class="text-center"> # Detalle
            </th>
            <th style="width:30vw" scope="col-1"
                class="text-center"> Descripción
            </th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <% let largoArrayOtProject = proyecto[m].project[j].oci[k].otProject.length;
        
        for ( let n=0; largoArrayOtProject> n; n++) {
            let pathMongoOtProject = proyecto[m].project[j].oci[k].otProject[n]
            let largoArrayOtDetalles = pathMongoOtProject.otDetalles.length

            for ( let o=0; largoArrayOtDetalles > o; o++) {
                if (pathMongoOtProject.visible) {
                    if (pathMongoOtProject.otStatus) { %>
                        <tr id="rowDetalleSelected<%=k%>_<%=n%>_<%=o%>" name="rowSelected<%=k%>_<%=n%>_<%=o%>" class="border-bottom fw-semibold fs-6" style="height: 5vh;">
                            <td class="text-center">
                                <small id="numeroDetalle<%=k%>_<%=n%>_<%=o%>" class="text-dark align-middle">
                                    <%= pathMongoOtProject.otDetalles[o].numeroDetalle %>
                                </small>
                            </td>
                            <td class="text-center align-middle">
                                <small id="descripcionDetalle<%=k%>_<%=n%>_<%=o%>" class="text-dark">
                                    <%= pathMongoOtProject.otDetalles[o].descripcionDetalle %>
                                </small>
                            </td>
                        </tr>   
                    <% } else { %>
                        <tr class="border-bottom fw-semibold fs-6" style="height: 5vh; background-color: #dedede;">
                            <td class="text-center">
                                <small id="otDesign<%=k%>_<%=n%>" class="text-dark align-middle">
                                    <%= pathMongoOtProject.otDesign %>
                                </small>
                            </td>
                            <td class="text-center align-middle">
                                <small id="otSimulation<%=k%>_<%=n%>" class="text-dark">
                                    <%= pathMongoOtProject.otSimulation %>
                                </small>
                            </td>
                        </tr>
                    <% }
                }
            }    
        } %>
    </tbody>
</table>