<!-- tabla Programacion Segunda -->
<table id="tablaOtProgramacionSegunda<%=k%>" class="table-responsive align-middle col-5 border-end border-dark" style="font-size: 10pt; width: 100%">
    <thead class="align-middle" style="background-color: #c6c6eb">
        <tr>
            <th colspan="3" class="text-center">PROGRAMACIÓN (2° Parte)
                <% if (userInfo.admin || userInfo.area === 'fabricacion') { %>
                    <button id="posBtnAddDataOtProgramacionSegunda<%=k%>" type="button" name="btnOtProgramacionSegunda" class="btn btn-small btn-success shadow m-1 me-5 position-relative" style="--bs-btn-font-size: .6rem; color: var(--bs-white);" title="Agregar/Modificar Datos" value="<%=k%>">
                        <i class="fa-solid fa-pencil fa-lg" aria-hidden="true"></i>
                        <span id="spanCheckSelecMasiveProgSeg<%=k%>" class="position-absolute top-100 start-100 translate-middle badge rounded-pill bg-danger">
                            0
                            <span class="visually-hidden">Elementos seleccionados</span>
                        </span>
                    </button>
                <% } else { %>
                    <button type="button" class="btn btn-small btn-danger shadow m-1 me-5 disabled" style="--bs-btn-font-size: .6rem; color: var(--bs-white);">
                        <i class="fa-solid fa-ban fa-lg" aria-hidden="true"></i> 
                    </button>
                <% } %>
                <i class="fa-solid fa-arrows-spin fa-lg" style="color: #b09b12;"></i> En Proceso -
                <i class="fa-solid fa-circle-check fa-lg" style="color: #008f30;"></i> Terminado -
                <i class="fa-solid fa-circle-xmark fa-lg" style="color: #c40000;"></i> Suspendido -
                <i class="fa-solid fa-ban fa-lg"></i> No Aplica -
                <i class="fa-solid fa-triangle-exclamation fa-lg" style="color: #1c21ac;"></i> Sin Datos
            </th>
        </tr>
        <tr>
            <th id="colData0" style="width:30vw" scope="col-1" class="text-center pb-1">Programas 3d F2 | Estado | Rev</th>
            <th id="colData1" style="width:30vw" scope="col-1" class="text-center pb-1">Programas 3d F4 | Estado | Rev</th>
            <th id="colData2" style="width:40vw" scope="col-1" class="text-center pb-1">Notas | Rev.</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        
        <% const programacionSegundaConfig = {
                enProceso: { icon: "fa-arrows-spin", iconColor: "color:#b09b12" },
                terminado: { icon: "fa-circle-check", iconColor: "color:#008f30" },
                suspendido: { icon: "fa-circle-xmark", iconColor: "color:#c40000" },
                noAplica: { icon: "fa-ban", iconColor: "color:#000000" },
                default: { icon: "fa-triangle-exclamation", iconColor: "color:#1c21ac" }
            };

        proyecto[m].project[j].oci[k].otProject.forEach((ot, n) => {
            let pathMongoOtProject = proyecto[m].project[j].oci[k].otProject,
            pathMongoOtDetalles = pathMongoOtProject[n].otDetalles,
            largoArrayOtDetalles = parseInt(pathMongoOtDetalles.length)

            let anteriorDisabled = "disabled", siguienteDisabled = "disabled",
                resDatoPrograma3d2F = 'S/D', resEstadoPrograma3d2F = 'S/D', resRevisionPrograma3d2F = 0,
                resDatoPrograma3d4F = 'S/D', resEstadoPrograma3d4F = 'S/D', resRevisionPrograma3d4F = 0,
                resDatoNotasProgramacion = 'S/D', resRevisionNotasProgramacion = 0;

            for ( let o=0; largoArrayOtDetalles> o; o++) {
                let pathMongoOtProgramacionSegunda = pathMongoOtDetalles[o].otProgramacionSegunda || [];
                let largoArrayProgramacionSegunda = parseInt(pathMongoOtProgramacionSegunda.length);

                let arrResDatoPrograma3d2F = [], arrResEstadoPrograma3d2F = [], valueArrayResPrograma3d2F = 0, arrResRevisionPrograma3d2F = [],
                arrResCreadorPrograma3d2F = [], arrResModificadorPrograma3d2F = [], arrResFechaPrograma3d2F = [], arrResFechaModPrograma3d2F = [];

                let arrResDatoPrograma3d4F = [], arrResEstadoPrograma3d4F = [], valueArrayResPrograma3d4F = 0, arrResRevisionPrograma3d4F = [],
                arrResCreadorPrograma3d4F = [], arrResModificadorPrograma3d4F = [], arrResFechaPrograma3d4F = [], arrResFechaModPrograma3d4F = [];

                let arrResDatoNotasProgramacion = [], valueArrayResNotasProgramacion = 0, arrResRevisionNotasProgramacion = [],
                arrResCreadorNotasProgramacion = [], arrResModificadorNotasProgramacion = [], arrResFechaNotasProgramacion = [], arrResFechaModNotasProgramacion = [];

                if (pathMongoOtProject[n].visible && pathMongoOtDetalles[o].visible) {
                    if (pathMongoOtProject[n].otStatus && pathMongoOtDetalles[o].statusDetalle) { %>
                        <!--Activo-->
                        <tr name="rowSelected<%=k%>_<%=n%>_<%=o%>" class="border-bottom" style="height: 5vh;">
                            <% for (let q = 7; totalColDataProgramacionSegunda > q; q++) {
                                if (q==7) { %>
                                    <!-- Programa3d2F data Activo--> 
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtDetalles > 0 && largoArrayProgramacionSegunda > 0) {
                                            
                                            for (let i = 0; largoArrayProgramacionSegunda > i; i++) {
                                                if (pathMongoOtProgramacionSegunda[i]) {
                                                    let largoArray = parseInt(largoArrayProgramacionSegunda)
                                                    resDatoPrograma3d2F = pathMongoOtProgramacionSegunda[largoArray-1].programa3d2F == 'sinDato' ? "S/D" : pathMongoOtProgramacionSegunda[largoArray-1].programa3d2F
                                                    resEstadoPrograma3d2F = pathMongoOtProgramacionSegunda[largoArray-1].estadoPrograma3d2F == 'sinDato' ? "S/D" : pathMongoOtProgramacionSegunda[largoArray-1].estadoPrograma3d2F
                                                    resRevisionPrograma3d2F = parseInt(pathMongoOtProgramacionSegunda[largoArray-1].revisionPrograma3d2F) || 0
                                                    
                                                    pathMongoOtProgramacionSegunda[i].programa3d2F == 'sinDato' ? arrResDatoPrograma3d2F.push("S/D") : arrResDatoPrograma3d2F.push(pathMongoOtProgramacionSegunda[i].programa3d2F)
                                                    pathMongoOtProgramacionSegunda[i].estadoPrograma3d2F == 'sinDato' ? arrResEstadoPrograma3d2F.push("S/D") : arrResEstadoPrograma3d2F.push(pathMongoOtProgramacionSegunda[i].estadoPrograma3d2F)
                                                    arrResRevisionPrograma3d2F.push(pathMongoOtProgramacionSegunda[i].revisionPrograma3d2F)
                                                    
                                                    arrResCreadorPrograma3d2F.push(pathMongoOtProgramacionSegunda[i].creator[0].username)
                                                    arrResModificadorPrograma3d2F.push(pathMongoOtProgramacionSegunda[i].modificator[0].username)
                                                    arrResFechaPrograma3d2F.push(pathMongoOtProgramacionSegunda[i].timestamp)
                                                    arrResFechaModPrograma3d2F.push(pathMongoOtProgramacionSegunda[i].modifiedOn)
                                                }
                                            }
                                            valueArrayResPrograma3d2F = parseInt(arrResDatoPrograma3d2F.length-1)

                                            if (arrResDatoPrograma3d2F.length == 1 ) {
                                                anteriorDisabled = "disabled"
                                                siguienteDisabled = "disabled"
                                            } else if (arrResDatoPrograma3d2F.length == arrResRevisionPrograma3d2F.length) {
                                                anteriorDisabled = ""
                                                siguienteDisabled = "disabled"
                                            } else {
                                                anteriorDisabled = ""
                                                siguienteDisabled = "disabled"
                                            }
                                                    
                                        } else {
                                            arrResDatoPrograma3d2F.push(resDatoPrograma3d2F)
                                            arrResEstadoPrograma3d2F.push(resEstadoPrograma3d2F)
                                            arrResRevisionPrograma3d2F.push(resRevisionPrograma3d2F)
                                            
                                            arrResCreadorPrograma3d2F.push(pathMongoOtDetalles[o].creator[0].username)
                                            arrResModificadorPrograma3d2F = ""
                                            arrResFechaPrograma3d2F.push(pathMongoOtDetalles[o].timestamp)
                                            arrResFechaModPrograma3d2F = ""
                                        } %>
                                        
                                        <div id="btnAnteriorSiguientePrograma3d2F<%=k%>_<%=n%>_<%=o%>_<%=q%>">
                                            <button id="btnAnteriorPrograma3d2F<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="btnAnteriorPrograma3d2F" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                <%= anteriorDisabled %>
                                                ><i class="fa-solid fa-arrow-left"></i>
                                            </button>
                                            <input type="hidden" id="resDatoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResDatoPrograma3d2F %>">
                                            <input type="hidden" id="resEstadoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResEstadoPrograma3d2F %>">
                                            <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResPrograma3d2F %>">
                                            <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionPrograma3d2F %>">
                                            <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResCreadorPrograma3d2F %>">
                                            <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResModificadorPrograma3d2F %>">
                                            <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaPrograma3d2F %>">
                                            <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaModPrograma3d2F %>">

                                            <span id="resDatoPrograma3d2F<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge bg-light text-dark my-2">
                                                <%= resDatoPrograma3d2F %>
                                            </span> |

                                            <% const config = programacionSegundaConfig[resEstadoPrograma3d2F] || programacionSegundaConfig.default; %>
                                            <span id="resEstadoPrograma3d2F<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%=resEstadoPrograma3d2F%>">
                                                <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                            </span> |

                                            <span id="resRevisionPrograma3d2F<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="resRevisionPrograma3d2F" class="badge text-dark my-2" style="cursor: help;">
                                                <%= resRevisionPrograma3d2F %>
                                            </span>

                                            <button id="btnSiguientePrograma3d2F<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="btnSiguientePrograma3d2F" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;" <%= siguienteDisabled %>
                                                ><i class="fa-solid fa-arrow-right"></i>
                                            </button>
                                        </div>
                                    </td>

                                <% } else if (q==8) { %>
                                    <!-- Programa3d4F data Activo-->
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtDetalles > 0 && largoArrayProgramacionSegunda > 0) {
                                            for (let i = 0; largoArrayProgramacionSegunda > i; i++) {

                                                if (pathMongoOtProgramacionSegunda[i]) {
                                                    let largoArray = parseInt(largoArrayProgramacionSegunda)
                                                    resDatoPrograma3d4F = pathMongoOtProgramacionSegunda[largoArray-1].programa3d4F == 'sinDato' ? "S/D" : pathMongoOtProgramacionSegunda[largoArray-1].programa3d4F
                                                    resEstadoPrograma3d4F = pathMongoOtProgramacionSegunda[largoArray-1].estadoPrograma3d4F == 'sinDato' ? "S/D" : pathMongoOtProgramacionSegunda[largoArray-1].estadoPrograma3d4F
                                                    resRevisionPrograma3d4F = parseInt(pathMongoOtProgramacionSegunda[largoArray-1].revisionPrograma3d4F) || 0
                                                    
                                                    pathMongoOtProgramacionSegunda[i].programa3d4F == 'sinDato' ? arrResDatoPrograma3d4F.push("S/D") : arrResDatoPrograma3d4F.push(pathMongoOtProgramacionSegunda[i].programa3d4F)
                                                    pathMongoOtProgramacionSegunda[i].estadoPrograma3d4F == 'sinDato' ? arrResEstadoPrograma3d4F.push("S/D") : arrResEstadoPrograma3d4F.push(pathMongoOtProgramacionSegunda[i].estadoPrograma3d4F)
                                                    arrResRevisionPrograma3d4F.push(pathMongoOtProgramacionSegunda[i].revisionPrograma3d4F)
                                                
                                                    arrResCreadorPrograma3d4F.push(pathMongoOtProgramacionSegunda[i].creator[0].username)
                                                    arrResModificadorPrograma3d4F.push(pathMongoOtProgramacionSegunda[i].modificator[0].username)
                                                    arrResFechaPrograma3d4F.push(pathMongoOtProgramacionSegunda[i].timestamp)
                                                    arrResFechaModPrograma3d4F.push(pathMongoOtProgramacionSegunda[i].modifiedOn)
                                                }
                                            }
                                            valueArrayResPrograma3d4F = parseInt(arrResEstadoPrograma3d4F.length-1)
                                            
                                            if (arrResDatoPrograma3d4F.length == 1 ) {
                                                anteriorDisabled = "disabled"
                                                siguienteDisabled = "disabled"
                                            } else if (arrResDatoPrograma3d4F.length == arrResRevisionPrograma3d4F.length) {
                                                anteriorDisabled = ""
                                                siguienteDisabled = "disabled"
                                            } else {
                                                anteriorDisabled = ""
                                                siguienteDisabled = "disabled"
                                            }
                                            
                                        } else {
                                            arrResDatoPrograma3d4F.push(resDatoPrograma3d4F)
                                            arrResEstadoPrograma3d4F.push(resEstadoPrograma3d4F)
                                            arrResRevisionPrograma3d4F.push(resRevisionPrograma3d4F)
                                            
                                            arrResCreadorPrograma3d4F.push(pathMongoOtDetalles[o].creator[0].username)
                                            arrResModificadorPrograma3d4F = ""
                                            arrResFechaPrograma3d4F.push(pathMongoOtDetalles[o].timestamp)
                                            arrResFechaModPrograma3d4F = ""
                                        } %>
                                        
                                        <div id="btnAnteriorSiguientePrograma3d4F<%=k%>_<%=n%>_<%=o%>_<%=q%>">
                                            <button id="btnAnteriorPrograma3d4F<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="btnAnteriorPrograma3d4F" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                <%= anteriorDisabled %>
                                                ><i class="fa-solid fa-arrow-left"></i>
                                            </button>
                                            <input type="hidden" id="resDatoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResDatoPrograma3d4F %>">
                                            <input type="hidden" id="resEstadoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResEstadoPrograma3d4F %>">
                                            <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResPrograma3d4F %>">
                                            <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionPrograma3d4F %>">
                                            <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResCreadorPrograma3d4F %>">
                                            <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResModificadorPrograma3d4F %>">
                                            <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaPrograma3d4F %>">
                                            <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaModPrograma3d4F %>">

                                            <span id="resDatoPrograma3d4F<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge bg-light text-dark my-2">
                                                <%= resDatoPrograma3d4F %>
                                            </span> |

                                            <% const config = programacionSegundaConfig[resEstadoPrograma3d4F] || programacionSegundaConfig.default; %>
                                            <span id="resEstadoPrograma3d4F<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%=resEstadoPrograma3d4F%>">
                                                <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                            </span> |

                                            <span id="resRevisionPrograma3d4F<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="resRevisionPrograma3d4F" class="badge text-dark my-2" style="cursor: help;">
                                                <%= resRevisionPrograma3d4F %>
                                            </span>

                                            <button id="btnSiguientePrograma3d4F<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="btnSiguientePrograma3d4F" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                <%= siguienteDisabled %>
                                                ><i class="fa-solid fa-arrow-right"></i>
                                            </button>
                                        </div>
                                    </td>

                                <% } else { %>
                                    <!-- Notas Programacion data Activo-->
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtDetalles > 0 && largoArrayProgramacionSegunda > 0) {
                                            for (let i = 0; largoArrayProgramacionSegunda > i; i++) {
                                                
                                                if (pathMongoOtProgramacionSegunda[i]) {
                                                    let largoArray = parseInt(largoArrayProgramacionSegunda)
                                                    resDatoNotasProgramacion = pathMongoOtProgramacionSegunda[largoArray-1].notasProgramacion == 'sinDato' ? "S/D" : pathMongoOtProgramacionSegunda[largoArray-1].notasProgramacion
                                                    resRevisionNotasProgramacion = pathMongoOtProgramacionSegunda[largoArray-1].revisionNotasProgramacion == 0 ? 0 : parseInt(pathMongoOtProgramacionSegunda[largoArray-1].revisionNotasProgramacion)
                                                    
                                                    arrResDatoNotasProgramacion.push(pathMongoOtProgramacionSegunda[i].notasProgramacion)
                                                    arrResRevisionNotasProgramacion.push(pathMongoOtProgramacionSegunda[i].revisionNotasProgramacion)
                                                
                                                    arrResCreadorNotasProgramacion.push(pathMongoOtProgramacionSegunda[i].creator[0].username)
                                                    arrResModificadorNotasProgramacion.push(pathMongoOtProgramacionSegunda[i].modificator[0].username)
                                                    arrResFechaNotasProgramacion.push(pathMongoOtProgramacionSegunda[i].timestamp)
                                                    arrResFechaModNotasProgramacion.push(pathMongoOtProgramacionSegunda[i].modifiedOn)
                                                }
                                            }
                                            valueArrayResNotasProgramacion = parseInt(arrResDatoNotasProgramacion.length-1)
                                                    
                                            if (arrResDatoNotasProgramacion.length == 1 ) {
                                                siguienteDisabled = "disabled"
                                                anteriorDisabled = "disabled"
                                            } else if (arrResDatoNotasProgramacion.length == arrResRevisionNotasProgramacion.length) {
                                                anteriorDisabled = ""
                                                siguienteDisabled = "disabled"
                                            } else {
                                                anteriorDisabled = ""
                                                siguienteDisabled = "disabled"
                                            }
                                            
                                        } else {
                                            arrResDatoNotasProgramacion.push(resDatoNotasProgramacion)
                                            arrResRevisionNotasProgramacion.push(resRevisionNotasProgramacion)
                                            
                                            arrResCreadorNotasProgramacion.push(pathMongoOtDetalles[o].creator[0].username)
                                            arrResModificadorNotasProgramacion = ""
                                            arrResFechaNotasProgramacion.push(pathMongoOtDetalles[o].timestamp)
                                            arrResFechaModNotasProgramacion = ""
                                        } %>

                                        <div id="btnAnteriorSiguienteNotasProgramacion<%=k%>_<%=n%>_<%=o%>_<%=q%>">
                                            <button id="btnAnteriorNotasProgramacion<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="btnAnteriorNotasProgramacion" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                <%= anteriorDisabled %>
                                                ><i class="fa-solid fa-arrow-left"></i>
                                            </button>
                                            <input type="hidden" id="resDatoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResDatoNotasProgramacion %>">
                                            <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResNotasProgramacion %>">
                                            <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionNotasProgramacion %>">
                                            <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResCreadorNotasProgramacion %>">
                                            <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResModificadorNotasProgramacion %>">
                                            <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaNotasProgramacion %>">
                                            <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaModNotasProgramacion %>">

                                            
                                                <span id="resDatoNotasProgramacion<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="d-inline-block text-truncate align-middle text-dark" style="max-width: 13vw;">
                                                    <%= resDatoNotasProgramacion %>
                                                </span> |                                                
                                                <span id="resRevisionNotasProgramacion<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="resRevisionNotasProgramacion" class="badge text-dark align-middle" style="cursor: help;">
                                                    <%= resRevisionNotasProgramacion %>
                                                </span>
                                                
                                            <button id="btnSiguienteNotasProgramacion<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="btnSiguienteNotasProgramacion" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                <%= siguienteDisabled %>
                                                ><i class="fa-solid fa-arrow-right"></i>
                                            </button>
                                        </div>
                                    </td>
                                <% }
                            } %>
                        </tr>

                    <% } else { %>
                        <!--Inactivo-->
                        <tr name="rowSelected<%=k%>_<%=n%>_<%=o%>" class="pe-none border-bottom" style="height: 5vh; background-color: #dedede;">
                            <% for (let q = 7; totalColDataProgramacionSegunda > q; q++) {
                                if (q==7) { %>
                                    <!-- Programas 3d F2 data Inactivo -->
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtDetalles > 0 && largoArrayProgramacionSegunda > 0) {
                                            for (let i = 0; largoArrayProgramacionSegunda > i; i++) {
                                                
                                                if (pathMongoOtProgramacionSegunda[i]) {
                                                    let largoArray = parseInt(largoArrayProgramacionSegunda)
                                                    resDatoPrograma3d2F = pathMongoOtProgramacionSegunda[largoArray-1].programa3d2F || 'S/D'
                                                    resEstadoPrograma3d2F = pathMongoOtProgramacionSegunda[largoArray-1].estadoPrograma3d2F || 'sinDato'
                                                    resRevisionPrograma3d2F = parseInt(pathMongoOtProgramacionSegunda[largoArray-1].revisionPrograma3d2F) || 0
                                                    
                                                    arrResDatoPrograma3d2F.push(pathMongoOtProgramacionSegunda[i].programa3d2F)
                                                    arrResEstadoPrograma3d2F.push(pathMongoOtProgramacionSegunda[i].estadoPrograma3d2F)
                                                    arrResRevisionPrograma3d2F.push(pathMongoOtProgramacionSegunda[i].revisionPrograma3d2F)
                                                }
                                            }
                                            valueArrayResPrograma3d2F = parseInt(arrResEstadoPrograma3d2F.length-1)
                                            resDatoPrograma3d2F = pathMongoOtProgramacionSegunda[0].Programa3d2F
                                            resEstadoPrograma3d2F = pathMongoOtProgramacionSegunda[0].estadoPrograma3d2F

                                        } else {
                                            arrResDatoPrograma3d2F.push(resDatoPrograma3d2F)
                                            arrResEstadoPrograma3d2F.push(resEstadoPrograma3d2F)
                                            arrResRevisionPrograma3d2F.push(resRevisionPrograma3d2F)
                                        } %>
                                        <input type="hidden" id="resDatoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResDatoPrograma3d2F %>">
                                        <input type="hidden" id="resEstadoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResEstadoPrograma3d2F %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResPrograma3d2F %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionPrograma3d2F %>">
                                    
                                        <span id="resDatoPrograma3d2F<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge bg-secondary text-light my-2">
                                            <%= resDatoPrograma3d2F %>
                                        </span> |

                                        <% const config = programacionSegundaConfig[resEstadoPrograma3d2F] || programacionSegundaConfig.default; %>
                                        <span id="resEstadoPrograma3d2F<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%=resEstadoPrograma3d2F%>">
                                            <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                        </span> |

                                        <span id="resRevisionPrograma3d2F<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="resRevisionPrograma3d2F" class="badge text-dark my-2" style="cursor: help;">
                                            <%= resRevisionPrograma3d2F %>
                                        </span>
                                    </td>

                                <% } else if (q==8) { %>
                                    <!-- Programa3d4F data Inactivo -->
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtDetalles > 0 && largoArrayProgramacionSegunda > 0) {
                                            for (let i = 0; largoArrayProgramacionSegunda > i; i++) {
                                                
                                                if (pathMongoOtProgramacionSegunda[i]) {
                                                    let largoArray = parseInt(largoArrayProgramacionSegunda)
                                                    resDatoPrograma3d4F = pathMongoOtProgramacionSegunda[largoArray-1].programa3d4F || 'S/D'
                                                    resEstadoPrograma3d4F = pathMongoOtProgramacionSegunda[largoArray-1].programa3d4F || 'sinDato'
                                                    resRevisionPrograma3d4F = parseInt(pathMongoOtProgramacionSegunda[largoArray-1].revisionPrograma3d4F) || 0
                                                    
                                                    arrResDatoPrograma3d4F.push(pathMongoOtProgramacionSegunda[i].programa3d4F)
                                                    arrResEstadoPrograma3d4F.push(pathMongoOtProgramacionSegunda[i].programa3d4F)
                                                    arrResRevisionPrograma3d4F.push(pathMongoOtProgramacionSegunda[i].revisionPrograma3d4F)
                                                }
                                            }
                                            valueArrayResPrograma3d4F = parseInt(arrResEstadoPrograma3d4F.length-1)
                                            resDatoPrograma3d4F = pathMongoOtProgramacionSegunda[0].programa3d4F
                                            resEstadoPrograma3d4F = pathMongoOtProgramacionSegunda[0].estadoPrograma3d4F
                                        
                                        } else {
                                            arrResDatoPrograma3d4F.push(resDatoPrograma3d4F)
                                            arrResEstadoPrograma3d4F.push(resEstadoPrograma3d4F)
                                            arrResRevisionPrograma3d4F.push(resRevisionPrograma3d4F)
                                        } %>
                                        <input type="hidden" id="resDatoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResDatoPrograma3d4F %>">
                                        <input type="hidden" id="resEstadoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResEstadoPrograma3d4F %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResPrograma3d4F %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionPrograma3d4F %>">

                                        <span id="resDatoPrograma3d4F<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge bg-secondary text-light my-2">
                                            <%= resDatoPrograma3d4F %>
                                        </span> |

                                        <% const config = programacionSegundaConfig[resEstadoPrograma3d4F] || programacionSegundaConfig.default; %>
                                        <span id="resEstadoPrograma3d4F<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%=resEstadoPrograma3d4F%>">
                                            <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                        </span> |

                                        <span id="resRevisionPrograma3d4F<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="resRevisionPrograma3d4F" class="badge text-dark my-2" style="cursor: help;">
                                            <%= resRevisionPrograma3d4F %>
                                        </span>
                                    </td>

                                <% } else { %>
                                    <!-- NotasProgramacion data Inactivo -->
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtDetalles > 0 && largoArrayProgramacionSegunda > 0) {
                                                for (let i = 0; largoArrayProgramacionSegunda > i; i++) {
                                                    
                                                    if (pathMongoOtProgramacionSegunda[i]) {
                                                        let largoArray = parseInt(largoArrayProgramacionSegunda)
                                                        resDatoNotasProgramacion = pathMongoOtProgramacionSegunda[largoArray-1].notasProgramacion || 'S/D'
                                                        resRevisionNotasProgramacion = parseInt(pathMongoOtProgramacionSegunda[largoArray-1].revisionNotasProgramacion) || 0
                                                        
                                                        arrResDatoNotasProgramacion.push(pathMongoOtProgramacionSegunda[i].notasProgramacion)
                                                        arrResRevisionNotasProgramacion.push(pathMongoOtProgramacionSegunda[i].revisionNotasProgramacion)
                                                    }
                                                }
                                                valueArrayResNotasProgramacion = parseInt(arrResDatoNotasProgramacion.length-1)
                                                resDatoNotasProgramacion = pathMongoOtProgramacionSegunda[0].notasProgramacion || 'sinDato'
                                                
                                        } else {
                                            arrResDatoNotasProgramacion.push(resDatoNotasProgramacion)
                                            arrResRevisionNotasProgramacion.push(resRevisionNotasProgramacion)
                                        } %>
                                        <input type="hidden" id="resDatoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResDatoNotasProgramacion %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResNotasProgramacion %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionNotasProgramacion %>">

                                        <span id="resDatoNotasProgramacion<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="d-inline-block text-truncate align-middle text-dark" style="max-width: 13vw;">
                                            <%= resDatoNotasProgramacion %>
                                        </span> |
                                        <span id="resRevisionNotasProgramacion<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="resRevisionNotasProgramacion" class="badge text-dark align-middle" style="cursor: help;">
                                            <%= resRevisionNotasProgramacion %>
                                        </span>
                                    </td>
                                <% }
                            } %>
                        </tr>
                    <% }
                }
            }
        }) %>
    </tbody>
</table>