<!-- tabla Mecanizado Segunda -->
<table id="tablaOtMecanizadoSegunda<%=k%>" class="table-responsive align-middle col-5 border-end border-dark" style="font-size: 10pt; width: 100%">
    <thead class="align-middle" style="background-color: #d8d8eb">
        <tr>
            <th colspan="4" class="text-center">MECANIZADO (2° Parte)
                <% if (userInfo.admin || userInfo.area === 'fabricacion') { %>
                    <button id="posBtnAddDataOtMecanizadoSegunda<%=k%>" type="button" name="btnOtMecanizadoSegunda" class="btn btn-small btn-success shadow m-1 me-5 position-relative"
                        style="--bs-btn-font-size: .6rem; color: var(--bs-white);" title="Agregar/Modificar Datos" value="<%=k%>">
                        <i class="fa-solid fa-pencil fa-lg" aria-hidden="true"></i>
                        <span id="spanCheckSelecMasiveMecaSeg<%=k%>" class="position-absolute top-100 start-100 translate-middle badge rounded-pill bg-danger">
                            0
                            <span class="visually-hidden">Elementos seleccionados</span>
                        </span>
                    </button>
                <% } else { %>
                    <button type="button" class="btn btn-small btn-danger shadow m-1 me-5 disabled" style="--bs-btn-font-size: .6rem; color: var(--bs-white);">
                        <i class="fa-solid fa-ban fa-lg" aria-hidden="true"></i>                                                    
                    </button>
                <% } %>
                <i class="fa-solid fa-arrows-spin fa-lg" style="color: #b09b12;"></i> En Proceso -
                <i class="fa-solid fa-circle-check fa-lg" style="color: #008f30;"></i> Terminado -
                <i class="fa-solid fa-circle-xmark fa-lg" style="color: #c40000;"></i> Suspendido -
                <i class="fa-solid fa-ban fa-lg"></i> No Aplica -
                <i class="fa-solid fa-triangle-exclamation fa-lg" style="color: #1c21ac;"></i> Sin Datos
            </th>
        </tr>
        <tr>
            <th id="colData0" style="width:33vw" scope="col-1" class="text-center pb-1">F3 | Estado | Rev</th>
            <th id="colData1" style="width:33vw" scope="col-1" class="text-center pb-1">F4 | Estado | Rev</th>
            <th id="colData2" style="width:33vw" scope="col-1" class="text-center pb-1">Notas | Rev</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        
        <% let anteriorDisabled = "disabled", siguienteDisabled = "disabled",
            resDatoFTres = 'S/D', resEstadoFTres = 'S/D', resRevisionFTres = 0,
            resDatoFCuatro = 'S/D', resEstadoFCuatro = 'S/D', resRevisionFCuatro = 0,
            resDatoNotasMecanizado = 'S/D', resRevisionNotasMecanizado = 0;

        const mecanizadoSegundaConfig = {
            enProceso: { icon: "fa-arrows-spin", iconColor: "color:#b09b12" },
            terminado: { icon: "fa-circle-check", iconColor: "color:#008f30" },
            suspendido: { icon: "fa-circle-xmark", iconColor: "color:#c40000" },
            noAplica: { icon: "fa-ban", iconColor: "color:#000000" },
            default: { icon: "fa-triangle-exclamation", iconColor: "color:#1c21ac" }
        };

        proyecto[m].project[j].oci[k].otProject.forEach((ot, n) => {
            let pathMongoOtProject = proyecto[m].project[j].oci[k].otProject,
            pathMongoOtDetalles = pathMongoOtProject[n].otDetalles,
            largoArrayOtDetalles = parseInt(pathMongoOtDetalles.length)

            for ( let o=0; largoArrayOtDetalles> o; o++) {
                let pathToMongoOtMecanizadoSegunda = pathMongoOtDetalles[o].otMecanizadoSegunda || [];
                let largoArrayMecanizado = parseInt(pathToMongoOtMecanizadoSegunda.length);

                let arrResDatoFTres = [], arrResEstadoFTres = [], valueArrayResFTres = 0, arrResRevisionFTres = [],
                arrResCreadorFTres = [], arrResModificadorFTres = [], arrResFechaFTres = [], arrResFechaModFTres = [];

                let arrResDatoFCuatro = [], arrResEstadoFCuatro = [], valueArrayResFCuatro = 0, arrResRevisionFCuatro = [],
                arrResCreadorFCuatro = [], arrResModificadorFCuatro = [], arrResFechaFCuatro = [], arrResFechaModFCuatro = [];

                let arrResDatoNotasMecanizado = [], arrResNotasMecanizado = [], valueArrayResNotasMecanizado = 0, arrResRevisionNotasMecanizado = [],
                arrResCreadorNotasMecanizado = [], arrResModificadorNotasMecanizado = [], arrResFechaNotasMecanizado = [], arrResFechaModNotasMecanizado = [];

                if (pathMongoOtProject[n].visible && pathMongoOtDetalles[o].visible) {
                    if (pathMongoOtProject[n].otStatus && pathMongoOtDetalles[o].statusDetalle) { %>
                        <!-- Activo-->
                        <tr name="rowSelected<%=k%>_<%=n%>_<%=o%>" class="border-bottom" style="height: 5vh;">
                            <% for (let q = 13; totalColDataMecanizadoSegunda > q; q++) {
                                if (q==13) { %>
                                    <!-- Fase 3 data Activo-->
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtDetalles > 0 && largoArrayMecanizado > 0) {

                                            for (let i = 0; largoArrayMecanizado > i; i++) {                                                        
                                                if (pathToMongoOtMecanizadoSegunda[i]) {
                                                    let largoArray = parseInt(largoArrayMecanizado)
                                                    resDatoFTres = pathToMongoOtMecanizadoSegunda[largoArray-1].fTres || 'sinDato'
                                                    resEstadoFTres = pathToMongoOtMecanizadoSegunda[largoArray-1].estadoFTres || 'sinDato'
                                                    resRevisionFTres = parseInt(pathToMongoOtMecanizadoSegunda[largoArray-1].revisionFTres) || 0
                                                    
                                                    arrResDatoFTres.push(pathToMongoOtMecanizadoSegunda[i].fTres)
                                                    arrResEstadoFTres.push(pathToMongoOtMecanizadoSegunda[i].estadoFTres)
                                                    arrResRevisionFTres.push(pathToMongoOtMecanizadoSegunda[i].revisionFTres)
                                                
                                                    arrResCreadorFTres.push(pathToMongoOtMecanizadoSegunda[i].creator[0].username)
                                                    arrResModificadorFTres.push(pathToMongoOtMecanizadoSegunda[i].modificator[0].username)
                                                    arrResFechaFTres.push(pathToMongoOtMecanizadoSegunda[i].timestamp)
                                                    arrResFechaModFTres.push(pathToMongoOtMecanizadoSegunda[i].modifiedOn)
                                                }
                                            }
                                            valueArrayResFTres = parseInt(arrResDatoFTres.length-1)
                                                
                                            if (arrResDatoFTres.length == 1 ) {
                                                siguienteDisabled = "disabled"
                                                anteriorDisabled = "disabled"
                                            } else if (arrResDatoFTres.length == arrResRevisionFTres.length) {
                                                anteriorDisabled = ""
                                                siguienteDisabled = "disabled"
                                            } else {
                                                anteriorDisabled = ""
                                                siguienteDisabled = "disabled"
                                            }
                                                
                                        } else {
                                            arrResDatoFTres.push(resDatoFTres)
                                            arrResEstadoFTres.push(resEstadoFTres)
                                            arrResRevisionFTres.push(resRevisionFTres)
                                            
                                            arrResCreadorFTres.push(pathMongoOtDetalles[o].creator[0].username)
                                            arrResModificadorFTres = ""
                                            arrResFechaFTres.push(pathMongoOtDetalles[o].timestamp)
                                            arrResFechaModFTres = ""
                                        } %>

                                        <div id="btnAnteriorSiguienteFTres<%=k%>_<%=n%>_<%=o%>_<%=q%>">
                                            <button id="btnAnteriorFTres<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="btnAnteriorFTres" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                <%= anteriorDisabled %>
                                                ><i class="fa-solid fa-arrow-left"></i>
                                            </button>
                                            <input type="hidden" id="resDatoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResDatoFTres %>">
                                            <input type="hidden" id="resEstadoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResEstadoFTres %>">
                                            <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResFTres %>">
                                            <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionFTres %>">
                                            <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResCreadorFTres %>">
                                            <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResModificadorFTres %>">
                                            <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaFTres %>">
                                            <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaModFTres %>">

                                            <span id="resDatoFTres<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="text-dark my-2">
                                                <%= resDatoFTres %>
                                            </span> |

                                            <% const config = mecanizadoSegundaConfig[resEstadoFTres] || mecanizadoSegundaConfig.default; %>
                                            <span id="resEstadoFTres<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%=resEstadoFTres%>">
                                                <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                            </span> |

                                            <span id="resRevisionFTres<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="resRevisionFTres" class="badge text-dark my-2" style="cursor: help;">
                                                <%= resRevisionFTres %>
                                            </span>

                                            <button id="btnSiguienteFTres<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="btnSiguienteFTres" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                <%= siguienteDisabled %>
                                                ><i class="fa-solid fa-arrow-right"></i>
                                            </button>
                                        </div>
                                    </td>

                                <% } else if (q==14) { %>
                                    <!--Fase 4 data Activo--> 
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtDetalles > 0 && largoArrayMecanizado > 0) {

                                            for (let i = 0; largoArrayMecanizado > i; i++) {
                                                if (pathToMongoOtMecanizadoSegunda[i]) {
                                                    let largoArray = parseInt(largoArrayMecanizado)
                                                    resDatoFCuatro = pathToMongoOtMecanizadoSegunda[largoArray-1].fCuatro || 'sinDato'
                                                    resEstadoFCuatro = pathToMongoOtMecanizadoSegunda[largoArray-1].estadoFCuatro || 'sinDato'
                                                    resRevisionFCuatro = parseInt(pathToMongoOtMecanizadoSegunda[largoArray-1].revisionFCuatro) || 0
                                                    
                                                    arrResDatoFCuatro.push(pathToMongoOtMecanizadoSegunda[i].fCuatro)
                                                    arrResEstadoFCuatro.push(pathToMongoOtMecanizadoSegunda[i].estadoFCuatro)
                                                    arrResRevisionFCuatro.push(pathToMongoOtMecanizadoSegunda[i].revisionFCuatro)
                                                
                                                    arrResCreadorFCuatro.push(pathToMongoOtMecanizadoSegunda[i].creator[0].username)
                                                    arrResModificadorFCuatro.push(pathToMongoOtMecanizadoSegunda[i].modificator[0].username)
                                                    arrResFechaFCuatro.push(pathToMongoOtMecanizadoSegunda[i].timestamp)
                                                    arrResFechaModFCuatro.push(pathToMongoOtMecanizadoSegunda[i].modifiedOn)
                                                }
                                            }
                                            valueArrayResFCuatro = parseInt(arrResDatoFCuatro.length-1)

                                            if (arrResDatoFCuatro.length == 1 ) {
                                                anteriorDisabled = "disabled"
                                                siguienteDisabled = "disabled"
                                            } else if (arrResDatoFCuatro.length == arrResRevisionFCuatro.length) {
                                                anteriorDisabled = ""
                                                siguienteDisabled = "disabled"
                                            } else {
                                                anteriorDisabled = ""
                                                siguienteDisabled = "disabled"
                                            }
                                            
                                        } else {
                                            arrResDatoFCuatro.push(resDatoFCuatro)
                                            arrResEstadoFCuatro.push(resEstadoFCuatro)
                                            arrResRevisionFCuatro.push(resRevisionFCuatro)
                                            
                                            arrResCreadorFCuatro.push(pathMongoOtDetalles[o].creator[0].username)
                                            arrResModificadorFCuatro = ""
                                            arrResFechaFCuatro.push(pathMongoOtDetalles[o].timestamp)
                                            arrResFechaModFCuatro = ""
                                        } %>
                                        
                                        <div id="btnAnteriorSiguienteFCuatro<%=k%>_<%=n%>_<%=o%>_<%=q%>">
                                            <button id="btnAnteriorFCuatro<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="btnAnteriorFCuatro" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                <%= anteriorDisabled %>
                                                ><i class="fa-solid fa-arrow-left"></i>
                                            </button>
                                            <input type="hidden" id="resDatoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResDatoFCuatro %>">
                                            <input type="hidden" id="resEstadoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResEstadoFCuatro %>">
                                            <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResFCuatro %>">
                                            <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionFCuatro %>">
                                            <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResCreadorFCuatro %>">
                                            <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResModificadorFCuatro %>">
                                            <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaFCuatro %>">
                                            <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaModFCuatro %>">

                                            <span id="resDatoFCuatro<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="text-dark my-2">
                                                <%= resDatoFCuatro %>
                                            </span> |

                                            <% const config = mecanizadoSegundaConfig[resEstadoFCuatro] || mecanizadoSegundaConfig.default; %>
                                            <span id="resEstadoFCuatro<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%=resEstadoFCuatro%>">
                                                <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                            </span> |

                                            <span id="resRevisionFCuatro<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="resRevisionFCuatro" class="badge text-dark my-2" style="cursor: help;">
                                                <%= resRevisionFCuatro %>
                                            </span>

                                            <button id="btnSiguienteFCuatro<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="btnSiguienteFCuatro" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;" <%= siguienteDisabled %>
                                                ><i class="fa-solid fa-arrow-right"></i>
                                            </button>
                                        </div>
                                    </td>

                                <% } else { %>
                                    <!-- Notas Mecanizado data Activo-->
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtDetalles > 0 && largoArrayMecanizado > 0) {
                                            
                                            for (let i = 0; largoArrayMecanizado > i; i++) {
                                                if (pathToMongoOtMecanizadoSegunda[i]) {
                                                    let largoArray = parseInt(largoArrayMecanizado)
                                                    resDatoNotasMecanizado = pathToMongoOtMecanizadoSegunda[largoArray-1].notasMecanizado || 'sinDato'
                                                    resRevisionNotasMecanizado = parseInt(pathToMongoOtMecanizadoSegunda[largoArray-1].revisionNotasMecanizado) || 0
                                                    
                                                    arrResDatoNotasMecanizado.push(pathToMongoOtMecanizadoSegunda[i].notasMecanizado)
                                                    arrResRevisionNotasMecanizado.push(pathToMongoOtMecanizadoSegunda[i].revisionNotasMecanizado)
                                                
                                                    arrResCreadorNotasMecanizado.push(pathToMongoOtMecanizadoSegunda[i].creator[0].username)
                                                    arrResModificadorNotasMecanizado.push(pathToMongoOtMecanizadoSegunda[i].modificator[0].username)
                                                    arrResFechaNotasMecanizado.push(pathToMongoOtMecanizadoSegunda[i].timestamp)
                                                    arrResFechaModNotasMecanizado.push(pathToMongoOtMecanizadoSegunda[i].modifiedOn)
                                                }
                                            }
                                            valueArrayResNotasMecanizado = parseInt(arrResDatoNotasMecanizado.length-1)
                                            
                                            if (arrResDatoNotasMecanizado.length == 1 ) {
                                                siguienteDisabled = "disabled"
                                                anteriorDisabled = "disabled"
                                            } else if (arrResDatoNotasMecanizado.length == arrResRevisionNotasMecanizado.length) {
                                                anteriorDisabled = ""
                                                siguienteDisabled = "disabled"
                                            } else {
                                                anteriorDisabled = ""
                                                siguienteDisabled = "disabled"
                                            }
                                            
                                        } else {
                                            arrResDatoNotasMecanizado.push(resDatoNotasMecanizado)
                                            arrResRevisionNotasMecanizado.push(resRevisionNotasMecanizado)
                                            
                                            arrResCreadorNotasMecanizado.push(pathMongoOtDetalles[o].creator[0].username)
                                            arrResModificadorNotasMecanizado = ""
                                            arrResFechaNotasMecanizado.push(pathMongoOtDetalles[o].timestamp)
                                            arrResFechaModNotasMecanizado = ""
                                        } %>

                                        <div id="btnAnteriorSiguienteNotasMecanizado<%=k%>_<%=n%>_<%=o%>_<%=q%>">
                                            <button id="btnAnteriorNotasMecanizado<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="btnAnteriorNotasMecanizado" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm me-2" title="Ver anterior" type="button"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                <%= anteriorDisabled %>
                                                ><i class="fa-solid fa-arrow-left"></i>
                                            </button>
                                            <input type="hidden" id="resDatoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResDatoNotasMecanizado %>">
                                            <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResNotasMecanizado %>">
                                            <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionNotasMecanizado %>">
                                            <input type="hidden" id="arrResCreadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResCreadorNotasMecanizado %>">
                                            <input type="hidden" id="arrResModificadorHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResModificadorNotasMecanizado %>">
                                            <input type="hidden" id="arrResFechaHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaNotasMecanizado %>">
                                            <input type="hidden" id="arrResFechaModificacionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResFechaModNotasMecanizado %>">

                                            <span id="resDatoNotasMecanizado<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="text-dark my-2">
                                                <%= resDatoNotasMecanizado %>
                                            </span> |

                                            <span id="resRevisionNotasMecanizado<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="resRevisionNotasMecanizado" class="badge text-dark my-2" style="cursor: help;">
                                                <%= resRevisionNotasMecanizado %>
                                            </span>

                                            <button id="btnSiguienteNotasMecanizado<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="btnSiguienteNotasMecanizado" value="<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="btn btn-light btn-sm ms-2" title="Ver siguiente" type="button"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem; color: var(--bs-black); cursor: pointer;"
                                                <%= siguienteDisabled %>
                                                ><i class="fa-solid fa-arrow-right"></i>
                                            </button>
                                        </div>
                                    </td>
                                <% }
                            } %>
                        </tr>

                    <% } else { %>
                        <!-- Inactivo -->
                        <tr name="rowSelected<%=k%>_<%=n%>_<%=o%>" class="pe-none border-bottom" style="height: 5vh; background-color: #dedede;">
                            <% for (let q = 13; totalColDataMecanizadoSegunda > q; q++) {
                                if (q==13) { %>
                                    <!-- Fase 3 data Inactivo -->
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtDetalles > 0 && largoArrayMecanizado > 0) {
                                            for (let i = 0; largoArrayMecanizado > i; i++) {
                                                
                                                if (pathToMongoOtMecanizadoSegunda[i]) {
                                                    let largoArray = parseInt(largoArrayMecanizado)
                                                    resDatoFTres = pathToMongoOtMecanizadoSegunda[largoArray-1].fTres || 'sinDato'
                                                    resEstadoFTres = pathToMongoOtMecanizadoSegunda[largoArray-1].estadoFTres || 'sinDato'
                                                    resRevisionFTres = parseInt(pathToMongoOtMecanizadoSegunda[largoArray-1].revisionFTres) || 0
                                                    
                                                    arrResDatoFTres.push(pathToMongoOtMecanizadoSegunda[i].fTres)
                                                    arrResEstadoFTres.push(pathToMongoOtMecanizadoSegunda[i].estadoFTres)
                                                    arrResRevisionFTres.push(pathToMongoOtMecanizadoSegunda[i].revisionFTres)
                                                }
                                            }
                                            valueArrayResFTres = parseInt(arrResDatoFTres.length-1)
                                            resDatoFTres = pathToMongoOtMecanizadoSegunda[0].fTres
                                            resEstadoFTres = pathToMongoOtMecanizadoSegunda[0].estadoFTres
                                        
                                        } else {
                                            arrResDatoFTres.push(resDatoFTres)
                                            arrResEstadoFTres.push(resEstadoFTres)
                                            arrResRevisionFTres.push(resRevisionFTres)
                                        } %>
                                        <input type="hidden" id="resDatoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResDatoFTres %>">
                                        <input type="hidden" id="resEstadoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResEstadoFTres %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResFTres %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionFTres %>">

                                        <span id="resDatoFTres<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge bg-secondary text-light my-2">
                                            <%= resDatoFTres %>
                                        </span> |
                                        
                                        <% const config = mecanizadoSegundaConfig[resEstadoFTres] || mecanizadoSegundaConfig.default; %>
                                        <span id="resEstadoFTres<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%=resEstadoFTres%>">
                                            <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                        </span> |

                                        <span id="resRevisionFTres<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="resRevisionFTres" class="badge text-dark my-2" style="cursor: help;">
                                            <%= resRevisionFTres %>
                                        </span>
                                    </td>

                                <% } else if (q==14) { %>
                                    <!-- Fase 4 data Inactivo -->
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtDetalles > 0 && largoArrayMecanizado > 0) {
                                        
                                            for (let i = 0; largoArrayMecanizado > i; i++) {
                                                if (pathToMongoOtMecanizadoSegunda[i]) {
                                                    let largoArray = parseInt(largoArrayMecanizado)
                                                    resDatoFCuatro = pathToMongoOtMecanizadoSegunda[largoArray-1].fCuatro || 'sinDato'
                                                    resEstadoFCuatro = pathToMongoOtMecanizadoSegunda[largoArray-1].estadoFCuatro || 'sinDato'
                                                    resRevisionFCuatro = parseInt(pathToMongoOtMecanizadoSegunda[largoArray-1].revisionFCuatro) || 0
                                                    
                                                    arrResDatoFCuatro.push(pathToMongoOtMecanizadoSegunda[i].fCuatro)
                                                    arrResEstadoFCuatro.push(pathToMongoOtMecanizadoSegunda[i].estadoFCuatro)
                                                    arrResRevisionFCuatro.push(pathToMongoOtMecanizadoSegunda[i].revisionFCuatro)
                                                }
                                            }
                                            valueArrayResFCuatro = parseInt(arrResDatoFCuatro.length-1)
                                            resDatoFCuatro = pathToMongoOtMecanizadoSegunda[0].FCuatro
                                            resEstadoFCuatro = pathToMongoOtMecanizadoSegunda[0].estadoFCuatro

                                        } else {
                                            arrResDatoFCuatro.push(resDatoFCuatro)
                                            arrResEstadoFCuatro.push(resEstadoFCuatro)
                                            arrResRevisionFCuatro.push(resRevisionFCuatro)
                                        } %>
                                        <input type="hidden" id="resDatoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResDatoFCuatro %>">
                                        <input type="hidden" id="resEstadoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResEstadoFCuatro %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResFCuatro %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionFCuatro %>">
                                    
                                        <span id="resDatoFCuatro<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="badge bg-light text-dark my-2">
                                            <%= resDatoFCuatro %>
                                        </span> |

                                        <% const config = mecanizadoSegundaConfig[resEstadoFCuatro] || mecanizadoSegundaConfig.default; %>
                                        <span id="resEstadoFCuatro<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%=resEstadoFCuatro%>">
                                            <i class="fa-solid <%= config.icon %> fa-lg" style="<%= config.iconColor %>"></i>
                                        </span> |

                                        <span id="resRevisionFCuatro<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="resRevisionFCuatro" class="badge text-dark my-2" style="cursor: help;">
                                            <%= resRevisionFCuatro %>
                                        </span>
                                    </td>

                                <% } else { %>
                                    <!-- NotasMecanizado data Inactivo -->
                                    <td class="text-center align-middle">
                                        <% if (largoArrayOtDetalles > 0 && largoArrayMecanizado > 0) {

                                            for (let i = 0; largoArrayMecanizado > i; i++) {
                                                if (pathToMongoOtMecanizadoSegunda[i]) {
                                                    let largoArray = parseInt(largoArrayMecanizado)
                                                    resDatoNotasMecanizado = pathToMongoOtMecanizadoSegunda[largoArray-1].notasMecanizado || 'sinDato'
                                                    resRevisionNotasMecanizado = parseInt(pathToMongoOtMecanizadoSegunda[largoArray-1].revisionNotasMecanizado) || 0
                                                    
                                                    arrResDatoNotasMecanizado.push(pathToMongoOtMecanizadoSegunda[i].notasMecanizado)
                                                    arrResRevisionNotasMecanizado.push(pathToMongoOtMecanizadoSegunda[i].revisionNotasMecanizado)
                                                }
                                            }
                                            valueArrayResNotasMecanizado = parseInt(arrResDatoNotasMecanizado.length-1)
                                            resDatoNotasMecanizado = pathToMongoOtMecanizadoSegunda[0].notasMecanizado
                                            
                                        } else {
                                            arrResDatoNotasMecanizado.push(resDatoNotasMecanizado)
                                            arrResRevisionNotasMecanizado.push(resRevisionNotasMecanizado)
                                        } %>
                                        <input type="hidden" id="resDatoHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResDatoNotasMecanizado %>">
                                        <input type="hidden" id="resIndexHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= valueArrayResNotasMecanizado %>">
                                        <input type="hidden" id="resRevisionHidden<%=k%>_<%=n%>_<%=o%>_<%=q%>" value="<%= arrResRevisionNotasMecanizado %>">

                                        <span id="resDatoNotasMecanizado<%=k%>_<%=n%>_<%=o%>_<%=q%>" class="text-dark my-2">
                                            <%= resDatoNotasMecanizado %>
                                        </span> |
                                        <span id="resRevisionNotasMecanizado<%=k%>_<%=n%>_<%=o%>_<%=q%>" name="resRevisionNotasMecanizado" class="badge text-dark my-2" style="cursor: help;" valueCreador="" valueFecha="" valueModificador="" valueFechaMod="">
                                            <%= resRevisionNotasMecanizado %>
                                        </span>
                                    </td>
                                <% }
                            } %>
                        </tr>
                    <% }
                }
            }
        }) %>
    </tbody>
</table>