<!-- tabla Detalles -->
<table id="tablaDetalle<%=k%>" name="tablaDetalle" class="table-responsive align-middle col-2 border-end border-dark" style="font-size: 10pt">
    <thead class="align-middle" style="background-color: #bbc">
        <tr>
            <th colspan="3" class="text-center pb-1"><div class="mb-3">ITEMS</div></th>
        </tr>
        <tr>
            <th style="width: 10vw" scope="col-1" class="text-center">Status</th>
            <th style="width:40vw" scope="col-1" class="text-center"># Item</th>
            <th style="width:48vw" scope="col-1" class="text-center">Descripción</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <% let largoArrayOtProject = proyecto[m].project[j].oci[k].otProject.length;
        
        for ( let n=0; largoArrayOtProject> n; n++) {
            let pathMongoOtProject = proyecto[m].project[j].oci[k].otProject[n]
            let largoArrayOtDetalles = pathMongoOtProject.otDetalles.length

            for ( let o=0; largoArrayOtDetalles > o; o++) {
                if (pathMongoOtProject.visible) {
                    if (pathMongoOtProject.otStatus && pathMongoOtProject.otDetalles[o].statusDetalle) { %>
                        <tr id="rowDetalleSelected<%=k%>_<%=n%>_<%=o%>" name="rowSelected<%=k%>_<%=n%>_<%=o%>" class="border-bottom fw-semibold fs-6" style="height: 5vh;">
                            <td class="text-center">
                                <span id="statusDetalle<%=k%>_<%=n%>_<%=o%>" class="badge rounded-pill bg-success text-white my-2 ms-1">
                                    Activo
                                </span>
                            </td>
                            <td class="text-center align-middle overflow-ellipsis">
                                <small id="numeroDetalle<%=k%>_<%=n%>_<%=o%>" class="text-dark align-middle">
                                    <%= pathMongoOtProject.otDetalles[o].numeroDetalle %>
                                </small>
                            </td>
                            <td class="text-center align-middle overflow-ellipsis">
                                <small id="descripcionDetalle<%=k%>_<%=n%>_<%=o%>" class="text-dark">
                                    <%= pathMongoOtProject.otDetalles[o].descripcionDetalle %>
                                </small>
                            </td>
                            <td class="d-none">
                                <small id="detalleIdHidden<%=k%>_<%=n%>_<%=o%>"><%= pathMongoOtProject.otDetalles[o].id %></small>
                            </td>
                        </tr>   
                    <% } else { %>
                        <tr class="border-bottom fw-semibold fs-6" style="height: 5vh; background-color: #dedede;">
                            <td class="text-center">
                                <small id="statusDetalle<%=k%>_<%=n%>_<%=o%>" class="badge rounded-pill bg-danger text-light align-middle ms-1">
                                    Inactivo
                                </small>
                            </td>
                            <td class="text-center align-middle overflow-ellipsis">
                                <small id="numeroDetalle<%=k%>_<%=n%>_<%=o%>" class="text-dark align-middle">
                                    <%= pathMongoOtProject.otDetalles[o].numeroDetalle %>
                                </small>
                            </td>
                            <td class="text-center align-middle overflow-ellipsis">
                                <small id="descripcionDetalle<%=k%>_<%=n%>_<%=o%>" class="text-dark">
                                    <%= pathMongoOtProject.otDetalles[o].descripcionDetalle %>
                                </small>
                            </td>
                            <td class="d-none">
                                <small id="detalleIdHidden<%=k%>_<%=n%>_<%=o%>"><%= pathMongoOtProject.otDetalles[o].id %></small>
                            </td>
                        </tr>
                    <% }
                }
            }    
        } %>
    </tbody>
</table>