<div class="form-group col-12 mx-auto mt-2 mb-5 w-75 border px-5 py-1 text-white bg-opacity-75" style="background-color: #9a9a9a;">
    <form id="formUpdateTool" enctype="multipart/form-data" action="/api/maquinas/update/<%=maquina._id%>" method="post">
        <fieldset>
            <div class="row justify-content-between align-items-center mt-2">
                <div class="col-3 mx-auto my-2">
                    <label for="idDisable">Id#</label>
                    <input type="text" name="idDisable" id="idDisable" class="form-control-plaintext text-white" value="<%=maquina._id%>" disabled>
                </div>
                
                <div class="col mx-auto my-1">
                    <label for="idCreator">Creado por</label>
                    <input type="text" name="idCreator" id="idCreator" class="form-control-plaintext text-white small" value="<%=maquina.creator[0].name%> <%=maquina.creator[0].lastName%>" disabled>
                </div>
                
                <div class="col mx-auto my-1">
                    <label for="timestampDisable">Fecha creación</label>
                    <input type="text" name="timestampDisable" id="timestampDisable" class="form-control-plaintext text-white small" value="<%=maquina.timestamp%>" disabled>
                </div>
                
                <div class="col mx-auto my-1">
                    <label for="modificatorDisable">Modificado por</label>
                    <% if (maquina.modificator[0].name !== "") { %>
                        <input type="text" name="modificatorDisable" id="modificatorDisable" class="form-control-plaintext text-white small" value="<%=maquina.modificator[0].name%> <%=maquina.modificator[0].lastName%>" disabled>
                    <% } else { %>
                        <input type="text" name="modificatorDisable" id="modificatorDisable" class="form-control-plaintext text-white small" value="" disabled>
                    <% } %>        
                </div>
                
                <div class="col-auto mx-auto my-1">
                    <label for="modifiedOnDisable">Fecha modificación</label>
                    <input type="text" name="modifiedOnDisable" id="modifiedOnDisable" class="form-control-plaintext text-white small" value="<%=maquina.modifiedOn%>" disabled>
                </div>
            </div>
            <hr class="border my-1">
            <div class="row justify-content-between align-items-center my-2">
                <div class="col my-1 mx-auto">
                    <label class="form-label" for="designation">Designación</label>
                    <input type="text" name="designation" id="designation" class="form-control" value="<%=maquina.designation %>" autocomplete="on" placeholder="Designación maquina" required>
                </div>
                
                <div class="col-3 my-1 mx-auto">
                    <label class="form-label" for="code">Modelo</label>
                    <input type="text" name="code" id="code" class="form-control" value="<%=maquina.code%>" placeholder="Modelo" required>
                </div>

                <% if(maquina.status) { %>
                    <div class="col-3 my-1 mx-auto" style="background-color: #55dd5560;">
                        <label for="status">Status Máquina</label>
                        <div class="">
                            <label class="form-check-label" for="status">En Mantenimiento</label>
                            <div class="form-check form-switch d-inline-block mt-2">
                                <input id="status" class="form-check-input" type="checkbox" role="switch"
                                    name="status" style="cursor: pointer;" checked>
                                <label class="form-check-label" for="status">Activo</label>
                            </div>    
                        </div>
                    </div>
                <% } else { %>
                    <div class="col-3 my-1 mx-auto" style="background-color: #ffee0085;">
                        <label for="status">Status Máquina</label>
                        <div class="">
                            <label class="form-check-label" for="status">En Mantenimiento</label>
                            <div class="form-check form-switch d-inline-block mt-2">
                                <input id="status" class="form-check-input" type="checkbox" role="switch"
                                    name="status" style="cursor: pointer;">
                                <label class="form-check-label" for="status">Activa</label>
                            </div>    
                        </div>
                    </div>
                <% } %>       
            </div>

            <div class="row justify-content-between align-items-center my-2">
                <div class="col my-1 mx-auto">
                    <label for="characteristics">Características</label>
                    <textarea type="text" name="characteristics" id="characteristics" class="form-control" rows="3"><%=maquina.characteristics%></textarea>
                </div>
            </div>

            <div class="row justify-content-between align-items-center my-2">
                <div class="col-6">
                    <label for="fileInputImageToolUpdate" class="form-label">
                        Seleccione una nueva imagen de la Máquina
                    </label>
                    <input type="text" id="fileInputTextImageToolUpdate" name="imageTextImageToolUpdate" value="<%=maquina.imageTool %>" style="display: none;">
                    <input type="file" id="fileInputImageToolUpdate" name="imageImageToolUpdate" value="" accept="image/*" style="display: none;">
                    <div id="drop-areaToolUpdate" class="mb-2 mx-auto">
                        <p>Haz click o arrastra y suelta una imagen aquí</p>
                    </div>
                    <button title="Eliminar Imagen"
                        type="button" class="btn btn-danger rounded-circle mx-auto" id="removeImageToolUpdate" style="display: none;">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                    
                    <div id="alertToolUpdate" class="alert alert-warning align-items-center mx-auto" role="alert"
                        style="display: none; font-size: 0.85rem; height: 1.15rem; width: 26rem;">
                        <strong class="me-2">Error!</strong> Solo puedes ingresar una imagen jpg, png, bmp o jpeg.
                    </div>
                    <div id="alertToolSize" class="alert alert-warning align-items-center mx-auto" role="alert"
                        style="display: none; font-size: 0.85rem; height: 1.15rem; width: 25rem;">
                        <strong class="me-2">Atención!</strong> El tamaño de la imagen debe ser menor a 3Mb.
                    </div>
                </div>        
                <div class="col mb-auto">
                    <label for="fileInputToolUpdate">Imagen máquina actual </label>
                    <div class="container-fluid my-1 p-1 text-center">
                        <img id="fileInputToolUpdate" src="<%=maquina.imageTool%>" class="img-thumbnail rounded mx-auto" alt="Imagen máquina" width="200px" height="200px">
                    </div>
                </div>
            </div>
            <hr class="border my-1">
            <div class="row justify-content-between align-items-center my-2">
                <div class="col">
                    <% if( userInfo.admin ) { %>        
                        <div class="d-flex justify-content-center m-2">
                            <button id="btnUpdateTool" class="btn btn-success mx-auto my-2" disabled>Actualizar <i class="fa-solid fa-save"></i></button>
                            <a class="btn btn-primary mx-auto my-2" href="/api/maquinas">Volver <i class="fa-solid fa-arrow-left"></i></a>
                        </div>
                    <% } else { %>
                        <div class="d-flex justify-content-center m-2">
                            <a class="btn btn-primary mx-auto my-2" href="/api/maquinas">Volver <i class="fa-solid fa-arrow-left"></i></a>
                        </div>
                    <% } %>
                </div>
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </fieldset>
    </form>
</div>