<div class="mx-auto" style="width: 90vw;">
    <div class="card-body d-flex justify-content-center">
        <div class="form-group col-12 mx-auto my-2 w-100 border px-5 py-1 text-white" style="background-color: #a3aeb4;">
            <form action="/api/proyectos/oci" method="post" id="formNewOtLineas" name="formNewOtLineas">
                <fieldset>
                    <% if ( proyecto.length > 0 ) { 
                        if (proyecto[0].project[0].oci.length == 1 && proyecto[0].project[0].oci[0].visible) { %>
                            <h5 id="tituloForm" class="d-block mx-auto my-2 text-center text-dark">
                                Agregar Nueva/s OT's a OCI # <strong><%= proyecto[0].project[0].oci[0].ociNumber %></strong> - Alias: "<%= proyecto[0].project[0].oci[0].ociAlias %>"
                                <br> Proyecto: <strong><%= proyecto[0].project[0].projectName %></strong>
                            </h5>
                            <hr>

                        <% } else { %>
                            <h5 id="tituloForm" class="d-block mx-auto my-2 text-center text-dark">
                                Agregar Nueva/s OT's a OCI # <strong class="bg-danger">(Seleccionar # OCI)</strong> - Alias: "Alias"
                                <br> Proyecto: <strong><%= proyecto[0].project[0].projectName %></strong>
                            </h5>
                            <hr>
                        <% }
                    } %>
                    <input type="hidden" name="ociAliasHidden" id="ociAliasHidden" class="form-control" value="<%= proyecto[0].project[0].oci[0]?.ociAlias %>" hidden>
                    <div class="row my-3">
                        <div class="col-12">
                            <% let j=0;
                            if ( proyecto.length > 0 ) {
                                for ( let m = 0; proyecto.length > m; m++ ) { %>
                                    <input class="form-control" type="hidden" name="projectIdHidden" id="projectIdHidden" value="<%= proyecto[m]._id %>">
                                    <input class="form-control" type="hidden" name="projectNameHidden" id="projectNameHidden" value="<%= proyecto[0].project[0].projectName %>">
                                    
                                    <% let arrayOciVisibles = [];
                                    for ( let k = 0; parseInt(proyecto[m].project[j].oci.length) > k; k++ ) {
                                        if (proyecto[m].project[j].oci[k].visible) arrayOciVisibles.push(proyecto[m].project[j].oci[k])
                                    }
                                    
                                    if ( arrayOciVisibles.length === 1 ) { %>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label" for="radioSelectedValue0">OCI #<%= arrayOciVisibles[0].ociNumber %> - Alias: "<%= arrayOciVisibles[0].ociAlias %>"</label>

                                            <input class="form-check-input" type="radio" name="ociNumber" id="radioSelectedValue0" value="<%= arrayOciVisibles[0].ociNumber %>" value2="<%= arrayOciVisibles[0].ociAlias %>" checked>

                                            <input class="form-input" type="hidden" name="ociNumberId" id="ociNumberId0" value="<%=proyecto[m].project[j].oci[0]._id %>">
                                            <input class="form-input" type="hidden" name="ociNumberK" id="ociNumberK" value="0">
                                            <input class="form-input" type="hidden" name="ociNumberHidden" id="ociNumberHidden" value="<%= arrayOciVisibles[0].ociNumber %>">
                                            <input class="form-input" type="hidden" name="ociAlias" id="ociAliasHidden" value="<%= arrayOciVisibles[0].ociAlias %>">    
                                        </div>
                                        
                                    <% } else {
                                        for ( let k = 0; arrayOciVisibles.length > k; k++ ) { %>
                                            <div class="form-check form-check-inline">
                                                <% if ( arrayOciVisibles[k].ociStatus ) { %>
                                                    <label class="form-check-label" for="radioSelectedValue<%=k %>">OCI # <%= arrayOciVisibles[k].ociNumber %> - Alias: "<%= arrayOciVisibles[k].ociAlias %>"</label>
                                                    <input class="form-check-input" type="radio" name="ociNumber" id="radioSelectedValue<%= k %>" value="<%= arrayOciVisibles[k].ociNumber %>" value2="<%= arrayOciVisibles[k].ociAlias %>" required>
                                                <% } else { %>
                                                    <label class="form-check-label text-secondary" for="radioSelectedValue<%=k %>">OCI # <%= arrayOciVisibles[k].ociNumber %> - Alias: "<%= arrayOciVisibles[k].ociAlias %>"</label>
                                                    <input class="form-check-input" type="radio" name="ociNumber" id="radioSelectedValue<%= k %>" value="<%= arrayOciVisibles[k].ociNumber %>" value2="<%= arrayOciVisibles[k].ociAlias %>" disabled>
                                                <% } %>
                                            </div>
                                        <% } %>
                                            <!-- <input class="form-input" type="hidden" name="ociAlias" id="ociAliasHidden" value="arrayOciVisibles[k].ociAlias"> -->
                                            <input class="form-input" type="hidden" name="ociNumberK" id="ociNumberK" value="">
                                            <input class="form-input" type="hidden" name="ociNumberHidden" id="ociNumberHidden" value="">
                                    <% } 
                                }

                            } else { %>
                                <span class="badge rounded-pill bg-danger text-white"> No hay datos cargados aún</span>
                            <% } %>
                        </div>
                        <br>
                    </div>

                    <hr>

                    <div class="row-auto my-3 position-relative">
                        <div class="col-auto">
                            <div class="accordion" id="accordionPanelsStayOpenExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                        <button class="accordion-button" id="buttonOne" title="Informacion OT Líneas" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOneForm"
                                            aria-expanded="false" aria-controls="panelsStayOpen-collapseOneForm">
                                            <strong>Información OT Líneas</strong>
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseOneForm" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                                        <div class="accordion-body" id="div_body">
                                            <div class="row my-2" id="otItemRow">
                                                <div class="row">
                                                    <strong id="itemNumber">Item #1</strong>
                                                </div>
                                                <!-- Prio -->
                                                <div class="col-auto pe-2">
                                                    <label for="otPrio" id="labelOtPrio">Prio</label>
                                                    <input type="number" name="otPrio" id="otPrio" class="form-control mt-2" min="0" max="999" value="1" placeholder="Prio OT">
                                                </div>
                                                <!-- OT Numero -->
                                                <div class="col-auto pe-1">
                                                    <label for="otNumber" id="labelOtNumber">OT#</label>
                                                    <input type="number" name="otNumber" id="otNumber" class="form-control mt-2" min="0" max="19999" value="1" placeholder="# OT">
                                                </div>
                                                <!-- OP Numero -->
                                                <div class="col-auto pe-2">
                                                    <label for="opNumber" id="labelOpNumber">OP#</label>
                                                    <input type="number" name="opNumber" id="opNumber" class="form-control mt-2" min="0" max="9999" placeholder="# OP" value="10">
                                                </div>
                                                <!-- OP Descripcion -->
                                                <div class="col-auto pe-2">
                                                    <label for="opDescription" id="labelOpDescription">Descripción OP</label>
                                                    <input type="text" name="opDescription" id="opDescription" class="form-control mt-2" placeholder="Descripcion OP">
                                                </div>
                                                <!-- OT Dibujado -->
                                                <div class="col-auto pe-2">
                                                    <label for="otDibujado" id="labelOtDibujado">Dib</label>
                                                    <input type="number" name="otDibujado" id="otDibujado" class="form-control mt-2" min="0" max="999" value="1">
                                                </div>
                                                <!-- OT Symetrico -->
                                                <div class="col-auto pe-2">
                                                    <label for="otSymetrico" id="labelOtSymetrico">Sym</label>
                                                    <input type="number" name="otSymetrico" id="otSymetrico" class="form-control mt-2" min="0" max="999" value="0">
                                                </div>
                                                <!-- OT Unidad -->
                                                <div class="col-auto pe-2">
                                                    <label for="otUnidad" id="labelotUnidad">Unidades</label>
                                                    <input type="number" name="otUnidad" id="otUnidad" class="form-control mt-2" min="1" max="9999" value="1">
                                                </div>
                                                <!-- Funcion -->
                                                <div class="col-2 me-1">
                                                    <label for="otFuncion0" id="labelOtFuncion">Función</label>
                                                    <div class="input-group mb-3">
                                                        <input type="text" name="otFuncion" id="otFuncion0" class="form-control mt-2 position-relative" placeholder="Función" disabled>
                                                        <button type="button" title="Buscar Función" id="searchFuncion0" class="btn btn-sm btn-primary rounded-circle ms-1 mt-3 border shadow position-absolute top-0 start-100 translate-middle">
                                                            <i class="fa-solid fa-database"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <!-- Linea/Celda -->
                                                <div class="col-2 pe-1">
                                                    <label for="otLineaCelda" id="labelOtLineaCelda">Línea / Celda</label>
                                                    <input type="text" name="otLineaCelda" id="otLineaCelda" class="form-control mt-2" placeholder="Línea/Celda">
                                                </div>
                                                <!-- Proveedor Externo -->
                                                <div class="col-1 pe-1">
                                                    <label for="externoDiseno0" id="labelExternoDiseno">Proveedor</label>
                                                    <div class="input-group mb-3">
                                                        <input type="text" name="externoDiseno" id="externoDiseno0" class="form-control mt-2 position-relative" placeholder="Proveedor" disabled>
                                                        <button type="button" title="Buscar Proveedor" id="searchSupplier0" class="btn btn-sm btn-primary rounded-circle ms-1 mt-3 border shadow position-absolute top-0 start-100 translate-middle">
                                                            <i class="fa-solid fa-database"></i>
                                                        </button>
                                                    </div>
                                                </div>

                                                <div class="col-auto mx-auto">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="position-absolute top-0 start-100 ms-1">
                            <div class="d-flex justify-content-center align-items-center">
                                <button type="button" title="Agregar nueva OT" id="btnAddNewRow" class="btn btn-primary rounded-circle me-2 my-2 border border-1 border-secondary shadow" disabled>
                                    <i class="fa-solid fa-plus-circle"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <hr>
                    <% if ( proyecto.length > 0 ) { %>
                        <input type="hidden" name="idHidden" id="idHidden" class="form-control" value="<%= userInfo.id %>" hidden>
                        <input type="hidden" name="clientIdHidden" id="clientIdHidden" class="form-control" value="<%= proyecto[0].client[0]._id %>" hidden>
                        <input type="hidden" name="otQuantity" id="otQuantity" class="form-control" value="1">
                        <input type="hidden" name="otType" id="otType" class="form-control" value="lineas" hidden>
                        <br>
                    <% } %>
                        <div class="d-flex justify-content-center my-2">
                            <button type="button" title="Guardar" id="btnNewOt" class="btn btn-primary mx-auto">Guardar <i class="fa-solid fa-save"></i></button>
                            <button type="reset" title="Reset" class="btn btn-danger mx-auto">Reset <i class="fa-solid fa-rotate-left"></i></button>
                        </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>