<div class="form-group col-12 mx-auto mt-2 mb-5 w-75 border px-5 py-1 text-white bg-opacity-75" style="background-color: #9a9a9abb;">
    <form id="formUpdateCuttingTool" enctype="multipart/form-data" action="/api/herramientas/update/<%=herramienta._id%>" method="post">
        <fieldset>
            <div class="row justify-content-between align-items-center mt-2">
                <div class="col-3 mx-auto my-2">
                    <label for="idDisable">Id#</label>
                    <input type="text" name="idDisable" id="idDisable" class="form-control-plaintext text-white" value="<%=herramienta._id%>" disabled>
                </div>
                
                <div class="col mx-auto my-1">
                    <label for="idCreator">Creado por</label>
                    <input type="text" name="idCreator" id="idCreator" class="form-control-plaintext text-white small" value="<%=herramienta.creator[0].name%> <%=herramienta.creator[0].lastName%>" disabled>
                </div>
                
                <div class="col mx-auto my-1">
                    <label for="timestampDisable">Fecha creación</label>
                    <input type="text" name="timestampDisable" id="timestampDisable" class="form-control-plaintext text-white small" value="<%=herramienta.timestamp%>" disabled>
                </div>
                
                <div class="col mx-auto my-1">
                    <label for="modificatorDisable">Modificado por</label>
                    <% if (herramienta.modificator[0].name !== "") { %>
                        <input type="text" name="modificatorDisable" id="modificatorDisable" class="form-control-plaintext text-white small" value="<%=herramienta.modificator[0].name%> <%=herramienta.modificator[0].lastName%>" disabled>
                    <% } else { %>
                        <input type="text" name="modificatorDisable" id="modificatorDisable" class="form-control-plaintext text-white small" value="" disabled>
                    <% } %>        
                </div>
                
                <div class="col-auto mx-auto my-1">
                    <label for="modifiedOnDisable">Fecha modificación</label>
                    <input type="text" name="modifiedOnDisable" id="modifiedOnDisable" class="form-control-plaintext text-white small" value="<%=herramienta.modifiedOn%>" disabled>
                </div>
            </div>
            <hr class="border my-1">
            <div class="row justify-content-between align-items-center my-2">
                <div class="col-2 my-1 mx-auto">
                    <label class="form-label" for="code">Código</label>
                    <input type="text" name="code" id="code" class="form-control" value="<%=herramienta.code%>" placeholder="Código" required disabled>
                    <input type="hidden" name="codeHidden" id="codeHidden" value="<%=herramienta.code%>">
                </div>

                <div class="col-2">
                    <label class="form-check-label" for="type">Tipo</label>
                    <select class="form-select form-select" aria-label=".form-select" name="type" id="type" required>
                        <% 
                        const opcionesUpdate = [
                            { value: "TOR", text: "Tóricas" },
                            { value: "PLA", text: "Planas" },
                            { value: "ESF", text: "Esféricas" }
                        ];
                        opcionesUpdate.forEach(opcion => { %>
                            <option value="<%= opcion.value %>" <%= opcion.value === herramienta.type ? 'selected disabled' : '' %> > <%= opcion.text %> </option>
                        <% }) %>
                    </select>
                    <input type="hidden" id="typeHidden" name="typeHidden" value="" style="display: none;">
                </div>

                <div class="col my-1 mx-auto">
                    <label class="form-label" for="designation">Designación</label>
                    <input type="text" name="designation" id="designation" class="form-control" value="<%=herramienta.designation %>" autocomplete="on" placeholder="Designación herramienta" required>
                </div>

                <div class="col-2">
                    <label class="form-check-label" for="diam">Diámetro</label>
                    <select class="form-select form-select" aria-label=".form-select" name="diam" id="diam" required>
                        <%
                        const opcionesDiam = [
                            { value: 2, text: "Ø2mm" },
                            { value: 3, text: "Ø3mm" },
                            { value: 4, text: "Ø4mm" },
                            { value: 6, text: "Ø6mm" },
                            { value: 10, text: "Ø10mm" },
                            { value: 16, text: "Ø16mm" },
                            { value: 20, text: "Ø20mm" },
                            { value: 25, text: "Ø25mm" },
                            { value: 32, text: "Ø32mm" },
                            { value: 50, text: "Ø50mm" },
                            { value: 52, text: "Ø52mm" },
                            { value: 63, text: "Ø63mm" },
                            { value: 80, text: "Ø80mm" },
                            { value: 100, text: "Ø100mm" },
                            { value: 125, text: "Ø125mm" },
                        ];
                        opcionesDiam.forEach(opcion => { %>
                            <option value="<%= opcion.value %>" <%= opcion.value === herramienta.diam ? 'selected disabled' : '' %> > <%= opcion.text %> </option>
                        <% }) %>
                    </select>
                    <input type="hidden" id="diamHidden" name="diamHidden" value="" style="display: none;">
                </div>

                <div class="col-2">
                    <label class="form-check-label" for="largo">Largo</label>
                    <select class="form-select form-select" aria-label=".form-select" name="largo" id="largo" required>
                        <% 
                        const opcionesLargo = [
                            { value: 50, text: '<50mm' },
                            { value: 100, text: '51-100mm' },
                            { value: 150, text: '101-150mm' },
                            { value: 200, text: '151-200mm' },
                            { value: 250, text: '201-250mm' },
                            { value: 300, text: '251-300mm' },
                            { value: 400, text: '351-400mm' },
                            { value: 450, text: '401-450mm' },
                            { value: 500, text: '>451mm" },
                        ];
                        opcionesLargo.forEach(opcion => { %>
                            <option value="<%= opcion.value %>" <%= opcion.value === herramienta.largo ? 'selected disabled' : '' %> > <%= opcion.text %> </option>
                        <% }) %>
                    </select>
                    <input type="hidden" id="largoHidden" name="largoHidden" value="" style="display: none;">
                </div>

                <div class="col-1 my-1 mx-auto">
                    <label class="form-label" for="stock">Stock</label>
                    <input type="number" name="stock" id="stock" class="form-control" value="<%=herramienta.stock%>" required>
                </div>
            </div>

            <div class="row justify-content-between align-items-center my-2">
                <div class="col-8 my-1 mx-auto">
                    <label for="characteristics">Características</label>
                    <textarea type="text" name="characteristics" id="characteristics" class="form-control" rows="3"><%=herramienta.characteristics%></textarea>
                </div>
                <% if (herramienta.status) { %>
                    <div class="col-3 my-1 mx-auto" style="background-color: #55dd5560;">
                        <label for="status">Status Herramienta</label>
                        <div class="">
                            <label class="form-check-label" for="status">Inactiva</label>
                            <div class="form-check form-switch d-inline-block mt-2">
                                <input id="status" class="form-check-input" type="checkbox" role="switch"
                                    name="status" style="cursor: pointer;" checked>
                                <label class="form-check-label" for="status">Activa</label>
                            </div>    
                        </div>
                    </div>
                <% } else { %>
                    <div class="col-3 my-1 mx-auto" style="background-color: #ff00006f;">
                        <label for="status">Status Herramienta</label>
                        <div class="">
                            <label class="form-check-label" for="status">Inactiva</label>
                            <div class="form-check form-switch d-inline-block mt-2">
                                <input id="status" class="form-check-input" type="checkbox" role="switch"
                                    name="status" style="cursor: pointer;">
                                <label class="form-check-label" for="status">Activa</label>
                            </div>    
                        </div>
                    </div>
                <% } %>   
            </div>

            <div class="row justify-content-between align-items-center my-2">
                <div class="col-6">
                    <label for="fileInputImageCuttingTool" class="form-label">
                        Seleccione una nueva imagen de la Herramienta
                    </label>
                    <input type="text" id="fileInputTextImageCuttingToolUpdate" name="imageTextImageCuttingTool" value="<%=herramienta.imageCuttingTool %>" style="display: none;">
                    <input type="file" id="fileInputCuttingToolUpdate" name="imageImageCuttingTool" value="" accept="image/*" style="display: none;">
                    <div id="drop-areaCuttingToolUpdate" class="mb-2 mx-auto">
                        <p>Haz click o arrastra y suelta una imagen aquí</p>
                    </div>
                    <button title="Eliminar Imagen"
                        type="button" class="btn btn-danger rounded-circle mx-auto" id="removeImageCuttingToolUpdate" style="display: none;">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                    
                    <div id="alertImageCuttingToolUpdate" class="alert alert-warning align-items-center mx-auto" role="alert"
                        style="display: none; font-size: 0.85rem; height: 1.15rem; width: 26rem;">
                        <strong class="me-2">Error!</strong> Solo puedes ingresar una imagen jpg, png, bmp o jpeg.
                    </div>
                    <div id="alertSizeImageCuttingToolUpdate" class="alert alert-warning align-items-center mx-auto" role="alert"
                        style="display: none; font-size: 0.85rem; height: 1.15rem; width: 25rem;">
                        <strong class="me-2">Atención!</strong> El tamaño de la imagen debe ser menor a 3Mb.
                    </div>
                </div>        
                <div class="col mb-auto">
                    <label for="fileInputCuttingToolUpdate">Imagen herramienta actual </label>
                    <div class="container-fluid my-1 p-1 text-center">
                        <img id="fileInputCuttingToolUpdate" src="<%=herramienta.imageCuttingTool%>" class="img-thumbnail rounded mx-auto" alt="Imagen máquina" width="200px" height="200px">
                    </div>
                </div>
            </div>
            <hr class="border my-1">
            <div class="row justify-content-between align-items-center my-2">
                <div class="col">
                    <% if( userInfo.admin || userInfo.area === 'fabricacion' ) { %>        
                        <div class="d-flex justify-content-center m-2">
                            <button id="btnUpdateCuttingTool" class="btn btn-success mx-auto my-2 shadow" disabled>Actualizar <i class="fa-solid fa-save"></i></button>
                            <a class="btn btn-primary mx-auto my-2 shadow" href="/api/herramientas">Volver <i class="fa-solid fa-arrow-left"></i></a>
                        </div>
                    <% } else { %>
                        <div class="d-flex justify-content-center m-2">
                            <button id="btnUpdateCuttingTool" class="btn btn-success mx-auto my-2 shadow disabled" disabled>Actualizar <i class="fa-solid fa-ban"></i></button>
                            <a class="btn btn-primary mx-auto my-2 shadow" href="/api/herramientas">Volver <i class="fa-solid fa-arrow-left"></i></a>
                        </div>
                    <% } %>
                </div>
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </fieldset>
    </form>
</div>